{{#if currentUser.account.subscriptionInvalid}}
  <div class="alert">
    <i class="ss-standard ss-clock"></i> Your subscription has expired. Please {{#link-to "settings.billing"}}upgrade your plan{{/link-to}} to continue using Radium.
  </div>
{{/if}}
{{#if isAdmin}}
  {{#unless hasGatewayAccount}}
    {{#unless isPersisting}}
      <div class="row-fluid">
        <div class="span12">
          <div class="alert">
            You need to update your details with a valid credit card to upgrade your account.<br/>
            <strong>Click edit below</strong>
          </div>
        </div>
      </div>
    {{/unless}}
  {{/unless}}
  <div class="settings-group">
    {{#unless showBillingForm}}
      <div class="pull-right">
        <a href="#" class="btn btn-small" {{action "changeBilling"}}>Edit</a>
      </div>
    {{/unless}}
    <h4><i class="ss-standard ss-dollarsign blue"></i> Billing Information</h4>

    {{#if showBillingForm}}
      {{partial 'settings/billing_form'}}
    {{/if}}
    {{#if account.isSaving}}
      <div class="alert alert-info">
        <h4 class="text-center text-info">Updating billing...</h4>
      </div>
    {{/if}}
      </div>
    {{/if}}
<div class="upgrade-plan">
  <h4><i class="ss-symbolicons-block ss-medal blue"></i> Upgrate Account</h4>
  {{#if account.isTrial}}
    <p><strong>You are currently on a trial {{subscription}} account, you have {{controllers.users.length}}/{{controller.totalUsers}} users.</strong></p>
    <p><strong>Choose a plan below to upgrade your account</strong></p>
  {{else}}
    <p><strong>You have {{controllers.users.length}}/{{controller.totalUsers}} users.</strong> To add more users upgrade your account.</p>
  {{/if}}
  {{#if showNextPaymentDate}}
    <strong>Next Payment Due: {{formatDateTime activeSubscription.nextDueDate format="calendar"}}</strong>
  {{/if}}
  {{#if account.billingInfo.subscriptionEnded}}
    <strong>Your account has been cancelled and will expire: {{formatDateTime activeSubscription.subscriptionEndDate format="calendar"}}</strong>
  {{/if}}
  <div class="row-fluid pricing-table-list">
    <table class="table">
    {{#each validPlans itemController="subscriptionPlanItem"}}
      <tr {{bind-attr class=":pricing-table isCurrent"}}>
        <td class="title">{{unbound capitalize name}}</td>
        <td class="price blue">{{unbound currency amount}}/month</td>
        <td class="description">
          {{totalUsers}} Users<br>
          Unlimited Deals
        </td>
        {{#if isAdmin}}
          <td class="cta-button">
            <button
              {{bind-attr class=":btn isCurrent::btn-success" disabled="notViable"}}
              {{action "updateSubscription" name}}>
              {{#if isCurrent}}
                Your plan
              {{else}}
                Upgrade
              {{/if}}
            </button>

            {{#if showCancel}}
              <button class="btn btn-danger" {{action "confirmCancelSubscription"}}>Cancel Subscription</button>
            {{/if}}
          </td>
        {{/if}}
      </tr>
    {{/each}}
      <tr>
        <td colspan="4">
          View details about all our <a href="http://www.radiumcrm.com/pricing/">available plans</a>.
        </td>
      </tr>
    </table>
  </div>
</div>
