{{#if currentUser.trialPeriodHasExpired}}
  <div class="alert">
    <i class="ss-standard ss-clock"></i> Your free, 14-day trial has expired. Please {{#link-to "settings.billing"}}upgrade your plan{{/link-to}} to continue using Radium.
  </div>
{{/if}}
{{#if isAdmin}}
  {{#unless hasGatewayAccount}}
    <div class="row-fluid">
      <div class="span12">
        <div class="alert">
          You need to update your details with a valid credit card to upgrade your account.
        </div>
      </div>
    </div>
  {{/unless}}
  <div class="settings-group">
    {{#unless showBillingForm}}
      <div class="pull-right">
        <a href="#" class="btn btn-small" {{action "changeBilling"}}>Edit</a>
      </div>
    {{/unless}}
    <h4><i class="ss-standard ss-dollarsign blue"></i> Billing Information</h4>

    {{#if showBillingForm}}
      {{partial 'settings/billing_form'}}
    {{/if}}
  </div>
{{/if}}
<div class="upgrade-plan">
  <h4><i class="ss-symbolicons-block ss-medal blue"></i> Upgrate Account</h4>
  <p><strong>You have {{controllers.users.length}}/{{controller.totalUsers}} users.</strong> To add more users upgrade your account.</p>

  <div class="row-fluid pricing-table-list">
    <table class="table">
    {{#each validPlans itemController="subscriptionPlanItem"}}
      <tr {{bind-attr class=":pricing-table isCurrent"}}>
        <td class="title">{{unbound capitalize name}}</td>
        <td class="price blue">{{unbound currency amount}}/month</td>
        <td class="description">
          {{totalUsers}} Users<br>
          Unlimited Deals
        </td>
        {{#if isAdmin}}
          <td class="cta-button">
            <button
              {{bind-attr class=":btn isCurrent::btn-success" disabled="notViable"}}
              {{action "updateSubscription" name}}>
              {{#if isCurrent}}
                Your plan
              {{else}}
                Upgrade
              {{/if}}
            </button>
          </td>
        {{/if}}
      </tr>
    {{/each}}
      <tr>
        <td colspan="4">
          View details about all our <a href="http://www.radiumcrm.com/pricing/">available plans</a>.
        </td>
      </tr>
    </table>
  </div>
</div>
