<div class="page-header">
  <img src="http://placehold.it/50x50" alt="" class="pull-left company-logo">
  <h3>Initech, Inc.</h3>
</div>

{{#if isNewCard}}
  {{partial 'settings/billing_form'}}
{{else}}
  <a href="#" class="btn" {{action "changeBilling"}}>Update Billing Info</a>
{{/if}}
<div class="upgrade-plan">
  <div class="page-header">
    <h4>Upgrate Account</h4>
  </div>
  <h2 class="text-center">
    {{controllers.users.length}}/{{controller.currentPlan.totalUsers}} Users to add users
  </h2>

  <div class="row">

    {{#each subscriptionPlans}}
    <div class="span3">
      <ul {{bindAttr class=":pricing-table isCurrent"}}>
        <li class="title">{{unbound capitalize name}}</li>
        <li class="description">Manage your customers in a breathtakingly simple way. Radium is a CRM that doesn't get in the way of the way you work.</li>
        <li class="price">{{totalUsers}} Users</i>
        <li class="price">{{unbound currency amount}}/User</li>
        <li class="cta-button">
          <button
            {{bindAttr class=":btn :btn-block isCurrent::btn-success" disabled="isCurrent"}}
            {{action "upgradePlan" this}}>
            {{#if isCurrent}}
              Your plan
            {{else}}
              Upgrade
            {{/if}}
          </button>
        </li>
      </ul>
    </div>
    {{/each}}

  </div>
</div>
