{{#if account.isTrial}}
  <div class="alert alert-info">
    There are currently <strong>{{account.trialDaysLeft}}</strong> left on your <strong>{{currentPlan.name}}</strong> trial plan.
  </div>
{{/if}}

{{#if currentUser.account.subscriptionInvalid}}
  <div class="alert">
    <i class="ss-standard ss-clock"></i> Your subscription has expired. Please {{#link-to "settings.billing"}}upgrade your plan{{/link-to}} to continue using Radium.
  </div>
{{/if}}

{{#if isAdmin}}
<div class="upgrade-plan">
  {{#unless isUnlimited}}
    <h4><i class="ss-symbolicons-block ss-medal blue"></i> Upgrade Account</h4>
  {{/unless}}
  {{#if account.isTrial}}
    <p><strong>You are currently on a trial {{currentPlan.name}} account, you have {{controllers.users.length}}/{{controller.totalUsers}} users.</strong></p>
    <p><strong>Choose a plan below to upgrade your account</strong></p>
  {{else}}
    {{#if isUnlimited}}
      <p><strong>You have an unlimited account.</p>
    {{else}}
      <p><strong>You have {{controllers.users.length}}/{{controller.totalUsers}} users.</strong> To add more users upgrade your account.</p>
    {{/if}}
  {{/if}}
  {{#if showNextPaymentDate}}
    <strong>Next Payment Due: {{formatDateTime activeSubscription.nextDueDate format="calendar"}}</strong>
  {{/if}}
  {{#if account.billingInfo.subscriptionEnded}}
    <strong>Your account has been cancelled and will expire: {{formatDateTime activeSubscription.subscriptionEndDate format="calendar"}}</strong>
  {{/if}}
  <div class="row-fluid pricing-table-list">
    <table class="table">
    <tbody>
    {{#each subscriptionPlans itemController="subscriptionPlanItem"}}
      <tr {{bind-attr class=":pricing-table isCurrent"}}>
        <td class="title">{{unbound capitalize name}}</td>
        <td class="price blue">
          {{#unless isBasic}}
            {{unbound currency amount}}/month
          {{else}}
            Free
          {{/unless}}
        </td>
        <td class="description">
          {{#if isBasic}}
            1 User
          {{else}}
            {{totalUsers}} Users
          {{/if}}
          <br>
          {{#if isBasic}}
          10 Deals
          {{else}}
          Unlimited Deals
          {{/if}}
        </td>
        {{#if isAdmin}}
          <td class="cta-button">
            {{#unless exceededUsers}}
              <button
                {{bind-attr class=":btn isCurrent::btn-success" disabled="notViable"}}
                {{action "updateSubscription" planId}}>
                {{#if isCurrent}}
                  Your plan
                {{else}}
                  Upgrade
                {{/if}}
              </button>
            {{else}}
              <strong>N/A</strong>
            {{/unless}}

            {{#if showCancel}}
              <button class="btn btn-danger" {{action "confirmCancelSubscription"}}>Cancel Subscription</button>
            {{/if}}
          </td>
        {{/if}}
      </tr>
    {{/each}}
      <tr>
        <td colspan="4">
          View details about all our <a href="http://www.radiumcrm.com/pricing/">available plans</a>.
        </td>
      </tr>
    </tbody>
    </table>
  </div>
  <div class="settings-group">
    {{#unless showBillingForm}}
      <div class="pull-right">
        <a href="#" class="btn btn-small" {{action "changeBilling"}}>Edit</a>
      </div>
    {{/unless}}
    <a href="#" {{action "changeBilling"}}>
      <h4><i class="ss-standard ss-dollarsign blue"></i> Billing Information</h4>
    </a>

    {{#if showBillingForm}}
      {{view Radium.BillingFormView}}
    {{/if}}
    {{#if account.isSaving}}
      <div class="alert alert-info">
        <h4 class="text-center text-info">Updating billing...</h4>
      </div>
    {{/if}}
  </div>
{{/if}}
</div>
