{{#if isAdmin}}
  {{#unless hasGatewayAccount}}
    <div class="row-fluid">
      <div class="span12">
        <div class="alert">
          You need to update your details with a valid credit card to upgrade your account.
        </div>
      </div>
    </div>
  {{/unless}}
  <div class="settings-group">
    {{#unless isNewCard}}
      <div class="pull-right">
        <a href="#" class="btn btn-small" {{action "changeBilling"}}>Edit</a>
      </div>
    {{/unless}}
    <h4><i class="ss-standard ss-dollarsign blue"></i> Billing Information</h4>

    {{#if isNewCard}}
      {{partial 'settings/billing_form'}}
    {{/if}}
  </div>
{{/if}}
<div class="upgrade-plan">
  <h4><i class="ss-standard ss-dollarsign blue"></i> Upgrate Account</h4>
  <p><strong>You have {{controllers.users.length}}/{{controller.totalUsers}} users.</strong> To add more users upgrade your account.</p>

  <div class="row-fluid pricing-table-list">
    {{#each subscriptionPlans itemController="subscriptionPlanItem"}}
    <div class="span4 pricing-item">
      <ul {{bind-attr class=":pricing-table isCurrent"}}>
        <li class="title">{{unbound capitalize name}}</li>
        <li class="price blue">{{unbound currency amount}}/User</li>
        <li class="description">
          {{totalUsers}} Users<br>
          Unlimited Deals
        </li>
        {{#if isAdmin}}
          <li class="cta-button">
            <button
              {{bind-attr class=":btn isCurrent::btn-success" disabled="notSelectable"}}
              {{action updateSubscription name}}>
              {{#if isCurrent}}
                Your plan
              {{else}}
                Upgrade
              {{/if}}
            </button>
          </li>
        {{/if}}
      </ul>
    </div>
    {{/each}}
  </div>
</div>
