<form class="form-horizontal settings-form">
  <fieldset>
    <div class="control-group">
      <div class="user-edit-avatar">
        <button class="btn btn-mini user-change-avatar">
          <i class="icon-edit"></i>
        </button>
        <img src="/images/default_avatars/large.png" alt="" class="img-polaroid">
      </div>
      <div class="controls settings-user-details">
        {{input value=companyName class="input-block-level inline-field large-inline-field"}}
      </div>
    </div>
  </fieldset>
</form>

{{render "inviteUser"}}

<h6>Team</h6>
<ul class="unstyled settings-list settings-users-list">
  {{#each controller.users}}
    <li>
      <div class="pull-left user-avatar">
        <img src="/images/default_avatars/small.png" alt="" class="img-polaroid">
      </div>
      <div class="clearfix">
        <div class="pull-right user-actions">
          <button class="btn btn-link"><i class="icon-edit"></i></button>
          <button class="btn btn-link"><i class="icon-delete"></i></button>
          {{#unless isActive}}
            <button class="btn btn-warning">Resend Invite</button>
          {{/unless}}
        </div>
        <div class="user-meta">
          <h5 class="name">
            {{name}} {{email}}
            {{#if isAdmin}}
              <span class="label label-info">Admin</span>
            {{/if}}
          </h5>
          {{#if isActive}}
            <div class="message muted">
              <small>LAST LOGIN 02/08/2013</small>
            </div>
          {{else}}
            <div class="message text-warning">
              <small><i class="icon-warning"></i> NEVER LOGGED IN</small>
            </div>
          {{/if}}
        </div>
      </div>
    </li>
  {{else}}
    <li>Invite some users</li>
  {{/each}}
</ul>