<div class="form-horizontal settings-form">
  <fieldset>
    <div class="pull-right">
      {{#if isAdmin}}
        <button type="button" {{action "confirmDestroyAccount"}} class="btn btn-danger btn-main">
          Delete Organization And All Users
        </button>
      {{/if}}
    </div>
    <div class="control-group">
      <div class="user-edit-avatar">
        <button class="btn btn-mini user-change-avatar">
          <i class="ss-standard ss-write"></i>
        </button>
        {{#if currentUser.isLoaded}}
          {{avatar currentUser size=large class="img-polaroid"}}
        {{else}}
          {{partial 'is_loading'}}
        {{/if}}
      </div>
      <div class="controls settings-user-details">
        {{#if isAdmin}}
          {{render 'sidebar/name' account}}
        {{else}}
          <h4>{{companyName}}</h4>
        {{/if}}
      </div>
    </div>
  </fieldset>
</div>

{{render "inviteUser"}}

<h4>Team</h4>
{{#if isUnlimited}}
  <p><strong>You have an unlimited account.</p>
{{else}}
  <p><strong>You have {{controllers.users.length}}/{{controller.totalUsers}} users.</strong> To add more users {{#link-to "settings.billing"}}upgrade your account{{/link-to}}.</p>
{{/if}}
{{#if users.length}}
  <ul class="unstyled settings-list settings-users-list">
    {{each users itemViewClass="Radium.SettingsUsersItemView"}}
  </ul>
{{else}}
  <p>No users added yet, invite one now! ^</p>
{{/if}}

{{#if pendingUsers.length}}
<h4>Awaiting Confirmation</h4>
  <ul class="unstyled settings-list settings-users-list">
    {{#each pendingUsers}}
      <li>
        <div class="pull-right user-actions">
          <button class="btn btn-danger" {{action "cancelInvite" this}}>Cancel Invite</button>
          <button class="btn btn-warning" {{action "resendInvite" this}}>Resend Invite</button>
        </div>
        <h5>
          {{email}}
          <small class="clearfix">Sent at {{formatDateTime sentAt format=full}}</small>
        </h5>
      </li>
    {{/each}}
  </ul>
{{/if}}
