<form class="form-horizontal settings-form">
  <fieldset>
    <div class="pull-right">
      {{#if isAdmin}}
        <button type="button" {{action confirmDestroyAccount}} class="btn btn-danger btn-large">
          DELETE ACCOUNT
        </button>
      {{/if}}
    </div>
    <div class="control-group">
      <div class="user-edit-avatar">
        <button class="btn btn-mini user-change-avatar">
          <i class="ss-standard ss-write"></i>
        </button>
        {{#if currentUser.isLoaded}}
          {{avatar currentUser size=large class="img-polaroid"}}
        {{else}}
          {{partial 'is_loading'}}
        {{/if}}
      </div>
      <div class="controls settings-user-details">
        {{#if isAdmin}}
          {{render 'sidebar/name' account}}
        {{else}}
          <h2>{{companyName}}</h2>
        {{/if}}
      </div>
    </div>
  </fieldset>
</form>

{{render "inviteUser"}}

<h6>Team</h6>
{{#if users.length}}
  <ul class="unstyled settings-list settings-users-list">
    {{each users itemViewClass="Radium.SettingsUsersItemView"}}
  </ul>
{{else}}
  <p>No users added yet, invite one now! ^</p>
{{/if}}

{{#if pendingUsers.length}}
<h6>Awaiting Confirmation</h6>
  <ul class="unstyled settings-list settings-users-list">
    {{#each pendingUsers}}
      <li>
        <div class="pull-right user-actions">
          <button class="btn btn-danger" {{action "cancelInvite" this}}>Cancel Invite</button>
          <button class="btn btn-warning" {{action "resendInvite" this}}>Resend Invite</button>
        </div>
        <p>{{email}} - sent at - {{formatDateTime sentAt format=full}}</p>
      </li>
    {{/each}}
  </ul>
{{/if}}
