{{#if isEditing}}
  <div class="input-prepend input-append">
    <div class="btn-group">
      <button class="btn dropdown-toggle" {{bindAttr disabled= account.isSaving}} data-toggle="dropdown">
        {{kind}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {{#each controller.kinds}}
          <li><a href="#" {{action "setKind" this}}>{{this}}</a></li>
        {{/each}}
      </ul>
    </div>
    {{input type="text" disabledBinding=account.isSaving  value=description placeholder="Add additional item"}}
  </div>

  <div class="input-append">
    {{input type="number" class="span1" value=content.weight min="0" disabledBinding=account.isSaving max="100"}}
    <span class="add-on">%</span>
  </div>

  <div class="btn-group">
    <a class="btn dropdown-toggle"  {{bindAttr disabled= account.isSaving}} data-toggle="dropdown" href="#">
      {{selectedDateString}}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#" {{action "setNone"}}>None</a></li>
      <li><a href="#" {{action "setOneDay"}}>1 day</a></li>
      <li><a href="#" {{action "setTwoDays"}}>2 days</a></li>
      <li><a href="#" {{action "setOneWeek"}}>1 week</a></li>
    </ul>
  </div>

{{else}}
  <div class="pipeline-checklist-item-read">
    <span class="checklist-kind">{{kind}}</span>
    <span class="checklist-description">{{description}} </span>
    <span class="checklist-weight">{{weight}}%</span>
    <span class="checklist-dates"> – {{selectedDateString}}</span>
  </div>
{{/if}}


<div class="checklist-controls">
  {{#if content.isNewItem}}
    {{#if isValid}}
      <button class="btn btn-success" {{action "createChecklist"}}>
        <i class="ss-standard ss-check"></i>
      </button>
    {{/if}}
  {{else}}
    <button class="btn btn-danger" {{action "deleteChecklist" this}}>
      <i class="ss-symbolicons-block ss-trash"></i>
    </button>

    {{#if isEditing}}
      <button class="btn" {{action "cancel"}}>Cancel</button>
    {{else}}
      <button class="btn" {{action "edit"}}>Edit</button>
    {{/if}}

    {{#if isValid}}
      <button class="btn btn-success" {{action "save"}}>Save</button>
    {{/if}}
  {{/if}}
</div>
