<div class="page-header">
  <h3>My Profile</h3>
</div>
<form class="form-horizontal settings-form" {{action "save" controller.currentUser on="submit"}}>
  {{#with controller.currentUser}}
  <fieldset>
    <div class="control-group">
      <div class="user-edit-avatar">
        <button class="btn btn-mini user-change-avatar">
          <i class="icon-edit"></i>
        </button>
        <img src="/images/default_avatars/large.png" alt="" class="img-polaroid">
      </div>
      <div class="controls settings-user-details">
        {{input value=firstName placeholder="First Name" class="input-block-level inline-field large-inline-field"}}
        {{input value=lastName placeholder="Last Name" class="input-block-level inline-field large-inline-field"}}
        <br>
        {{input type="email" value=email class="input-block-level inline-field user-email"}}
        <br>
        {{input type="tel" value=phone placeholder="Phone Number" class="input-block-level inline-field user-phone"}}
        <br>
        <input type="text" value="Initech Inc." class="input-block-level inline-field">
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="control-group">
      <label class="control-label">Gmail</label>
      <div class="controls">
        <div class="input-prepend input-append">
          <input class="span2" id="appendedPrependedInput" type="text" value="MichaelB@gmail.com" readonly>
          <span class="add-on">
            <span class="label label-success"><i class="icon-todo"></i> Connected</span>
          </span>
        </div>
        <span class="help-inline">
          <button class="btn btn-small btn-warning">Disconnect</button>
        </span>
      </div>
    </div>
  </fieldset>
    <fieldset>
    <div class="control-group">
      <label class="control-label">Signature</label>
      <div class="controls">
        {{textarea rows="8" value=signature}}
      </div>
    </div>
  </fieldset>
  {{/with}}

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save</button>
    <button class="btn" {{action "cancel" controller.currentUser}}>Cancel</button>
  </div>
</form>