<div class="page-header">
  <h3>Reminders & Alerts</h3>
</div>
<form class="form-horizontal settings-form">
  <fieldset>
    <legend>Reminders</legend>

    <div {{bindAttr class=":control-group overdueTasks.enabled::control-disabled"}}>
      <span class="help-block">Send me a reminder when I have an overdue task:</span>
      <label for="" class="control-label">When task is overdue</label>
      <div class="controls">
        {{input type="number"
          value=overdueTasks.duration
          placeholder="1"
          class="input-mini"
          disabledBinding="controller.overdueTaskDisabled"}}
        {{view Radium.FormEnabledSwitchView isCheckedBinding="overdueTasks.enabled"}}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Alerts</legend>
  </fieldset>
  <div class="form-actions">
    <button type="button" {{action update}} {{bindAttr disabled=isUpdating}} class="btn btn-primary">Save</button>
    <button class="btn" {{action "cancel"}}>Cancel</button>
  </div>
</form>
