<div class="pull-left user-avatar">
  {{avatar this style="small"}}
</div>
<div class="clearfix">
  <div class="pull-right user-actions">
    {{#unless isCurrentUser}}
      {{#if isAdmin}}
        <button class="btn btn-small btn-danger" {{bindAttr disabled=isSaving}} {{action "toggleIsAdmin"}}>Remove as Admin</button>
      {{else}}
        <button class="btn btn-small btn-success" {{bindAttr disabled=isSaving}} {{action "toggleIsAdmin"}}>Make Admin</button>
      {{/if}}
      <button class="btn btn-link" {{action "deleteUser" this}}>
        <i class="ss-symbolicons-block ss-trash"></i>
      </button>
    {{/unless}}
  </div>

  <div class="user-meta">
    <h5 class="name">
      {{name}} <small>{{email}}</small>
      {{#if isAdmin}}
        <span class="label label-info">Admin</span>
      {{/if}}
    </h5>

    <div class="message muted">
      <small>LAST LOGIN {{formatDateTime lastLogin format="full"}}</small>
    </div>
  </div>

</div>
