<div class="pull-left timestamp">{{age-in-words activity.time}}</div>
<div class="pull-left activity-icon">
  <i class="ss-standard ss-{{unbound icon}} event"></i>
</div>
<div class="clearfix activity-content">
  <p>
    {{#if activity.reference.isLoaded}}
      {{capitalize activity.tag}} {{resource-linkto resource=activity.reference}} {{activity.description}}<br/>
      {{#if activity.reference.activityInfo}}
        {{activity.reference.activityInfo}}<br/>
      {{/if}}
      by {{resource-linkto resource=activity.user}}
    {{/if}}
  </p>
</div>
