<div class="pull-left timestamp">{{age-in-words activity.time}}</div>
<div class="pull-left activity-icon">
  <i class="ss-standard ss-{{unbound icon}} event"></i>
</div>
<div class="clearfix activity-content">
  {{#if editable}}
    <p class="activity-edit">
      <a href="#">
        <i class="ss-standard ss-write"></i>
      </a>
      <a href="#">
        <i class="ss-standard ss-trash"></i>
      </a>
      <a href="#">
        <i class="ss-standard ss-chat"></i>
      </a>
    </p>
  {{/if}}
  <p>
    {{#if note}}
      <span class><a href="#" {{action (action attrs.showResource activity.user)}}>{{activity.user.displayName}}</a> added a note:</span>
      <div class="note-container">
        {{activity.note.body}}
      </div>
    {{/if}}
    {{#if email}}
      {{#if deliveredEmail}}
        <span>
          <a href="#" {{action (action attrs.showResource activity.email.sender)}}>{{activity.email.sender.displayName}}</a> emailed {{people-list people=activity.email.toList itemAction=attrs.showResource}}
        </span>
      {{/if}}
      {{#if openedEmail}}
        <span>
          <a href="#" {{action (action attrs.showResource activity.reference)}}>{{activity.reference.displayName}}</a> {{activity.description}}
          {{#if clickedLink}}
            {{log activity.externalLink}}
            <a href='{{unbound activity.externalLink}}' target='_blank'>{{externalLink}}</a> in the email
          {{/if}}
        </span>
      {{/if}}
      <div class="pull-right">
        <a href="#" {{action "replyTo" activity.email}}>
          <i class="ss-standard ss-reply"></i> Reply
        </a>
      </div>
      <div class="email-subject">
        <a href="#" {{action (action attrs.showResource activity.email)}}>{{activity.email.resolvedSubject}}</a>
      </div>
      <div class="email-container">
        {{text-expander text=activity.email.textBody}}
      </div>
    {{/if}}
    {{#if referenceActivity}}
      {{#if activity.reference.isLoaded}}
        <span>
          {{capitalize activity.tag}} <a href="#" {{action (action attrs.showResource activity.reference)}}>{{activity.reference.displayName}}</a> {{activity.description}}<br/>
          {{#if activity.reference.activityInfo}}
            {{activity.reference.activityInfo}}<br/>
          {{/if}}
          by <a href="#" {{action (action attrs.showResource activity.user)}}>{{activity.user.displayName}}</a>
        </span>
      {{/if}}
    {{/if}}
  </p>
</div>
