<div class="company-form">
  <div class="form-search pipeline-search">
    {{company-autocomplete value=companyForm.companyName company=companyForm.company queryKey="name" writeableValue=true placeholder="Add Company" validator=this validations=companyValidations validationField="company" saveModel="submit" class="field" dontReset=true disabled=existingChosen action="companyNameSelected" resetAction="resetForm"}}
  </div>
  <a href="#" {{action "createCompany"}} {{bind-attr disabled=isDisabled}} class="btn btn-main btn-primary">
    {{#if isSaving}}
      <img src="/images/loading/ajax-loader.gif"/> <span class="muted">Saving</span>
    {{else}}
      <i class="ss-standard ss-plus"></i> Submit
    {{/if}}
  </a>
  <a href="#" {{action "hideNewCompany" target="view"}} class="btn btn-danger btn-main">
    Cancel
  </a>
</div>
<div class="existing-company hide">
  {{#if existingChosen}}
    {{resource-link-to company}} already exists, click {{#resource-link-to company}}here{{/resource-link-to}} to update their details.<br/>
    Click <a {{action "resetForm"}} href="#">here</a> to add a new company.
  {{/if}}
</div>
