<a href="#" data-toggle="dropdown" class="dropdown-toggle assignto">
  <span class="assignto-left">
    {{avatar assignedTo style="tiny"}}
    <span class="to">{{assignedTo.displayName}}</span>
  </span>
  {{#if assignees.length}}
    <span class="caret"></span>
  {{/if}}
</a>
{{#if assignees.length}}
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    {{#each assignee in assignees}}
      <li>
        <a href="#" {{action "assignContact" controller.contact assignee}}>
          {{avatar assignee style="tiny"}}{{assignee.displayName}}
        </a>
      </li>
    {{/each}}
  </ul>
{{/if}}