{{#if isTag}}
  <div class="list">
    <div class="name">
      <b>{{recipient.resourceTag.name}}</b>
      <span class="count">{{recipient.count}}</span>
    </div>
  </div>
  {{#if recipient.count}}
    <div class="helper">{{recipient.count}} people in this list</div>
  {{/if}}
  <a href="#" {{action "removeFromBulkList" recipient bubbles=false}} class="remove" tabindex="-1">
    <i class="ss-standard ss-delete"></i>
  </a>
{{else}}
  <div class="name">
    <b>{{recipient.person.displayName}}</b>
    {{#if recipient.person.company}}
      from {{resource-link-to recipient.person}}
    {{/if}}
  </div>
  <div class="helper">
    {{#if recipient.person.name}}
      {{recipient.person.email}}
    {{/if}}
  </div>
  {{#unless readonly}}
    <a href="#" {{action "removeFromBulkList" recipient bubbles=false}} class="remove" tabindex="-1">
      <i class="ss-standard ss-delete"></i>
    </a>
  {{/unless}}
{{/if}}
