<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  <span>{{deal.currentStatus.name}}</span>
  <span class="caret"></span>
</a>
<ul class="dropdown-menu" role="menu">
  {{#each status in remainingStatuses}}
    <li>
      <a href="#" {{action "changeListStatus" status}}>{{status.name}}</a>
    </li>
  {{/each}}
</ul>
{{#if showInactiveReasonModal}}
  {{#x-modal close="closeInactiveReasonModal"}}
  <h1>Inactive Reason</h1>
  <div class="form">
    <div class="item">
      {{textarea rows="3" cols="15" value=inactiveReason placeholder="Inactive Reason" class="single field"}}
    </div>
     <div class="actions">
       <button {{action "createInactiveStatusChange"}} class="btn btn-primary">Submit</button>
       <button {{action "closeInactiveReasonModal"}} class="btn">Cancel</button>
      </div>
  </div>
  {{/x-modal}}
{{/if}}