<div {{bind-attr class=":tasks-content :contacts contact.isPersonal"}}>
  {{render "form_box" formBox}}
  {{#if contact.isUpdating}}
    <div class="well">
      <h4>Updating details....</h4>
    </div>
  {{else}}
    {{render "task_list" contact.currentTasks}}
  {{/if}}
</div>

{{#unless contact.isUpdating}}
  {{render "feed" contact.activities}}
{{/unless}}
