<div class="sidebar-panel sidebar-panel-main">
  <div class="sidebar-panel-content">
    <div class="contact-detail">
      <div class="user-avatar pull-left">
        {{avatar-picker person=contact}}
      </div>
      {{toggle-switch checked=shared action="switchShared" dataOn="Share" dataOff="private" dontPropagate=true}}
      {{inline-editor model=contact bufferKey="name" notRoutable=true placeholder="Add Name" parent=targetObject}}
    </div>
    {{inline-autocomplete model=contact bufferKey="companyName" scopes="company" queryKey="name" placeholder="Add Company" class="company" alternativeRoute="company" parent=targetObject saveAction="saveCompany"}}
    {{social-medialist person=contact}}
  </div>
</div>
<div class="sidebar-panel" id="sidebar-contact-info">
  <div class="sidebar-panel-header"></div>
  <div class="sidebar-panel-content">
    {{email-addresses model=contact parent=parent}}
    {{phone-numbers model=contact parent=parent}}
    <dl class="dl-horizontal contact-types-list">
      <dt><i class="ss-standard ss-earth muted"></i></dt>
      <dd>
        {{inline-editor model=contact bufferKey="website" notRoutable=true placeholder="Add Website" parent=targetObject}}
      </dd>
    </dl>
    {{multiple-addresses model=contact parent=parent}}
    <div class="sidebar-list">
      <i class="ss-standard ss-list"></i>
      {{tag-autosuggest source=tags destination=contact.tagNames addTag="addTag" removeTag="removeTag" placeholder="add to lists"}}
   </div>
  </div>

  {{assign-to model=contact users=users user=contact.user validator=targetObject}}

  <div class="sidebar-panel sidebar-about">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        About
      </h6>
    </div>
    <div class="sidebar-panel-content">
      {{inline-editor model=contact bufferKey="about" notRoutable=true placeholder="Add about text" parent=targetObject class="about-text" multiline=true}}
    </div>
    {{inline-dropdown icon="ss-earth" leader="from" model=contact value=contact.source key="source" source=leadSources}}
    <div>
      <i class="ss-standard ss-user"></i> added on {{formatDateTime contact.createdAt format="date"}}
    </div>
  </div>

  {{#each field in customFields }}
    {{customfield-editor field=field resource=contact parent=targetObject}}
  {{/each}}

  {{sidebar-attachments files=targetObject.files model=contact}}
</div>
