<div class="form">
  <div class="sidebar-panel sidebar-panel-main">
    <div class="sidebar-panel-content">
      <div class="contact-detail">
        <div class="user-avatar pull-left">
          {{avatar-picker person=contact class="control-group"}}
        </div>
        {{toggle-switch checked=contact.isPublic action="switchShared" dataOn="Shared" dataOff="Private" dontPropagate=true}}
      </div>
      {{inline-editor class="name-editor" model=contact bufferKey="name" notRoutable=true placeholder="Add name" parent=targetObject}}

      {{inline-autocomplete model=contact bufferKey="companyName" scopes="company" queryKey="name" placeholder="Add Company" class="company" routeAction="showCompany" parent=targetObject saveAction=(action "saveCompany") afterSave=(action "afterSaveCompany") parent=this}}
      {{social-medialist person=contact}}
    </div>
  </div>
</div>
{{#if showCompanyDrawer}}
  {{#x-drawer class="contact-drawer company-drawer" closeDrawer="closeCompanyDrawer"}}
  {{! UPGRADE: use component helper when we upgrade}}
  {{!renderComponent companyModel companyParams}}
  {{/x-drawer}}
{{/if}}
