<div class="sidebar-panel sidebar-panel-main">
  <div class="sidebar-panel-content">
    <div class="contact-detail">
      <div class="user-avatar pull-left">
        {{avatar-picker person=contact class="control-group"}}
      </div>
      {{toggle-switch checked=contact.isPublic action="switchShared" dataOn="Shared" dataOff="Private" dontPropagate=true}}
    </div>
    {{inline-editor model=contact bufferKey="name" notRoutable=true placeholder="Add Name" parent=targetObject}}
    {{inline-autocomplete model=contact bufferKey="companyName" scopes="company" queryKey="name" placeholder="Add Company" class="company" alternativeRoute="company" parent=targetObject saveAction="saveCompany" parent=parent}}
    {{social-medialist person=contact}}
  </div>
</div>
<div class="sidebar-panel" id="sidebar-contact-info">
  <div class="sidebar-panel-header"></div>
  <div class="sidebar-panel-content">
    {{email-addresses model=contact parent=parent}}
    {{phone-numbers model=contact parent=parent}}
    <dl class="dl-horizontal contact-types-list">
      <dt><i class="ss-standard ss-earth muted"></i></dt>
      <dd>
        {{inline-editor model=contact bufferKey="website" notRoutable=true placeholder="Add Website" parent=targetObject externalUrl=true}}
      </dd>
    </dl>
    {{multiple-addresses model=contact parent=parent}}
    <div class="sidebar-list">
      <i class="ss-standard ss-list"></i>
      {{tag-autosuggest source=tags destination=contact.tagNames addTag="addTag" removeTag="removeTag" placeholder="Add to lists"}}
   </div>
  </div>

  {{assign-to model=contact users=users user=contact.user validator=targetObject}}

  <div class="sidebar-panel sidebar-about">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        About
      </h6>
    </div>
    <div class="sidebar-panel-content">
      {{inline-editor model=contact bufferKey="about" notRoutable=true placeholder="Add about text" parent=targetObject class="about-text" multiline=true}}
      <dl class="dl-horizontal">
        <dt><i class="ss-standard ss-earth muted"></i></dt>
        <dd class="source">{{inline-dropdown leader="From" model=contact value=contact.source key="source" source=leadSources}}</dd>
      </dl>
      <dl class="dl-horizontal">
        <dt><i class="ss-standard ss-user muted"></i></dt>
        <dd>Added on {{formatDateTime contact.createdAt format="date"}}</dd>
    </div>
  </div>

  {{#each field in customFields }}
    {{customfield-editor field=field resource=contact parent=parent}}
  {{/each}}

  {{sidebar-attachments files=targetObject.files model=contact}}
  {{#unless condense}}
    <div class="sidebar-panel sidebar-delete">
      <div class="sidebar-panel-content">
        <button class="btn btn-danger btn-block" {{action "confirmDeletion"}}>Delete Contact</button>
      </div>
    </div>
  {{/unless}}
</div>
