<div class="sidebar-panel sidebar-panel-main">
  <div class="sidebar-panel-content">
    <div class="contact-detail">
      <div class="user-avatar pull-left">
        {{avatar-picker person=contact}}
      </div>
      {{toggle-switch checked=shared action="switchShared" dataOn="Share" dataOff="private" dontPropagate=true}}
      {{inline-editor model=contact bufferKey="name" notRoutable=true placeholder="Add Name" parent=targetObject}}
    </div>
    {{inline-autocomplete model=contact bufferKey="companyName" scopes="company" queryKey="name" placeholder="Add Company" class="company" alternativeRoute="company" parent=targetObject saveAction="saveCompany"}}
    {{social-medialist person=contact}}
  </div>
</div>
<div class="sidebar-panel" id="sidebar-contact-info">
  <div class="sidebar-panel-header"></div>
  <div class="sidebar-panel-content">
    {{email-addresses model=contact parent=parent}}
    {{phone-numbers model=contact parent=parent}}
  </div>
</div>