{{#unless model.isIgnored}}
  {{#unless model.contact.isPublic}}
    <a {{action "updateConversation" "track" model.contact}} href="#">Track</a>
    <span> | </span>
  {{/unless}}
{{/unless}}
{{#unless model.isIgnored}}
  {{#unless model.contact.isPublic}}
    <a href="#" {{action "updateConversation" "ignore" model.contact}}>Ignore</a>
  {{else}}
    {{#unless model.isArchived}}
      <a href="#" {{action "updateConversation" "archive" model.contact}}>Archive</a>
    {{else}}
      <a href="#" {{action "updateConversation" "stopArchiving" model.contact}}>Stop Archiving</a>
    {{/unless}}
  {{/unless}}
{{else}}
  <a href="#" {{action "updateConversation" "stopIgnoring" model.contact}}>Stop Ignoring</a>
{{/unless}}