{{#unless model.isIgnored}}
  {{#unless model.contact.isPublic}}
    <a {{action "updateConversation" "track" model.contact}} href="#">Share</a>
    <span> | </span>
  {{/unless}}
{{/unless}}
{{#unless model.isIgnored}}
  {{#unless model.contact.isPublic}}
    <a href="#" {{action "updateConversation" "ignore" model.contact}}>Ignore</a>
    {{#if model.contact.domain}}
      <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#" {{action "ignoreDomain" model.contact}}>
              Ignore all emails from {{model.contact.domain}}
            </a>
          </li>
        </ul>
      </div>
    {{/if}}
  {{else}}
    {{#unless model.isArchived}}
      <a href="#" {{action "updateConversation" "archive" model.contact}}>Archive</a>
    {{else}}
      <a href="#" {{action "updateConversation" "stopArchiving" model.contact}}>Stop Archiving</a>
    {{/unless}}
  {{/unless}}
{{else}}
  <a href="#" {{action "updateConversation" "stopIgnoring" model.contact}}>Stop Ignoring</a>
{{/unless}}