{{#x-select value=currentType action="changeCustomFieldType"}}
  {{#each customFieldType in customFieldTypes}}
    {{#x-option value=customFieldType}}{{customFieldType}}{{/x-option}}
  {{/each}}
{{/x-select}}
{{#unless isSelect}}
  <input type="text" value="" class="field">
  {{log isLastItem}}
  <a href="#" id="add" class="more" {{action "modifyCustomFields"}}>
    <i {{bind-attr class=":ss-standard isLastItem:ss-plus:ss-trash"}}></i>
  </a>
{{else}}
  {{dropdown-customfield customField=customField lastItem=lastItem modifyCustomFields="modifyCustomFields" class="custom-select"}}
{{/unless}}