<h2>Add {{list.itemName}}</h2>
<div class="form">
  <div class="item">
    {{company-autocomplete value=newDeal.company queryKey="name" writeableValue=true}}
  </div>
  <br/> or
  <div class="item">
    {{autocomplete-textbox scopes="contact" value=newDeal.contact placeholder="Name" queryKey="displayName"}}
  </div>
  <div class="item">
    <input type="text" placeholder="Item Name"/>
  </div>
  <div class="actions">
    <button {{action "submit"}} class="btn btn-primary">Submit</button>
    <button {{action "cancel"}} class="btn">Cancel</button>
  </div>
</div>