<h2>Add {{list.itemName}}</h2>
<div class="form">
  <div class="item">
    {{company-autocomplete value=dealForm.companyName company=dealForm.company queryKey="name" writeableValue=true placeholder="Company/Account Name" validator=this validations=orValidations validationField="company" saveModel="submit" class="field" dontReset=true disabled=contactIsSet}}
  </div>
  <br/> or
  <div class="item">
    {{autocomplete-textbox scopes="contact" value=dealForm.contact queryKey="displayName" writeableValue=true placeholder="Contact" validator=this validations=orValidations validationField="contact" saveModel="submit" class="field" dontReset=true disabled=companyIsSet action="contactSet"}}
  </div>
  <div class="item">
    {{input type="text" value=dealForm.name placeholder=dealNamePlaceholder class="field" enter="submit"}}
  </div>
  <div class="actions">
    <button {{action "submit"}} class="btn btn-primary">Submit</button>
    <button {{action "cancel"}} class="btn">Cancel</button>
  </div>
</div>