<div id="myModal" class="email-form single-mode">
  <div class="email-form-header">
    <h3>Compose</h3>
    <a href="#" class="info" data-toggle="tooltip" data-placement="bottom" data-original-title="Use 'Mail Merge' to send custom messages <br> 'Single' for normal emails">
      <i class="ss-standard ss-help"></i>
    </a>
    <div class="type-toggle">
      <a href="#" class="to active">Single</a>
      <span>|</span>
      <a href="#" class="">Mail Merge</a>
    </div>
  </div>
  <div class="email-form-body">
    <div class="addresses">
      <div {{bind-attr class="view.toList.isInvalid:is-invalid view.toList.isValid:is-valid :field :control-box :control-box-block-level :recipients"}}>
        <span class="toggles pull-right">
          {{#unless showCc}}
            <a href="#" class="muted" tabindex="7" {{action "expandList" 'cc'}}>CC</a>
          {{/unless}}
          {{#unless showBcc}}
            <a href="#" class="muted" tabIndex="7" {{action "expandList" 'bcc'}}>BCC</a>
          {{/unless}}
        </span>
        <label>To:</label>
        {{view to tabindex=1 placeholder="Names or email addresses" viewName="toList"}}
      </div>

      {{#if showCc }}
        <div class="field control-box control-box-block-level recipients cc">
          <label>CC</label>
          {{view cc tabindex=8 placeholder="Names or email addresses" viewName="cc"}}
        </div>
      {{/if}}

      {{#if showBcc }}
        <div class="field control-box control-box-block-level recipients bcc">
          <label>BCC</label>
          {{view bcc tabindex=8 placeholder="Names or email addresses" viewName="bcc"}}
        </div>
      {{/if}}
    </div>
    <div class="message">
      <div class="subject-wrap">
        <input type="text" placeholder="Subject:" class="subject tt-input" autocomplete="off" spellcheck="false" dir="auto">
      </div>
      <div class="more-options">
        <a href="#" {{action "toggleEditorToolbar"}} class="format" tabindex="-1">
          <i class="ss-standard ss-font"></i>
        </a>
        {{file-uploader files=email.files disableSave=disableSave bucket=email.bucket model=email.reference class="btn-file btn-messages-action"}}
        <div class="btn-group vanilla">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle" tabindex="-1">
            <i class="ss-standard ss-navigatedown"></i>
          </a>
          <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
            <li>
              <a href="#">Save as Template</a>
            </li>
            <li>
              <a href="#">Edit Templates</a>
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Insert Template</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">INSERT CUSTOM TEMPLATES</a>
                </li>
              </ul>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">Insert Name</a>
            </li>
            <li>
              <a href="#">Insert Company</a>
            </li>
              <li>
                <a href="#">Insert Signature</a>
              </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Insert Fields</a>
              <ul class="dropdown-menu">
                <li><a href="#">Title</a></li>
                <li><a href="#">Website</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="textbox-wrap">
        {{richtext-editor files=controller.files content=html header="New Email" isInvalid=messageIsInvalid tabindex="3"}}
        {{#unless signatureAdded}}
          <div class="prompt">
            <a href="#" {{action "addSignature"}} class="add-signature">Add a Signature</a>
            <a href="#" class="cancel close" {{action "hideAddSignature"}}><i class="ss-standard ss-delete"></i></a>
          </div>
        {{/unless}}
      </div>
      {{#if email.files.length}}
        {{upload-filelist files=email.files hideUploadedBy=true}}
      {{/if}}
    </div>
  </div>
</div>
{{#if showSignatureModal}}
  <div class="modal-backdrop">
    <div class="modal fade">
      <div class="modal-header">
        <button type="button" {{action "closeModal" target="view" bubbles=false}} class="close">×</button>
        <h2>Add Signature?</h2>
      </div>
      <div class="modal-body">
        <div class="form">
          <p>Add a signature that can be appended onto the end of each email.</p>
          {{view signatureTextArea value=signature class="field input-block-level"}}
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" {{action "closeModal" target="view" bubbles=false}} class="btn">Cancel</a>
        <a href="#" {{action "createSignature"}} class="btn btn-primary">Done</a>
      </div>
    </div>
  </div>
{{/if}}