<dt><i class="ss-standard ss-mail muted"></i></dt>
<dd>
  {{#if isEditing}}
    <div>
      {{#each email in emailAddresses}}
        {{#multiple-control item=email items=emailAddresses model=model relationship="emailAddresses" saveModel="stopEditing" labels=Radium.EmailLabels}}
        {{input type="text" value=value}}
        {{/multiple-control}}
      {{/each}}
    </div>
  {{else}}
    <i class="ss-standard ss-write pull-right" {{action "startEditing" bubbles=false}}></i>
    {{#if model.primaryEmail.value}}
      {{#link-to "emails.mailTo" "inbox" model}}
      <strong>{{model.primaryEmail.name}}</strong> {{model.primaryEmail.value}}
      {{/link-to}}
    {{else}}
      <span class="empty">Add email here</span>
    {{/if}}
  {{/if}}
</dd>
