<div class="email-form single-mode">
  <div class="email-form-header">
    {{#unless forwardOrReply}}
      <h3>Compose</h3>
    {{/unless}}
    {{#if showNavigation}}
      <a href="#" class="info" data-toggle="tooltip" data-placement="bottom" data-original-title="Use 'Mail Merge' to send custom messages <br> 'Single' for normal emails">
        <i class="ss-standard ss-help"></i>
      </a>
      <div class="type-toggle">
        <a href="#" {{bind-attr class=":to singleMode:active"}} {{action "changeViewMode" "single" bubbles=false}}>Single</a>
        <span>|</span>
        <a href="#" {{bind-attr class="bulkMode:active"}} {{action "changeViewMode" "bulk" bubbles=false}}>Mail Merge</a>
      </div>
    {{/if}}
  </div>
  <div class="email-form-body">
    {{partial 'forms/scheduled_email'}}
    {{#if replyMode}}
      <h5>
        Reply to
        {{list "form.to"}}
        <a class="pull-right" href="#" {{action "toggleOptions"}}>More Options</a>
      </h5>
    {{/if}}
    {{#if forwardMode}}
      <h5>
        Forward: {{form.subject}}
        <a class="pull-right" href="#" {{action "expand"}}>More Options</a>
      </h5>
    {{/if}}
    {{#if showOptions}}
      <div class="addresses">
        <div {{bind-attr class="view.toList.isInvalid:is-invalid view.toList.isValid:is-valid :field :control-box :control-box-block-level :recipients"}}>
          <span class="toggles pull-right">
            {{#unless showCc}}
              <a href="#" class="muted" tabindex="7" {{action "expandList" 'cc'}}>CC</a>
            {{/unless}}
            {{#unless showBcc}}
              <a href="#" class="muted" tabIndex="7" {{action "expandList" 'bcc'}}>BCC</a>
            {{/unless}}
          </span>
          <label>To:</label>
          {{view to tabindex=1 placeholder="Names or email addresses" viewName="toList"}}
        </div>

        {{#if showCc }}
          <div class="field control-box control-box-block-level recipients cc">
            <label>CC</label>
            {{view cc tabindex=8 placeholder="Names or email addresses" viewName="cc"}}
          </div>
        {{/if}}

        {{#if showBcc }}
          <div class="field control-box control-box-block-level recipients bcc">
            <label>BCC</label>
            {{view bcc tabindex=8 placeholder="Names or email addresses" viewName="bcc"}}
          </div>
        {{/if}}
      </div>
    {{/if}}
    {{#if bulkMode}}
      <div class="addresses bulk">
        {{#unless fromPeople}}
          <div {{bind-attr class="bulkListView.isInvalid:is-invalid bulkListView.isValid:is-valid :field :control-box :control-box-block-level :recipients"}}>
            {{view bulk tabindex=1 source=form.to placeholder="Add recipient or list" viewName="bulkListView" deleteOnBackSpace=false}}
          </div>
        {{/unless}}
        {{bulk-recipients recipients=form.to readonly=fromPeople removeFromBulkList="removeFromBulkList"}}
      </div>
    {{/if}}
    <div class="message">
      {{#if showSubject}}
        <div class="subject-wrap">
          {{autocomplete-textbox autocompleteType=Radium.Template value=form.subject queryKey="subject" queryParameters=templateQueryParameters writeableValue=true placeholder="subject" action="insertTemplate" tabindex="2"}}
        </div>
      {{/if}}
      <div class="more-options">
        <a href="#" {{action "toggleEditorToolbar"}} class="format" tabindex="-1">
          <i class="ss-standard ss-font"></i>
        </a>
        {{file-uploader files=form.files disableSave=disableSave bucket=form.bucket model=form.reference class="btn-file btn-messages-action"}}
        {{#unless forwardOrReply}}
        <div class="btn-group vanilla">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle" tabindex="-1">
            <i class="ss-standard ss-navigatedown"></i>
          </a>
          <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
            <li>
              <a {{action "saveTemplate" form}} href="#">Save as Template</a>
            </li>
            <li>
              {{#link-to "messages" "templates"}}Edit Templates{{/link-to}}
            </li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Insert Template</a>
              {{template-list templates=templates insertTemplate="insertTemplate"}}
            </li>
            <li class="divider"></li>
            {{#each insertAction in insertActions}}
            <li>
              <a {{action "insertPlaceholder" insertAction}} href="#">Insert {{capitalize insertAction.curlyless}}</a>
            </li>
            {{/each}}
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Insert Fields</a>
              {{customfield-placeholders customFields=customFields insertCustomFieldPlaceholder="insertCustomFieldPlaceholder"}}
            </li>
          </ul>
        </div>
        {{/unless}}
      </div>
      <div class="textbox-wrap">
        {{richtext-editor files=files queryKey="display" content=form.html header="New Email" isInvalid=messageIsInvalid tabindex="3" parent=this source=insertActions}}
        {{#unless signatureAdded}}
          <div class="prompt">
            <a href="#" {{action "addSignature"}} class="add-signature">Add a Signature</a>
            <a href="#" class="cancel close" {{action "hideAddSignature"}}><i class="ss-standard ss-delete"></i></a>
          </div>
        {{/unless}}
      </div>
      {{#if form.files.length}}
        {{upload-filelist files=form.files hideUploadedBy=true}}
      {{/if}}
      <div class="send-later">
        <div class="datepicker-wrap">
          <div class="datepicker datepicker-inline">
            {{date-timepicker submitDate="scheduleDelivery" model=form}}
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <div {{bind-attr class=":follow-up bulkMode"}}>
        {{x-check checked=checkForResponseSet disabled=allChecked classNames="check" action="cancelCheckForResponse"}}
        <span>Create a task if no reply in</span>
        <div class="dropdown check-response-opener">
          <a class="drop" role="button"  href="#">
            <span class="inactive">
              {{#if checkForResponse}}
                {{checkForResponseFormatted}}
              {{else}}
                Select Time
              {{/if}}
            </span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li>
              <a {{action "setCheckForResponse" (makeDate 1 "hour")}} tabindex="-1" href="#">1 hour</a>
            </li>
            <li>
              <a {{action "setCheckForResponse" (makeDate 2 "hour")}}  tabindex="-1" href="#">2 hours</a>
            </li>
            <li>
              <a {{action "setCheckForResponse" (makeDate 4 "hour")}} tabindex="-1" href="#">4 hours</a>
            </li>
            <li class="divider"></li>
            <li>
              <a {{action "setCheckForResponse" (makeDate 1 "day")}} tabindex="-1" href="#">1 day</a>
            </li>
            <li>
              <a {{action "setCheckForResponse" (makeDate 2 "day")}} tabindex="-1" href="#">2 days</a>
            </li>
            <li>
              <a {{action "setCheckForResponse" (makeDate 4 "day")}} tabindex="-1" href="#">4 days</a>
            </li>
            <li class="divider"></li>
            <li>
              <a {{action "setCheckForResponse" (makeDate 1 "week")}} tabindex="-1" href="#">1 week</a>
            </li>
            <li>
              <a {{action "setCheckForResponse" (makeDate 2 "week")}} tabindex="-1" href="#">2 weeks</a>
            </li>
            <li class="divider"></li>
            <div class="input-append date">
              {{date-picker submitForm="setCheckForResponse" model=form}}
            </div>
          </ul>
        </div>
      </div>
      <div class="btn-group btn-send vanilla">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" tabindex="4">
          Send
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a {{action submitAction form}} href="#" class="btn-save-draft">Now</a>
          </li>
          {{#if singleMode}}
            <li>
              <a {{action "saveAsDraft" form}} href="#" class="btn-save-draft">Save Draft</a>
            </li>
          {{/if}}
          {{#unless forwardOrReply}}
            <li>
              <a {{action "saveTemplate" form}} href="#" class="btn-save-template">Save as Template</a>
            </li>
          {{/unless}}
          <li>
            <a {{action "showSendLater"}} href="#" class="btn-send-later">Send Later</a>
          </li>
        </ul>
      </div>
      <button {{action "deleteFromEditor"}} class="btn cancel">Cancel</button>
    </div>
    {{partial 'emails/check_for_response'}}
  </div>
</div>
{{#if showSignatureModal}}
  <div class="modal-backdrop">
    <div class="modal fade">
      <div class="modal-header">
        <button type="button" {{action "closeModal" target="view"}} class="close">×</button>
        <h2>Add Signature?</h2>
      </div>
      <div class="modal-body">
        <div class="form">
          <p>Add a signature that can be appended onto the end of each email.</p>
          {{view signatureTextArea value=signature class="field input-block-level"}}
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" {{action "closeModal" target="view"}} class="btn">Cancel</a>
        <a href="#" {{action "createSignature"}} class="btn btn-primary">Done</a>
      </div>
    </div>
  </div>
{{/if}}