{{#if isEditing}}
  {{input type="text" value=bufferedProxy.name disabled=isSaving placeholder="Add contact status" class="field-input"}}
{{else}}
  <span class="lead-source-item">{{model.name}}
    <i class="ss-standard ss-write pull-right"></i>
  </span>
{{/if}}
{{#if isAdmin}}
<div class="checklist-controls">
  <a href="#" class="btn btn-link btn-remove-field" {{action "delete"}}>
    <i class="ss-symbolicons-block ss-trash cancel"></i>
  </a>

  {{#if isEditing}}
    <button class="btn" {{action "cancel"}}>Cancel</button>
  {{/if}}
</div>
{{/if}}