<div class="form-box">
  <div class="form-box-controls">
    <a {{action "showForm" "todo"}} href="#" class="{{if showTodoForm 'active'}}">
      <i class="ss-standard ss-check"></i>Task
    </a>
    <a {{action "showForm" "meeting"}} href="#" class="{{if showMeetingForm 'active'}}">
      <i class="ss-standard ss-checkcalendar"></i>Meeting
    </a>
    <a {{action "showForm" "note"}} href="#" class="{{if showNoteForm 'active'}}">
      <i class="ss-standard ss-notebook"></i>Note
    </a>
    <a {{action "showForm" "email"}} href="#" class="{{if showEmailForm 'active'}}">
      <i class="ss-standard ss-mail"></i>Email
    </a>
  </div>
  <div class="form-container">
    {{!--temporary--}}
    {{#if showTodoForm}}
      {{todo-form todoForm=todoForm}}
    {{/if}}

    {{!--{{#if showTodoForm}}
      {{render "forms/todo" todoForm}}
    {{/if}}
    {{#if showMeetingForm}}
      {{render "forms/meeting" meetingForm}}
    {{/if}}
    {{#if showNoteForm}}
      {{render "forms/note" noteForm}}
    {{/if}}
    {{#if showEmailForm}}
      {{email-form form=emailForm parent=this signature=signature addSignature="addSignature" mode="form" saveEmail="saveEmail" saveTemplate="saveTemplate" templates=templates}}
    {{/if}}--}}

    <div class="form-box-controls">
      <button {{action "submitForm"}} class="btn btn-primary btn-large">
        {{#if showTodoForm}}
          Add Task
        {{/if}}
        {{#if showMeetingForm}}
          Add Task
        {{/if}}
        {{#if showNoteForm}}
          Add Note
        {{/if}}
        {{#if showEmailForm}}
          Add Email
        {{/if}}
      </button>
    </div>
  </div>
</div>
