<!-- file:///Users/paulcowan/Dropbox/Mockups/views/import/single.html -->
<div class="item contact-name">
  <div class="icon">
    <i class="ss-standard ss-user"></i>
  </div>
  <div class="description">Name</div>
  <div class="field">
    {{autocomplete-textbox scopes="contact" value=model.name queryKey="displayName" action="modelChanged"}}
    {{#unless model.isNew}}
      <button class="btn btn-primary" {{action "clearExisting"}}>Clear</button>
    {{/unless}}
  </div>
</div>
{{#unless model.isNew}}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">×</button>
  {{avatar model}}
  <strong>Warning!</strong>
  <span class="name-variable">{{model.nameWithEmail}}</span> is already a contact. You can view their {{#resource-link-to model}}details here{{/resource-link-to}} or continue below to update their contact information.
</div>
{{/unless}}
<div class="item company">
  <div class="icon">
    <i class="ss-standard ss-buildings"></i>
  </div>
  <div class="description">Company</div>
  <div class="field">
    {{autocomplete-textbox scopes="company" value=model.companyName queryKey="name"}}
  </div>
</div>
<div class="item">
  <div class="icon">
    <i class="ss-standard ss-globe"></i>
  </div>
  <div class="description">Website</div>
  <div class="field">
    {{regex-input value=model.website regex=Radium.URL_REGEX}}
  </div>
</div>
{{#each email in emailAddresses}}
  {{#multiple-control item=email items=emailAddresses action="modelChanged" model=model relationship="emailAddresses" saveModel="saveModel" icon="ss-mail"}}
    {{autocomplete-email queryKey="email" value=value class="single" scopes="contact" action="modelChanged" saveModel="saveModel"}}
  {{/multiple-control}}
{{/each}}
{{#each phoneNumber in phoneNumbers}}
  {{#multiple-control item=phoneNumber items=phoneNumbers action="modelChanged" model=model relationship="phoneNumbers" saveModel="saveModel" icon="ss-phone"}}
    {{phone-input value=value class="single"}}
  {{/multiple-control}}
{{/each}}
<div class="item">
  <div class="icon"><i class="ss-standard ss-list"></i></div>
  <div class="description">Lists</div>
  <div class="field">
    {{tag-picker model=model}}
  </div>
</div>
<div class="item">
  <div class="icon"><i></i></div>
  <div class="description">Assigned To</div>
  <div class="field">
    {{autocomplete-textbox source=users value=model.user.name queryKey="displayName"}}
  </div>
</div>
<div class="clearfix"></div>
<a href="#" class="showmore btn" {{action "toggleMore"}}>
  <i {{bind-attr class=":ss-standard showMore:ss-navigatedown:ss-navigateup"}}></i>
</a>
<div class="clearfix"></div>
<div class="more">
  <div class="item">
    <div class="icon"><i class="ss-standard ss-tag"></i></div>
    <div class="description">Title</div>
    <div class="field">
      {{autocomplete-textbox autocompleteType=Radium.Title value=model.title queryKey="title" queryParameters=titleQueryParameters}}
    </div>
  </div>
  <div class="item address">
    <div class="icon"><i class="ss-standard ss-location"></i></div>
    <div class="description">Address</div>
    <div class="field">
      {{multiple-address addresses=addresses current=currentAddress saveModel=saveModel parent=targetObject}}
    </div>
  </div>
  <div class="item">
    <div class="icon"><i class="ss-standard ss-notebook"></i></div>
    <div class="description">About</div>
    <div class="field">
      {{textarea class="single" value=model.about}}
    </div>
  </div>
  <div class="item">
    <div class="icon"><i class="ss-standard ss-fax"></i></div>
    <div class="description">Fax</div>
    <div class="field">
      {{input type="text" value=model.fax class="single"}}
    </div>
  </div>
  <div class="item">
    <div class="icon"><i class=""></i></div>
    <div class="description">Sex</div>
    <div class="field">
      <div class="radio-group">
        <div>
          {{radio-button name="gender" value="m" selection=model.gender}}
          <span class="radio-label">Male</span>
        </div>
        <div>
          {{radio-button name="gender" value="f" selection=model.gender}}
          <span class="radio-label">Female</span>
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="icon"><i class=""></i></div>
    <div class="description">Source</div>
    <div class="field">
      {{autocomplete-textbox source=leadSources value=model.source}}
    </div>
  </div>
  <div class="item">
    <div class="icon"><i class=""></i></div>
    <div class="description">Status</div>
    <div class="field">
      {{autocomplete-textbox source=contactStatuses value=model.contactStatus queryKey="name"}}
    </div>
  </div>
</div>
<div class="submit">
  <hr/>
  <a href="#" class="btn btn-large btn-primary">Submit</a>
</div>