<div class="tab-content-title">
  <h1>Add Single Contact</h1>
</div>


<div class="item contact-name">
  <div class="field">
    {{autocomplete-textbox scopes="contact" value=model.name placeholder="Name" queryKey="displayName" action="modelChanged" validations=nameValidations validator=targetObject validationField="name" writeableValue=true isValid=isValid saveModel="saveModel"}}
    {{#unless model.isNew}}
      <button class="btn btn-primary btn-clear" {{action "clearExisting"}}>Clear and Add New</button>
    {{/unless}}
  </div>
</div>
{{#unless model.isNew}}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">×</button>
  {{avatar model}}
  <strong>Warning!</strong>
  <span class="name-variable">{{model.nameWithEmail}}</span> is already a contact. You can view their {{#resource-link-to model}}details here{{/resource-link-to}} or continue below to update their contact information.
</div>
{{/unless}}
<div class="item company">
  <div class="field company">
    {{autocomplete-textbox scopes="company" value=model.companyName placeholder="Company" queryKey="name" writeableValue=true saveModel="saveModel"}}
  </div>
</div>
{{#each email in emailAddresses}}
  {{#multiple-control item=email items=emailAddresses modelChanged="modelChanged" model=model relationship="emailAddresses" saveModel="saveModel" queryProfile="queryProfile"}}
    {{autocomplete-email queryKey="email" value=value class="single" scopes="contact" modelChanged="modelChanged" saveModel="saveModel" queryProfile="queryProfile" validations=_parent.emailValidations validator=_parent.targetObject validationField="email" isValid=_parentObject.isValid placeholder="Email"}}
  {{/multiple-control}}
{{/each}}
{{#each phoneNumber in phoneNumbers}}
  {{#multiple-control item=phoneNumber items=phoneNumbers modelChanged="modelChanged" model=model relationship="phoneNumbers" saveModel="saveModel"}}
    {{phone-input value=value class="single" saveModel="saveModel" modelChanged="modelchanged" placeholder="Phone"}}
  {{/multiple-control}}
{{/each}}
<div class="item">
  <div class="field">
    {{tag-picker model=model tagNames=model.tagNames placeholder="asdf"}}
  </div>
</div>
<div class="item">
  <div class="field">
    {{autocomplete-textbox source=users value=model.user queryKey="displayName" validations=userValidations validator=targetObject validationField="user" isValid=isValid}}
  </div>
</div>
<div class="clearfix"></div>
<a href="#" class="showmore btn-text btn-black" {{action "toggleMore"}}>
  {{#unless showMore}}
    <span>Show more</span>
    <i class="ss-standard ss-ellipsis"></i>
  {{else}}
    <span>Show less</span>
    <i class="ss-standard ss-ellipsis"></i>
  {{/unless}}
</a>
<div class="clearfix"></div>
<div class="more">
  <div class="item">
    <div class="field">
      {{autocomplete-textbox autocompleteType=Radium.Title value=model.title queryKey="title" queryParameters=titleQueryParameters writeableValue=true placeholder="Title"}}
    </div>
  </div>
  <div class="item">
    <div class="field">
      {{regex-input value=model.website regex=Radium.URL_REGEX placeholder="Website"}}
    </div>
  </div>
  <div class="item address">
    <div class="field">
      {{multiple-address addresses=addresses saveModel=saveModel parent=targetObject}}
    </div>
  </div>
  <div class="item about">
    <div class="field">
      {{textarea class="single" value=model.about placeholder="About"}}
    </div>
  </div>
  <div class="item">
    <div class="field">
      {{input type="text" value=model.fax class="single" placeholder="Fax"}}
    </div>
  </div>
  <div class="item sex">
    <div class="field">
      <div class="radio-group">
        <div>
          {{x-radio leader="Male" name="gender" value="m" selection=model.gender}}
        </div>
        <div>
          {{x-radio leader="Female" name="gender" value="f" selection=model.gender}}
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="field">
      {{autocomplete-textbox source=leadSources value=model.source placeholder="Source"}}
    </div>
  </div>
  <div class="item">
    <div class="field">
      {{autocomplete-textbox source=contactStatuses value=model.contactStatus queryKey="name" placeholder="Status"}}
    </div>
  </div>
  {{#each field in contactCustomFields}}
    <div class="item">
      <div class="icon"><i class=""></i></div>
      <div class="description">{{field.name}}</div>
      <div class="field">
        {{renderCustomField field model}}
      </div>
    </div>
  {{/each}}
  {{#link-to "settings.customFields" class="settings-link"}}Custom Fields{{/link-to}}
  {{#if model.twitter}}
    <div class="item">
      <div class="icon"><i class="ss-social ss-twitter"></i></div>
      <div class="description">Twitter</div>
      <div class="field">
        <a target="_new" {{bind-attr href=model.twitter.url}}{{model.twitter.url}}</a>
      </div>
    </div>
  {{/if}}
  {{#if model.facebook}}
    <div class="item">
      <div class="icon"><i class="ss-social ss-facebook"></i></div>
      <div class="description">Facebook</div>
      <div class="field">
        <a target="_new" {{bind-attr href=model.facebook.url}}{{model.facebook.url}}</a>
      </div>
    </div>
  {{/if}}
  {{#if model.linkedin}}
    <div class="item">
      <div class="icon"><i class="ss-social ss-linkedin"></i></div>
      <div class="description">Linkedin</div>
      <div class="field">
        <a target="_new" {{bind-attr href=model.linkedin.url}}{{model.linkedin.url}}</a>
      </div>
    </div>
  {{/if}}
</div>
<div class="submit">
<<<<<<< HEAD
  <hr/>
  <button class="btn btn-large btn-primary" {{action "saveModel"}} {{bind-attr disabled=isSaving}}>
    Submit
    {{#if isSaving}}
      <img src="/images/loading/ajax-loader.gif"/> <span class="muted">saving...</span>
    {{/if}}
  </button>
=======
  {{partial "saving"}}
  <button class="btn btn-large btn-primary" {{action "saveModel"}} {{bind-attr disabled=isSaving}}>Submit</button>
>>>>>>> add contact page
</div>
<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" {{action "cancelSubmit" target="view" bubbles=false}} class="close">×</button>
    <h2>Add Company?</h2>
  </div>
  <div class="modal-body">
    <p>You are about to create a contact without a company, do you want to do this?</p>
  </div>
  <div class="modal-footer">
    <a href="#" {{action "cancelSubmit" bubbles=false}} class="btn">Cancel</a>
    <a href="#" {{action "saveNew" target=targetObject bubbles=false}} class="btn btn-primary">Proceed</a>
  </div>
</div>