{{inline-editor model=listStatus bufferKey="name" notRoutable=true placeholder="Add Status" parent=parent class="list-status"}}
<div class="list-status-actions">
  <a {{action "deleteListStatus" listStatus}} href="#" class="btn btn-link btn-remove-field btn-none">
    <i class="ss-symbolicons-block ss-trash cancel"></i>
  </a>
  {{toggle-switch class="inline" checked=isActive dataOn="active" dataOff="inactive" action="switchStatus" disabled=isSaving}}
  {{up-down model=listStatus move="moveListStatus"}}
  <div class="btn-group vanilla">
    <a href="#" data-toggle="dropdown" class="btn-text btn-black dropdown-toggle">
      <span class="list-action-text">{{listActionText}}</span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li>
        <a href="#" {{action "setMoveAction" "move"}}>Move To</a>
      </li>
      <li>
        <a href="#" {{action "setMoveAction" "copy"}}>Copy To</a></li>
      </li>
    </ul>
  </div>
  {{#if showListAction}}
    {{list-autosuggest source=lists destination=actions addList="addList" removeList="removeList" placeholder="List to move to"}}
  {{/if}}
</div>
{{partial 'modal'}}