{{inline-editor model=listStatus bufferKey="name" notRoutable=true placeholder="Add Status" parent=parent class="list-status"}}
<div class="list-status-actions">
  <a {{action "deleteListStatus" listStatus}} href="#" class="btn btn-link btn-remove-field btn-none">
    <i class="ss-symbolicons-block ss-trash cancel"></i>
  </a>
  {{toggle-switch class="inline" checked=isActive dataOn="active" dataOff="inactive" action="switchStatus" disabled=isSaving}}
  <div class="btn-group">
    <button class="btn btn-mini"
      {{bind-attr disabled="isFirstItem"}}
      {{action "moveLeadStatusStateUp" this}}>▲</button>
    <button class="btn btn-mini"
      {{bind-attr disabled="isLastItem"}}
      {{action "moveLeadStatusStateDown" this}}>▼</button>
  </div>
<div>
