<div class="item">
  <div class="icon"><i {{bind-attr class=":ss-standard icon"}}></i></div>
  <div class="description">
    {{view Ember.Select
    content=labels
    selection=currentLabel}}
  </div>
  <div>
    {{#with item}}
      {{yield}}
    {{/with}}
    <div class="extra-field">
      {{#if isLast}}
        <a href="#" {{action "addItem"}}>
          <i class="ss-standard ss-plus"></i>
        </a>
      {{/if}}
    </div>
    {{#if multiple}}
      <div class="extra-delete">
        <a href="#" {{action "removeSelection" item}}>
          <i class="ss-standard ss-trash"></i>
        </a>
      </div>
      <input type="radio" {{action "setPrimary" item}} {{bind-attr checked=item.isPrimary}} {{bind-attr name=icon}}>
      <span class="primary-check">Primary</span>
    {{/if}}
  </div>
</div>
