<dl class="dl-horizontal contact-types-list">
  <dt><i class="ss-standard ss-buildings muted"></i></dt>
  <dd>
    {{#if isEditing}}
      <div>
        {{log positionDropdown}}
        {{multiple-address addresses=addresses parent=this hasEmail=hasEmail stopEditing="stopEditing"}}
      </div>
    {{else}}
      <i class="ss-standard ss-write pull-right" {{action "toggleEditor" target=view bubbles=false}}></i>
      {{#if model.primaryAddress}}
        <div class="readonly readonly-address">
          <div>{{model.primaryAddress.email}}</div>
          <div>{{model.primaryAddress.phone}}</div>
          <div>{{model.primaryAddress.street}}</div>
          <div>{{model.primaryAddress.formatted}}</div>
          <div>{{country-display country=model.primaryAddress.country}}</div>
          <div class="location hidden">
            <a href="#"><i class="ss-standard ss-location"></i></a>
          </div>
        </div>
      {{else}}
        <span class="empty">Click to add an address</span>
      {{/if}}
    {{/if}}
  </dd>
</dl>
