<div id="addressField">
{{#if hasEmail}}
  {{input value=current.email class="single route" type="text" placeholder="email address"}}<br/>
{{/if}}
</div>
<div id="locationField">
  <input class="single address-autocomplete" id="autocomplete" placeholder="Address" type="text" autocomplete="off" class="">
</div>
<div id="addressField" class="address-body">
  {{input value=current.street class="single route" type="text" placeholder="Street"}}<br/>
  {{input value=current.city class="single postal_town" type="text" placeholder="City"}}<br/>
  {{input value=current.state class="single administrative_area_level_1" type="text" placeholder="State / Province"}}<br/>
  {{input value=current.zipcode class="single postal_code" type="text" placeholder="Zip / Postal Code"}}<br/>
  {{log positionDropdown}}
  {{country-picker changeCountry="changeCountry" current=current.country countryList=Radium.Countries positionDropdown=positionDropdown}}
  <div id="addressType">
    {{#each address in addresses}}
      <div>
        <input name="current" type="radio" {{bind-attr checked=address.isCurrent}} {{action "changeAddress" address on="change"}}><span>{{capitalize address.name}}</span>
      </div>
    {{/each}}
  </div>
</div>