<div class="item multi">
  <div class="description">
    {{autocomplete-textbox source=labels value=item.name}}
  </div>
  <div>
    {{#with item}}
      {{yield}}
    {{/with}}
    <div class="extra-field">
      {{#if isLast}}
        <a href="#" {{action "addItem"}}>
          <i class="ss-standard ss-plus"></i>
        </a>
      {{/if}}
    </div>
    {{#if multiple}}
      <div class="pull-left">
        <input type="radio" {{action "setPrimary" item}} {{bind-attr checked=item.isPrimary}} {{bind-attr name=icon}}>
        <span class="primary-check">Primary</span>
      </div>
      <div class="pull-right extra-delete">
        <a href="#" {{action "removeSelection" item}}>
          <i class="ss-standard ss-trash"></i>
        </a>
      </div>
    {{/if}}
  </div>
</div>
