{{#if model.nextTask}}
  {{resource-link-to model.nextTask}}
{{else}}
  <a href="#" {{action "positionMenu"}} data-toggle="dropdown" class="dropdown-toggle">
    <span>Add Follow-up</span>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li>
      <a href="#" {{action "addTodo" "tomorrow"}}>Tomorrow</a>
    </li>
    <li>
      <a href="#" {{action "addTodo" "nextweek"}}>Next Week</a>
    </li>
    <li>
      <a href="#" {{action "addTodo" "nextmonth"}}>Next Month</a>
    </li>
    <li>
      <a {{action "showTodoModal"}} tabindex="-1" href="#" class="custom">Custom task</a>
    </li>
  </ul>
{{/if}}
<div class="modal fade hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body">
    {{render "forms/todo" todoForm}}
  </div>
<div>