{{#if isUser}}
  {{#link-to 'user' model}}{{model.firstName}}{{/link-to}}
{{/if}}

{{#if isContact}}
  {{#link-to 'contact' model}}{{model.displayName}}{{/link-to}}

  {{#if model.company}}
    ({{#link-to 'company' model.company}}{{model.company.name}}{{/link-to}})
  {{/if}}
{{/if}}

{{#if isCompany}}
  {{#link-to 'company' model}}{{model.name}}{{/link-to}}
{{/if}}

{{#if isTag}}
  {{#link-to 'tag' model}}{{model.name}}{{/link-to}}
{{/if}}

{{#if isDeal}}
  {{#link-to 'deal' model}}{{model.name}}{{/link-to}}
{{/if}}

{{#if isAttachment}}
  <a href="{{url}}" target="_blank">{{fileName}}</a>
{{/if}}

{{#if isEmail}}
  {{#link-to 'emails.show' "inbox" model}}{{model.subject}}{{/link-to}}
{{/if}}

{{#if isMeeting}}
  {{#link-to 'calendar.task' model}}{{view.content.topic}}{{/link-to}}
{{/if}}
