<div class="reference-meta">
  <p>
    {{#if isDeal}}
      Re: {{resource-link-to reference}}, {{resource-link-to reference.contact}}{{#if reference.contact.company}}, {{resource-link-to reference.contact.company}}{{/if}}
    {{/if}}

    {{#if isEmail}}
      Re: {{resource-link-to reference}}, {{resource-link-to reference.sender}} {{#if reference.sender.company}}, {{resource-link-to reference.sender.company}}{{/if}}
    {{/if}}

    {{#if isContact}}
      Re: {{resource-link-to reference}}{{#if reference.company}}, {{resource-link-to reference.company}}{{/if}}
    {{/if}}

    {{#if isCompany}}
      Re: {{resource-link-to reference}}
    {{/if}}

    {{#if isMeeting}}
      Re: {{resource-link-to reference}}
    {{/if}}

    {{#if isTodo}}
      Re: {{resource-link-to reference}}
    {{/if}}
  </p>
</div>
