<div class="ember-view forms-todo-view" id="ember7043">
  <div class="{{if justAdded 'just-added'}} {{if isExpanded 'is-expanded'}} form form-inline todo-form {{if hasReference 'has-reference'}}">
    <div class="{{if isFinished 'is-finished'}} {{if view.isFocused 'is-focused'}} primary expander">
      {{todo-finish-component register-as=todoFinishButton parent=this}}
      {{#if overdue}}
        <span class="pull-right overdue-alert" data-toggle="tooltip" data-placement="right" data-original-title="{{overdueText}}"><i class="ss-standard ss-clock"></i></span>
      {{/if}}

      {{#if comments.length}}
        <i class="ss-chat pull-right form-box-comments-icon"></i>
      {{/if}}

      {{#if showSuccess}}
        <span class="success-message green pull-right">Todo saved</span>
      {{/if}}

      <div class="ember-view field field-blend-in mention-field-view todo" id="ember7051">
        {{todo-form-field register-as=todoField classNames="field field-blend-in" viewName="description"}}
      </div>

    </div>

    <a tabindex="3" class="btn-text pull-right btn-options" {{action "toggleExpanded" bubbles=false}}>
      {{#if isExpanded}}
        <i class="ss-standard ss-navigateup"></i>
      {{else}}
        <i class="ss-standard ss-navigatedown"></i>
      {{/if}}
    </a>
  </div>

  {{#if isExpanded}}
    <div class="expanded-fields">
      <div class="form-row">
        <div class="field-group meeting-form-invite">
          {{date-picker date=finishBy class="field" submitForm="trySubmit" ignoreEmpty=true}}
          {{autocomplete-textbox source=users value=user queryKey="displayName" validations=userValidations validator=controller validationField="user" leader="Assigned To"}}
        </div>

      </div>

      <!--<div class="form-row form-buttons">
        <div class="pull-right">
          {{#if showAddAction}}
            <button class="btn btn-link btn-none" {{action "deleteTask" model}}><i class="ss-standard ss-trash"></i></button>
          {{/if}}
          <button class="btn btn-main btn-primary" type="submit" {{action "submit"}}>Save</button>
        </div>
      </div>-->

    </div>
  {{/if}}
</div>
