<label for="{{unbound checkBoxId}}" class="switch">
  {{label}}
  <input id="{{unbound checkBoxId}}" type="checkbox" checked={{checked}} class="switch-input">
  <span class="switch-label" data-on={{dataOn}} data-off={{dataOff}}></span>
  <span class="switch-handle"></span>
</label>