{{#each files}}
  <div class="upload-file">
    {{#unless isUploading}}
      <a href="{{unbound attachment.url}}" target="_new">{{name}} ({{size}})</a>
    {{else}}
      {{name}} ({{size}})
    {{/unless}}
    <button type="button" {{action removeFile this}} class="close">
      {{#unless isUploading}}
        <i class="ss-standard ss-delete"></i>
      {{else}}
        <img src="/images/ajax-loader.gif"/> <span class="muted">uploading...</span>
      {{/unless}}
    </button>
  </div>
{{/each}}
