<i class="ss-standard ss-attach"></i>
<div>
{{#if name}}
  {{#unless file.isUploading}}
    <a href="{{unbound file.attachment.url}}" target="_new" class="uploaded-file">
      <span>{{file.name}} ({{size}})</span>
    </a>
  {{else}}
    <span>{{file.name}} ({{file.size}})</span>
  {{/unless}}
{{else}}
  {{#if file.attachment.isLoaded}}
    <a href="{{unbound file.attachment.url}}" target="_new" class="uploaded-file">
      <span>{{file.attachment.fileName}}</span>
    </a>
  {{else}}
    <span>{{file.attachment.fileName}}</span>
  {{/if}}
{{/if}}
{{#unless file.attachment.isLoaded}}
  <div class="progress progress-striped">
    <div class="bar" {{bind-attr style="fakeProgressWidth"}}></div>
  </div>
{{else}}
  {{#unless hideUploadedBy}}
    <span class="uploaded-by">uploaded by{{resource-link-to file.attachment.uploadedBy}}</span>
  {{/unless}}
  <a href="#" {{action "removeFile" file}} class="delete">
    <i class="ss-standard ss-delete"></i>
  </a>
{{/unless}}
</div>