<div class='user-total' {{action "showUserRecords"}}>
  <span>
    {{! FIXME: IMPORT AVATAR}}
    {{!avatar user}}
  </span>
  <span class="who" data-toggle="tooltip" data-placement="right" data-original-title={{user.email}}>
    {{#if isShared}}
      @{{user.email}}
    {{else}}
      {{user.displayName}}
    {{/if}}
  </span>
  <span class="badge">{{userTotal.total}}</span>
</div>
