<table class="variadic-table">
  <thead>
    <tr>
      {{#if check}}
      <th class="check">
        {{x-select leader=column.heading checked=allChecked}}
      </th>
      {{/if}}
      {{#each column in columns}}
        {{#if column.sortOn}}
          <th {{bind-attr class="column.classNames"}}>
            {{table-sorter heading=column.heading sortOn=column.sortOn sort="sortTable" initialDesc=column.initialDesc}}
          </th>
        {{else}}
          <th {{bind-attr class="column.classNames"}}>{{column.heading}}</th>
        {{/if}}
      {{/each}}
    </tr>
  </thead>
  <tbody>
{{#each item in list itemController="variadicItem"}}
  <tr {{bind-attr class="item.isChecked:is-checked"}}>
    {{#if check}}
      {{x-select checked=item.isChecked disabled=allChecked tagName="td" classNames="check"}}
    {{/if}}
    {{#each column in columns}}
      {{#with item}}
        <td {{bind-attr class="column.classNames"}}>
          {{#if column.avatar}}
            {{dynamicAvatar item column}}
          {{/if}}
          {{#if column.component}}
            {{renderComponent item column}}
          {{else}}
            {{getProperty item column}}
          {{/if}}
        </td>
      {{/with}}
    {{/each}}
  </tr>
{{else}}
  {{#unless list.content.isLoading}}
    <tr>
      <td {{bind-attr colspan="colSpan"}} class="text-center">No Results</td>
    </tr>
  {{/unless}}
{{/each}}
  </tbody>
</table>