<table class="variadic-table">
  <thead>
    <tr>
      {{#if check}}
      <th class="check">
        {{x-check checked=allChecked}}
      </th>
      {{/if}}
      {{#each columns as |column|}}
        {{#if column.sortOn}}
          <th class={{column.classNames}}>
            <!-- UPGRADE: NEED A BETTER FIX ONCE WE HAVE PROPER SUB-EXPRESSIONS FROM LATEST EMBER-->
            {{#unless column.dynamicHeading}}
              {{table-sorter heading=column.heading sortOn=column.sortOn sort="sortTable" initialDesc=column.initialDesc}}
            {{else}}
              {{table-sorter heading=dynamicHeading sortOn=column.sortOn sort="sortTable" initialDesc=column.initialDesc}}
            {{/unless}}
          </th>
        {{else}}
          {{#unless column.dynamicHeading}}
            <th class={{column.classNames}}>{{column.heading}}</th>
          {{else}}
            <th class={{column.classNames}}>{{dynamicHeading}}</th>
          {{/unless}}
        {{/if}}
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each list as |item|}}
      {{variadic-row item=item check=check columns=columns table=this}}
    {{/each}}
  </tbody>
</table>
{{! FIXME IMPORT MODAL}}
{{!partial 'modal'}}