<table class="contacts-table">
  <thead>
    <tr>
      {{#if check}}
      <th class="check">
        <input type="checkbox"/>
      </th>
      {{/if}}
      {{#each column in columns}}
        {{#if column.sortOn}}
          <th {{bind-attr class="column.classNames"}}>
            {{table-sorter heading=column.heading sortOn=column.sortOn sort="sortTable"}}
          </th>
        {{else}}
          <th {{bind-attr class="column.classNames"}}>{{column.heading}}</th>
        {{/if}}
      {{/each}}
    </tr>
  </thead>
  <tbody>
{{#each item in list itemController="varidicItem"}}
  <tr {{bind-attr class="item.isChecked:is-checked"}}>
    {{#if check}}
      <td class="check">
        {{input type="checkbox" checked=item.isChecked}}
      </td>
    {{/if}}
    {{#each column in columns}}
      {{#with item}}
      <td {{bind-attr class="column.classNames"}}>
        {{#if column.component}}
          {{renderComponent item column}}
        {{else}}
          {{#if column.avatar}}
            {{dynamicAvatar item column}}
          {{/if}}
          {{getProperty item column}}
        {{/if}}
      </td>
      {{/with}}
    {{/each}}
  </tr>
{{else}}
  {{#unless list.content.isLoading}}
    <tr>
      <td {{bind-attr colspan="colSpan"}} class="text-center">No Results</td>
    </tr>
  {{/unless}}
{{/each}}
  </tbody>
</table>