<table class="contacts-table">
  <thead>
    <tr>
      <th class="check">
        <input type="checkbox"/>
      </th>
      {{#each column in columns}}
        <th>{{column.heading}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
{{#each item in list}}
  <tr>
    <td class="check">
      <input type="checkbox"/>
    </td>
    {{#each column in columns}}
      <td {{bind-attr class="column.classNames"}}>
        {{getProperty item column}}
      </td>
    {{/each}}
  </tr>
{{else}}
  {{#unless list.content.isLoading}}
    <tr>
      <td {{bind-attr colspan="colSpan"}} class="text-center">No Results</td>
    </tr>
  {{/unless}}
{{/each}}
    {{regular-infinitescroller getMore="showMore" allLoaded=false isLoading=false}}
    {{#if list.content.isLoading}}
      <tr>
        <td {{bind-attr colspan="colSpan"}} class="text-center">
          <img src="/images/loading/ajax-loader.gif"/> <span class="muted">loading...</span>
        </td>
      </tr>
    {{/if}}
  </tbody>
</table>