<div class="sidebar-panel-header">
  <h6 class="sidebar-panel-title">
    Followers
  </h6>
</div>
<div class="sidebar-panel-content">
  <ul class="unstyled">
    {{#each follower in model.followers}}
      <li>
        {{avatar follower}}
        {{resource-link-to follower}}</br>
        {{follower.title}}
      </li>
    {{else}}
      <li>No followers yet!</li>
    {{/each}}
  </ul>

  {{#if canFollow}}
    {{#unless isFollowing}}
      <button class="btn-text btn-muted pull-right" {{action "follow" bubbles=false}}>Follow</button>
    {{else}}
      <span class="label label-success">Following</span>
      <button class="btn-text btn-muted pull-right" {{action "unfollow" bubbles=false}}>Unfollow</button>
    {{/unless}}
  {{/if}}
</div>