<div class="main-content">
  <div class="list-table">
    <div class="page-header row-fluid">
      <div class="table-container">
        <div class="subhead">
          <div class="pipeline-total">
            <span class="count">
              <span class="count-companies">Active Pipeline Total &gt;</span>
              <span class="count-people">0</span>
            </span>
          </div>
          <div class="left">
            <div class="nav-wrap">
              <div class="tools">
                <a {{action "showNewDealModal"}} href="#" class="btn btn-primary btn-icon btn-large">
                  <i class="ss-standard ss-plus"></i>Add {{list.itemName}}
                </a>
                <div class="btn-group vanilla">
                  <a href="#" data-toggle="dropdown" class="btn-text btn-black dropdown-toggle">
                    <i class="ss-standard ss-action"></i> Actions
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">Assign To</a>
                      <ul class="dropdown-menu">
                        {{#each user in users}}
                          <li>
                            <a href="#" {{action "assignAll" user}}>{{avatar user style="tiny"}}{{user.displayName}}</a>
                          </li>
                        {{/each}}
                      </ul>
                    </li>
                    <li>
                      <a href="#" {{action "confirmDeletion"}}>Delete</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-selector">
            {{rd-daterangepicker startDate=filterStartDate endDate=filterEndDate past=false future=true}}
            {{input type="text" value=searchText class="search-text" placeholder="search"}}
          </div>
        </div>
        <div class="left-table">
          {{variadic-table list=deals columns=fixedColumns checkAllItems="checkAllItems" allChecked=allChecked check=true classNames="fixed-table" sort="sort" classNames="fixed" dynamicHeading=list.itemName}}
        </div>
        <div class="right-table">
          {{variadic-table list=deals columns=checkedColumns sort="sort" classNames="variable" addColumnSelector=true columnSelection=availableColumns toggleColumnSelection="toggleColumnVisibility"}}
        </div>
        {{#if deals.isLoading}}
          <div class="loading" {{bind-attr colspan="colSpan"}} class="text-center">
            <span class="muted">Loading...</span>
          </div>
        {{/if}}
        {{regular-infinitescroller getMore="loadMoreDeals" allLoaded=false isLoading=false}}
      </div>
    </div>
  </div>
</div>
{{#if showDealModal}}
  {{#x-modal close="closeDealModal"}}
    {{deal-editor list=list deal=deal closeModal="closeDealModal"}}
  {{/x-modal}}
{{/if}}
{{#if showDealDrawer}}
  {{#x-drawer class="contact-drawer deal-drawer" closeDrawer="closeDealDrawer"}}
    {{! UPGRADE: use component helper when we upgrade}}
    {{renderComponent dealModel dealParams}}
  {{/x-drawer}}
{{/if}}
{{#if showContactDrawer}}
  {{#x-drawer class="contact-drawer" closeDrawer="closeContactDrawer"}}
    {{! UPGRADE: use component helper when we upgrade}}
    {{renderComponent contactModel contactParams}}
  {{/x-drawer}}
{{/if}}
{{#if showCompanyDrawer}}
  {{#x-drawer class="contact-drawer deal-drawer" closeDrawer="closeCompanyDrawer"}}
    {{! UPGRADE: use component helper when we upgrade}}
    {{renderComponent companyModel companyParams}}
  {{/x-drawer}}
{{/if}}
{{#delete-confirmation deleteAction="deleteAll" showDeleteConfirmation=showDeleteAllConfirmation}}
<p>This action cannot be undone! Deleting these <strong>{{checkedTotal}}</strong> item(s) will be permanent.</p>
{{/delete-confirmation}}