<a href="#" class="delete" {{action "removeQuery" query}}>
  <i class="ss-standard ss-delete"></i>
</a>
<span>{{query.displayName}}</span>
{{#if isBoolean}}
  {{#x-select value=query.value action="changeOperator" class="operator showing"}}
    {{#each operator in operatorSelection}}
      {{#x-option value=operator.value}}{{operator.text}}{{/x-option}}
    {{/each}}
  {{/x-select}}
{{/if}}
{{#if isUser}}
  {{autocomplete-textbox class="users" source=users value=query.value queryKey="displayName" action="queryByUser"}}
{{/if}}
{{#if isGeneric}}
  {{#x-select value=query.operator action="changeOperator" class="operator showing"}}
    {{#each operator in operatorSelection}}
      {{#x-option value=operator.value}}{{operator.text}}{{/x-option}}
    {{/each}}
  {{/x-select}}
  {{view queryValue}}
{{/if}}
