<div class="row">
  
  <div id="sidebar" class="span3">
    {{collection Radium.FeedFilterView 
      controllerBinding="Radium.selectedUserFeedController"
      contentBinding="Radium.pipelineController.filterTypes"
      categoryFilterBinding="Radium.selectedUserFeedController.categoryFilter"
    }}

    {{view Radium.UsersListView 
      selectedUserBinding="Radium.selectedUserFeedController.selectedUser"
    }}
  </div>
  
  <div class="span9">
    <div class="row">
      {{view Radium.GlobalSearchTextView}}
    </div>
    {{view Radium.AnnouncementsView}}
    <div id="form-container"></div>

    {{view Radium.DateFilterView dateFilterBinding="Radium.selectedUserFeedController.dateFilter"}}
    
    <div class="row">
    </div>
  </div>
</div>