<div class="row">
  <div class="span12">
    {{view Radium.GlobalSearchTextView class="pull-right"}}
    {{view Radium.AnnouncementsView}}
    <div id="form-container"></div>
  </div>
</div>
<div id="campaigns-all" class="row">
  <div class="span12">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Assigned To</th>
          <th>Name</th>
          <th>Customers</th>
          <th>Ends At</th>
          <th>Target Value</th>
        </tr>
      </thead>
      <tbody>
        {{#each Radium.campaignsController}}
          {{#view Radium.CampaignTableRow tagName="tr" contentBinding="this"}}
            <td>{{content.user.name}}</td>
            <td>
              <a {{bindAttr href="content.url"}} {{action "show"}}>{{content.name}}</a>
            </td>
            <td>{{content.totalContacts}}</td>
            <td>{{formatDate content.endsAt}}</td>
            <td>
              {{#if target}}
              {{content.target}} {{content.currency}}
              {{else}}
              0.00
              {{/if}}
            </td>
          {{/view}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>