<div class="row">
  <div id="sidebar" class="span3">
    {{#with Radium.selectedCampaignController.content}}
    <div class="module">
      <div class="component">
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        <dl>
          <dt>Target Value: </dt>
          <dd>
            {{#if target}}
              {{content.target}} {{content.currency}}
            {{else}}
              0.00
            {{/if}}
          </dd>
          <dt>Started On:</dt>
          <dd>{{formatDate createdAt}}</dd>
        </dl>
        <p>{{totalUsers}} people in this campaign</p>
      </div>
      <div id="owner" class="component">
        <img src="/images/headshots/mcnulty.jpg" class="avatar">
        <h5>Managing this Campaign</h5>
        <p class="name">{{user.name}}</p>
      </div>
    </div>
    {{/with}}

    {{collection Radium.FeedFilterView 
      controllerBinding="Radium.selectedUserFeedController"
      contentBinding="Radium.selectedCampaignController.filterTypes"
      categoryFilterBinding="Radium.selectedUserFeedController.categoryFilter"
    }}

    <h3>Working This Campaign</h3>
    {{view Radium.UsersListView 
      contentBinding="Radium.selectedCampaignController.content.users"
    }}
  </div>


  <div class="span9">
    {{view Radium.GlobalSearchTextView class="pull-right"}}
    {{view Radium.AnnouncementsView}}
    <div class="row">
      <span class="span9">
        {{#view emailButton class="btn btn-small"}}Send Email{{/view}}
        {{#view smsButton class="btn btn-small"}}Send SMS{{/view}}
        {{#view todoButton class="btn btn-small"}}Add Todo{{/view}}
        {{#view addTeamMemberButton class="btn btn-small"}}Add Team Member{{/view}}
        {{#view addToCampaignButton class="btn btn-small btn-primary"}}Add to Campaign{{/view}}
      </span>
    </div>
    <div id="form-container"></div>
    <div class="row">
      <div class="span9" id="summary">
        <h2>{{Radium.selectedCampaignController.content.name}} Summary</h2>
        {{#with Radium.selectedCampaignController.campaignStats}}
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Paid Deals</th>
              <th>Closed Deals</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{paidDeals}}</td>
              <td>{{closedDeals}}</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Pending Deals</th>
              <th>Rejected Deals</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{pendingDeals}}</td>
              <td>{{rejectedDeals}}</td>
            </tr>
          </tbody>
        </table>
        {{/with}}
      </div>
      <div class="span9">
        <div class="page-header">
          {{#with Radium.selectedCampaignController}}
          <h1>Finish by {{formatDate finishByDate}}</h1>
          {{/with}}
        </div>
        {{view campaignChart}}
      </div>
    </div>
  </div>
</div>