<h4>Your email <a href="#" {{action "showEmail" email}}>'{{email.subject}}'</a> has been opened by
  {{#if reference.isLoaded}}
    {{resource-link-to reference}}
  {{else}}
    {{partial 'is_loading'}}
  {{/if}}!</h4>
