<form class="well">
  <legend>Create a Deal</legend>
  
  {{view dealDescriptionField label="Description"}}

  {{view contactField label="Contact"}}
  
  <div class="form-inline">
    <label for="date">Line Items</label>
    {{view lineItemsContainer}}
  </div>

  <div class="inline-date-picker">
    <div class="pull-left">
      <label for="date">Close Date</label>
      {{view closeDateField}}
    </div>
    <div class="pull-left">
      {{view closeTimeField label="Close Time"}}
    </div>
    <div class="pull-left">
      {{#view submitButton class="btn btn-primary"}}Save{{/view}}
    </div>
  </div>
</form>