<div class="center">
  <fieldset class="long">
    {{view view.topicField}}
  </fieldset>
  <fieldset class="long">
    <div class="token-container">
      {{#view selectedInvitees}}
        {{#each content}}
          {{view Radium.TokenView itemBinding="this"}}
        {{/each}}
      {{/view}}
      {{view inviteField}}
    </div>
  </fieldset>
  <fieldset class="long">
    {{view locationField}}
  </fieldset>
  <fieldset class="date">
    {{view meetingStartDateField}}
    {{view startsAtField}}
    <span>to</span>
    {{view endsAtField}}
    {{view meetingEndDateField}}
  </fieldset>
  <hr>
  {{view daysActivities}}
  <span class="progress">
    <img alt="wait" src="/images/progress/progress.gif"/>
  </span>
  <div class="options">
    <button
      class="btn btn-success"
      {{bindAttr disabled="controller.isInvalid"}}
      {{action "submit" target="controller"}}
    >
      Save
    </button>
  </div>
</div>