<form class="well">
  <legend>Create a Meeting</legend>
  <fieldset>
    {{view topicField label="Topic"}}
    {{view locationField label="Location"}}
  </fieldset>
  <fieldset>
    <legend>Choose a date and time</legend>
    <label for="date">Date</label>
    {{view meetingDateField}}
  </fieldset>
    {{view startsAtField label="Starts At"}}
    <select id="start-time-meridian" style="width: 60px;">
      <option value="am" selected>AM</option>
      <option value="pm">PM</option>
    </select>
  </fieldset>
  <fieldset>
    {{view endsAtField label="Ends At"}}
    <select id="end-time-meridian" style="width: 60px;">
      <option value="am" selected>AM</option>
      <option value="pm">PM</option>
    </select>
  </fieldset>
  <fieldset>
    {{view inviteField label="Invite"}}

    {{#view selectedInvitees}}
      {{#each content}}
        {{view Radium.TokenView itemBinding="this"}}
      {{/each}}
      <div class="clearfix"></div>
    {{/view}}

  </fieldset>
  <fieldset>
  <div class="form-actions">
    {{#view submitButton class="btn btn-primary"}}Save{{/view}}
  </div>
</form>