<form class="well">
  <fieldset>
    {{view topicField label="Meeting Topic"}}

  </fieldset>
  <fieldset>
    {{view inviteField label="Invite"}}

    {{#view selectedInvitees}}
      {{#each content}}
        {{view Radium.TokenView itemBinding="this"}}
      {{/each}}
      <div class="clearfix"></div>
    {{/view}}

  </fieldset>
  <div class="meeting-date-picker">
    <div class="pull-left">
      <label for="date">Date</label>
      {{view meetingDateField}}
    </div>
    <div class="pull-left">
      {{view startsAtField label="Starts At"}}
    </div>
    <div class="pull-left">
      {{view endsAtField label="Ends At"}}
    </div>
  </div>
  <fieldset>
    {{view locationField label="Location"}}
    {{#view submitButton class="btn btn-primary"}}Save{{/view}}
  </fieldset>
  {{view daysActivities}}
  <span class="progress">
    <img alt="wait" src="/images/progress/progress.gif"/>
  </span>
</form>

