<legend>Send a Message</legend>
<label for="to">To</label>
{{#if params.target}}
  <p>{{params.target.name}} ({{params.target.emailAddresses.firstObject.value}})</p>
{{else}}
  {{view toField label="To"}}
  {{#view selectedToEmails}}
    {{#each content}}
      {{view Radium.TokenView itemBinding="this"}}
    {{/each}}
    <div class="clearfix"></div>
  {{/view}}
{{/if}}

{{view subjectField label="Subject"}}

<p><a href="#" {{action "toggleOptional"}}>{{toggleText}} CC/BCC</a></p>
{{#if isOptionalVisible}}
  {{view ccField label="CC"}}
  {{#view selectedCCEmails}}
    {{#each content}}
      {{view Radium.TokenView itemBinding="this"}}
    {{/each}}
    <div class="clearfix"></div>
  {{/view}}

  {{view bccField label="BCC"}}
  {{#view selectedBCCEmails}}
    {{#each content}}
      {{view Radium.TokenView itemBinding="this"}}
    {{/each}}
    <div class="clearfix"></div>
  {{/view}}
{{/if}}

{{view messageField label="Message"}}

<p><a href="#" {{action "toggleAttachment"}}>
  {{toggleAttachmentText}} Attachement
</a></p>

{{#if isAttachmentVisible}}
  <label for="attachment">Attachment</label>
  <input type="file" name="attachment" id="attachment">
{{/if}}

<div class="form-actions">
  {{#view submitButton class="btn btn-primary"}}Send{{/view}}
</div>