{{#view cancelFormButton class="close"}}×{{/view}}
<legend>Send a Message</legend>
<label for="to">To</label>
{{#if params.target}}
  <p>{{params.target.name}} ({{params.target.emailAddresses.firstObject.value}})</p>
{{else}}
  {{view Radium.AutocompleteTextField 
    id="to" class="input-xlarge"
    sourceBinding="Radium.everyoneController.all"
    valueBinding="data.name"
  }}
{{/if}}

{{view subjectField label="Subject"}}

<p><a href="#" {{action "toggleOptional"}}>{{toggleText}} CC/BCC</a></p>
{{#view messageOptionalFields}}
  <label for="cc">CC</label>
  {{view Radium.AutocompleteTextField 
    id="cc" class="input-xlarge"
    sourceBinding="Radium.everyoneController.all"
  }}

  <label for="bcc">BCC</label>
  {{view Radium.AutocompleteTextField 
    id="bcc" class="input-xlarge"
    sourceBinding="Radium.everyoneController.all"
  }}
{{/view}}

{{view messageField label="Message"}}

<p><a href="#" {{action "toggleAttachment"}}>
  {{toggleAttachmentText}} Attachement
</a></p>
{{#view attachmentField}}
  <label for="attachment">Attachment</label>
  <input type="file" name="attachment" id="attachment">
{{/view}}
<div class="form-actions">
  {{#view submitButton class="btn btn-primary"}}Send{{/view}}
</div>