{{#if selection}}
  <label>To: 
  {{#if selection.length}}
    {{#each selection}}
      {{name}} <{{emailAddresses.firstObject.value}}>
    {{/each}}
  {{else}}
    {{selection.name}} <{{selection.emailAddresses.firstObject.value}}>
  {{/if}}
  </label>
{{else}}
  <fieldset class="control-group">
    <label for="to">To:</label>
    <div class="token-container">
      {{#view selectedToEmails}}
        {{#each content}}
          {{view Radium.TokenView itemBinding="this"}}
        {{/each}}
      {{/view}}
      {{view toField}}
    </div>
  </fieldset>
{{/if}}

{{view subjectField label="Subject"}}

<p><a href="#" {{action "toggleOptional"}}>{{toggleText}} CC/BCC</a></p>
{{#if isOptionalVisible}}
  <fieldset class="control-group">
    <label for="cc">CC:</label>
    <div class="token-container">
      {{#view selectedCCEmails}}
        {{#each content}}
          {{view Radium.TokenView itemBinding="this"}}
        {{/each}}
      {{/view}}
      {{view ccField}}
    </div>
  </fieldset>

  <fieldset class="control-group">
    <label for="bcc">BCC:</label>
    <div class="token-container">
      {{#view selectedBCCEmails}}
        {{#each content}}
          {{view Radium.TokenView itemBinding="this"}}
        {{/each}}
      {{/view}}
      {{view bccField}}
    </div>
  </fieldset>
{{/if}}

{{view messageField label="Message"}}

<p><a href="#" {{action "toggleAttachment"}}>
  {{toggleAttachmentText}} Attachement
</a></p>

{{#if isAttachmentVisible}}
  <label for="attachment">Attachment</label>
  <input type="file" name="attachment" id="attachment">
{{/if}}

<div class="form-actions">
  {{#view submitButton class="btn btn-primary"}}Send{{/view}}
</div>