{{#view cancelFormButton class="close close-form"}}×{{/view}}
<legend>Send a Message</legend>
<label for="to">To</label>
{{#if params.target}}
  <p>{{params.target.name}} ({{params.target.emailAddresses.firstObject.value}})</p>
{{else}}
  {{view Radium.AutocompleteTextField 
    id="to" class="input-xlarge"
    sourceBinding="Radium.everyoneController.all"
    valueBinding="data.name"
  }}
{{/if}}

{{view subjectField label="Subject"}}

<p><a href="#" {{action "toggleOptional"}}>{{toggleText}} CC/BCC</a></p>
{{#if isOptionalVisible}}
  {{#view selectedCCEmails}}
    {{#each content}}
      {{view Radium.EmailTokenView itemBinding="this"}}
    {{/each}}
  {{/view}}
  {{view ccField label="CC"}}
{{/if}}

{{view messageField label="Message"}}

<p><a href="#" {{action "toggleAttachment"}}>
  {{toggleAttachmentText}} Attachement
</a></p>

{{#if isAttachmentVisible}}
  <label for="attachment">Attachment</label>
  <input type="file" name="attachment" id="attachment">
{{/if}}

<div class="form-actions">
  {{#view submitButton class="btn btn-primary"}}Send{{/view}}
</div>