<legend>Add a Todo for {{headerDate}}</legend>
<fieldset class="control-group">
  <label for="description">Task</label>
  {{view description}}
</fieldset>
<fieldset class="control-group">
  <label for="assigned-to">Assigned To</label>
  {{view assignToSelect}}
  <a href="#" {{action "toggleOptions"}}>{{toggleOptionsText}}</a>
</fieldset>

<div class="more-options" {{bindAttr class="hasNoOptions:hide"}}>
  <fieldset class="control-group">
    <label for="date">Finish By:</label>
    {{view finishByDateField}}
  </fieldset>
  <fieldset class="control-group" style="display:none">
    <label for="contacts">Contacts</label>
    {{#with Radium.contactsController}}
      {{#if selectedContacts}}
        {{selectedContactsNames}}
      {{/if}}
    {{/with}}
  
    {{view findContactsField id="contacts" name="contacts" class="input-xlarge"}}
  </fieldset>
  {{view reminderForm}}
</div>
<div class="form-actions">
  {{#view submitButton class="btn btn-primary"}}Create Todo{{/view}}
  {{#view cancelFormButton class="btn"}}Cancel{{/view}}
</div>