{{#view cancelFormButton class="close close-form"}}×{{/view}}
<fieldset class="control-group">
  {{view description}}
  {{#if isError}}
  <span class="help-inline">Can't create an empty todo.</span>
  {{/if}}
</fieldset>
<fieldset class="control-group">
  <label class="radium-control-label" for="assigned-to">Assigned To</label>
  <div class="controls">
    {{view assignToSelect}}
    <a href="#" {{action "toggleOptions"}}>{{toggleOptionsText}}</a>
  </div>
</fieldset>

<div class="more-options form-inline" {{bindAttr class="hasNoOptions:hide"}}>
  <fieldset>
    <div class="inline-fieldset">
      <label for="date">Finish By:</label>
      {{view finishByDateField}}
    </div>
    <div class="inline-fieldset">
      {{view reminderForm}}
    </div>
  </fieldset>
</div>
{{view submitButton class="btn btn-primary pin-bottom-right"}}