{{#view cancelFormButton class="close close-form"}}×{{/view}}
<legend>{{headerContext}} for {{headerDate}}</legend>
<fieldset class="control-group">
  {{view description}}
  {{#if isError}}
  <span class="help-inline">Can't create an empty todo.</span>
  {{/if}}
</fieldset>
<fieldset class="control-group">
  <label for="assigned-to">Assigned To</label>
  {{view assignToSelect}}
  <a href="#" {{action "toggleOptions"}}>{{toggleOptionsText}}</a>
</fieldset>

<div class="more-options" {{bindAttr class="hasNoOptions:hide"}}>
  <fieldset class="control-group">
    <label for="date">Finish By:</label>
    {{view finishByDateField}}
  </fieldset>
  
  {{view reminderForm}}
</div>
<div class="form-actions">
  {{view submitButton class="btn btn-primary"}}
</div>
