{{#with todo}}
  <i class="pull-left activity-icon icon-assigned"></i>
  Assigned:
    {{#if isCall}}
      {{#with contact}}
        <i class="icon-call"></i>
        Call <a {{bindAttr href="contact.url"}}>{{contact.name}}</a>
      {{/with}}
    {{else}}
       <i class="icon-todo"></i>
      {{description}}
    {{/if}}
  {{#if user}}
   (<a {{bindAttr href="user.url"}}>{{user.abbrName}}</a>)
  {{/if}}
{{/with}}