{{#if isCall}}
<i class="pull-left activity-icon icon-call"></i>
{{else}}
<i class="pull-left activity-icon icon-todo"></i>
{{/if}}
Finished:
{{#if isCall}}
  {{#with reference.todo.reference.contact}}
    Call <a href="/contacts/{{unbound id}}">{{unbound name}}</a>
  {{/with}}
{{else}}
  {{unbound reference.todo.description}}
{{/if}}
{{#if user}}
 (<a href="/users/{{unbound user.id}}">{{unbound user.abbrName}}</a>)
{{/if}}