<div class="row activity">
  <div class="span1"><i class="icon-coins"></i></div>
  <div class="span5">
    {{#if isCreate}}
      {{partial "activities/deal/create"}}
    {{/if}}

    {{#if isDelete}}
      {{partial "activities/deal/delete"}}
    {{/if}}

    {{#if isAssign}}
      {{partial "activities/deal/assign"}}
    {{/if}}

    {{#if isStatusChange}}
      {{partial "activities/deal/status_change"}}
    {{/if}}

    {{#if isPublish}}
      {{partial "activities/deal/publish"}}
    {{/if}}

    {{render "comments" comments}}
  </div>
  <div class="span2">{{ageInWords timestamp}}</div>
</div>

