<div class="row activity">
  <div class="span1"><i class="icon-todo"></i></div>
  <div class="span5">
    <p>
      Email from {{link sender}} about "{{link email}}"
      <br />
      To: {{list recipients}}
    </p>

    {{render "comments" comments}}
  </div>
  <div class="span2">{{ageInWords timestamp}}</div>
</div>
