<form {{bindAttr class="isExpandable isEditable isNew isExpanded justAdded :form :form-inline :call-form"}}>
  <div {{bindAttr class="isFinished :primary"}} {{action expand}}>
    {{view view.checkbox classNames="pull-left"}}

    {{#if isExpanded}}
      {{view view.contactPicker classNames="contact-picker field field-blend-in"}}
    {{else}}
      {{#if contact}}
        {{#linkTo contact contact class="pull-left inline-contact-name"}}{{contact.name}}{{/linkTo}}
      {{else}}
      {{/if}}
    {{/if}}

    {{#if showComments}}
      <i class="ss-symbolicons-block ss-chat pull-right"></i>
    {{/if}}


    {{#if showCallBox}}
      {{view view.callBox classNames="pull-right"}}
    {{/if}}

    {{#if showOptions}}
      <a tabindex="3" class="btn btn-link pull-right" {{action toggleExpanded bubbles=false}}>
        {{#if isExpanded}}
          Hide
        {{else}}
          Options
        {{/if}}
      </a>
    {{/if}}

    {{#if showSuccess}}
      <span class="success-message green pull-right">Call saved</span>
    {{/if}}

    {{view view.todoField classNames="field field-blend-in" viewName="description"}}
  </div>

  {{#if isExpanded}}
    <div class="expanded-fields">
      <div>
        {{view view.datePicker class="field"}}
        {{view view.userPicker class="field"}}
      </div>

      {{#if isEditable}}
        <div class="form-buttons">
          <button class="btn btn-primary pull-right" type="submit" {{action submit}}>Save</button>
        </div>
      {{/if}}

      {{partial 'forms/tasks'}}
      {{partial 'forms/footer'}}
    </div>
  {{/if}}
</form>
