<form {{bindAttr class="isExpandable isEditable isExpanded justAdded :form-inline :call-form"}}>
  <div {{bindAttr class="isFinished :main"}} {{action expand}}>
    {{view view.checkbox classNames="pull-left"}}

    {{#if showOptions}}
      <a tabindex="3" class="btn btn-link pull-right" {{action toggleExpanded}}>
        {{#if isExpanded}}
          Hide
        {{else}}
          Options
        {{/if}}
      </a>
    {{/if}}

    {{#if showComments}}
      <i class="icon-comment pull-right"></i>
    {{/if}}

    {{#if showSuccess}}
      <span class="success pull-right">Call Added</span>
    {{/if}}

    {{#if showCallBox}}
      <div class="btn-group call-control-box pull-right">
        <button class="btn btn-success">
          <i class="icons-call-white"></i>
        </button>
        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" tabindex="-1">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">138213947834</a></li>
          <li><a href="#">329841932847</a></li>
          <li><a href="#">132948738873</a></li>
          <li><a href="#">Other Number</a></li>
        </ul>
      </div>
    {{/if}}

    {{view view.todoField classNames="field field-blend-in"}}
  </div>

  {{#if isExpanded}}
    <div class="options">
      {{view view.datePicker class="field"}}
      {{view view.userPicker class="field"}}

      {{#if isEditable}}
        <button class="btn btn-primary pull-right" type="submit" {{action submit}}>Save</button>
      {{/if}}
    </div>
  {{/if}}
</form>
