<form {{bind-attr class="isExpandable isEditable isNew isExpanded justAdded :form :form-inline :call-form"}}>
  <div {{bind-attr class="isFinished view.isFocused :primary"}} {{action expand}}>
    {{view view.checkbox classNames="pull-left"}}

    {{#if isExpanded}}
      {{view view.contactPicker classNames="contact-picker field field-blend-in"}}
    {{else}}
      {{#if contact}}
        {{#link-to "contact" contact class="pull-left inline-contact-name"}}Call {{contact.displayName}}{{/link-to}}
      {{else}}
        {{view view.contactPicker classNames="contact-picker field"}}
      {{/if}}
    {{/if}}

    {{#if showComments}}
      <i class="ss-chat pull-right form-box-comments-icon"></i>
    {{/if}}


    {{!#if showCallBox}}
      {{!view view.callBox classNames="pull-right"}}
    {{!/if}}

    {{#if showOptions}}
      <a tabindex="3" class="btn btn-link pull-right" {{action toggleExpanded bubbles=false}}>
        {{#if isExpanded}}
          Hide
        {{else}}
          Options
        {{/if}}
      </a>
    {{/if}}

    {{#if showSuccess}}
      <span class="success-message pull-right">Call saved</span>
    {{/if}}

    {{#if showOptions}}
      {{view view.todoField classNames="field field-blend-in" viewName="description"}}
    {{else}}
      <p class="call-description"> – {{description}}</p>
    {{/if}}

    {{partial "forms/reference"}}
  </div>

  {{#if isExpanded}}
    <div class="expanded-fields">
      <div class="form-row">
        <div class="field-group meeting-form-invite">
          {{view view.datePicker class="field"}}
          {{view view.userPicker class="field"}}
        </div>
      </div>

      {{#if isEditable}}
        <div class="form-row form-buttons">
          {{#if showAddAction}}
            {{partial 'add_action'}}
          {{/if}}
          <div class="pull-right">
            {{#if showAddAction}}
              <button class="btn btn-link" {{action deleteTask model}}>Delete call</button>
            {{/if}}
            <button class="btn btn-primary" type="submit" {{action submit}}>Save</button>
          </div>
        </div>
      {{/if}}

      {{partial 'forms/tasks'}}
      {{partial 'forms/footer'}}
    </div>
  {{/if}}
</form>
