{{#if view.disabled}}
  <i class="ss-standard ss-calendar"></i>
{{else}}
  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      <i class="ss-standard ss-calendar"></i>
    </button>
    <ul class="dropdown-menu">
      <li><a {{action setDate 'today' target=view}}>Today</a></li>
      <li><a {{action setDate 'tomorrow' target=view}}>Tomorrow</a></li>
      <li><a {{action setDate 'this_week' target=view}}>Later This Week</a></li>
      <li><a {{action setDate 'next_week' target=view}}>Next Week</a></li>
      <li><a {{action setDate 'next_month' target=view}}>In a Month</a></li>
      <li>
        <a class="datepicker-link" data-date="{{unbound view.defaultDate}}" href="#">
          <i class="ss-standard ss-calendar"></i>Pick a Date
        </a>
      </li>
    </ul>
  </div>
{{/if}}
<span class="text">{{view.leader}}</span>
{{view view.humanTextField}}

