<form class="form">
  <div class="block context">
    <div {{bindAttr class="view.toList.isInvalid:is-invalid :recipients"}}>
      <div class="to">
        <span>To</span>
      </div>
      {{view view.to class="field" viewName="toList"}}
      <div class="bboptions">
        <span>
          {{#unless showCc}}
            <a href="#" {{action expandList 'cc'}}>CC</a>
          {{/unless}}
          {{#unless showBcc}}
            <a href="#" {{action expandList 'bcc'}}>BCC</a>
          {{/unless}}
        </span>
      </div>
    </div>
    {{#if showCc }}
      <hr/>
      <div class="recipients cclist">
        <div class="to">
          <span>CC</span>
        </div>
        {{view view.cc class="field" viewName="cc"}}
      </div>
    {{/if}}
    {{#if showBcc }}
      <hr/>
      <div class="recipients bcclist">
        <div class="to">
          <span>BCC</span>
        </div>
        {{view view.bcc class="field" viewName="bcc"}}
      </div>
    {{/if}}
  </div>
  <div class="block subject">
    <div>
      <i class="icon-plus"></i>
    </div>
    {{view view.subject}}
  </div>
  <div class="block body">
    {{view view.body}}
    <div>
      <div class="check-response">
        {{#unless showCheckForResponse}}
          <a href="#" class="btn" {{action expandCheckForResponse bubbles="false"}}>
            Check for response?
          </a>
        {{/unless}}
        {{#if showCheckForResponse}}
          <div>
            <span>Check for response in</span>
            {{view view.reminderLength}}
            <span>Days</span>
            <a href="#" class="btn btn-success">OK</a>
            <a href="#" class="btn" {{action expandCheckForResponse bubbles="false"}}>
              Cancel
            </a>
          </div>
        {{/if}}
      </div>
      <div class="signature">
        {{#if signature}}
          {{#unless view.signatureAdded}}
            <a href="#" {{action addSignature target="view" bubbles="true"}}>+ Add Signature</a>
          {{/unless}}
        {{/if}}
      </div>
    </div>
    <hr/>
    <div class="send">
      <a hef="#" class="btn btn-danger btn-large">Discard</a>
      <a hef="#" {{action submit bubbles="false"}} class="btn btn-success btn-large">Send</a>
    </div>
  </div>
</form>
