{{#if isSending}}
  <div class="block email-card message-card is-sending">
    <p><img src="/images/loading.gif"></p>
    <p class="muted">Sending</p>
  </div>
{{else}}
  <form class="form">
    {{#if isReply}}
      <h5>
        Reply to
        {{list email.toList}}

        <a class="pull-right" href="#" {{action expand}}>More Options</a>
      </h5>
    {{/if}}

    {{#if showAddresses}}
      <div class="addresses">
        <div {{bindAttr class="view.toList.isInvalid:is-invalid view.toList.isValid:is-valid :field :control-box :control-box-block-level :recipients"}}>
          <label>To</label>
          {{view view.to tabindex=1 placeholder="Names or email addresses" viewName="toList"}}

          <span class="toggles">
            {{#unless showCc}}
              <a href="#" class="muted" tabindex="7" {{action expandList 'cc'}}>CC</a>
            {{/unless}}
            {{#unless showBcc}}
              <a href="#" class="muted" tabIndex="7" {{action expandList 'bcc'}}>BCC</a>
            {{/unless}}
          </span>
        </div>

        {{#if showCc }}
          <div class="field control-box control-box-block-level recipients cc">
            <label class="muted">CC</label>
            {{view view.cc tabindex=8 placeholder="Names or email addresses" viewName="cc"}}
          </div>
        {{/if}}

        {{#if showBcc }}
          <div class="field control-box control-box-block-level recipients bcc">
            <label class="muted">BCC</label>
            {{view view.bcc tabindex=8 placeholder="Names or email addresses" viewName="bcc"}}
          </div>
        {{/if}}
      </div>
    {{/if}}

    {{#if showSubject}}
      <div>
        {{view view.subject tabindex=2 class="subject field input-block-level"}}
      </div>
    {{/if}}

    <div class="block body field">
      {{view view.body tabindex=3 class="field field-blend-in input-block-level"}}
      <div class="email-item-actions">
        {{#unless isPersonal}}
          {{#if showFormBox}}
            <button class="btn text-error" {{action toggleFormBox}}>
              <i class="ss-standard ss-delete"></i> Cancel
            </button>
          {{else}}
            <button class="btn" {{action toggleFormBox}}>
              <i class="ss-standard ss-check green"></i> Add todo
            </button>
          {{/if}}
        {{/unless}}

        <div class="check-response">
          {{#if showCheckForResponse}}
            <div class="popover bottom show check-response-popover">
              <div class="arrow"></div>
              <h3 class="popover-title">Check for response?</h3>
              <div class="popover-content">
                {{view view.reminderSwitch class="inline"}} in {{view view.reminderLength class="field"}} days
                <button href="#" class="btn" {{action toggleReminderForm bubbles="false"}}>
                  Done
                </button>
              </div>
            </div>
          {{/if}}
            <button class="btn btn-link btn-messages-action" tabindex="6" {{action toggleReminderForm bubbles="false"}} title="Radium will send you a notification if recipient has not responded" data-toggle="tooltip" >
              <i class="ss-standard ss-info"></i>
              {{#if includeReminder}}
                 Checking for response in {{reminderTime}} day(s)
              {{else}}
                 Check for response?
              {{/if}}
            </button>
        </div>

          <a {{action toggleSwitch}} class="btn btn-link btn-messages-action">
            <i class="ss-standard ss-filter"></i> Make Private
          </a>
        {{#unless view.signatureAdded}}
          <a href="#" tabindex="4" class="pull-right btn btn-link btn-messages-action" {{action addSignature target="view" bubbles="true"}}>
            <i class="ss-standard ss-write"></i> Add Signature
          </a>
        {{/unless}}
      </div>
    </div>
    <div class="footer">
      <div class="pull-right">
        {{#if showEmailCancel}}
          <button tabindex="5" {{action cancelSendEmail bubbles="false"}} class="btn">Cancel</button>
        {{/if}}
        <div class="btn-group">
          <button tabindex="6" {{action submit this controller bubbles="false"}} {{bindAttr disabled=isSaving}} class="btn btn-primary btn-wide">Send</button>
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Send Tomorrow</a></li>
            <li><a href="#">Send Next Week</a></li>
            <li class="dropdown-datepicker">{{view view.datePicker class="field"}}</li>
          </ul>
        </div>
      </div>
    </div>
  </form>

  {{#if view.showSignatureModal}}
    <div class="modal-backdrop">
      <div class="modal fade">
        <div class="modal-header">
          <button type="button" {{action closeModal target="view" bubbles="false"}} class="close">×</button>
          <h2>Add Signature?</h2>
        </div>
        <div class="modal-body">
          <form class="form">
            <p>Add a signature that can be appended onto the end of each email.</p>
            {{view view.signature class="field input-block-level"}}
          </form>
        </div>
        <div class="modal-footer">
          <a href="#" {{action closeModal target="view" bubbles="false"}} class="btn">Cancel</a>
          <a href="#" {{action createSignature bubbles="false"}} class="btn btn-primary">Done</a>
        </div>
      </div>
    </div>
  {{/if}}
{{/if}}
