{{#if isSending}}
  <div class="block email-card message-card is-sending">
    <p><img src="/images/loading.gif"></p>
    <p class="muted">Sending</p>
  </div>
{{else}}
  <form class="form">
    {{#if isReply}}
      <h5>
        Reply to
        {{list email.toList}}

        <a class="pull-right" href="#" {{action expand}}>More Options</a>
      </h5>
    {{/if}}

    {{#if showAddresses}}
      <div class="addresses">
        <div {{bindAttr class="view.toList.isInvalid:is-invalid view.toList.isValid:is-valid :field :control-box :control-box-block-level :recipients"}}>
          <span class="toggles pull-right">
            {{#unless showCc}}
              <a href="#" class="muted" tabindex="7" {{action expandList 'cc'}}>CC</a>
            {{/unless}}
            {{#unless showBcc}}
              <a href="#" class="muted" tabIndex="7" {{action expandList 'bcc'}}>BCC</a>
            {{/unless}}
          </span>
          <label>To</label>
          {{view view.to tabindex=1 placeholder="Names or email addresses" viewName="toList"}}
        </div>

        {{#if showCc }}
          <div class="field control-box control-box-block-level recipients cc">
            <label>CC</label>
            {{view view.cc tabindex=8 placeholder="Names or email addresses" viewName="cc"}}
          </div>
        {{/if}}

        {{#if showBcc }}
          <div class="field control-box control-box-block-level recipients bcc">
            <label>BCC</label>
            {{view view.bcc tabindex=8 placeholder="Names or email addresses" viewName="bcc"}}
          </div>
        {{/if}}
      </div>
    {{/if}}

    {{#if showSubject}}
      <div class="field control-box control-box-block-level recipients cc">
        <label>Subject</label>
        {{view view.subject tabindex=2 class="subject field input-block-level"}}
      </div>
    {{/if}}

    <div class="new-message-block">
      <div class="new-message-row new-message-compose">
        {{view view.body tabindex=3 class="field field-blend-in input-block-level"}}
      </div>

      <div class="clearfix new-message-row">
        <div class="btn-toolbar pull-right">
          {{#unless view.signatureAdded}}
            <button tabindex="4" class="btn btn-link btn-messages-action" {{action addSignature target="view" bubbles="true"}}>
              <i class="ss-standard ss-write"></i> Add Signature
            </button>
          {{/unless}}

          <button class="btn btn-link btn-messages-action">
            <i class="ss-standard ss-attach"></i> Add Attachment
          </button>

          <button class="btn btn-link btn-messages-action">
            <i class="ss-standard ss-trash"></i> Delete
          </button>
        </div>
      </div>

      <div class="email-item-actions new-message-row">
        <div class="btn-toolbar pull-right">
          {{#if showEmailCancel}}
            <button tabindex="5" {{action cancelSendEmail bubbles="false"}} class="btn">Cancel</button>
          {{/if}}
          <button class="btn">Save Draft</button>
          <div class="btn-group">
            <button tabindex="6" {{action submit this controller bubbles="false"}} {{bindAttr disabled=isSaving}} class="btn btn-primary btn-wide">Send</button>
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Send Tomorrow</a></li>
              <li><a href="#">Send Next Week</a></li>
              <li class="dropdown-datepicker">{{view view.datePicker class="field"}}</li>
            </ul>
          </div>
        </div>
        <div class="btn-toolbar">
          {{#unless includeReminder}}
            <button class="btn btn-link btn-messages-action" tabindex="6" {{action toggleReminderForm bubbles="false"}} title="Radium will send you a notification if recipient has not responded" data-toggle="tooltip" >
                <i class="ss-standard ss-info"></i> Check for response?
            </button>
          {{/unless}}
          <button {{action toggleSwitch}} class="btn btn-link btn-messages-action">
            <i class="ss-standard ss-filter"></i> Make Private
          </button>
        </div>
      </div>

      {{#if includeReminder}}
        <div class="new-message-row block-blue check-response">
          <div class="pull-right">
            <button class="btn btn-primary" {{action toggleReminderForm bubbles="false"}}>
              Cancel
            </button>
          </div>
          <p class="check-response-label"><i class="ss-standard ss-info muted"></i> Check for response by </p>
          {{view view.datePicker class="field"}}
        </div>
      {{/if}}

      {{#if showFormBox}}
        <div class="new-message-row block-gray">
          {{render "form_box" formBox}}
        </div>
      {{/if}}
    </div>
  </form>

  {{#if view.showSignatureModal}}
    <div class="modal-backdrop">
      <div class="modal fade">
        <div class="modal-header">
          <button type="button" {{action closeModal target="view" bubbles="false"}} class="close">×</button>
          <h2>Add Signature?</h2>
        </div>
        <div class="modal-body">
          <form class="form">
            <p>Add a signature that can be appended onto the end of each email.</p>
            {{view view.signature class="field input-block-level"}}
          </form>
        </div>
        <div class="modal-footer">
          <a href="#" {{action closeModal target="view" bubbles="false"}} class="btn">Cancel</a>
          <a href="#" {{action createSignature bubbles="false"}} class="btn btn-primary">Done</a>
        </div>
      </div>
    </div>
  {{/if}}
{{/if}}
