<form {{bindAttr class=":form"}}>
  <div class="block context">
    <div class="recipients">
      <div class="to">
        <span>To</span>
      </div>
      {{view view.to class="field" viewName="to"}}
      <div class="bboptions">
        <span>
          {{#unless showCc}}
            <a href="#" {{action expandList 'cc'}}>
              +CC
            </a>
          {{/unless}}
          {{#unless showBcc}}
            <a href="#" {{action expandList 'bcc'}}>
              +BCC
            </a>
          {{/unless}}
        </span>
      </div>
    </div>
    {{#if showCc }}
    <hr/>
    <div class="recipients">
      <div class="to">
        <span>CC</span>
      </div>
      {{view view.cc class="field" viewName="cc"}}
    </div>
    {{/if}}
    {{#if showBcc }}
      <hr/>
      <div class="recipients bcclist">
        <div class="to">
          <span>BCC</span>
        </div>
        {{view view.bcc class="field" viewName="bcc"}}
      </div>
    {{/if}}
  </div>
  <div class="block subject">
    <div>
      <i class="icon-plus"></i>
    </div>
    {{view view.subject}}
  </div>
  <div class="block body">
    {{view view.body}}
  </div>
</form>
