<table class="table table-striped table-bordered table-hover">
  {{#each content.meetings}}
    <tr>
      <td>
        {{avatar selectedUser}}
        {{#linkTo user this}}{{selectedUser.name}}{{/linkTo}}
      </td>
      <td>
        {{timeSpan}}
      </td>
      <td>
        {{topic}}
      </td>
      <td>
        {{#if hasConflict}}
        <i class="icon-tag"></i>
        Conflict
        {{/if}}
      </td>
    </tr>
  {{else}}
  <tr>
    <td colspan="4">No meeetings</td>
  </tr>
  {{/each}}
</table>

