<div class="btn-toolbar">
  <div class="btn-group">
    {{#each button in view.buttons}}
      {{#with button}}
        {{#if alwaysOpen}}
          <a class="{{unbound classes}}" {{action taskAction this target="view"}} class="btn">
            {{label}} {{view.additionalText}}
            {{#if icons}}
            <i class="{{unbound icons}}"></i>
            {{/if}}
          </a>
        {{else}}
          <a {{action toggleForm this target="view"}} class="btn">
            {{label}} {{view.additionalText}}
            {{#if closed}}
              <i class="icon-plus"></i>
            {{else}}
              <i class="icon-minus"></i>
            {{/if}}
          </a>
        {{/if}}
      {{/with}}
    {{/each}}
  </div>
</div>
<div class="rel">
  {{view view.TasksContainer viewName="tasksContainer"}}
</div>
