<div class="block block-arrow block-connected">
  <div class="btn-toolbar">
    <div class="btn-group">
      {{#each button in buttons}}
        {{#with button}}
          {{#if alwaysOpen}}
            <a class="{{unbound classes}}" {{action executeAction this}} class="btn">
              {{label}}
              {{#if icons}}
              <i class="{{unbound icons}}"></i>
              {{/if}}
            </a>
          {{else}}
            <a {{action toggleForm this}} class="btn">
              {{label}}
              {{#if closed}}
                <i class="icon-plus"></i>
              {{else}}
                <i class="icon-minus"></i>
              {{/if}}
            </a>
          {{/if}}
        {{/with}}
      {{/each}}
    </div>
  </div>
  <div class="rel">
    {{#if activeForm}}
      {{dynamicControl activeForm model}}
    {{/if}}
  </div>
</div>
