<div class="pull-left">
  {{#if view.disabled}}
    <i class="icon-map-marker"></i>
  {{else}}
    <a class="btn" href="#" {{action showMap target="view"}}>
      <i class="icon-map-marker"></i>
    </a>
  {{/if}}
</div>
{{#unless view.disabled}}
  <a class="btn btn-link pull-right" {{action showMap target="view"}}>Map</a>
  {{view view.mapModal}}
{{/unless}}
{{view view.locationField}}

