{{#if view.disabled}}
  <i class="icon-map-marker"></i>
{{else}}
  <div class="btn-group">
    <a class="btn" href="#" {{action showMap target="view"}}>
      <i class="icon-map-marker"></i>
    </a>
  </div>
{{/if}}
<span class="text">{{view.leader}}</span>
{{view view.locationField}}
{{#unless disabled}}
  <a class="btn btn-link pull-right" {{action showMap target="view"}}>Map</a>
  {{view view.mapModal}}
{{/unless}}

