<div {{bind-attr class="isExpandable isNew isExpanded justAdded :form :form-inline :meeting-form"}}>
  <div {{bind-attr class="isFinished view.isFocused showTopicTextBox:open:closed :primary :expander"}} {{action "expand" target="view"}}>

    <span class="icon"><i class="ss-standard ss-calendar"></i></span>

    {{#if showTopicTextBox}}
      {{view view.topicField classNames="field field-blend-in topic" viewName="topic"}}
    {{else}}
      <span class="topic">
        {{topic}} with
        {{#each attendees}}
          {{resource-link-to this}}
        {{/each}}
        <br>
        <span class="meeting-date">{{view.readableStartsAt}}</span>
      </span>
    {{/if}}

    <div class="additional">
      <a tabindex="3" class="btn-link pull-right" {{action "toggleExpanded" bubbles=false}}>
        {{#if isExpanded}}
          <i class="ss-standard ss-navigateup"></i>
        {{else}}
          <i class="ss-standard ss-navigatedown"></i>
        {{/if}}
      </a>

      {{#if showComments}}
        <i class="ss-symbolicons-block ss-chat pull-right form-box-comments-icon"></i>
      {{/if}}
    </div>
    {{#if showSuccess}}
      <span class="success green pull-right">Meeting saved</span>
    {{/if}}

  </div>

  {{#if isExpanded}}
    <div class="expanded-fields">
      <div class="form-row">
        <div class="field-group">
          {{date-picker date=startsAt leader='' class="field starts-at"}}
          {{view view.startsAt class="field"}} <span class="meeting-to">to</span> {{view view.endsAt class="field"}}
        </div>
      </div>
      <div class="form-row">
        <div class="field-group">
          {{autocomplete-textbox source=locations value=location icon="ss-icon ss-standard ss-location" queryKey="name" writeableValue=true placeholder="Location"}}
        </div>
      </div>
      <div class="form-row">
        <div class="field-group">
          <label class="icon-label"><i class="ss-symbolicons-block ss-write"></i></label>
          <div class="field-group-input">
            {{input type="text" value=description class="input-block-level" placeholder="Description" action="submit"}}
          </div>
          <div class="clearfix">
            <div class="pull-right">
              {{file-uploader files=controller.files disableSave=disableSave bucket=bucket model=model class="btn-file btn-messages-action"}}
            </div>
          </div>
        </div>
      </div>
      {{#if controller.files}}
        <div class="clearfix new-message-row">
          {{upload-filelist files=files}}
        </div>
      {{/if}}
      <div class="form-row">
        <div class="field-group meeting-form-invite">
          <div class="pull-right">
            <button class="btn btn-link" {{action "showCalendars"}}>
              {{formatDateTime startsAt format="calendar"}}'s Calendars
              <i {{bind-attr class=":ss-standard calendarsOpen:ss-navigateup:ss-navigatedown"}}></i>
            </button>
          </div>
          {{#unless isDisabled}}
            <label class="icon-label">
              <i class="ss-standard ss-user"></i>
            </label>
            <div class="attendee-form">
              {{async-autosuggest destination=participants placeholder="Enter attendees name" queryParameters=queryParameters filterResults=filterResults addSelection="addAttendee" removeSelection="removeAttendee" class="field" deleteOnBackSpace=false}}
            </div>
          {{/unless}}
        </div>
        {{#if calendarsOpen}}
          <div class="field-group meeting-existing">
            {{partial 'forms/existing_meetings'}}
          </div>
        {{/if}}
        {{#if attendees.length}}
          <div class="field-group meeting-form-attendees">
            <label class="icon-label">
              <i class="ss-standard ss-users"></i> Attendees
            </label>
            <ul class="unstyled meeting-form-attendees-list">
              {{each attendees itemViewClass="Radium.MeetingAttendeesView" itemController="meetingAttendeeItem"}}
            </ul>
          </div>
        {{/if}}
      </div>
      <div class="form-row form-buttons">
        {{#if showAddAction}}
          {{partial 'add_action'}}
        {{/if}}
        <div class="pull-right">
          <button class="btn btn-main" {{action "showCancelMeetingDialogue" target="view" bubbles=false}} {{bind-attr disabled="view.cancelMeetingDisabled"}}>Cancel Meeting</button>
          <button class="btn btn-main btn-primary" {{action "submit" bubbles=false}}>Save</button>
        </div>
      </div>

      {{partial 'forms/tasks'}}

      {{partial 'forms/footer'}}
    </div>
  {{/if}}
  {{view view.cancelMeetingDialogue}}
</div>
