<form {{bindAttr class="isExpandable isNew isEditable isExpanded justAdded :form :form-inline :meeting-form"}}>
  <div {{bindAttr class="hasElapsed showTopicTextBox:open:closed :primary"}} {{action expand}}>
    {{#if showComments}}
      <i class="ss-symbolicons-block ss-chat pull-right form-box-comments-icon"></i>
    {{/if}}

    {{#if showOptions}}
      <a tabindex="3" class="btn btn-link pull-right" {{action toggleExpanded bubbles=false}}>
        {{#if isExpanded}}
          Hide
        {{else}}
          Options
        {{/if}}
      </a>
    {{/if}}

    <div class="icon pull-left">
      <i class="ss-standard ss-calendar inline-form-icon"></i>
    </div>

    {{#if showSuccess}}
      <span class="success green pull-right">Meeting saved</span>
    {{/if}}

    {{#if showTopicTextBox}}
      {{view view.topicField classNames="field field-blend-in" viewName="topic"}}
    {{else}}
      <span class="topic">
        {{topic}} with
        {{#each attendees}}
          {{link  this}}
        {{/each}}
        at {{view.readableStartsAt}}
      </span>
    {{/if}}
  </div>

  {{#if isExpanded}}
    <div class="expanded-fields">
      <div class="form-row">
        <div class="field-group">
          {{view view.datePicker class="field"}}
          {{view view.startsAt class="field"}} to {{view view.endsAt class="field"}}
        </div>
      </div>
      <div class="form-row">
        <div class="field-group">
          {{view view.location class="field"}}
        </div>
      </div>
      <div class="form-row">
        <div class="field-group">
          <label class="icon-label"><i class="ss-symbolicons-block ss-write"></i></label>
          <div class="field-group-input">
            <input type="text" class="input-block-level" placeholder="Description">
          </div>
          <div class="clearfix">
            <div class="pull-right">
              <button class="btn btn-link">
                <i class="ss-standard ss-attach"></i> Attach a file
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="field-group meeting-form-invite">
          <div class="pull-right">
            <button class="btn btn-link" {{action showCalendars}}>
              {{currentDate}}'s Calendars
              <i {{bindAttr class=":ss-standard calendarsOpen:ss-navigateup:ss-navigatedown"}}></i>
            </button>
          </div>
          {{#unless isDisabled}}
            <label class="icon-label">
              <i class="ss-standard ss-user"></i>
            </label>
            {{view view.attendees class="field" viewName="attendeeList"}}
          {{/unless}}
        </div>
        {{#if calendarsOpen}}
          <div class="field-group">
            {{partial 'forms/existing_meetings'}}
          </div>
        {{/if}}
        {{#if attendees.length}}
          <div class="field-group meeting-form-attendees">
            <label class="icon-label">
              <i class="ss-standard ss-users"></i> Attendees
            </label>
            <ul class="inline meeting-form-attendees-list">
              {{#each attendees}}
              <li>
                {{avatar this}}
                {{name}}
                <a href="#" class="btn-close" {{action removeSelection this}}>&times;</a>
              </li>
              {{/each}}
            </ul>
          </div>
        {{/if}}
      </div>
      <div class="form-row form-buttons">
        {{#if showAddAction}}
          {{partial 'add_action'}}
        {{/if}}
        <div class="pull-right">
          <button class="btn btn-link" {{action showCancelMeetingDialogue target="view" bubbles=false}} {{bindAttr disabled="view.cancelMeetingDisabled"}}>Cancel</button>
          <button class="btn btn-primary" {{action submit bubbles=false}}>Save</button>
        </div>
      </div>

      {{partial 'forms/tasks'}}

      {{partial 'forms/footer'}}
    </div>
  {{/if}}
  {{view view.cancelMeetingDialogue}}
</form>
