<div class="block block-arrow block-connected">
  <div class="btn-toolbar">
    <div class="btn-group">
      {{#each button in view.buttons}}
        {{#with button}}
          {{#if alwaysOpen}}
            <a {{action taskAction this target="view"}} class="btn">
              {{label}}
            </a>
          {{else}}
            <a {{action toggleForm this target="view"}} class="btn">
              {{label}}
              {{#if closed}}
                <i class="icon-plus"></i>
              {{else}}
                <i class="icon-minus"></i>
              {{/if}}
            </a>
          {{/if}}
        {{/with}}
      {{/each}}
    </div>
  </div>
  <div class="rel">
    {{view view.TasksContainer viewName="tasksContainer"}}
  </div>
</div>
