<form class="form-inline todo-form">
  <div {{bindAttr class="isFinished :main"}}>
    {{view view.checkbox}}

    {{view view.todoField}}

    <a tabindex="3" class="btn btn-link pull-right" {{action toggleExpanded}}>Options</a>
  </div>

  {{#if isExpanded}}
    <div class="options">
      {{view view.datePicker}}
      {{view view.userPicker}}

      <button class="btn btn-primary pull-right" type="submit">Save</button>
    </div>
  {{/if}}
</form>
