<form {{bind-attr class="isExpandable isEditable isExpanded justAdded :form :form-inline :todo-form"}}>
  <div {{bind-attr class="isFinished view.isFocused :primary"}} {{action expand}}>
    {{view view.checkbox classNames="pull-left"}}

    {{#if showOptions}}
      <a tabindex="3" class="btn btn-link pull-right" {{action toggleExpanded bubbles=false}}>
        {{#if isExpanded}}
          Hide
        {{else}}
          Options
        {{/if}}
      </a>
    {{/if}}
    {{#if comments.length}}
      <i class="ss-chat pull-right form-box-comments-icon"></i>
    {{/if}}

    {{#if showSuccess}}
      <span class="success-message green pull-right">Todo saved</span>
    {{/if}}

    {{view view.todoField classNames="field field-blend-in" viewName="description"}}

    {{partial "forms/reference"}}
  </div>

  {{#if isExpanded}}
    <div class="expanded-fields">
      <div class="form-row">
        <div class="field-group meeting-form-invite">
          {{view view.datePicker class="field"}}
          {{view view.userPicker class="field"}}
        </div>
      </div>

      {{#if isEditable}}
        <div class="form-row form-buttons">
          {{#if showAddAction}}
            {{partial 'add_action'}}
          {{/if}}
          <div class="pull-right">
            {{#if showAddAction}}
              <button class="btn btn-link" {{action deleteTask model}}>Delete todo</button>
            {{/if}}
            <button class="btn btn-primary" type="submit" {{action submit}}>Save</button>
          </div>
        </div>
      {{/if}}

      {{partial 'forms/tasks'}}

      {{partial 'forms/footer'}}
    </div>
  {{/if}}
</form>
