<form class="form-inline todo-form">
  <div {{bindAttr class="isFinished :main"}}>
    {{view view.checkbox}}

    {{view view.todoField}}

    <div {{bindAttr class="reference:has-selection :selector"}}>
      <label><a {{action showAutocomplete href=true target=view}}>@</a></label>
      {{view view.autocomplete}}
    </div>

    <a tabindex="3" class="btn pull-right" {{action toggleExpanded}}>Options</a>
  </div>

  {{#if isExpanded}}
    <div class="options">
      <div class="date-control">
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <i class="icon-calendar"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a {{action setDate 'today' target=view href=true}}>Today</a></li>
            <li><a {{action setDate 'tomorrow' target=view href=true}}>Tomorrow</a></li>
            <li><a {{action setDate 'this_week' target=view href=true}}>Later This Week</a></li>
            <li><a {{action setDate 'next_week' target=view href=true}}>Next Week</a></li>
            <li><a {{action setDate 'next_month' target=view href=true}}>In a Month</a></li>
            <li>
              <a {{action showDatePicker target=view}}><i class="icon-calendar"></i>Pick a Date</a>
            </li>
          </ul>
        </div>
        {{view view.dueDateField}}
      </div>

      <div class="select-user-control input-append">
        {{view view.userSelector}}
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <i class="icon-chevron-down"></i>
          </button>
          <ul class="dropdown-menu">
            {{#each users}}
              <li><a {{action setUser this.content target=view href=true}}>{{name}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>

      <button class="btn btn-primary pull-right" type="submit">Save</button>
    </div>
  {{/if}}

  User: {{user}}
  FinishBy: {{finishBy}}
  Reference: {{reference}}
</form>
