<form {{bindAttr class="isExpandable isEditable isCall :form-inline :todo-form"}}>
  <div {{bindAttr class="isFinished :main"}} {{action expand}}>
    {{view view.checkbox}}

    {{view view.todoField}}

    {{#if showCallBox}}
      <div class="btn-group call-control-box pull-right">
        <button class="btn btn-success">
          <i class="icons-call-white"></i>
        </button>
        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" tabindex="-1">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">138213947834</a></li>
          <li><a href="#">329841932847</a></li>
          <li><a href="#">132948738873</a></li>
          <li><a href="#">Other Number</a></li>
        </ul>
      </div>
    {{/if}}

    {{#if isNew}}
      <a tabindex="3" class="btn btn-link pull-right" {{action toggleExpanded}}>
        {{#if isExpanded}}
          Hide
        {{else}}
          Options
        {{/if}}
      </a>
    {{else}}
      {{#if hasComments}}
        <i class="icon-comment"></i>
      {{/if}}
    {{/if}}
  </div>

  {{#if isExpanded}}
    <div class="options">
      {{view view.datePicker}}
      {{view view.userPicker}}

      <button class="btn btn-primary pull-right" type="submit" {{action submit}}>Save</button>
    </div>
  {{/if}}
</form>
