<form {{bindAttr class="isExpandable isEditable isExpanded justAdded :form :form-inline :todo-form"}}>
  <div {{bindAttr class="isFinished :primary"}} {{action expand}}>
    {{view view.checkbox classNames="pull-left"}}

    {{#if showOptions}}
      <a tabindex="3" class="btn btn-link pull-right" {{action toggleExpanded bubbles=false}}>
        {{#if isExpanded}}
          Hide
        {{else}}
          Options
        {{/if}}
      </a>
    {{/if}}

    {{#if showComments}}
      <i class="icon-comment pull-right"></i>
    {{/if}}

    {{#if showSuccess}}
      <span class="success-message green pull-right">Todo saved</span>
    {{/if}}

    {{view view.todoField classNames="field field-blend-in" viewName="description"}}
  </div>

  {{#if isExpanded}}
    <div class="secondary">
      {{view view.datePicker class="field"}}
      {{view view.userPicker class="field"}}

      {{#if isEditable}}
        <button class="btn btn-primary pull-right" type="submit" {{action submit}}>Save</button>
      {{/if}}
      {{partial 'shared/related_tasks'}}
      {{partial 'add_action'}}
    </div>
  {{/if}}
</form>
