<form {{bindAttr class="isExpandable isEditable isCall :form-inline :todo-form"}}>
  <div {{bindAttr class="isFinished :main"}} {{action expand}}>
    {{view view.checkbox}}

    {{view view.todoField}}

    {{#if isNew}}
      <a tabindex="3" class="btn btn-link pull-right" {{action toggleExpanded}}>
        {{#if isExpanded}}
          Hide
        {{else}}
          Options
        {{/if}}
      </a>
    {{else}}
      {{#if hasComments}}
        <i class="icon-comment"></i>
      {{/if}}
    {{/if}}
  </div>

  {{#if isExpanded}}
    <div class="options">
      {{view view.datePicker}}
      {{view view.userPicker}}

      <button class="btn btn-primary pull-right" type="submit" {{action submit}}>Save</button>
    </div>
  {{/if}}
</form>
