<div class="addresses control-group">
  {{#if parentController.parentController.isCompany}}
    <div class="control-group">
      {{input type="text" value=email class="field input-xlarge" placeholder="email"}}
    </div>
    <div class="control-group">
      {{input type="text" value=phone class="field input-xlarge" placeholder="phone"}}
    </div>
  {{/if}}
  <div class="control-group">
    {{input type="text" value=street class="field input-xlarge" placeholder="street"}}
  </div>
  <div class="control-group">
    {{input type="text" value=city class="field input-xlarge city" placeholder="City"}}
  </div>
  <div class="control-group">
    {{input type="text" value=state class="field state input-medium" placeholder="State"}}
    {{input type="text" value=zipcode class="field zip input-small" placeholder="Zip Code"}}
  </div>
  <div class="control-group">
    {{view Ember.Select contentBinding="controller.parent.controllers.countries" valueBinding="country"}}
  </div>
</div>
