<div class="row">
  
  <div id="sidebar" class="span4">
    {{view profileView}}
    {{collection Radium.ActivityFilterList tagName="table" class="filters types"}}
    {{collection usersList class="filters people"}}
  </div>
  
  <div id="feed" class="span12">
    {{view searchView}}
    {{ Radium.feedController.length }}
    <hr>
    {{#each Radium.feedController.days}}
      {{this}}
      <hr>
      {{#view Radium.TestView dateBinding="this"}}
        {{#each test }}
          {{ title }}
        {{/each}}
      {{/view}}
      <br><br>
    {{/each}}
  </div>
  
</div>