<div class="row">
  
  <div id="sidebar" class="span4">
    {{view profileView}}
    {{collection Radium.ActivityFilterList tagName="table" class="filters types"}}
    {{collection usersList class="filters people"}}
  </div>
  
  {{view searchView}}
  {{view Radium.DateFilterView}}
  {{view Radium.FeedDateGroupView id="feed"}}
  
</div>