<div class="row">
  
  <div id="sidebar" class="span3">
    {{view profileView}}
    {{collection Radium.ActivityFilterList}}
    <h4>Team</h4>
    {{collection usersList id="user-list" class="filters people"}}
  </div>
  
  <div class="span9">
    <div class="row">
        {{view searchView}}
    </div>
    {{view Radium.TodoFormView}}
    {{view Radium.DateFilterView}}
    {{view Radium.AnnouncementsView}}
    <div class="row">
      {{view Radium.FeedDateGroupView id="feed" class="span9"}}
    </div>
  </div>
</div>