<div class="row">
  
  <div id="sidebar" class="span4">
    {{view profileView}}
    {{collection Radium.ActivityFilterList tagName="table" class="filters types"}}
    {{collection usersList class="filters people"}}
  </div>
  
  <div id="feed" class="span12">
    {{view searchView}}

    {{view Radium.FeedDateGroupView id="poop"}}
  </div>
  
</div>