<div class="page-header row-fluid companies-view">
  <div class="subhead">
    <div class="left">
      <div class="nav-wrap">
        <span class="count">
          <span {{bind-attr class=":chosen content.isLoading:is-loading"}}>
          {{#unless content.isLoading}}
            {{checkedTotal}}
          {{/unless}}
          </span>
          <span class="divider">/</span>
          <span {{bind-attr class=":total content.isLoading:is-loading"}}>
            {{#unless content.isLoading}}
              {{totalRecords}}
            {{/unless}}
          </span>
          <span class="subtitle">COMPANIES</span>
        </span>
        <div class="tools">
          <a href="#" {{action "showAddCompany"}} class="btn btn-primary btn-icon btn-large">
            <i class="ss-standard ss-user"></i>
            <span>Add Company</span>
          </a>
          <div class="btn-group vanilla">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
              <i class="ss-standard ss-cursor"></i> Actions
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Assign To</a>
                <ul class="dropdown-menu">
                  {{#each user in users}}
                    <li>
                      <a href="#" {{action "assignAll" user}}>{{avatar user style="tiny"}}{{user.displayName}}</a>
                    </li>
                  {{/each}}
                </ul>
              </li>
              <li>
                <a href="#" {{action "confirmDeletion"}}>Delete</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="working-anim">
      {{#if working}}
        <img src="/images/loading/ajax-loader.gif"/>
      {{/if}}
    </div>
    <div class="col-selector">
      {{input type="text" value=searchText class="searchbox" placeholder="search"}}
    </div>
  </div>
  {{add-company}}
  <div class="table-container companies">
    <div class="left-table">
      {{variadic-table list=controller columns=fixedColumns checkAllItems="checkAllItems" allChecked=allChecked check=true classNames="fixed-table" sort="sort" classNames="fixed"}}
    </div>
    <div class="right-table">
      {{variadic-table list=controller columns=columns sort="sort" classNames="variable"}}
    </div>
    {{#if content.isLoading}}
      <div class="loading" class="text-center">
        <span class="muted">Loading...</span>
      </div>
    {{/if}}
  </div>
  {{regular-infinitescroller getMore="showMore" allLoaded=false isLoading=false}}
</div>
{{#delete-confirmation deleteAction="deleteAll" showDeleteConfirmation=showDeleteConfirmation}}
<p>This action cannot be undone! Deleting these <strong>{{checkedTotal}}</strong> item(s) will be permanent.</p>
{{/delete-confirmation}}
{{#if showCompanyDrawer}}
  {{#x-drawer class="contact-drawer deal-drawer" closeDrawer="closeCompanyDrawer"}}
    {{! UPGRADE: use component helper when we upgrade}}
    {{renderComponent companyModel companyParams}}
  {{/x-drawer}}
{{/if}}
