<div class="page-header">
  <div class="address-book-controls">
    <div class="pull-right">
      <form class="form-search pipeline-search">
        <i class="ss-symbolicons-block ss-search"></i>
        {{input value=searchText type="text" class="field search-text"}}
      </form>
    </div>
  </div>
</div>


<table style="width: calc(100% - 15px);">
  <tr>
    <th class="row-selector"><input type="checkbox" style="visibility: hidden;"></th>
    <th>Name</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
</table>
{{#rd-lazy-each content=model endInSight="loadMoreContacts" height=500 rowHeight=50}}
  <table style="height: 50px;">
    <tr>
      <td class="row-selector">{{input type="checkbox"}}</td>
      <td>{{avatar this size="small" class="img-polaroid"}} {{displayName}}</td>
      <td>{{email}}</td>
      <td>
        <button class="btn btn-mini btn-main btn-primary" {{action "track" this}}>Track</button>
        <a href="#" {{action "destroyContact" this bubbles="false"}} class="btn btn-link btn-remove-field">
          <i class="ss-symbolicons-block ss-trash"></i>
        </a>
      </td>

    </tr>
  </table>
{{/rd-lazy-each}}
