<form class="well">
  <label for="task">Task</label>
  {{view Ember.TextArea id="task" class="span8"}}
  <label for="date">Date:</label>
  {{view Radium.DatePickerField id="date" class="input-small"}}
  <label for="time">Time:</label>
  {{view Ember.TextField id="time" class="input-small"}}
  <label for="assigned-to">Assigned To</label>
  {{view Ember.Select 
      id="assigned-to"
      contentBinding="Radium.usersController"
      optionLabelPath="content.abbrName"
      optionValuePath="content.id"
  }}
  <label for="customer">Customer</label>
  {{view Radium.AutocompleteTextField 
    id="customer" class="input-xlarge"
    sourceBinding="Radium.contactsController.contactNames"
  }}

  {{view Radium.FormCheckbox 
      title="Add Reminder" 
      valueBinding="wantsReminder"
  }}

  {{#view addReminder}}
    <label for="todo-reminder">When</label>
    <select id="todo-reminder" name="todo-reminder">
      <option value="300">Right before!</option>
      <option value="1800">Half hour</option>
      <option value="3600">An hour</option>
      <option value="10800">3 hours</option>
      <option value="86400">A day</option>
      <option value="259200">3 Days</option>
    </select>
    <label for="by">By</label>
    <select id="by" name="by">
      <option value="sms">SMS</option>
      <option value="email">Email</option>
    </select>
  {{/view}}

  <div class="form-actions">
    {{#view submitButton class="btn btn-primary"}}Save{{/view}}
    {{#view cancelFormButton class="btn"}}Cancel{{/view}}
  </div>
</form>