{{#if primaryAddress}}
  {{#with primaryAddress}}
    <div class="readonly readonly-address">
      <div>{{email}}</div>
      <div>{{phone}}</div>
      <div>{{street}}</div>
      <div>{{formatted}}</div>
      <div>{{country}}</div>
      <div class="location hidden">
        <a href="#"><i class="ss-standard ss-location"></i></a>
      </div>
    </div>
  {{/with}}
{{/if}}
