<ul class="unstyled inline attachments">
  {{#if view.percentage}}
    {{! FIXME: WEIRD SHIT HAPPENING WITH PROGRESS EVENT AND CORS}}
    {{!view Radium.ProgressBar percentageBinding="view.percentage"}}
    <img src="/images/ajax-loader.gif"/> <span class="muted">uploading...</span>
  {{/if}}
  <table class="table table-striped table-bordered table-hover">
    {{#if attachments.length}}
      <tr>
        <th>File Name</th>
        <th>Uploaded By</th>
      </tr>
    {{/if}}
    {{#each attachments}}
      <tr>
        {{#unless isLoaded}}
          <td colspan="2">
            {{partial 'is_loading'}}
          </td>
        {{else}}
          <td>
            <a href="{{unbound url}}" target="_new">
              <i class="ss-standard ss-attach"></i>
              <span class="file-name">{{fileName}}</span>
            </a>
          </td>
          <td>
            {{resource-link model=uploadedBy}}
          </td>
        {{/unless}}
      </tr>
    {{else}}
    <tr>
      <td colspan="2" class="text-center">
        No attachments
      </td>
    </tr>
    {{/each}}
  </table>
</ul>
<!--
<ul>
  <li>
    <a href="{{unbound url}}" target="_new">
      <i class="ss-standard ss-attach"></i>
      <span class="file-name">{{fileName}}</span>
    </a>
  </li>
</ul>
-->
