<td class="deal">
  <p>
    <span>{{#link-to "deal" this}}{{name}}{{/link-to}}</span><br/>
    {{#if hasPrimaryContact}}
      {{resource-link-to contact}}<br/>
      <small>{{contact.title}}</small>
       {{resource-link-to company}}<br/>
    {{else}}
      <span class="no-primary">No Primary Contact</span>
    {{/if}}
  </p>
</td>
