<div class="btn-group">
  <button {{bind-attr class=":btn :btn-main :btn-none :dropdown-toggle :needsclick controller.hasCheckedContent::muted"}} data-toggle="dropdown">
    <i class="ss-standard ss-action"></i>
    Actions <span {{bind-attr class=":caret hasCheckedContent::hide"}}></span>
  </button>
  {{#if hasCheckedContent}}
    <ul class="dropdown-menu">
      <li>
        <a href="#" {{action "showForm" 'assign'}}>Assign</a>
      </li>
      <li>
        <a href="#" {{action "showForm" 'todo'}}>Todo</a>
      </li>
      <li>
        <a href="#" {{action "confirmDeletion"}}>Delete</a>
      </li>
    </ul>
  {{/if}}
</div>
{{#delete-confirmation deleteAction="deleteAll" showDeleteConfirmation=showDeleteConfirmation}}
<p>This action cannot be undone! Deleting these <strong>{{checkedContent.length}}</strong> item(s) will be permanent.</p>
{{/delete-confirmation}}