{{#if showFormArea}}
<div class="block block-gray action-forms bulk-actions">
  <h5 class="bulk-actions-title">{{view.bulkLeader}}</h5>
  {{partial 'bulk_actions/reassign'}}
  {{#if showChangeStatusForm}}
    <form>
      <div class="change-status">
        {{view view.statusPicker}}
        <div class="assign-todo">
          <i class="ss-standard ss-todo"></i>
          {{view view.changeStatusTodo viewName="statusTodo"}}
        </div>
        <div class="pull-right">
          <a href="#" class="btn btn-primary" {{bind-attr disabled="controller.justAdded"}} {{action "changeStatus"}}>
            <i class="ss-standard ss-repeat"></i> Change Status
          </a>
        </div>
      </div>
      {{#if isLost}}
        <div>
          {{view view.lostBecause class="field" viewName="because"}}
        </div>
      {{/if}}
    </form>
  {{/if}}

  {{#if showEmailForm}}
    {{render "forms/email" newEmail}}
  {{/if}}

  {{#if showTodoForm}}
    {{render "forms/todo" todoForm}}
  {{/if}}

  {{#if showCallForm}}
    {{render "forms/call" callForm}}
  {{/if}}
</div>
{{/if}}
