<div class="page-header pipeline-header">
  <div class="pull-left">
    <div id="title">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="pull-right pipeline-header-tools">
    <form class="form-search pipeline-search">
      <i class="ss-symbolicons-block ss-search"></i>
      {{input type="text" value=searchText class="field search-text"}}
    </form>
    <div class="btn-toolbar">
      {{partial "pipeline/add_lead_btn"}}
      {{partial "pipeline/actions_btn"}}
      {{partial "pipeline/form_buttons"}}
    </div>
  </div>
</div>
{{partial "pipeline/form_area"}}
