<div id="header" class="page-header">
  <div id="title">
    <h1>{{title}}</h1>
  </div>
  <div id="controls">
    <div class="field control-box">
      <div class="btn-group">
        <a class="btn btn-link" href="#">
          <i class="icon-search"></i>
        </a>
        {{input type=text value=searchText}}
      </div>
    </div>
    <div class="field control-box date-filter">
      <span {{bindAttr class="visibleContent.length::muted"}}>{{selectedFilterText}}</span>
      <div class="pull-right dropdown-toggle" data-toggle="dropdown">
        <button class="btn">
          <i class="icon-arrow-down"></i>
        </button>
      </div>
      <ul class="dropdown-menu">
        {{#each filters}}
          <li>
            <a href="#" {{action changeFilter name}}>{{text}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="field control-box actions">
      <span {{bindAttr class="controller.hasCheckedContent::muted"}}>Actions</span>
      <div class="pull-right dropdown-toggle" data-toggle="dropdown">
        <button class="btn">
          {{#if hasCheckedContent}}
            <i class="icon-arrow-down"></i>
          {{else}}
            <i class="icon-arrow-up"></i>
          {{/if}}
        </button>
      </div>
      {{#if hasCheckedContent}}
        <ul class="dropdown-menu">
          <li>
            <a href="#" {{action showForm 'assign'}}>Assign</a>
          </li>
          <li>
            <a href="#" {{action showForm 'todo'}}>Todo</a>
          </li>
          <li>
            <a href="#" {{action showForm 'call'}}>Call</a>
          </li>
          {{#if isLeads}}
            <li>
              <a href="#" {{action showEmail}}>Email</a>
            </li>
          {{/if}}
          {{#unless isLeads}}
            <li>
              <a href="#" {{action showForm 'status'}}>Change Status</a>
            </li>
          {{/unless}}
          <li>
            <a href="#" {{action confirmDeletion}}>Delete</a>
          </li>
        </ul>
      {{/if}}
    </div>
    <div class="add-lead">
      <div class="dropdown-toggle" data-toggle="dropdown">
        <a class="btn btn-medium btn-info dropdown-toggle" data-toggle="dropdown">
          <i class="icon-plus icon-white"></i> NEW
        </a>
        <ul class="dropdown-menu pull-right">
          <li>{{#linkTo deals.new}}Deal{{/linkTo}}</li>
          <li>{{#linkTo leads.new}}Lead{{/linkTo}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{#if showFormArea}}
<div class="block block-blue block-arrow-bottom action-forms">
  <div class="upcase">{{view.bulkLeader}}</div>
  {{partial 'bulk_actions/reassign'}}
  {{#if showChangeStatusForm}}
    <form>
      <div class="change-status">
        {{view view.statusPicker}}
        <div class="assign-todo">
          <i class="icon-todo"></i>
          {{view view.changeStatusTodo viewName="statusTodo"}}
        </div>
        <div id="change-status-action">
          <a href="#" class="btn btn-medium btn-success" {{bindAttr disabled="controller.justAdded"}} {{action changeStatus}}>
            OK
          </a>
        </div>
      </div>
      {{#if isLost}}
        <div>
          {{view view.lostBecause class="field" viewName="because"}}
        </div>
      {{/if}}
    </form>
  {{/if}}

  {{#if showEmailForm}}
    {{render "forms/email" newEmail}}
  {{/if}}

  {{#if showTodoForm}}
    {{render "forms/todo" todoForm}}
  {{/if}}

  {{#if showCallForm}}
    {{render "forms/call" callForm}}
  {{/if}}
</div>
{{/if}}
