<div class="page-header pipeline-header">
  <div class="pull-left">
    <div id="title">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="pull-right">
    <div class="btn-toolbar">
      {{partial "pipeline/add_lead_btn"}}
      {{partial "pipeline/actions_btn"}}

      <div class="btn-group">
        <button {{bindAttr class=":btn :dropdown-toggle controller.hasCheckedContent::muted"}} data-toggle="dropdown">
          Actions <span {{bindAttr class=":caret hasCheckedContent::hide"}}></span>
        </button>
        {{#if hasCheckedContent}}
          <ul class="dropdown-menu">
            <li>
              <a href="#" {{action showForm 'assign'}}>Assign</a>
            </li>
            <li>
              <a href="#" {{action showForm 'todo'}}>Todo</a>
            </li>
            <li>
              <a href="#" {{action showForm 'call'}}>Call</a>
            </li>
            {{#if isLeads}}
              <li>
                <a href="#" {{action showEmail}}>Email</a>
              </li>
            {{/if}}
            {{#unless isLeads}}
              <li>
                <a href="#" {{action showForm 'status'}}>Change Status</a>
              </li>
            {{/unless}}
            <li>
              <a href="#" {{action confirmDeletion}}>Delete</a>
            </li>
          </ul>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="pipeline-header-center">
    <form class="form-search pipeline-search">
      <i class="ss-symbolicons-block ss-search"></i>
      {{input type=text value=searchText class="search-input"}}
    </form>
  </div>
</div>
{{#if showFormArea}}
<div class="block block-gray action-forms">
  <h5>{{view.bulkLeader}}</h5>
  {{partial 'bulk_actions/reassign'}}
  {{#if showChangeStatusForm}}
    <form>
      <div class="change-status">
        {{view view.statusPicker}}
        <div class="assign-todo">
          <i class="ss-standard ss-todo"></i>
          {{view view.changeStatusTodo viewName="statusTodo"}}
        </div>
        <div id="change-status-action">
          <a href="#" class="btn btn-medium btn-success" {{bindAttr disabled="controller.justAdded"}} {{action changeStatus}}>
            OK
          </a>
        </div>
      </div>
      {{#if isLost}}
        <div>
          {{view view.lostBecause class="field" viewName="because"}}
        </div>
      {{/if}}
    </form>
  {{/if}}

  {{#if showEmailForm}}
    {{render "forms/email" newEmail}}
  {{/if}}

  {{#if showTodoForm}}
    {{render "forms/todo" todoForm}}
  {{/if}}

  {{#if showCallForm}}
    {{render "forms/call" callForm}}
  {{/if}}
</div>
{{/if}}
