{{#if checkedContent.length}}
  {{control 'pipeline/form_widget' checkedContent}}
{{/if}}

<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>Deal</th>
    <th>Assigned To</th>
    <th>Value</th>
    <th>Pay By</th>
    <th>Next Task</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
    {{#each visibleContent itemController="pipelineItem"}}
      <tr {{bindAttr class="isChecked:success"}}>
        <td>
          {{view Ember.Checkbox checkedBinding="isChecked"}}
        </td>
        <td>
          {{#with contact}}
            {{avatar this}}
            {{#linkTo contact this}}{{name}}{{/linkTo}}
          {{/with}}
        </td>
        <td>{{name}}</td>
        <td>
          {{#linkTo user user}}{{user.name}}{{/linkTo}}
        </td>
        <td>{{currency value}}</td>
        <td {{bindAttr class="isPastPayment"}}>
          {{date payBy}}
        </td>
        <td>
          {{showWarningIfEmpty nextTask}}
        </td>
        <td>
          <a {{action deleteObject this target="controller"}}>
            <i class="icon-trash"></i>
          </a>
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="8" class="tac">No Deals</td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="8" class="tar">Total: {{currency valueTotal}}</td>
    </tr>
  </tfoot>
</table>

{{template "pipeline/show_more"}}

