{{#if showHeader}}
  {{partial 'pipeline/header'}}
{{/if}}
<table class="table table-hover pipeline-workflow-deals-list">
  <thead>
    <tr>
      <th class="checkbox">
        {{partial 'forms/check_all'}}
      </th>
      <th class="deal">Deal</th>
      <th class="assigned-to">Assigned To</th>
      <th class="pay-by">Pay By</th>
      <th class="next-task">Next Task</th>
      <th class="value">Value</th>
    </tr>
  </thead>
  <tbody>
    {{#each visibleContent itemController="pipelineItem"}}
      <tr {{bind-attr class="isChecked"}}>
        <td class="checkbox">
          {{check-box checked=isChecked class="checker-block"}}
        </td>
        <td class="deal">
          <p>
            <span class="name">{{#link-to "deal" this}}{{name}}{{/link-to}}</span><br/>
            {{#link-to "contact" contact}}{{contact.displayName}}{{/link-to}}<br/>
            {{contact.title}}
          </p>
        </td>
        <td class="assigned-to">
          <p>
            <span class="name">{{#link-to "user" user}}{{user.name}}{{/link-to}}</span></br>
            <span class="title">{{user.title}}</span>
          <p>
        </td>
        <td {{bind-attr  class=":pay-by isPastPayment"}}>
          {{formatDateTime payBy format=date}}
        </td>
        <td class="next-task">
          {{partial 'pipeline/pipeline_next_task'}}
        </td>
        <td class="value">{{currency value}}</td>
      </tr>
    {{else}}
      <tr>
        <td colspan="7">No Deals</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{partial "shared/show_more"}}
{{partial "pipeline/totals"}}
