<div class="page-header">
  <h1>Pipeline: Closed Deals</h1>
</div>

<table class="table table-list">
  <colgroup>
    <col class="checkbox">
    <col class="deal">
    <col class="assigned-to">
    <col class="pay-by">
    <col class="next-task">
    <col class="status">
    <col class="value">
  </colgroup>
  <thead>
    <tr>
      <th colspan="8">Total: {{currency total}}</th>
    </tr>
    <tr>
      <th>
        {{view Ember.Checkbox checkedBinding="allChecked"}}
      </th>
      <th>&nbsp;</th>
      <th>Deal</th>
      <th>Assigned To</th>
      <th>Pay By</th>
      <th>Next Task</th>
      <th>Status</th>
      <th class="text-center">Value</th>
    </tr>
  </thead>
  <tbody>
    {{#each visibleContent}}
      <tr {{bindAttr class="isChecked"}}>
        <td>
          {{view Radium.Checkbox class="checker-block" checkedBinding="isChecked"}}
        </td>
        <td>
          <p>
            <big>{{#linkTo deal this}}{{name}}</big>{{/linkTo}}<br/>
            {{#linkTo contact contact}}{{contact.name}}{{/linkTo}}<br/>
            {{contact.title}}
          </p>
        </td>
        <td>
          <p>
            <big class="name">{{#linkTo user user}}{{user.name}}{{/linkTo}}</big></br>
            <span class="title">{{user.title}}</span>
          <p>
        </td>
        <td {{bindAttr class="isPastPayment"}}>
          {{formatDateTime payBy format=date}}
        </td>
        <td>
          {{#if nextTask}}
            <span class="fixme upcase">unimplemented</span>
          {{else}}
            <i class="icon-warning"></i>
          {{/if}}
        </td>
        <td><span class="fixme upcase">unimplemented</span></td>
        <td class="text-right">{{currency value}}</td>
      </tr>
    {{else}}
      <tr>
        <td colspan="7">No Deals</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{partial "shared/show_more"}}
