{{#if showHeader}}
  {{partial 'pipeline/header'}}
{{/if}}
<table class="table table-hover pipeline-workflow-deals-list">
  <thead>
    <tr>
      <th class="checkbox">
        {{partial 'forms/check_all'}}
      </th>
      <th class="deal">
        {{table-sorter heading="Deal" sortOn="name" sort="sortDeals"}}
      </th>
      <th class="assigned-to">
        {{table-sorter heading="Assigned To" sortOn="user.name" sort="sortDeals"}}
      </th>
      <th class="pay-by">Pay By</th>
      <th class="next-task">
        {{table-sorter heading="Next Task" sortOn="nextTask" sort="sortDeals"}}
      </th>
      <th class="value">
        {{table-sorter heading="Value" sortOn="value" sort="sortDeals"}}
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each visibleContent itemController="pipelineItem"}}
      <tr {{bind-attr class="isChecked"}}>
        <td class="checkbox">
          {{check-box checked=isChecked class="checker-block"}}
        </td>
        {{partial 'pipeline/deal_contact'}}
        <td class="assigned-to">
          <p>
            <span class="name">{{#link-to "user" user}}{{user.name}}{{/link-to}}</span></br>
            <span class="title">{{user.title}}</span>
          <p>
        </td>
        <td {{bind-attr  class=":pay-by isPastPayment"}}>
          {{formatDateTime payBy format=date}}
        </td>
        <td class="next-task">
          {{partial 'pipeline/pipeline_next_task'}}
        </td>
        <td class="value">{{currency value}}</td>
      </tr>
    {{else}}
      <tr>
        <td colspan="7">
          No deals
          {{#if isTextFiltering}}
            matching "{{searchText}}"
          {{/if}}
          {{#if isDateFiltering}}
            with a Closed Date between {{formatDateTime filterStartDate format=date}} and {{formatDateTime filterEndDate format=date}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{partial "shared/show_more"}}
{{partial "pipeline/totals"}}
