<div id="header" class="page-header">
  <div id="title">
    <h1>{{title}}</h1>
  </div>
  <div id="controls">
    <div class="field control-box">
      <div class="btn-group">
        <a class="btn btn-link" href="#">
          <i class="icon-search"></i>
        </a>
        <input type="text"/>
      </div>
    </div>
    <div class="field control-box date-filter">
      <span class="muted">Filter by date</span>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="icon-chevron-down"></i>
      </button>
    </div>
    <div class="field control-box actions">
      <span {{bindAttr class="controller.hasCheckedContent::muted"}}>Actions</span>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        {{#if hasCheckedContent}}
          <i class="icon-chevron-down"></i>
        {{else}}
          <i class="icon-chevron-up"></i>
        {{/if}}
      </button>
      {{#if hasCheckedContent}}
        <ul class="dropdown-menu">
          <li>
            <a href="#">Assign</a>
          </li>
          <li>
            <a href="#" {{action showForm 'todo'}}>Todo</a>
          </li>
          <li>
            <a href="#" {{action showForm 'call'}}>Call</a>
          </li>
          <li>
            <a href="#">Email</a>
          </li>
          <li>
            <a href="#">Change Status</a>
          </li>
          <li>
            <a href="#">Delete</a>
          </li>
        </ul>
      {{/if}}
    </div>
    <div class="add-lead">
      <a href="#" class="btn btn-medium btn-info">
        <i class="icon-plus icon-white"></i>
        Lead
      </a>
    </div>
  </div>
</div>
{{#if showFormArea}}
<div class="block block-connected block-arrow block-blue">
  <div class="bulk-leader">{{view.bulkLeader}}</div>
  {{#if showTodoForm}}
    {{control "forms/todo" todoForm}}
  {{/if}}

  {{#if showCallForm}}
    {{control "forms/call" callForm}}
  {{/if}}
</div>
{{/if}}
