<div id="header" class="page-header">
  <div id="title">
    <h1>{{title}}</h1>
  </div>
  <div id="controls">
    <div class="field control-box">
      <div class="btn-group">
        <a class="btn btn-link" href="#">
          <i class="icon-search"></i>
        </a>
        <input type="text"/>
      </div>
    </div>
    <div class="field control-box date-filter">
      <span class="muted">Filter by date</span>
      <div class="pull-right dropdown-toggle" data-toggle="dropdown">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <i class="icon-chevron-down"></i>
        </button>
      </div>
    </div>
    <div class="field control-box actions">
      <span {{bindAttr class="controller.hasCheckedContent::muted"}}>Actions</span>
      <div class="pull-right dropdown-toggle" data-toggle="dropdown">
        <button class="btn">
          {{#if hasCheckedContent}}
            <i class="icon-chevron-down"></i>
          {{else}}
            <i class="icon-chevron-up"></i>
          {{/if}}
        </button>
      </div>
      {{#if hasCheckedContent}}
        <ul class="dropdown-menu">
          <li>
            <a href="#" {{action showForm 'assign'}}>Assign</a>
          </li>
          <li>
            <a href="#" {{action showForm 'todo'}}>Todo</a>
          </li>
          <li>
            <a href="#" {{action showForm 'call'}}>Call</a>
          </li>
          <li>
            <a href="#">Email</a>
          </li>
          <li>
            <a href="#">Change Status</a>
          </li>
          <li>
            <a href="#">Delete</a>
          </li>
        </ul>
      {{/if}}
    </div>
    <div class="add-lead">
      <a href="#" class="btn btn-medium btn-info">
        <i class="icon-plus icon-white"></i>
        Lead
      </a>
    </div>
  </div>
</div>
{{#if showFormArea}}
<div class="block block-blue block-arrow-bottom">
  <div class="upcase">{{view.bulkLeader}}</div>
  {{#if showAssignForm}}
    <div class="assign">
      {{view view.userPicker}}
      <div class="control-box todo-label">
        <div class="pull-left">
          <label></label>
        </div>
      </div>
        {{view view.assignTodoField}}
      <div class="reassign pull-right">
        <a href="#" class="btn btn-medium btn-success" {{action reassign}}>
          <i class="icon-plus icon-white"></i>
          Reassign
        </a>
      </div>
    </div>
  {{/if}}
  {{#if showTodoForm}}
    {{control "forms/todo" todoForm}}
  {{/if}}

  {{#if showCallForm}}
    {{control "forms/call" callForm}}
  {{/if}}
</div>
{{/if}}
