<div class="page-header pipeline-header">
  <div class="pull-left">
    <div class="pipeline-title pull-left">
      <h1>{{title}}</h1>
    </div>
    <div class="pull-left pipeline-grand-total">
      <h3><span>Total</span> {{currency total}}</h3>
    </div>
  </div>

  <div class="pull-right page-header-controls">
    <form class="form-search pipeline-search">
      <i class="ss-symbolicons-block ss-search"></i>
      {{view view.pipelineSearch class="field search-text"}}
    </form>
    <form class="form-search pipeline-search">
      <i class="ss-symbolicons-block ss-calendar"></i>
      {{rd-daterangepicker startDate=filterStartDate endDate=filterEndDate past=showPastDateRange future=showFutureDateRange}}
    </form>
    {{partial "pipeline/add_lead_btn"}}
    {{partial "pipeline/actions_btn"}}
    {{partial "pipeline/form_buttons"}}
  </div>
</div>
{{partial "pipeline/form_area"}}
{{#if currentUser.isAdmin}}
  <div class="alert alert-info pipeline-cta-banner">
    <button type="button" class="close" data-dismiss="alert"><i class="ss-standard ss-delete"></i></button>
    <div class="row-fluid">
      <div class="span6">
        <h4 class="text-center">Set up your pipeline {{#link-to "settings.pipelineStates"}}here{{/link-to}}</h4>
      </div>
      <div class="span6">
        <h4 class="text-center">Set up your lead sources {{#link-to "settings.leadSources"}}here{{/link-to}}</h4>
      </div>
    </div>
  </div>
{{/if}}
<div class="clearfix"></div>
{{#unless workflowDeals.length}}
  <div class="text-center new-lead">
    {{#link-to "leads.new" class="btn btn-primary btn-large"}}
      Your pipeline is empty click here to <strong>Add a Lead</strong>
    {{/link-to}}
  </div>
{{else}}
  <div class="hidden">
    <div class="show-results">
      <a href="#" class="btn" {{action "toggleResultsTable" target="view" bubbles=false}}>
        {{#if view.showResults}}
          <i class="ss-standard ss-navigateup"></i>
        {{else}}
          <i class="ss-standard ss-navigatedown"></i>
        {{/if}}
      </a>
    </div>
    <table class="table table-striped table-bordered table-hover totals">
      <thead>
        <tr>
          <th class="title">STATE</th>
          <th>TOTAL</th>
          <th>PERCENTAGE</th>
          <th>VALUE</th>
        </tr>
      </thead>
      <tbody>
        {{#each workflowGroups itemController="workflowGroupItem"}}
        <tr>
          <td class="title">
            {{#if isWorkflow}}
              {{#link-to "pipeline.workflow" content.title}}<label class="control-lablel">{{capitalize content.title}}</label>{{/link-to}}
            {{/if}}
            {{#if isClosed}}
              {{#link-to "pipeline.closed"}}<label class="control-lablel">{{capitalize content.title}}</label>{{/link-to}}
            {{/if}}
            {{#if isLost}}
              {{#link-to "pipeline.lost"}}<label class="control-lablel">{{capitalize content.title}}</label>{{/link-to}}
            {{/if}}
          </td>
          <td>
            <label {{bind-attr class=":badge length:badge-success:badge-important"}}>{{length}}</label>
          </td>
          <td>
            {{percentage}}%
          </td>
          <td>
            <label>{{currency total}}</label>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="pipeline-workflows-list">
      {{#if activeDeals.length}}
        <div class="pipeline-workflows-list-item">
          <div class="page-header">
            <h3>All Active Deals ({{arrangedDealsLength}})</h3>
          </div>
          <div class="deals">
            {{render 'pipeline/workflow_deals' activeDeals}}
          </div>
        </div>
      {{/if}}
  </div>
{{/unless}}
