{{#if checkedContent.length}}
  {{control 'pipeline/form_widget' checkedContent}}
{{/if}}

<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th>Lead</th>
    <th>Assigned To</th>
    <th>Age</th>
    <th>Next Task</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
    {{#each visibleContent itemController="pipelineItem"}}
      <tr {{bindAttr class="isChecked:success"}}>
        <td>
          {{view Ember.Checkbox checkedBinding="isChecked"}}
        </td>
        <td>
          {{avatar this}}
          {{#linkTo contact this}}{{name}}{{/linkTo}}
        </td>
        <td>
          {{#if user}}
            {{avatar user}}
            {{#linkTo user user}}{{user.name}}{{/linkTo}}
          {{/if}}
        </td>
        <td>
          {{ageInWords createdAt}}
        </td>
        <td>
          {{showWarningIfEmpty nextTask}}
        </td>
        <td>
          <a {{action deleteObject this target="controller"}}>
            <i class="icon-trash"></i>
          </a>
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="6" class="tac">No leads</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{template "pipeline/show_more"}}
