<div class="page-header">
<h1>Pipeline: Leads</h1>
</div>

<table class="table table-list">
  <colgroup>
    <col class="checkbox">
    <col span="2" class="lead">
    <col class="assigned-to">
    <col class="age">
    <col class="next-task">
    <col class="deal-button">
    <col class="delete-button">
  </colgroup>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th colspan="2">Lead</th>
      <th>Assigned To</th>
      <th class="text-center">Age</th>
      <th class="text-center">Next Task</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each visibleContent}}
      <tr {{bindAttr class="isChecked"}}>
        <td>
          {{view Radium.Checkbox class="checker-block" checkedBinding="isChecked"}}
        </td>
        <td>{{avatar this size=medium}}</td>
        <td>
          <p>
            <big class="name">{{#linkTo contact this}}{{name}}{{/linkTo}}</big></br>
            <span class="title">{{title}}</span>
          <p>

          <p class="from"><strong>From:</strong>&nbsp;{{source}}</p>
        </td>
        <td>
          <p>
            <big class="name">{{#linkTo user user}}{{user.name}}{{/linkTo}}</big></br>
            <span class="title">{{user.title}}</span>
          <p>
        </td>
        <td {{bindAttr class="isExpired :text-center"}}>
          {{ageInWords createdAt}}
        </td>
        <td class="text-center">
          {{#if nextTask}}
            <span class="fixme upcase">unimplemented</span>
          {{else}}
            <i class="icon-warning"></i>
          {{/if}}
        </td>
        <td class="text-center">
          {{#linkTo unimplemented class="btn"}}Add Deal{{/linkTo}}
        </td>
        <td class="text-right">
          {{#linkTo unimplemented class="delete btn-link"}}
            <i class="icon-delete"></i>
          {{/linkTo}}
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="7" class="tac">No leads</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{partial "shared/show_more"}}
