{{partial 'pipeline/header'}}

<table class="table">
  <thead>
    <tr>
      <th class="checkbox">Select All</th>
      <th class="lead">Lead</th>
      <th class="assigned-to">Assigned To</th>
      <th class="age">Age</th>
      <th class="next-task">Next Task</th>
      <th class="deal-button">Forecast</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each visibleContent}}
      <tr {{bind-attr class="isChecked"}}>
        <td class="checkbox">
          {{check-box checked=isChecked class="checker-block"}}
        </td>
        <td class="lead">{{avatar this size=medium}}</td>
        <td class="assigned-to">
          <p>
            <span class="name">{{#link-to "contact" this}}{{displayName}}{{/link-to}}</span></br>
            <span class="title">{{title}}</span>
          <p>

          <p class="from"><strong>From:</strong>&nbsp;{{source}}</p>
        </td>
        <td>
          <p>
            <span class="name">{{#link-to "user" user}}{{user.name}}{{/link-to}}</span></br>
            <span class="title">{{user.title}}</span>
          <p>
        </td>
        <td {{bind-attr class="isExpired :age :text-center"}}>
          {{ageInWords createdAt}}
        </td>
        <td class="next-task">
          {{#if nextTask}}
            <span class="fixme upcase">unimplemented</span>
          {{else}}
            <i class="ss-standard ss-warning"></i>
          {{/if}}
        </td>
        <td class="deal-button">
          {{#link-to "deals.fromContact" this class="btn"}}Add Deal{{/link-to}}
        </td>
        <td class="text-right">
          {{partial 'search/delete'}}
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="7" class="tac">No leads</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{partial "shared/show_more"}}
