{{#if showHeader}}
  {{partial 'pipeline/header'}}
{{/if}}
<table class="table table-hover pipeline-workflow-deals-list">
  <colgroup>
    <col class="checkbox">
    <col span="2" class="lead">
    <col class="assigned-to">
    <col class="reason">
    <col class="lost-during">
    <col class="value">
    <col class="delete-button">
  </colgroup>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th colspan="2">Lead</th>
      <th>Assigned To</th>
      <th>Reason</th>
      <th>Lost During</th>
      <th class="text-right">Value</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each visibleContent itemController="pipelineItem"}}
      <tr {{bindAttr class="isChecked"}}>
        <td>
          {{check-box checked=isChecked class="checker-block"}}
        </td>
        <td>{{avatar this size=medium}}</td>
        <td>
          <p>
            <big class="name">{{#linkTo "contact" contact}}{{contact.name}}{{/linkTo}}</big></br>
            <span class="title">{{contact.title}}</span>
          <p>

          <p class="from"><strong>From:</strong>&nbsp;{{contact.source}}</p>
        </td>
        <td>
          <p>
            <big class="name">{{#linkTo "user" user}}{{user.name}}{{/linkTo}}</big></br>
            <span class="title">{{user.title}}</span>
          <p>
        </td>
        <td><em class="muted">{{lostBecause}}</em></td>
        <td class="capitalize">{{lostDuring}}</td>
        <td class="text-right">{{currency value}}</td>
        <td class="text-right">
          {{partial 'search/delete'}}
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="8">No Deals</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{partial "shared/show_more"}}
{{partial "pipeline/totals"}}
