<div class="page-header">
  <h1>Pipeline: Lost Deals</h1>
</div>

<table class="table table-list">
  <colgroup>
    <col class="checkbox">
    <col span="2" class="lead">
    <col class="assigned-to">
    <col class="reason">
    <col class="lost-during">
    <col class="value">
    <col class="delete-button">
  </colgroup>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th colspan="2">Lead</th>
      <th>Assigned To</th>
      <th>Reason</th>
      <th>Lost During</th>
      <th class="text-right">Value</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each visibleContent}}
      <tr {{bindAttr class="isChecked"}}>
        <td>
          {{view Radium.Checkbox class="checker-block" checkedBinding="isChecked"}}
        </td>
        <td>{{avatar this size=medium}}</td>
        <td>
          <p>
            <big class="name">{{#linkTo contact contact}}{{contact.name}}{{/linkTo}}</big></br>
            <span class="title">{{contact.title}}</span>
          <p>

          <p class="from"><strong>From:</strong>&nbsp;{{contact.source}}</p>
        </td>
        <td>
          <p>
            <big class="name">{{#linkTo user user}}{{user.name}}{{/linkTo}}</big></br>
            <span class="title">{{user.title}}</span>
          <p>
        </td>
        <td><em class="muted">{{reason}}</em></td>
        <td class="capitalize">{{lastStatus}}</td>
        <td class="text-right">{{currency value}}</td>
        <td class="text-right">
          {{#linkTo unimplemented class="delete btn-link"}}
            <i class="icon-delete"></i>
          {{/linkTo}}
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="8">No Deals</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{template "shared/show_more"}}
