<div class="pipeline-lost">
  {{#if showHeader}}
    {{partial 'pipeline/header'}}
  {{/if}}
  <table class="table table-hover pipeline-workflow-deals-list pipeline-lost-list">
    <thead>
      <tr>
        <th class="checkbox">
          {{partial 'forms/check_all'}}
        </th>
        <th class="deal-lead">
          {{table-sorter heading="Lead" sortOn="contact.name" sort="sortDeals"}}
        </th>
        <th class="assigned-to">
          {{table-sorter heading="Assigned To" sortOn="user.name" sort="sortDeals"}}
        </th>
        <th class="reason">
          {{table-sorter heading="Reason" sortOn="lostBecause" sort="sortDeals"}}
        </th>
        <th class="lost-during">
          {{table-sorter heading="Lost During" sortOn="lostDuring" sort="sortDeals"}}
        </th>
        <th class="value">
          {{table-sorter heading="Value" sortOn="value" sort="sortDeals"}}
        </th>
        <th class="value">
          {{table-sorter heading="Lost on" sortOn="statusLastChangedAt" sort="sortDeals"}}
        </th>
        <th class="delete-button">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each visibleContent itemController="pipelineItem"}}
        <tr {{bind-attr class="isChecked"}}>
          <td>
            {{check-box checked=isChecked class="checker-block"}}
          </td>
          <td class="deal-lead">
            <p>
              <span class="name">{{resource-link-to this}}</span></br>
              {{#if hasPrimaryContact}}
                <span class="name">{{resource-link-to contact}}</span></br>
                <span class="title">{{contact.title}}</span>
                <p class="from"><strong>From:</strong>&nbsp;{{contact.source}}</p>
              {{else}}
                <span class="no-primary">No Primary Contact</span>
              {{/if}}
            </p>
          </td>
          <td class="assigned-to">
            <p>
              <span class="name">{{#link-to "user" user}}{{user.name}}{{/link-to}}</span></br>
              <span class="title">{{user.title}}</span>
            </p>
          </td>
          <td><em class="reason">{{lostBecause}}</em></td>
          <td class="lost-during">{{lostDuring}}</td>
          <td class="value">{{currency value}}</td>
          <td>
            {{formatDateTime statusLastChangedAt format=date}}
          </td>

          <td class="delete">
            {{partial 'search/delete'}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="8">No Deals</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{partial "shared/show_more"}}
  {{partial "pipeline/totals"}}
</div>
