<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th>Lead</th>
    <th>Assigned To</th>
    <th>Value</th>
    <th>Age of Lead</th>
    <th>Next Task</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
    {{#each lead in view.content}}
      {{#with lead}}
        <tr {{bindAttr class="isChecked:success"}}>
          <td>
            {{view view.checkLead contentBinding="lead"}}
          </td>
          <td>
            {{avatar lead}}
            <a {{action showContact this href=true}}>{{unbound displayName}}</a>
          </td>
          <td>
            {{#if user}}
              {{avatar user}}
              <a {{action showUser user href=true}}>{{unbound user.displayName}}</a>
            {{/if}}
          </td>
          <td>{{currency latestDeal.value}}</td>
          <td {{bindAttr class="isExpired"}}>
            {{daysSinceText}}
          </td>
          <td>
            {{#if nextTaskText}}
              {{nextTaskText}}
            {{else}}
              <i class="icon-warning-sign"></i>
            {{/if}}
          </td>
          <td>
            <a {{action deleteLead this target="controller"}}>
              <i class="icon-trash"></i>
            </a>
          </td>
        </tr>
      {{/with}}
    {{/each}}
  </tbody>
</table>
