{{partial 'pipeline/header'}}

<table class="table">
  <thead>
    <tr>
      <th class="checkbox">
        {{partial 'forms/check_all'}}
      </th>
      <th class="deal">Deal</th>
      <th class="assigned-to">Assigned To</th>
      <th class="last-activity">Last Activity</th>
      <th class="next-task">Next Task</th>
      <th class="status">Status</th>
      <th class="value">Value</th>
      <th class="delete">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each controller}}
      <tr {{bind-attr class="isChecked"}}>
        <td class="checkbox">
          {{check-box checked=isChecked class="checker-block"}}
        </td>
        <td class="deal">
          <p>
            <span>{{#link-to "deal" this}}{{name}}</span>{{/link-to}}<br/>
            {{#link-to "contact" contact}}{{contact.displayName}}{{/link-to}}<br/>
            {{contact.title}}
          </p>
        </td>
        <td class="assigned-to">
          <p>
            <span class="name">{{#link-to "user" user}}{{user.name}}{{/link-to}}</span></br>
            <span class="title">{{user.title}}</span>
          <p>
        </td>
        <td class="last-activity">
          {{formatDateTime updatedAt format="date"}}
        </td>
        <td class="next-task">
          {{#if nextTask}}
            <span class="fixme upcase">unimplemented</span>
          {{else}}
            <i class="ss-standard ss-warning"></i>
          {{/if}}
        </td>
        <td><span class="fixme upcase">{{status}}</span></td>
        <td class="value">{{currency value}}</td>
        <td class="delete">
          {{partial 'search/delete'}}
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="7">No Deals</td>
      </tr>
    {{/each}}
  </tbody>
</table>
