{{#if showHeader}}
  {{partial 'pipeline/header'}}
{{/if}}
<table class="table table-hover pipeline-workflow-deals-list">
  <colgroup>
    <col class="checkbox">
    <col class="deal">
    <col class="assigned-to">
    <col class="pay-by">
    <col class="next-task">
    <col class="status">
    <col class="value">
    <col class="delete">
  </colgroup>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Deal</th>
      <th>Assigned To</th>
      <th>Last Activity</th>
      <th>Next Task</th>
      <th>Change Status</th>
      <th>Forecast</th>
      <th class="text-center">Value</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each visibleContent itemController="pipelineItem"}}
      <tr {{bindAttr class=":pipeline-workflow-deals-row isChecked"}}>
        <td>
          {{check-box checked=isChecked class="checker-block"}}
        </td>
        <td>
          <p>
            <big>{{#linkTo "deal" this}}{{name}}</big>{{/linkTo}}<br/>
            {{#linkTo "contact" contact}}{{contact.name}}{{/linkTo}}<br/>
            {{contact.title}}
          </p>
        </td>
        <td>
          <p>
            <big class="name">{{#linkTo "user" user}}{{user.name}}{{/linkTo}}</big></br>
            <span class="title">{{user.title}}</span>
          <p>
        </td>
        <td>
          {{formatDateTime updatedAt format=date}}
        </td>
        <td>
          {{partial 'pipeline/pipeline_next_task'}}
        </td>
        <td>
          <div class="btn-group">
            <button class="btn">{{status}}</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Lead</a></li>
              <li><a href="#">Negotiating</a></li>
              <li><a href="#">Closed</a></li>
              <li><a href="#">Paid</a></li>
              <li><a href="#">Lost</a></li>
            </ul>
          </div>
        </td>
        <td>
          <span class="upcase">
            <a href="#" {{action showChecklist this bubbles=false}}>{{percentage}}%</a>
          </span>
        </td>
        <td class="text-right">{{currency value}}</td>
        <td class="text-right">
          {{partial 'search/delete'}}
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="9">No Deals</td>
      </tr>
    {{/each}}
    <tr>
      <td colspan="9">
        {{partial "shared/show_more"}}
      </td>
    </tr>
  </tbody>
</table>
{{partial "pipeline/totals"}}
