{{#if showHeader}}
  {{partial 'pipeline/header'}}
{{/if}}
<table class="table table-hover pipeline-workflow-deals-list">
  <thead>
    <tr>
      <th class="checkbox">
        {{partial 'forms/check_all'}}
      </th>
      <th class="deal">
        {{table-sorter heading="Deal" sortOn="name" sort="sortDeals"}}
      </th>
      <th class="assigned-to">
        {{table-sorter heading="Assigned To" sortOn="user.name" sort="sortDeals"}}
      </th>
      <th class="last-activity">Last Activity</th>
      <th class="next-task">Next Task</th>
      <th class="status">Change Status</th>
      <th class="forecast">Forecast</th>
      <th class="value">
        {{table-sorter heading="Value" sortOn="value" sort="sortDeals"}}
      </th>
      <th class="delete">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each visibleContent itemController="pipelineItem"}}
      <tr {{bind-attr class=":pipeline-workflow-deals-row isChecked"}}>
        <td class="checkbox">
          {{check-box checked=isChecked class="checker-block"}}
        </td>
        <td class="deal">
          <p>
            <span>{{#link-to "deal" this}}{{name}}{{/link-to}}</span><br/>
            {{#link-to "contact" contact}}{{contact.displayName}}{{/link-to}}<br/>
            <small>{{contact.title}}</small>
          </p>
        </td>
        <td class="assigned-to">
          <p>
            <span class="name">{{#link-to "user" user}}{{user.name}}{{/link-to}}</span></br>
            <span class="title">{{user.title}}</span>
          <p>
        </td>
        <td class="last-activity">
          {{formatDateTime updatedAt format=date}}
        </td>
        <td class="next-task">
          {{partial 'pipeline/pipeline_next_task'}}
        </td>
        <td>
          <div class="btn-group">
            <button class="btn btn-main">{{status}}</button>
            <button class="btn dropdown-toggle needsclick" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              {{#each workflowGroups}}
                <li><a {{action "changeStatus" name}} href="#">{{name}}</a></li>
              {{/each}}
            </ul>
          </div>
        </td>
        <td class="forecast">
          <a href="#" {{action "showChecklist" this bubbles=false}}>{{percentage}}%</a>
        </td>
        <td class="value">{{currency value}}</td>
        <td class="delete text-right">
          {{partial 'search/delete'}}
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="9">No Deals</td>
      </tr>
    {{/each}}
    <tr>
      <td colspan="9">
        {{partial "shared/show_more"}}
      </td>
    </tr>
  </tbody>
</table>
{{partial "pipeline/totals"}}
