<div {{bind-attr class="notFromUser senderIsCurrentUser row-fluid"}}>
  <div {{bind-attr class=":block :email-card :message-card notFromUser"}}>
    <div class="row-fluid">

      <div class="email-header row-fluid">
        <div class="span6 pull-left">
          <div class="email-sender">{{resource-link-to sender}}</div>
          <div class="email-info">
            <div class="email-to">To: <b>{{list "toList"}}</b></div>
            {{#if ccList.length}}
              <div class="email-cc">Copy: {{list "ccList"}}</div>
            {{/if}}
          </div>
        </div>
        <div class="span6 pull-right email-header-actions">
          <div class="email-time">
            {{emailSentAt time format="long"}}
          </div>
          <div class="email-options">
            {{#unless isDraft}}
              <a {{action "toggleReplyForm"}} class="btn-messages-action">
                <i class="ss-standard ss-reply"></i> Reply
              </a>

              <div class="btn-group">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                  <i class="ss-standard ss-ellipsis"></i>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  {{#if canArchive}}
                    <li>
                      <a class="btn btn-link btn-messages-action" {{action "archiveEmail" this}} {{bind-attr disabled=isSaving}}>
                        <i class="ss-standard ss-box"></i>
                        <span>Archive</span>
                      </a>
                    </li>
                  {{/if}}
                  <li>
                    <a class="btn btn-link btn-messages-action" {{action "deleteEmail" this}} {{bind-attr disabled=isSaving}}>
                      <i class="ss-symbolicons-block ss-trash"></i>
                      <span>Delete</span>
                    </a>
                  </li>
                </ul>
              </div>
            {{/unless}}
          </div>
        </div>
        {{#if isScheduled}}
          <div class="alert alert-success">
            Email scheduled for delivery at {{sendTimeFormatted}}.
          </div>
        {{/if}}

        {{#if showMeta}}
          <div class="email-details">
            <table>
              <tr>
                <td>To</td>
                <td>{{list "toList"}}</td>
              </tr>
              {{#if ccList.length}}
              <tr>
                <td>CC</td>
                <td>{{list "ccList"}}</td>
              </tr>
              {{/if}}
              <tr>
                <td>Time</td>
                <td>{{formatDateTime time format="full"}}</td>
              </tr>
            </table>
          </div>
        {{/if}}
      </div>
      <div class="row-flued subject">
        <div><b>{{subject}}</b></div>
      </div>
      <hr>
      <div class="email-wrap span12">

        <div class="content">
          <div class="iframe-container">
            <div {{bind-attr class="html::empty :text"}}>
              {{htmlBodyFormatter model}}
            </div>
          </div>
        </div>
      </div>

      {{#if isDraft}}
        <div class="email-draft-options">
          {{#link-to "emails.edit" model class="btn btn-link btn-messages-action"}}
            <i class="ss-standard ss-write"></i> Edit
          {{/link-to}}
          <button tabindex="6" {{action "sendDraft" this controller bubbles=false}} {{bind-attr disabled=isSaving}} class="btn btn-primary btn-main btn-wide">Send</button>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="email-options">
    <div class="row-fluid">

      <div>
        {{#unless isDraft}}
          {{partial 'emails/check_for_response'}}
        {{/unless}}
        {{#if attachments}}
          <div class="clearfix email-item-actions email-item-attachments">
            {{sidebar-attachments files=files model=model}}
          </div>
        {{/if}}
      </div>

    </div>

    <div>
      {{#if showReplyForm}}
        {{email-form form=replyEmail parent=this signature=signature addSignature="addSignature" mode="reply" saveEmail="saveEmail" deleteFromEditor="deleteFromEditor" saveTemplate="saveTemplate"}}
      {{/if}}

      {{#if showFormBox}}
        <div class="block block-connected email-item-form-box">
          {{render "form_box" formBox}}
        </div>
      {{/if}}

      {{#if showingAddDeal}}
        {{add-deal deal=deal deals=deals parent=model}}
      {{/if}}

      {{#if renderComments}}
        {{render 'comments' model}}
      {{/if}}
    </div>
  </div>
</div>