<div {{bind-attr class="notFromUser senderIsCurrentUser row-fluid"}}>
  <div {{bind-attr class=":block :email-card :message-card notFromUser"}}>
    <div class="row-fluid">

      <div class="email-header row-fluid">
        <div class="span6 pull-left">
          <div class="email-sender">{{resource-link-to sender}}</div>
          <div class="email-info">
            <div class="email-to">To: <b>{{list "toList"}}</b></div>
            <div class="email-cc">Copy: {{list "ccList"}}</div>
          </div>
        </div>
        <div class="span6 pull-right email-header-actions">
          <div class="email-time">
            {{emailSentAt time format="long"}}
          </div>
          <div class="email-options">
            {{#unless isDraft}}
              <a {{action "toggleReplyForm"}} class="btn-messages-action">
                <i class="ss-standard ss-reply"></i> Reply
              </a>

              <a {{action "toggleForwardForm"}} class="btn-messages-action">
                <i class="ss-standard ss-right"></i> Forward
              </a>

              <div class="btn-group">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                  <i class="ss-standard ss-ellipsis"></i>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  {{#if canArchive}}
                    <li>
                      <a class="btn btn-link btn-messages-action" {{action "archiveEmail" this}} {{bind-attr disabled=isSaving}}>
                        <i class="ss-standard ss-box"></i>
                        <span>Archive</span>
                      </a>
                    </li>
                  {{/if}}
                  <li>
                    <a class="btn btn-link btn-messages-action" {{action "deleteEmail" this}} {{bind-attr disabled=isSaving}}>
                      <i class="ss-symbolicons-block ss-trash"></i>
                      <span>Delete</span>
                    </a>
                  </li>
                </ul>
              </div>

            {{else}}
              {{#link-to "emails.edit" model class="btn btn-link btn-messages-action"}}
                <i class="ss-standard ss-write"></i> Edit
              {{/link-to}}
              <button tabindex="6" {{action "sendDraft" this controller bubbles=false}} {{bind-attr disabled=isSaving}} class="btn btn-primary btn-main btn-wide">Send</button>
            {{/unless}}
          </div>
          {{#if isTracked}}
            <div class="btn-group btn-add-to-radium">
              <a class="" {{action "stopTracking" sender}}>Stop Tracking</a>
            </div>
          {{/if}}
        </div>
        {{#if isScheduled}}
          <div class="alert alert-success">
            Email scheduled for delivery at {{sendTimeFormatted}}.
          </div>
        {{/if}}

        {{#if showMeta}}
          <div class="email-details">
            <table>
              <tr>
                <td>To</td>
                <td>{{list "toList"}}</td>
              </tr>
              {{#if ccList.length}}
              <tr>
                <td>CC</td>
                <td>{{list "ccList"}}</td>
              </tr>
              {{/if}}
              <tr>
                <td>Time</td>
                <td>{{formatDateTime time format="full"}}</td>
              </tr>
            </table>
          </div>
        {{/if}}
      </div>

      <hr>

      <div class="email-wrap span12">

        <div class="content">
          <div class="iframe-container">
            <div {{bind-attr class="html::empty :text"}}>
              {{htmlBodyFormatter model}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="email-options">
    <div class="row-fluid">

      <div>
        {{#unless isDraft}}
          {{partial 'emails/check_for_response'}}
        {{/unless}}
        {{#if attachments}}
          <div class="clearfix email-item-actions email-item-attachments">
            {{sidebar-attachments files=files model=model}}
          </div>
        {{/if}}

        {{#unless sender.isPersonal}}
          <div {{bind-attr class=":message-card notFromUser :email-options-left"}}>
            <div>
              {{#if showFormBox}}
                <button class="btn" {{action "toggleFormBox"}}>
                  <i class="ss-standard ss-delete"></i> Done
                </button>
              {{else}}
                {{#unless hasComments}}
                  <a class="btn btn-link btn-messages-action"  {{action "showCommentBox"}}>
                    <i class="ss-standard ss-chat"></i> Comments
                  </a>
                {{/unless}}
                <a class="btn btn-link btn-messages-action"  {{action "toggleFormBox"}}>
                  <i class="ss-standard ss-check green"></i> Follow-up Task
                </a>
                {{#unless hasDeal}}
                  <a href="#" {{action "toggleAddDealForm"}} {{bind-attr disabled=isSaving}} class="btn btn-link btn-messages-action">
                    <i class="ss-standard ss-dollarsign green"></i> Deal
                  </a>
                {{/unless}}
              {{/if}}
            </div>

            {{#if hasDeal}}
              <div class="clearfix email-item-actions email-item-related-tasks">
                <ol class="unstyled related-tasks">
                  <li>
                    <a class="close pull-right" {{action "clearDeal"}}>&times;</a>
                    <i class="ss-standard ss-dollarsign"></i>
                    {{#if isNew}}
                      <span class="related-task-title">{{deal.name}}</span>
                    {{else}}
                      {{#link-to 'deal' deal class="related-task-title"}}
                      {{deal.name}}
                      {{/link-to}}
                    {{/if}}
                  </li>
                </ol>
              </div>
            {{/if}}

            <div class="clearfix email-item-actions email-item-related-tasks">
              {{render 'related_tasks' tasks}}
            </div>
          </div>
        {{/unless}}
      </div>

    </div>

    <div>
      {{#if showReplyForm}}
        <div class="block block-arrow-top">
          {{email-form form=replyEmail parent=this signature=signature addSignature="addSignature" mode="reply" saveEmail="saveEmail" deleteFromEditor="deleteFromEditor"}}
        </div>
      {{/if}}

      {{#if showForwardForm}}
        {{email-form form=forwardEmail parent=this signature=signature addSignature="addSignature" mode="forward" saveEmail="saveEmail" deleteFromEditor="deleteFromEditor"}}
      {{/if}}

      {{#if showFormBox}}
        <div class="block block-connected email-item-form-box">
          {{render "form_box" formBox}}
        </div>
      {{/if}}

      {{#if showingAddDeal}}
        {{add-deal deal=deal deals=deals parent=model}}
      {{/if}}

      {{#if renderComments}}
        {{render 'comments' model}}
      {{/if}}
    </div>
  </div>
</div>