{{#if content}}
  {{#if hasPreviousEmails}}
    <a  class="btn btn-large btn-full-width" {{action selectContent mostRecentEmail}}>
      Go to Most Recent Email<i class="icon-arrow-right pull-right"></i>
    </a>
  {{/if}}

  {{each limitedContent itemViewClass="Radium.EmailsEmailItemView" itemController="email_item"}}

  {{#if remainingContent}}
    <div id="remaining-emails">
      <a class="btn btn-large btn-full-width" {{action showMore target="controller"}}>
        <i class="icon-plus"></i>{{remainingContent.length}} Email(s) Remaining: Show More
      </a>
    </div>

    {{#with remainingContent}}
      {{partial "emails/table"}}
    {{/with}}
  {{/if}}
{{else}}
  <div class="block">
    <h4>No Email Selected</h4>
  </div>
{{/if}}
