<div class="block">
  <div class="page-header">
    {{#if sender.avatar.small_url}}
      <img class="avatar" {{bindAttr src="sender.avatar.small_url" title="sender.displayName"}}>
    {{else}}
      <img class="avatar" src="/images/fallback/small_default.png">
    {{/if}}

    <h2>{{unbound subject}}</h2>
  </div>

  <div class="body">
    {{{unbound message}}}
    <div class="attachments">
      <ul class="thumbnails">
        {{#each attachments}}
          <li class="span2">
            <a href="#" class="thumbnail">
              <img  src="http://placehold.it/170x100" alt="">
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="email-actions">
    <div class="btn-toolbar">
      <div class="btn-group">
        <a class="btn">
          <i class="icon-reply"></i> Reply
        </a>
        <a class="btn">
          <i class="icon-forward-2"></i> Forward
        </a>
        <a {{action showActionSection}} class="btn">
          Add {{#if showActions}}<i class="icon-minus"></i>{{else}}<i class="icon-plus"></i>{{/if}}
        </a>
      </div>
      <div class="btn-group pull-right">
        <a {{action setVisibility this target="controller"}} class="btn">
          {{#if isPublic}}
          <i class="icon-ban-circle"></i> Private
          {{else}}
          <i class="icon-ok-circle"></i> Public
          {{/if}}
        </a>
        <a {{action deleteEmail this target="controller"}} class="btn btn-danger">
          <i class="icon-trash icon-white"></i>
        </a>
      </div>
    </div>
  </div>
</div>

{{#if showActions }}
  {{control 'forms.form_widget' model}}
{{/if}}

<div class="block block-arrow">
  {{control 'comments' model}}
</div>
