<div class="block email-confirmation-view">
  <button type="button" {{action closeEmailConfirmation bubbles="false"}} class="close">×</button>
  {{#if showTasksButton}}
    <div class="adder">
      <div class="arrow"></div>
      <i class="icon-plus" {{action addTask this}}></i>
    </div>
  {{/if}}

  {{#if isSaving}}
    <div class="sending">
      <p><img src="/images/loading.gif"></p>
      <p class="muted">Sending</p>
    </div>
  {{else}}
    <div class="subject">
      {{#if subject}}
        <p>Your email &quot;{{#linkTo emails.show this}}{{subject}}{{/linkTo}}&quot; sent to {{partial 'emails/sent_list'}}
      {{else}}
        <p>Sent an email to</p>
      {{/if}}
    </div>

    <div class="recipients">
      {{list toList}}
    </div>
  {{/if}}
</div>

{{#if showTasksButton}}
  <div {{action addTask model}} class="block block-connected block-blue related-task-prompt">
    <p>Add Related Task?</p>
  </div>
{{/if}}
