<div class="block email-confirmation-view">
  <button type="button" {{action closeEmailConfirmation bubbles="false"}} class="close">×</button>

  {{#if isSaving}}
    <div class="sending">
      <p><img src="/images/loading.gif"></p>
      <p class="muted">Sending</p>
    </div>
  {{else}}
    <div class="subject text-center">
      {{#if subject}}
        <p><i class="ss-standard ss-check green"></i> Your email &quot;{{#linkTo "emails.show" this}}{{subject}}{{/linkTo}}&quot; was sent to</p>
      {{else}}
        <p><i class="ss-standard ss-check green"></i> Sent an email to</p>
      {{/if}}
    </div>

    <div class="recipients-list text-center">
      <h3>{{list toList}}</h3>
    </div>
  {{/if}}
</div>

{{#if showTasksButton}}
  <div {{action addTask model}} class="block block-connected block-gray related-task-prompt text-center">
    <a href="#" class="btn btn-primary" {{action addTask this}}>Add Related Task?</a>
  </div>
{{/if}}
