<div {{action selectContent content}}>
  <div>
    {{avatar sender}}
    {{view view.checkMailItem}}
  </div>
  <div>
    <div>
      {{#if sender.isContact}}
      <a {{action showContact sender href=true}}>{{unbound sender.displayName}}</a>
      {{else}}
        <a {{action showUser sender href=true}}>{{unbound sender.displayName}}</a>
      {{/if}}
    </div>
    <p>{{subject}}</p>
    {{#if hasAttachments}}
    <i class="icon-paperclip icon-large"></i>
    {{/if}}
    <a {{action deleteEmail this target="controller"}}>
      <i class='icon-trash icon-large'></i>
    </a>
  </div>
  <small>{{formatTime sentAt}}</small>
</div>
