<div class="email-history">
  {{#if isLoading}}
    {{partial 'is_loading'}}
  {{else}}
    {{email-nav emails=visibleContent}}
  {{/if}}
  {{#each sortedReplies itemController="emailThreadItem" itemViewClass="Radium.ThreadItemView"}}
    {{#if isLoaded}}
      {{render "emails/item" this}}
    {{else}}
      {{partial 'is_loading'}}
    {{/if}}
  {{/each}}
  {{partial 'shared/show_more'}}
</div>
