<div class="email-main">
  {{partial 'emails/importing'}}
  <div class="email-history">
  {{#if isLoading}}
    {{partial 'is_loading'}}
  {{/if}}
  {{#each model itemController="emailThreadItem" itemViewClass="Radium.ThreadItemView"}}
    {{#if isLoaded}}
      {{render "emails/item" this}}
    {{else}}
      {{partial 'is_loading'}}
    {{/if}}
  {{/each}}
  </div>
  <div class="right-column">
    {{outlet right}}
  </div>
</div>