<div class="tab-pane active">
  <div class="alert alert-info">
    <i class="ss-standard ss-info"></i> Import your own contacts by uploading a CSV or Excel file. Need more guidance? <a href="#" {{action "toggleInstructions"}}>Click here</a> for some basic tips.
  </div>
  {{#if showInstructions}}
    <div class="well">
      <h4>Import instructions</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <button class="btn btn-main btn-primary" {{action "toggleInstructions"}}>
        Thanks, got it
      </button>
    </div>
  {{/if}}
  {{#if showLargeImportMessage}}
    <div class="alert alert-error">
      <div class="text-center">
        <h4>Over 1000 contacts detected.</h4>
        <div>The import file contains {{rowCount}} rows and the current limit of contacts that can be imported into Radium is 1000 ?</div>
        <div class="alert-actions">
          <button class="btn btn-main btn-primary" {{action "dismissLargeImportMessage"}}>
            Try Again?
          </button>
        </div>
      </div>
    </div>
  {{/if}}
  {{#if importing}}
    <div class="well">
      <h4>Importing contacts from <code>contacts.csv</code></h4>
      {{view Radium.ProgressBar percentageBinding="percentage"}}
    </div>
  {{/if}}
  {{#if initialImported}}
    <div class="form form-horizontal well main-form import-match-form">
      <fieldset>
        <div class="match-columns-title">
          <div class="preview-title">Preview</div>
        </div>
        <div class="control-group">
          <label class="control-label">First Name</label>
          <div class="controls">
            {{view Radium.AutocompleteCombobox classNames="field"}}
            <span class="help-inline preview-inline">Sami</span>
          </div>
        </div>
      </fieldset>
    </div>
  {{/if}}
  <div class="form form-horizontal well main-form new-lead-form">
    <div class="control-group">
      {{drag-fileuploader}}
      <span class="text-center help-block">Download sample file for quicker import <a href="#">here</a></span>
    </div>
    <div class="control-group text-right">
      <button class="btn btn-primary" {{!action "importFile"}}>Import</button>
      {{csv-reader cancel="cancelImport" disabled=disableImport importing=importing initialImported=initialImported}}
    </div>
  </div>
</div>
