<div>
  <div class="tabbable">
    <h1><i class="icon-plus"></i>Lead</h1>
    <ul class="nav nav-pills">
      <li class="active">
        <a href="#single" data-toggle="tab">Single Lead</a>
      </li>
      <li>
        <a href="#file" data-toggle="tab">Import leads from file</a>
      </li>
      <li>
        <a href="#social" data-toggle="tab">From Social Network</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="single" class="tab-pane active">
        <form class="form form-horizontal">
          <div class="secondary">
            {{#linkTo unimplemented classNames="close"}}x{{/linkTo}}
            <fieldset>
              <div {{bindAttr class="isExistingContact :control-group"}}>
                <label class="control-label">Name</label>
                <div class="controls">
                  <div {{bindAttr class="controller.name.length:is-valid :control-box :field :contact-name"}}>
                    {{view view.contactName}}
                    {{#if isExistingContact}}
                      <span class="text">{{view.statusDescription}}</span>
                    {{/if}}
                  </div>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Company</label>
                <div class="controls">
                  {{view view.companyPicker class="field"}}
                </div>
              </div>
              <div class="new-contact">
                {{view view.emailAddresses}}
                {{view view.phoneNumbers}}
                <div class="control-group">
                  <label class="control-label">Assigned To</label>
                  <div class="controls">
                    {{view view.userPicker}}
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label type">Type</label>
                  <div class="controls">
                    {{view view.contactType}}
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label type">Notes</label>
                  <div class="controls">
                    {{view view.notes class="input-xxlarge"}}
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label type">Lead Source</label>
                  <div class="controls">
                    {{view view.source class="input-xxlarge"}}
                  </div>
                </div>
                <div class="control-group">
                  <a href="#" class="btn showdetails-link" {{action toggleDetail bubbles=false}}><i class="icon-arrow-down"></i></a>
                </div>
                <div class="address-section">
                  <hr/>
                  {{view view.addresses}}
                  <hr/>
                </div>
                {{partial 'validation_error_message'}}
                {{#unless existingDetailsShown}}
                <div class="commit">
                  <a href="#" {{action submit}} class="btn btn-success"><i class="icon-plus"></i>Lead</a>
                </div>
                {{/unless}}
              </div>
              <div class="existing">
                <span>{{#linkTo contact content}}{{name}}{{/linkTo}}{{#if company}}, {{#linkTo unimplemented}}{{company.name}}{{/linkTo}}{{/if}}</span> {{view.existingContactText}}
                <div>
                {{#if isCustomer}}
                  {{#linkTo unimplemented classNames="btn btn-success"}}Yes{{/linkTo}}
                {{else}}
                  <a href="#" class="btn" {{action showExistingDetails bubbles=false target="view"}}>
                    {{#unless existingDetailsShown}}
                      <i class="icon-arrow-down"></i>
                    {{else}}
                      <i class="icon-arrow-up"></i>
                    {{/unless}}
                  </a>
                  <a href="#" {{action changeExisting bubbles=false}} class="btn btn-success">Yes</a>
                {{/if}}
                </div>
              </div>
              </fieldset>
            </div>
        </form>
      </div>
      <div id="file" class="tab-pane">
        <form class="form form-horizontal">
          <div class="secondary">
            <fieldset>
              {{template 'unimplemented'}}
            </fieldset>
          </div>
        </form>
      </div>
      <div id="social" class="tab-pane">
        <form class="form form-horizontal">
          <div class="secondary">
            <fieldset>
              {{template 'unimplemented'}}
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
