<div>
  <h1>Lead</h1>
  <div class="tabbable">
    <ul class="nav nav-pills">
      <li class="active">
        <a href="#single" data-toggle="tab">Single Lead</a>
      </li>
      <li>
        <a href="#file" data-toggle="tab">Import leads from file</a>
      </li>
      <li>
        <a href="#social" data-toggle="tab">From Social Network</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="single" class="tab-pane active">
        <form class="form form-horizontal">
          <div class="secondary">
            <fieldset>
              <div {{bindAttr class="isExistingContact :control-group"}}>
                <label class="control-label">Name</label>
                {{view view.contactName class="input-xlarge"}}
                {{#if isExistingContact}}
                  <div class="contact-status">
                    {{view.statusDescription}}
                  </div>
                {{/if}}
              </div>
              <div class="control-group">
                <label class="control-label">Company</label>
                <div class="controls">
                  <input type="text" class="field input-xlarge" placeholder="Company">
                </div>
              </div>
              {{#if isNewContact}}
                {{view view.emailAddresses}}
                {{view view.phoneNumbers}}
                <div class="control-group">
                  <label class="control-label">Assigned To</label>
                  <div class="controls">
                    {{view view.userPicker}}
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label type">Type</label>
                  <div class="controls">
                    {{view view.contactType}}
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label type">Notes</label>
                  <div class="controls">
                    {{view view.notes class="input-xxlarge"}}
                  </div>
                </div>
                {{#if showDetail}}
                  <div class="control-group">
                    <a href="#" {{action toggleDetail bubbles="false"}}>- Collapse</a>
                  </div>
                  <div class="control-group">
                    <label class="control-label type">Lead Source</label>
                    <div class="controls">
                      {{view view.source class="input-xxlarge"}}
                    </div>
                  </div>
                  <hr/>
                  {{!view view.addresses}}
                  <hr/>
                {{else}}
                  <div class="control-group">
                    <a href="#" {{action toggleDetail bubbles="false"}}>+ Address and more</a>
                  </div>
                {{/if}}
                <div class="commit">
                  {{#linkTo unimplemented classNames="btn"}}Cancel{{/linkTo}}
                  <a href="#" {{action submit}} class="btn btn-success">Lead</a>
                </div>
              {{/if}}
              {{#if isExistingContact}}
              <div class="existing">
                <span>{{#linkTo contact content}}{{name}}{{/linkTo}}</span> is already an existing customer. Do you want to add a deal?
                <div>
                  <a href="#" {{action cancel}} class="btn">Cancel</a>
                  {{#linkTo unimplemented classNames="btn btn-success"}}Yes{{/linkTo}}
                </div>
              </div>
              {{/if}}
            </fieldset>
          </div>
        </form>
      </div>
      <div id="file" class="tab-pane">
        <form class="form form-horizontal">
          <div class="secondary">
            <fieldset>
              {{template 'unimplemented'}}
            </fieldset>
          </div>
        </form>
      </div>
      <div id="social" class="tab-pane">
        <form class="form form-horizontal">
          <div class="secondary">
            <fieldset>
              {{template 'unimplemented'}}
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
