<div>
  <h1>Lead</h1>
  <div class="tabbable">
    <ul class="nav nav-pills">
      <li class="active">
        <a href="#single" data-toggle="tab">Single Lead</a>
      </li>
      <li>
        <a href="#file" data-toggle="tab">Import leads from file</a>
      </li>
      <li>
        <a href="#social" data-toggle="tab">From Social Network</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="single" class="tab-pane active">
        <form class="form form-horizontal">
          <div class="secondary">
            <fieldset>
              <div class="control-group">
                <label class="control-label">Name</label>
                <div {{bindAttr class="view.leadName.isInvalid:is-invalid :controls :control-box"}}>
                  {{view view.contactName viewName="leadName"}}
                  <div class="contact-status">
                    {{view.statusDescription}}
                  </div>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Company</label>
                <div class="controls">
                  <input type="text" class="field" placeholder="Company">
                </div>
              </div>
              {{!#if isNewLead}}
                {{view view.emailAddresses}}
                {{view view.phoneNumbers}}
                <div class="control-group">
                  <label class="control-label">Assigned To</label>
                  <div class="controls">
                    {{view view.userPicker}}
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label type">Type</label>
                  <div class="controls">
                    {{view view.contactType}}
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label type">Notes</label>
                  <div class="controls">
                    {{view view.notes}}
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label type">Lead Source</label>
                  <div class="controls">
                    {{view view.source}}
                  </div>
                </div>
                {{view view.addresses}}
                <div class="commit">
                  {{#linkTo unimplemented classNames="btn"}}Cancel{{/linkTo}}
                  <a href="#" {{action submit}} class="btn btn-success">Lead</a>
                </div>
              {{!/if}}
              {{#if view.contactExists}}
              <div class="existing">
                <span>{{selectedContact.name}}</span> is already an existing customer. Do you want to add a deal?
                <div>
                  <a href="#" class="btn btn-medium">Cancel</a>
                  <a href="#" class="btn btn-success btn-medium">Yes</a>
                </div>
              </div>
              {{/if}}
            </fieldset>
          </div>
        </form>
      </div>
      <div id="file" class="tab-pane">
        <form class="form form-horizontal">
          <div class="secondary">
            <fieldset>
              {{template 'unimplemented'}}
            </fieldset>
          </div>
        </form>
      </div>
      <div id="social" class="tab-pane">
        <form class="form form-horizontal">
          <div class="secondary">
            <fieldset>
              {{template 'unimplemented'}}
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
