<div class="row">
  <div id="content" class="span9">
    <div id="form-container"></div>
    <div class="page-header">
      <div class="btn-group pull-right">
        <a href="#" class="btn btn-small" {{action "addContactTodo"}}>Add todo</a>
        <a href="#" class="btn btn-small" {{action "emailContact"}}>Email Contact</a>
        <a href="#" class="btn btn-small" {{action "addContactToGroup"}}>Add to Group</a>
      </div>
      <h3>{{Radium.selectedContactController.content.name}} Feed</h3>
    </div>
    {{#if controller}}
      {{#with controller}}
        {{#each pastDates}}
          {{#if content.length}}
            <div class="page-header">
              <h3>{{formatDate date}}</h3>
            </div>
            {{#each content}}
              {{view Radium.HistoricalFeedView contentBinding="this"}}
            {{/each}}
          {{/if}}
        {{/each}}
      {{/with}}
    {{/if}}
  </div>
</div>
