  {{#if content.isLoaded}}
  <div class="contact-card-inner">
    <div class="contact-avatar">
      <span class="inline-checkbox">
        {{view Ember.Checkbox checkedBinding="content.isSelected"}}
      </span>
      <img {{bindAttr src="content.avatar.small_url" title="content.name"}}>
    </div>
    <div class="contact-details">
      <h4 class="headline">
        {{#view contactPageLink contentBinding="content"}}{{content.name}}{{/view}}
        {{view Radium.LabelView contactBinding="this" labelBinding="content.status"}}
        {{Radium.contactsController.categoryFilter}}

        {{#each content.emailAddresses}}
          <a href="#" {{action "showEmailForm" 
            target="Radium.FormContainerView"
            context="view.content"
          }}><i class="icon-mail"></i></a>
        {{/each}}
        {{#each content.phoneNumbers}}
          {{view Radium.TooltipView valueBinding="value" text="Call" icon="call"}}
        {{/each}}
        <a href="#" 
          {{action 
            "showTodoForm" 
            target="Radium.FormContainerView"
            context="content"
          }}>
          <i class="icon-add-todo"></i>
        </a>
      </h4>
      {{#if content.campaigns.length}}
        <p><strong>Groups:</strong> 
          {{#each content.groups}}
            {{name}}
          {{/each}}
        </p>
      {{/if}}
      {{#if content.campaigns.length}}
        <p><strong>Campaigns:</strong> 
          {{#each content.campaigns}}
            <a {{bindAttr href="url"}}>{{name}}</a> 
          {{/each}}
        </p>
      {{/if}}
    </div>
  </div>
  {{/if}}