<div class="row">
  {{#with content}}
  <div id="sidebar" class="span3">
    <div id="contact-info" class="module">
      <div class="component">
        <h4>{{inlineTextField name}} {{view Radium.LabelView contactBinding="this" labelBinding="status" class="pull-right"}}</h4>
        <p>Assigned to: {{user.name}}</p>

      </div>
    </div> <!-- / #contact-info -->
    {{#if addresses.length}}
    <div id="contact-addresses" class="module">
      {{#each addresses}}
        <div class="component bordered">
          <address>
            <strong>{{name}}</strong><br>
            {{street}}<br>
            {{state}} {{zipCode}}<br>
            {{country}}
          </address>
        </div>
      {{/each}}
    </div> <!-- / #contact-addresses -->
    {{/if}}

    {{#if groups.length}}
      <div id="contact-groups" class="module">
        <div class="component">
          <h4>Groups</h4>
          {{#each groups}}
            <p>{{name}}</p>
          {{/each}}
        </div>
      </div>
    {{/if}}

  </div> <!-- /#sidebar -->
  {{/with}}
  <div id="content" class="span9">
    <div id="form-container"></div>
    <div class="page-header">
      <div class="btn-group pull-right">
        <a href="#" class="btn btn-small" {{action "addContactTodo"}}>Add todo</a>
        <a href="#" class="btn btn-small" {{action "emailContact"}}>Email Contact</a>
        <a href="#" class="btn btn-small" {{action "addContactToGroup"}}>Add to Group</a>
      </div>
      <h3>{{Radium.selectedContactController.content.name}} Feed</h3>
    </div>
    {{#if controller}}
      {{#with controller}}
        {{#each pastDates}}
          {{#if content.length}}
            <div class="page-header">
              <h3>{{formatDate date}}</h3>
            </div>
            {{#each content}}
              {{view Radium.HistoricalFeedView contentBinding="this"}}
            {{/each}}
          {{/if}}
        {{/each}}
      {{/with}}
    {{/if}}
  </div>
</div>