<div class="row">
  {{#with content}}
  <div id="sidebar" class="span3">
    <div id="contact-info" class="module">
      <div class="component">
        <h4>{{inlineTextField name}} {{view Radium.LabelView contactBinding="this" labelBinding="status" class="pull-right"}}</h4>
        <small>{{#each groups}}{{name}} {{/each}}</small>
        <p>Assigned to: {{user.name}}</p>
        <address>
          {{#each phoneNumbers}}
            <abbr>{{name}}:</abbr> {{value}}<br>
          {{/each}}
        </address>
        <address>
          {{#each emailAddresses}}
            <abbr>{{name}}:</abbr> <a href="mailto:{{unbound value}}">{{value}}</a><br>
          {{/each}}
        </address>
      </div>
    </div> <!-- / #contact-info -->
    {{#if addresses}}
    <div id="contact-addresses" class="module">
      {{#each addresses}}
        <div class="component bordered">
          <address>
            <strong>{{name}}</strong><br>
            {{street}}<br>
            {{state}} {{zipCode}}<br>
            {{country}}
          </address>
        </div>
      {{/each}}
    </div> <!-- / #contact-addresses -->
    {{/if}}

  </div> <!-- /#sidebar -->
  {{/with}}
  <div id="content" class="span9">
    <div id="form-container"></div>
    <div class="page-header">
      <a href="#" class="btn btn-small pull-right" {{action "addContactTodo"}}>Add todo</a>
      <h3>{{Radium.selectedContactController.content.name}} Feed</h3>
    </div>
    {{#with Radium.selectedContactController.content.feed}}
      {{#each content}}
        <div class="page-header">
          <h3>{{formatDate date}}</h3>
        </div>
        {{#each todos}}
          {{view Radium.TodoView contentBinding="this"}}
        {{/each}}
      {{/each}}
    {{/with}}
  </div>
</div>