<div class="row">
  <div id="content" class="span9">
    <div id="form-container"></div>
    <div class="page-header">
      <div class="btn-group pull-right">
        <a href="#" class="btn btn-small" {{action "addContactTodo"}}>Add todo</a>
        <a href="#" class="btn btn-small" {{action "emailContact"}}>Email Contact</a>
        <a href="#" class="btn btn-small" {{action "addContactToGroup"}}>Add to Group</a>
      </div>
      <h3>{{Radium.selectedContactController.contact.name}} Feed</h3>
    </div>
    {{view Radium.ContactFeedView}}
  </div>
</div>
