{{#with content}}
  {{#if isLoaded}}
  <div class="contact-card-inner">
    <div class="contact-avatar">
      <span class="inline-checkbox">
        {{view Ember.Checkbox valueBinding="isSelected"}}
      </span>
      <img src="http://placehold.it/72x72">
    </div>
    <div class="contact-details">
      <h4 class="headline">
        <a href="/contacts/{{unbound id}}">{{name}}</a>
        {{view Radium.ContactLabelView contactBinding="this" statusBinding="status"}}
        {{Radium.contactsController.categoryFilter}}

        {{#each emailAddresses}}
          {{view 
            Radium.TooltipView 
            valueBinding="value" 
            icon="envelope"
            text="Message"
            action="sendContactMessage"
            target="parentView"
          }}
        {{/each}}
        {{#each phoneNumbers}}
          {{view Radium.TooltipView valueBinding="value" text="Call" icon="call"}}
        {{/each}}
      </h4>
      {{#if campaigns.length}}
        <p><strong>Campaigns:</strong> 
          {{#each campaigns}}
            <a {{bindAttr href="url"}}>{{name}}</a> 
          {{/each}}
        </p>
      {{/if}}
    </div>
  </div>
  {{/if}}
{{/with}}