<div class="row">
  <div id="content" class="span9">
    <div id="form-container"></div>
    <div class="page-header">
    {{#if controller.contact.isLoaded}}
      <div class="btn-group pull-right">
        <a href="#" 
          class="btn btn-small" 
          {{action "showTodoForm" target="Radium.FormContainerView" context="controller.contact"}}>
          Add todo
        </a>
        <a href="#" 
          class="btn btn-small" 
          {{action "showEmailForm" target="Radium.FormContainerView" context="controller.contact"}}>
          Email Contact
        </a>
        <a href="#" 
          class="btn btn-small" 
          {{action "showAddToGroupForm" target="Radium.FormContainerView" context="controller.contact"}}>
          Add to Group
        </a>
      </div>
      <h3>{{Radium.selectedContactController.contact.name}} Feed</h3>
    {{/if}}
    </div>
    {{view Radium.ContactFeedView}}
  </div>
</div>
