<div class="row">
  <div id="sidebar" class="span3">
    
    {{#view contactsFilterView contentBinding="Radium.contactsController.filterTypes"}}
      <li {{bindAttr class="parentView.noSelectedFilter:active"}}>
        <a href="#" {{action "allContacts"}}>Everything</a>
      </li>
      {{#each content}}
        {{#view Radium.ContactFilterListView itemBinding="this"}}
          <a href="#" {{action "filterContacts"}}>
            {{#if item.hasForm}}
              {{view newResourceButton}}
            {{/if}}
            {{item.title}}
          </a>
        {{/view}}
      {{/each}}
    {{/view}}

    {{#view campaignsFilterView contentBinding="Radium.campaignsController"}}
      {{#if content.length}}
        <li {{bindAttr class="parentView.noSelectedCampaigns:active"}}>
          <a href="#" {{action "allCampaigns"}}>All Campaigns</a>
        </li>
        {{#each content}}
          {{#view Radium.CampaignListView itemBinding="this"}}
            <a href="#" {{action "filterCampaigns"}}>
              {{item.name}}
            </a>
          {{/view}}
        {{/each}}
      {{else}}
        <li><h4>Loading Campaigns...</h4></li>
      {{/if}}
    {{/view}}
  </div> <!-- /#sidebar -->

  <div id="content" class="span9">
    {{view Radium.GlobalSearchTextView class="pull-right"}}
    {{view Radium.AnnouncementsView}}

    {{#view Radium.ContactsToolbarView}}
      <div id="alpha" class="btn-toolbar" style="margin-bottom: 9px">
        {{#view lettersFilter}}
        <div class="btn-group">
          {{#view letterButton class="btn" letter="A"}}A{{/view}}
          {{#view letterButton class="btn" letter="B"}}B{{/view}}
          {{#view letterButton class="btn" letter="C"}}C{{/view}}
          {{#view letterButton class="btn" letter="D"}}D{{/view}}
          {{#view letterButton class="btn" letter="E"}}E{{/view}}
          {{#view letterButton class="btn" letter="F"}}F{{/view}}
          {{#view letterButton class="btn" letter="G"}}G{{/view}}
          {{#view letterButton class="btn" letter="H"}}H{{/view}}
          {{#view letterButton class="btn" letter="I"}}I{{/view}}
          {{#view letterButton class="btn" letter="J"}}J{{/view}}
          {{#view letterButton class="btn" letter="K"}}K{{/view}}
          {{#view letterButton class="btn" letter="L"}}L{{/view}}
          {{#view letterButton class="btn" letter="M"}}M{{/view}}
          {{#view letterButton class="btn" letter="N"}}N{{/view}}
          {{#view letterButton class="btn" letter="O"}}O{{/view}}
          {{#view letterButton class="btn" letter="P"}}P{{/view}}
          {{#view letterButton class="btn" letter="Q"}}Q{{/view}}
          {{#view letterButton class="btn" letter="R"}}R{{/view}}
          {{#view letterButton class="btn" letter="S"}}S{{/view}}
          {{#view letterButton class="btn" letter="T"}}T{{/view}}
          {{#view letterButton class="btn" letter="U"}}U{{/view}}
          {{#view letterButton class="btn" letter="V"}}V{{/view}}
          {{#view letterButton class="btn" letter="W"}}W{{/view}}
          {{#view letterButton class="btn" letter="X"}}X{{/view}}
          {{#view letterButton class="btn" letter="Y"}}Y{{/view}}
          {{#view letterButton class="btn" letter="Z"}}Z{{/view}}
        </div>
        {{/view}}
      </div> <!-- /#alpha -->
      <div id="contacts-bulk-toolbar" class="btn-toolbar" style="margin-bottom: 9px">
        <div class="btn-group">
          {{#view emailButton class="btn btn-small"}}Send Email{{/view}}
          {{#view smsButton class="btn btn-small"}}Send SMS{{/view}}
        </div>
        <div class="btn-group">
          {{#view todoButton class="btn btn-small"}}Add Todo{{/view}}
          {{#view callListButton class="btn btn-small"}}Add to Call List{{/view}}
          {{#view addCampaignButton class="btn btn-small"}}Add to Campaign{{/view}}
          {{#view removeCampaignButton class="btn btn-small"}}Remove from Campaign{{/view}}
        </div>
        <div class="btn-group">
          {{view statusButton title="Change Status" selectionBinding="Radium.contactsController.selectedContacts"}}
          <ul class="dropdown-menu">
            <li><a href="#" {{action "assignStatus"}} data-status="lead">Lead</a></li>
            <li><a href="#" {{action "assignStatus"}} data-status="prospect">Prospect</a></li>
            <li><a href="#" {{action "assignStatus"}} data-status="opportunity">Opportunity</a></li>
            <li><a href="#" {{action "assignStatus"}} data-status="customer">Customer</a></li>
            <li><a href="#" {{action "assignStatus"}} data-status="dead_end">Dead End</a></li>
          </ul>
        </div>
      </div> <!-- /#contacts-bulk-toolbar -->

      <div class="btn-toolbar">
        <div class="btn-group">
          {{#view selectAllButton class="btn btn-mini"}}
            <i class="icon-ok-circle"></i> All
          {{/view}}
          {{#view selectNoneButton class="btn btn-mini"}}
           <i class="icon-remove-circle"></i> None
          {{/view}}
        </div>
        {{#view totalSelected class="pull-right"}}
          <h5>{{totalSelectedString}} selected.</h5>
        {{/view}}
      </div>

    {{/view}}
    <div id="form-container"></div>
    <div id="contacts" class="row">
      {{#with Radium.selectedContactsController}}
        {{#if selectedCampaign}}
          <div class="span9">
            <div class="page-header">
              <h3>{{selectedCampaign.name}}'s Contacts</h3>
            </div>
          </div>
        {{/if}}
        {{#if content.length}}
          {{#each content}}
            {{view Radium.ContactCardView contentBinding="this"}}
          {{/each}}
        {{else}}
          <div class="span9">
            <h4>Loading contacts...</h4>
          </div>
        {{/if}}
      {{/with}}
    </div>
  </div> <!-- /#content -->
</div> <!-- /.row -->
