<div class="span2"><span class="timestamp">{{formatTime content.createdAt}}</span></div>
<div class="span7">
  <p>
    <i class="icon-user"></i> <a {{bindAttr href="content.url"}}>{{content.name}}</a>
    <i class="icon-comment comment-toggle-button" {{action "toggleComments"}}></i>
    {{#if content.comments.length}}
      ({{content.comments.length}})
    {{/if}}

    {{#if isReassigning}}
      {{view userSelect}}
    {{else}}
      <a href="#"{{action "reassign"}}><i class="icon-share-alt"></i> Reassign</a>
    {{/if}}
  </p>
</div>