<p>
  {{#if reference.description}}
    "{{reference.description}}" call added to {{resource-link model=contact}}
  {{else}}
    Call added to {{resource-link model=contact}}
  {{/if}}

  <br />

  by {{resource-link model=user}}
</p>
