<div class="form">
  <div class="sidebar-panel sidebar-panel-main">
    <div class="sidebar-panel-content">
      {{render 'sidebar/contact_header' model}}
      {{render 'sidebar/contact_company' model}}

      <div id="sidebar-social">
        <a href="#" class="active"><i class="ss-icon ss-social ss-twitter"></i></a>
        <a href="#" class="active"><i class="ss-icon ss-social ss-facebook"></i></a>
        <a href="#"><i class="ss-icon ss-social ss-googleplus"></i></a>
        <a href="#"><i class="ss-icon ss-social ss-linkedin"></i></a>
      </div>
    </div>
  </div>

  <div class="sidebar-panel" id="sidebar-contact-info">
    <div class="sidebar-panel-header">
    </div>
    <div class="sidebar-panel-content">
      {{render 'sidebar/email_addresses' model}}
      {{render 'sidebar/phone_numbers' model}}
      <dl class="dl-horizontal contact-types-list">
        <dt><i class="ss-standard ss-globe muted"></i></dt>
        <dd>
          dynamo.com <i class="ss-standard ss-write pull-right"></i>
        </dd>
      </dl>
      {{render 'sidebar/addresses' model}}
      <div id="sidebar-list">
        <i class="ss-standard ss-list"></i>{{render 'sidebar/tags' model}}
      </div>
    </div>
  </div>

  {{render 'sidebar/assigned_to' model}}

  {{render 'sidebar/about' model}}

  {{#each field in customFields }}
    {{customfield-editor field=field resource=model parent=this}}
  {{/each}}

  {{partial 'shared/followers'}}

  {{partial 'shared/attachments'}}

  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      <button class="btn btn-danger btn-block" {{action "confirmDeletion"}}>Delete</button>
    </div>
  </div>
</div>
