<form class="form">
  <div class="meta">
    {{render 'sidebar/contact_header' model}}
  </div>
  <hr />
  <div class="contact-type">
    {{render 'sidebar/contact_status' model}}
  </div>
  <hr />
  <div class="company-website">
    {{render "sidebar/company_website" model.company}}
  </div>
  <div class="email">
    {{render "sidebar/email_addresses" model}}
  </div>
  <div class="phone">
    {{render "sidebar/phone_numbers" model}}
  </div>
  <div class="show-more">
    <a href="#" class="btn" {{action showExtraContactDetail bubbles=false target="view"}}>
      <i id="existingToggle" class="icon-arrow-down"></i>
    </a>
  </div>
  <hr/>
  <div class="additional-detail">
    <div class="address">
      {{render "sidebar/addresses" model}}
    </div>
    <hr/>
  </div>
  <div class="tag-picker">
    <div class="tag-label">
      <h2 class="blue">Tags</h2>
    </div>
    {{render 'sidebar/tags' model}}
  </div>
  <hr/>
  <div class="deals-won">
    <div>
      <div>
        <h2 class="blue">Total Deals Won</h2>
      </div>
      <div class="amount">{{currency dealsTotal}}</div>
    </div>
  </div>
  <hr/>
  <div class="open-deals">
    <h2>Open Deals ({{deals.length}})</h2>
    {{#each deals}}
      <div class="deal">
        <div>
          <div>
            {{#linkTo deal this}}{{name}}{{/linkTo}}
          </div>
          <div class="deal-value">
            {{currency value}}<br/>
            <i>{{status}}</i>
          </div>
        </div>
      </div>
    {{/each}}
    <div class="deal-links">
      <div>
        <div>
          {{#linkTo deals.fromContact model class="btn btn-primary"}}<i class="icon-plus"></i> Deal{{/linkTo}}
        </div>
        <div>
          <!-- FIXME: Where should this go -->
          {{#linkTo unimplemented}}All Deals{{/linkTo}}
        </div>
      </div>
    </div>
  </div>
  <hr/>

  <div class="about">
    {{render 'sidebar/about' model}}
  </div>
  <hr/>

  {{partial 'shared/add_files'}}

  <hr/>

  <div class="assigned-to control-group">
    {{!view view.assignedToInlineEditor}}
  </div>

  <hr/>
  {{partial 'shared/followers'}}
  <hr/>
  <button class="btn btn-danger btn-block" {{action confirmDeletion}}>Delete</button>
</form>
