<form class="form">
  <div class="meta">
    {{avatar this size=medium class="img-polaroid"}}
    <p>
      <span class="type muted">contact</span><br/>
      <span class="name">{{name}}</span><br/>
      <span class="title muted">{{title}}</span>
      <span class="company">
        {{#if company}}
         {{#linkTo unimplemented}}{{company.name}}{{/linkTo}}
        {{/if}}
      </span>
    </p>
    <hr />
    <div class="contact-type">
      <div>
        <div class="type-label">
          <h2>Type</h2>
        </div>
        <div class="status">
          <div>{{view view.statusSelect}}</div>
        </div>
      </div>
    </div>
    <hr />
    <div class="company-website">
      {{view view.contactInlineEditor valueBinding=company.website}}
    </div>
    <div class="email">
      <div>
        <a href="mailto:{{unbound primaryEmail.value}}">{{primaryEmail.value}}</a>
      </div>
    </div>
    <div class="phone">
      <div>
        <div>
          {{primaryPhone.value}}
        </div>
        <div>
          <button class="btn btn-success">
            <i class="icon-call"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="show-more">
      <a href="#" class="btn" {{action showMore bubbles=false target="view"}}>
        <i id="existingToggle" class="icon-arrow-down"></i>
      </a>
    </div>
    <hr/>
    <div class="group-picker">
      {{view view.groups placeholder="Add" viewName="tags"}}
      <div class="group-label">
        <h2 class="blue"><i class="icon-plus"></i> Group</h2>
      </div>
    </div>
    <hr/>
    <div class="deals-won">
      <div>
        <div>
          <h2 class="blue">Total Deals Won</h2>
        </div>
        <div class="amount">$1.000,000.00</div>
      </div>
    </div>
    <hr/>
    <div class="open-deals">
      <h2>Open Deals ({{deals.length}})</h2>
      {{#each deals}}
        <div class="deal">
          <div>
            <div>
              {{#linkTo deal this}}{{name}}{{/linkTo}}
            </div>
            <div class="deal-value">
              {{currency value}}<br/>
              <i>{{status}}</i>
            </div>
          </div>
        </div>
      {{/each}}
      <a href="#" {{action createDealFromContact model}} class="btn btn-primary"><i class="icon-plus"></i> Deal</a>
    </div>
    <hr/>
    <div class="about">
      <h2>About</h2>
      {{view view.aboutInlineEditor valueBinding=about}}
    </div>
  </div>
</form>
