<form class="form">
  <div class="meta">
    {{view view.headerInlineEditor}}
  </div>
  <hr />
  <div class="contact-type">
    {{view view.contactStatusInlineEditor}}
  </div>
  <hr />
  <div class="company-website">
    {{view view.contactInlineEditor valueBinding=company.website}}
  </div>
  <div class="email">
    {{view view.emailAddressInlineEditor}}
  </div>
  <div class="phone">
    {{view view.phoneInlineEditor}}
  </div>
  <div class="show-more">
    <a href="#" class="btn" {{action showExtraContactDetail bubbles=false target="view"}}>
      <i id="existingToggle" class="icon-arrow-down"></i>
    </a>
  </div>
  <hr/>
  <div class="additional-detail">
    <div class="address">
      {{view view.addressInlineEditor}}
    </div>
    <hr/>
  </div>
  <div class="group-picker">
    <div class="group-label">
      <h2 class="blue">Tags</h2>
    </div>
    {{view view.groups placeholder="Add" viewName="tags"}}
  </div>
  <hr/>
  <div class="deals-won">
    <div>
      <div>
        <h2 class="blue">Total Deals Won</h2>
      </div>
      <div class="amount">{{currency dealsTotal}}</div>
    </div>
  </div>
  <hr/>
  <div class="open-deals">
    <h2>Open Deals ({{deals.length}})</h2>
    {{#each deals}}
      <div class="deal">
        <div>
          <div>
            {{#linkTo deal this}}{{name}}{{/linkTo}}
          </div>
          <div class="deal-value">
            {{currency value}}<br/>
            <i>{{status}}</i>
          </div>
        </div>
      </div>
    {{/each}}
    <div class="deal-links">
      <div>
        <div>
          <a href="#" {{action createDealFromContact model}} class="btn btn-primary"><i class="icon-plus"></i> Deal</a>
        </div>
        <div>
          <!-- FIXME: Where should this go -->
          {{#linkTo unimplemented}}All Deals{{/linkTo}}
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="about">
    {{view view.aboutInlineEditor valueBinding=about}}
  </div>
  <hr/>
  <div class="control-group">
    <div class="controls add-files">
      <button class="btn btn-block add-files" {{bindAttr disabled="view.disabled"}}>
        Add Files <i class="icon-attachments"></i>
      </button>
    </div>
    <div>
      {{#each attachment in attachments}}
        Foo
      {{/each}}
    </div>
  </div>
  <hr/>
    <div class="assigned-to control-group">
      {{view view.assignedToInlineEditor}}
    </div>
  <hr/>
  {{partial 'shared/followers'}}
  <hr/>
  <button class="btn btn-danger btn-block" {{action confirmDeletion}}>Delete</button>
</form>
