<form class="form">
  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      {{render 'sidebar/contact_header' model}}
    </div>
  </div>

  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      <div class="contact-type">
        {{render 'sidebar/contact_status' model}}
      </div>
    </div>
  </div>

  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      {{render "sidebar/company_website" model.company}}
    </div>
    <div class="sidebar-panel-content">
      {{render 'sidebar/phone' model}}
    </div>
    <div class="sidebar-panel-content">
      {{render 'sidebar/email' model}}
    </div>
    <div class="show-more">
      <a href="#" class="btn btn-link btn-block" {{action showExtraContactDetail bubbles=false target="view"}}>
        <i id="existingToggle" class="ss-standard ss-navigatedown"></i>
      </a>
    </div>
  </div>

  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      <div class="additional-detail">
        <div class="address">
          {{render "sidebar/addresses" model}}
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-target"></i> Tags
      </h6>
    </div>
    <div class="sidebar-panel-content">
      <div class="tag-picker">
        {{render 'sidebar/tags' model}}
      </div>
    </div>
  </div>

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-dollarsign"></i> Total Deals Won
      </h6>
    </div>
    <div class="sidebar-panel-content">
      <div class="deals-won">
        <div class="amount">{{currency dealsTotal}}</div>
      </div>
    </div>
  </div>

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-dollarsign"></i> Open Deals <span class="mark">{{deals.length}}</span>
      </h6>
    </div>
    <div class="sidebar-panel-content">
      <div class="open-deals">
        {{#each deals}}
          <div class="deal">
            <div>
              <div>
                {{#linkTo "deal" this}}{{name}}{{/linkTo}}
              </div>
              <div class="deal-value">
                {{currency value}}<br/>
                <i>{{status}}</i>
              </div>
            </div>
          </div>
        {{/each}}
        <div class="deal-links">
          <!-- FIXME: Where should this go -->
          {{#linkTo "pipeline.resourceDeals" this class="btn btn-link pull-right"}}
            All Deals
          {{/linkTo}}
          {{#linkTo "deals.fromContact" model class="btn btn-primary"}}<i class="ss-standard ss-plus"></i> Deal{{/linkTo}}
        </div>
      </div>
    </div>
  </div>


  {{render 'sidebar/about' model}}

  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      {{partial 'shared/add_files'}}
    </div>
  </div>

  {{render 'sidebar/assigned_to' model}}

  {{partial 'shared/followers'}}

  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      <button class="btn btn-danger btn-block" {{action confirmDeletion}}>Delete</button>
    </div>
  </div>
</form>
