<form class="form">
  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      {{render 'sidebar/contact_header' model}}
      {{#if isFollowing}}
        <span class="label label-success">Following</span>
      {{else}}
        <button class="btn btn-block btn-small btn-follow">Follow {{firstName}}</button>
      {{/if}}
    </div>
  </div>

  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      <div class="contact-type">
        {{render 'sidebar/contact_status' model}}
      </div>
    </div>
  </div>

  <div class="sidebar-panel sidebar-panel-grey">
    <div class="sidebar-panel-content">
      <table class="table sidebar-table">
        <tbody>
          {{#each deals}}
            <tr>
              <td>{{#linkTo "deal" this}}{{name}}{{/linkTo}}
              <td class="text-right">
                <strong>{{currency value}} ({{status}})</strong>
              </td>
            </tr>
          {{/each}}
          <tr>
            <td>Deal totals</td>
            <td class="text-right">
              <strong>{{currency dealsTotal}}</strong>
            </td>
          </tr>
        </tbody>
      </table>
      {{#if deals.length}}
        <div class="clearfix">
          See deals with {{#linkTo pipeline.resourceDeals this}}{{displayName}}{{/linkTo}}
        </div>
      {{/if}}
      <div class="clearfix">
        {{#linkTo "deals.fromContact" model class="btn btn-primary pull-right"}}
          <i class="ss-standard ss-plus"></i> Deal
        {{/linkTo}}
      </div>
    </div>
  </div>

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-navigate"></i> Contact
      </h6>
    </div>
    <div class="sidebar-panel-content">
      {{render "sidebar/company_website" model.company}}
      {{render 'sidebar/phone' model}}
      {{render 'sidebar/email' model}}
      {{render "sidebar/addresses" model}}
    </div>
  </div>

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-target"></i> Groups
      </h6>
    </div>
    <div class="sidebar-panel-content">
      <div class="tag-picker">
        {{render 'sidebar/tags' model}}
      </div>
    </div>
  </div>

  {{render 'sidebar/notes' model}}

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-file"></i> Files
      </h6>
    </div>
    <div class="sidebar-panel-content">
      {{partial 'shared/add_files'}}
    </div>
  </div>

  {{render 'sidebar/assigned_to' model}}

  {{partial 'shared/followers'}}

  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      <button class="btn btn-danger btn-block" {{action confirmDeletion}}>Delete</button>
    </div>
  </div>
</form>
