<div class="row">
  
  <div id="sidebar" class="span3">
    {{view Radium.ProfileView}}
    {{view Radium.DashboardFeedFilterView}}
    <h3>Team</h3>
    {{view Radium.UsersListView}}
  </div>
  
  <div class="span9">
    <div class="row">
      {{view Radium.GlobalSearchTextView}}
    </div>
    {{view Radium.AnnouncementsView}}
    <div id="form-container"></div>
        
    <div class="row">
      <div class="span9">
       {{#view Ember.View tagName="ul" class="nav nav-tabs"}}
          <li><a href="#" {{action "switchFeed"}} {{bindAttr data-feed-group="today"}}>Today</a></li>
          <li><a href="#" {{action "switchFeed"}} {{bindAttr data-feed-group="week"}}>This Week</a></li>
          <li><a href="#" {{action "switchFeed"}} {{bindAttr data-feed-group="month"}}>This Month</a></li>
          <li><a href="#" {{action "switchFeed"}} {{bindAttr data-feed-group="quarter"}}>This Quarter</a></li>
          <li><a href="#" {{action "switchFeed"}} {{bindAttr data-feed-group="year"}}>Everything</a></li>
        {{/view}}
      </div>
    </div>
  </div>
</div>