<div class="row">
  
  <div id="sidebar" class="span3">
    {{view Radium.ProfileView}}
    {{view Radium.DashboardFeedFilterView}}
    <h3>Team</h3>
    {{view Radium.UsersListView}}
  </div>
  
  <div class="span9">
    {{view Radium.AnnouncementsView}}
        
    <div class="row" style="display:none">
      <div class="span9">
       {{#view Ember.View tagName="ul" class="nav nav-tabs"}}
          <li class="active"><a href="#" {{bindAttr data-feed-group="today"}}>Daily</a></li>
          <li><a href="#" {{bindAttr data-feed-group="week"}}>This Week</a></li>
          <li><a href="#" {{bindAttr data-feed-group="month"}}>This Month</a></li>
          <li><a href="#" {{bindAttr data-feed-group="quarter"}}>This Quarter</a></li>
        {{/view}}
      </div>
    </div>

    <div class="row">
      <div class="span9">
        {{#if noData}}
          <div class="well">
            <h3 align="center">
              Add your <a href="#" {{action addTodo target="Radium.dashboardFeedController"}}>first todo</a>.
            </h3>
          </div>
        {{else}}

          {{#with controller}}
            {{#each futureDates}}
              {{#if ongoingTodos.length}}
                <div class="page-header">
                  <h3>{{formatDate date}}</h3>
                </div>
                {{#each sortedOngoingTodos}}
                  {{view Radium.FeedView contentBinding="this"}}
                {{/each}}
              {{/if}}
            {{/each}}
          {{/with}}

          <div class="page-header">
            <h3>Today</h3>
          </div>
          {{#with Radium.todosController}}
            {{#if overdueTodos.length}}
              <h4>Overdue</h4>
              {{#each sortedOverdueTodos}}
                {{view Radium.FeedView contentBinding="this"}}
              {{/each}}
              <hr>
            {{/if}}

            {{#if dueToday.length}}
              <h4>Due</h4>
              {{#each sortedDueToday}}
                {{view Radium.FeedView contentBinding="this"}}
              {{/each}}
              <hr>
            {{/if}}

            {{#if finishedOverdueTodos.length}}
              <h4>Finished</h4>
              {{#each finishedOverdueTodos}}
                {{view Radium.FeedView contentBinding="this"}}
              {{/each}}
              <hr>
            {{/if}}

          {{/with}}

           {{#with Radium.dashboardFeedController}}
            {{#each pastDates}}
              {{#if content.length}}
                <div class="page-header">
                  <h3>{{formatDate date}}</h3>
                </div>
                {{#each content}}
                  {{view Radium.HistoricalFeedView contentBinding="this"}}
                {{/each}}
              {{/if}}
            {{/each}}
          {{/with}}

        {{/if}}
      </div>
    </div>
    
  </div>
</div>