<div class="row">
  
  <div id="sidebar" class="span3">
    {{view Radium.ProfileView}}
    {{view Radium.DashboardFeedFilterView}}
    <h3>Team</h3>
    {{view Radium.UsersListView}}
  </div>
  
  <div class="span9">
    {{view Radium.AnnouncementsView}}
    <div id="form-container"></div>
        
    <div class="row" style="display:none">
      <div class="span9">
       {{#view Ember.View tagName="ul" class="nav nav-tabs"}}
          <li class="active"><a href="#" {{bindAttr data-feed-group="today"}}>Daily</a></li>
          <li><a href="#" {{bindAttr data-feed-group="week"}}>This Week</a></li>
          <li><a href="#" {{bindAttr data-feed-group="month"}}>This Month</a></li>
          <li><a href="#" {{bindAttr data-feed-group="quarter"}}>This Quarter</a></li>
        {{/view}}
      </div>
    </div>

    <div class="row">
      <div class="span9">
        {{#with Radium.dashboardFeedController}}
          {{#each content}}
            {{#if hasVisibleContent}}
              <div class="page-header">
                <h3>{{formatDate date}}</h3>
              </div>
              <div {{bindAttr class="isToday"}}>
                {{#if sortedOngoing}}
                  {{#each sortedOngoing}}
                    {{view Radium.FeedView contentBinding="this"}}
                  {{/each}}
                  <hr>
                {{/if}}
                
                {{#each historical}}
                  {{view Radium.HistoricalFeedView contentBinding="this"}}
                {{/each}}
              </div>
            {{/if}}
          {{/each}}
        {{/with}}
      </div>
    </div>

    <div class="row" style="display:none">
      <div class="span9">
        <div class="page-header">
          <h3>Notifications</h3>
        </div>
        {{!with Radium.feedByDayController}}
          {{!if loadedActivities.length}}
            <div class="feed">
            {{!each loadedActivities}}
              {{!view Radium.FeedListView contentBinding="this"}}
            {{!each}}
            </table>
          {{else}}
            <div class="well">
              <h3 align="center">No activities yet.</h3>
            </div>
          {{!if}}
        {{!with}}
      </div>
    </div>
  </div>
</div>