<div class="row">
  
  <div id="sidebar" class="span3">
    {{view Radium.ProfileView}}
    {{view Radium.DashboardFeedFilterView}}
    <h3>Team</h3>
    {{view Radium.UsersListView}}
  </div>
  
  <div class="span9">
    <div class="row">
      {{view Radium.GlobalSearchTextView}}
    </div>
    {{view Radium.AnnouncementsView}}
    <div id="form-container"></div>
        
    <div class="row">
      <div class="span9">
       {{#view Ember.View tagName="ul" class="nav nav-tabs"}}
          <li class="active"><a href="#" {{bindAttr data-feed-group="today"}}>Daily</a></li>
          <li><a href="#" {{bindAttr data-feed-group="week"}}>This Week</a></li>
          <li><a href="#" {{bindAttr data-feed-group="month"}}>This Month</a></li>
          <li><a href="#" {{bindAttr data-feed-group="quarter"}}>This Quarter</a></li>
        {{/view}}
        <div class="page-header">
          <h3>{{Radium.accountController.content.name}}'s Coffee Cup Summary</h3>
        </div>
      </div>
    </div>

    {{#with Radium.feedByActivityController.coffeeCupSummary}}
    <div class="stats row">
      <div class="span2">
        <dl>
          <dt>Todos</dt>
          <dd>
            {{todoCreated}} created<br>
            {{todoAssigned}} assigned<br>
            {{todoFinished}} finished
          </dd>
        </dl>
      </div>
      <div class="span2">
        <dl>
          <dt>Campaigns</dt>
          <dd>
            {{campaignCreated}} created<br>
            {{campaignAssigned}} assigned<br>
            {{campaignContactAdded}} added<br>
            {{campaignContactRemoved}} removed<br>
            {{campaignFollowed}} followed
          </dd>
        </dl>
      </div>
      <div class="span2">
        <dl>
          <dt>Contacts</dt>
          <dd>
            {{contactCreated}} created<br>
            {{contactAssigned}} assigned<br>
            {{contactBecameLead}} became leads<br>
            {{contactBecameProspect}} became prospects<br>
            {{contactBecameOpportunity}} became opportunities<br>
            {{contactBecameCustomer}} became customers<br>
            {{contactBecameDeadEnd}} became dead ends<br>
            {{contactFollowed}} followed
          </dd>
        </dl>
      </div>
      <div class="span2">
        <dl>
          <dt>Meetings</dt>
          <dd>
            {{meetingCreated}} created<br>
            {{meetingRescheduled}} rescheduled<br>
            {{meetingCancelled}} cancelled<br>
            {{meetingConfirmed}} confirmed<br>
            {{meetingRejected}} rejected<br>
          </dd>
        </dl>
        <dl>
          <dt>Phone Calls</dt>
          <dd>
            {{phoneCallCreated}} calls were created<br>
            {{callListCreated}} call lists were created
          </dd>
        </dl>
      </div>
      {{/with}}
    </div>

    <div class="row">
      <div class="span9">
        {{#with Radium.feedByDayController}}
          {{#if activityList}}
            <table class="table">
              <tbody>
                {{#each activityList}}
                  <tr>
                    {{view Radium.FeedListView contentBinding="this"}}
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{else}}
            <div class="well">
              <h3 align="center">No activities yet.</h3>
            </div>
          {{/if}}
        {{/with}}
      </div>
    </div>
  </div>
</div>