<div class="control-group checklist-items-container">
  <div class="checklist-items">
    <table>
      <tbody>
        {{#each checklist.checklistItems itemController="checklistItem"}}
          <tr>
            <td>{{checklistKind kind}}</td>
            <td class="check">
              <label>
                {{view Ember.Checkbox checkedBinding="isFinished"}}
                {{description}}
              </label>
            </td>
            <td {{bindAttr class="isFinished:is-finished:muted"}}>
              {{weight}}%
              {{#if isAdditional}}
                <a href="#" class="additional" {{action removeAdditionalItem this bubbles="false"}}>
                  delete
                </a>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <p class="extra-checklist-item muted">FIXME:  Supply some copy that describes why there are fields below for an extra check list item</p>
    <table class="extra-checklist-item">
      <tbody>
        <tr>
          <td>Description</td>
          <td>
            {{view view.newItemDescription class="field input-xxlarge" viewName="itemDescription"}}
          </td>
        </tr>
        <tr>
          <td>Percentage</td>
          <td>
            {{view view.newItemWeight type="number" max="100" value="0" class="field input-mini" viewName="itemWeight"}}%
            {{#if view.showAddButton }}
            <a href="#" {{action createNewItem target="view"}} class="btn">
              <i class="icon-plus"></i>
            </a>
            {{/if}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

