<div class="control-group checklist-items-container">
  <div class="checklist-items">
    <table>
      <tbody>
        {{#each checklist}}
          <tr>
            <td class="kind">{{checklistKind kind}}</td>
            <td class="check">
              <label>
                {{view Ember.Checkbox checkedBinding="isFinished"}}
                {{description}}
              </label>
            </td>
            <td {{bindAttr class="isFinished:is-finished:muted"}}>
              {{weight}}%
              {{#if isAdditional}}
                <a href="#" class="additional" {{action removeAdditionalItem this bubbles="false"}}>
                  delete
                </a>
              {{/if}}
            </td>
          </tr>
        {{/each}}
        <tr>
          <td class="kind">
            <div class="btn-group">
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                {{newItemKind}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                {{#each kind in controller.kinds}}
                  <li><a href="#" {{action setKind kind}}>{{kind}}</a></li>
                {{/each}}
              </ul>
            </div>
          </td>
          <td>
            <label>
              {{view Ember.Checkbox disabled=true checkedBinding="controller.newItemFinished" class="additional-check"}}
            </label>
            {{view view.newItemDescription class="field input-xlarge" viewName="itemDescription"}}
          </td>
          <td>
            {{view view.newItemWeight type="number" max="100" class="field input-mini"}}%
          </td>
          <td>
            <div class="btn-group">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {{selectedDateText}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#" {{action setItemDate 0}}>None</a></li>
                <li><a href="#" {{action setItemDate 1}}>1 day</a></li>
                <li><a href="#" {{action setItemDate 2}}>2 days</a></li>
                <li><a href="#" {{action setItemDate 7}}>1 week</a></li>
              </ul>
            </div>
          </td>
          <td>
            {{#if view.showAddButton }}
            <a href="#" {{action createNewItem target="view"}} class="btn">
              <i class="ss-standard ss-plus"></i>
            </a>
            {{/if}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

