<div class="checklist block">
  <h1><i class="ss-standard ss-plus"></i>New Deal</h1>
</div>
<div class="secondary">
  <form class="form form-horizontal">
    {{partial "saving"}}
    <fieldset>
      <div class="control-group">
        <label class="control-label">Deal Name</label>
        <div class="controls required">
          {{view view.name class="field input-xlarge" placeholder="Deal Name"}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Contact</label>
        <div class="controls required">
          {{view view.contactPicker}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Assigned To</label>
        <div class="controls required">
          {{view view.userPicker}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Description</label>
        <div class="controls required">
          {{view view.description valueBinding="description" placeholder="Description" classNames="field input-xxlarge"}}
        </div>
      </div>
      {{#if reference}}
        <div class="control-group">
          <label class="control-label">Related to</label>
          <div class="controls">
            <!-- FIXME : create linkToResource -->
            {{#linkTo unimplemented}}{{view.referenceName}}{{/linkTo}}
          </div>
        </div>
      {{/if}}
      <div class="control-group">
        <label class="control-label">Forecast</label>
        <div class="controls">
          <div class="checklist-forecast">
            {{view Radium.ProgressBar percentageBinding="percentage"}}
            <div {{bindAttr class=":total total:white"}}>{{total}}%</div>
            <div class="checklist-plus">
              <a href="#checklistModal" class="btn" {{action toggleChecklist target="view" bubbles=false}}>
                {{#if view.showChecklistItems}}
                  <i class="ss-standard ss-navigateup"></i>
                {{else}}
                  <i class="ss-standard ss-navigatedown"></i>
                {{/if}}
              </a>
            </div>
          </div>
          {{view Radium.ChecklistView}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Deal Value</label>
        <div class="controls">
          {{view view.dealValue}}
        </div>
      </div>
      <div class="detail-plus">
        <a href="#checklistModal" class="btn" {{action toggleDetail target="view" bubbles=false}}>
          {{#if view.showDetail}}
            <i class="ss-standard ss-navigateup"></i>
          {{else}}
            <i class="ss-standard ss-navigatedown"></i>
          {{/if}}
        </a>
      </div>
      <div id="deal-detail">
        <hr/>
        <div class="control-group">
          <label class="control-label">Deal Status</label>
          <div class="controls radio-group">
            {{view view.dealStates}}
          </div>
        </div>
        <div class="control-group">
          <div class="controls add-files">
            <button class="btn add-files" {{bindAttr disabled="view.disabled"}}>
              Add Files <i class="ss-standard ss-attach"></i>
            </button>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">PO Number</label>
          <div class="controls">
            {{view Ember.TextField valueBinding="poNumber" disabledBinding="view.disabled" class="field input-xxlarge"}}
          </div>
        </div>
      </div>
      <hr/>
      {{partial 'validation_error_message'}}
      <div class="control-group actions">
        <button href="#" class="btn publish" {{bindAttr disabled="isSaving"}} {{action saveAsDraft}}>Save as draft</button>
        <button href="#" class="btn btn-success publish"  {{bindAttr disabled="isSaving"}} {{action publish}}>
          {{#if isSaving}}
            <img src="/images/ajax-loader.gif"/> <span class="muted">Saving</span>
          {{else}}
            Publish
          {{/if}}
        </button>
      </div>
    </fieldset>
  </form>
</div>
