<div class="checklist block">
  <h1><i class="icon-plus"></i>New Deal</h1>
</div>
<div class="secondary">
  <form class="form form-horizontal">
    <fieldset>
      <div class="control-group">
        <label class="control-label">Deal Name</label>
        <div class="controls">
          {{view view.name class="field input-xlarge" placeholder="Deal Name"}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Contact</label>
        <div class="controls">
          {{view view.contactPicker}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Company</label>
        <div class="controls">
          {{view view.companyPicker class="field"}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Contact</label>
        <div class="controls">
          {{view view.contactPicker}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Assigned To</label>
        <div class="controls">
          {{view view.userPicker}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Description</label>
        <div class="controls">
          {{view view.description valueBinding="description" placeholder="Description" classNames="field input-xxlarge"}}
        </div>
      </div>
      {{#if reference}}
        <div class="control-group">
          <label class="control-label">Related to</label>
          <div class="controls">
            <!-- FIXME : create linkToResource -->
            {{#linkTo unimplemented}}{{view.referenceName}}{{/linkTo}}
          </div>
        </div>
      {{/if}}
      <div class="control-group">
        <label class="control-label">Source</label>
        <div class="controls">
          {{view view.source class="field"}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Forecast</label>
        <div class="controls">
          <div class="checklist-forecast">
            {{view Radium.ProgressBar percentageBinding="checklist.percentage"}}
            <div {{bindAttr class=":total checklist.total:white"}}>{{checklist.total}}%</div>
            <div class="checklist-plus">
              <a href="#checklistModal" class="btn" {{action toggleChecklist target="view" bubbles=false}}>
                {{#if view.showChecklistItems}}
                  <i class="icon-arrow-up"></i>
                {{else}}
                  <i class="icon-arrow-down"></i>
                {{/if}}
              </a>
            </div>
          </div>
        </div>
        {{view Radium.ChecklistView}}
      </div>
      <hr/>
      <div class="control-group">
        <label class="control-label">Deal Status</label>
        <div class="controls">
          {{view view.dealStatuses}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Negotiating For</label>
        <div class="controls">
          <strong class="dollar">$</strong>
          {{view Ember.TextField type="number" valueBinding="value" class="field input-medium negotitating"}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Add Files</label>
        <div class="controls">
          <button class="btn add-files">
            <!-- FIXME: get add folder font -->
            Add Files
          </button>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">PO Number</label>
        <div class="controls">
          {{view Ember.TextField valueBinding="poNumber" class="field input-xxlarge"}}
        </div>
      </div>
      <hr/>
      {{partial 'validation_error_message'}}
      <div class="control-group actions">
        <a href="#" class="btn cancel" {{action back}}>Cancel</a>
        <a href="#" class="btn publish" {{action saveAsDraft}}>Save as draft</a>
        <a href="#" class="btn btn-success publish" {{action publish}}>Publish</a>
      </div>
    </fieldset>
  </form>
</div>
