<div class="block">
  <h3>New call Form: No Contact</h3>
  {{render "forms/call" newCall}}

  <h3>Editable call</h3>
  {{render "forms/call" editableCall}}

  <h3>Uneditable call & Expandable</h3>
  {{render "forms/call" uneditableCall}}

  <h3>Editable Finished call</h3>
  {{render "forms/call" editableFinishedCall}}

  <h3>Uneditable Finished call</h3>
  {{render "forms/call" uneditableFinishedCall}}

  <h3>call after adding</h3>
  {{render "forms/call" justAddedCall}}
</div>
