<div class="block">
  <h2>Form Controls</h2>

  <h3>Switches</h3>

  <p>Basic Switch</p>
  <div class="toggle-switch">
    <label>
      Something
      <input type="checkbox">
      <div class="switch"></div>
    </label>
  </div>

  <p>Tracking Switch (untracked)</p>
  <div class="toggle-switch tracking-switch">
    <label>
      <input type="checkbox">
      <div class="switch"></div>
    </label>
  </div>

  <p>Tracking Switch (tracked)</p>
  <div class="toggle-switch tracking-switch">
    <label>
      <input type="checkbox" checked>
      <div class="switch"></div>
    </label>
  </div>

  <p>Green-Yellow Switch (off)</p>
  <div class="toggle-switch green-yellow tracking-switch">
    <label>
      <input type="checkbox">
      <div class="switch"></div>
    </label>
  </div>

  <p>Green-Yellow Switch (on)</p>
  <div class="toggle-switch green-yellow tracking-switch">
    <label>
      <input type="checkbox" checked>
      <div class="switch"></div>
    </label>
  </div>

  <p>Large Switch</p>
  <div class="toggle-switch large">
    <label>
      Something
      <input type="checkbox">
      <div class="switch"></div>
    </label>
  </div>

  <p>American Size Switch</p>
  <div class="toggle-switch xxlarge">
    <label>
      Something
      <input type="checkbox">
      <div class="switch"></div>
    </label>
  </div>

  <p>Switch View ({{switchEnabled}})</p>
  {{view Radium.ToggleSwitch label="Binding Test" checkedBinding="switchEnabled"}}
  <p><button class="btn" {{action toggleSwitch}}>Toggle Switch via bindings</button></p>

  <h3>Text Boxes</h3>

  <p><input type="text" class="field" placeholder="Empty"></p>
  <p><input type="text" class="field" value="With text already" /></p>
  <p><input type="text" class="field is-valid" placeholder="when valid"></p>
  <p><input type="text" class="field is-invalid" placeholder="when invalid"></p>
  <p><input type="text" class="field" value="Disabled" disabled /></p>
  <p><input type="text" class="field" value="Readonly" readonly /></p>

  <h3>Text Boxes that Blend In</h3>

  <p><input type="text" class="field field-blend-in" placeholder="Empty"></p>
  <p><input type="text" class="field field-blend-in" value="With text already" /></p>
  <p><input type="text" class="field field-blend-in is-valid" placeholder="when valid"></p>
  <p><input type="text" class="field field-blend-in is-invalid" placeholder="when invalid"></p>
  <p><input type="text" class="field field-blend-in" value="Disabled" disabled /></p>
  <p><input type="text" class="field field-blend-in" value="Readonly" readonly /></p>

  <h3>Control Boxes</h3>

  <p>Basic control box</p>
  <div class="control-box field">
    <div class="btn-group">
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="icon-calendar"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a {{action setDate 'today' target=view}}>Today</a></li>
        <li><a {{action setDate 'tomorrow' target=view}}>Tomorrow</a></li>
        <li><a {{action setDate 'this_week' target=view}}>Later This Week</a></li>
        <li><a {{action setDate 'next_week' target=view}}>Next Week</a></li>
        <li><a {{action setDate 'next_month' target=view}}>In a Month</a></li>
        <li>
          <a class="datepicker-link" data-date="{{unbound view.defaultDate}}" href="#">
            <i class="icon-calendar"></i>Pick a Date
          </a>
        </li>
      </ul>
    </div>
    <span class="text">Due</span>
    <input type="text" value="2010-05-05" />
  </div>

  <p>Valid control box</p>
  <div class="control-box field is-valid">
    <div class="btn-group">
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="icon-calendar"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a {{action setDate 'today' target=view}}>Today</a></li>
        <li><a {{action setDate 'tomorrow' target=view}}>Tomorrow</a></li>
        <li><a {{action setDate 'this_week' target=view}}>Later This Week</a></li>
        <li><a {{action setDate 'next_week' target=view}}>Next Week</a></li>
        <li><a {{action setDate 'next_month' target=view}}>In a Month</a></li>
        <li>
          <a class="datepicker-link" data-date="{{unbound view.defaultDate}}" href="#">
            <i class="icon-calendar"></i>Pick a Date
          </a>
        </li>
      </ul>
    </div>
    <span class="text">Due</span>
    <input type="text" value="2010-05-05" />
  </div>

  <p>Invalid control box</p>
  <div class="control-box field is-invalid">
    <div class="btn-group">
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="icon-calendar"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a {{action setDate 'today' target=view}}>Today</a></li>
        <li><a {{action setDate 'tomorrow' target=view}}>Tomorrow</a></li>
        <li><a {{action setDate 'this_week' target=view}}>Later This Week</a></li>
        <li><a {{action setDate 'next_week' target=view}}>Next Week</a></li>
        <li><a {{action setDate 'next_month' target=view}}>In a Month</a></li>
        <li>
          <a class="datepicker-link" data-date="{{unbound view.defaultDate}}" href="#">
            <i class="icon-calendar"></i>Pick a Date
          </a>
        </li>
      </ul>
    </div>
    <span class="text">Due</span>
    <input type="text" value="2010-05-05" />
  </div>

  <p>Disabled control box</p>
  <div class="control-box field is-disabled">
    <div class="btn-group">
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="icon-calendar"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a {{action setDate 'today' target=view}}>Today</a></li>
        <li><a {{action setDate 'tomorrow' target=view}}>Tomorrow</a></li>
        <li><a {{action setDate 'this_week' target=view}}>Later This Week</a></li>
        <li><a {{action setDate 'next_week' target=view}}>Next Week</a></li>
        <li><a {{action setDate 'next_month' target=view}}>In a Month</a></li>
        <li>
          <a class="datepicker-link" data-date="{{unbound view.defaultDate}}" href="#">
            <i class="icon-calendar"></i>Pick a Date
          </a>
        </li>
      </ul>
    </div>
    <span class="text">Due</span>
    <input type="text" value="2010-05-05" />
  </div>

  <p>Readonly control box</p>
  <div class="control-box field is-readonly">
    <div class="btn-group">
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="icon-calendar"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a {{action setDate 'today' target=view}}>Today</a></li>
        <li><a {{action setDate 'tomorrow' target=view}}>Tomorrow</a></li>
        <li><a {{action setDate 'this_week' target=view}}>Later This Week</a></li>
        <li><a {{action setDate 'next_week' target=view}}>Next Week</a></li>
        <li><a {{action setDate 'next_month' target=view}}>In a Month</a></li>
        <li>
          <a class="datepicker-link" data-date="{{unbound view.defaultDate}}" href="#">
            <i class="icon-calendar"></i>Pick a Date
          </a>
        </li>
      </ul>
    </div>
    <span class="text">Due</span>
    <input type="text" value="2010-05-05" />
  </div>

  <h2>Mentions</h2>

  <p>General Mention Input</p>
  {{view Radium.MentionFieldView palceholder="Mentions" classNames="field"}}

  <p>Blend in Mention Input</p>
  {{view Radium.MentionFieldView palceholder="Mentions" classNames="field field-blend-in"}}
</div>
