<div class="block">
  <h3>New Meeting Form</h3>
  {{control "forms/meeting" newMeeting}}

  <h3>Editable Meeting</h3>
  {{ control "forms/meeting" editableMeeting}}

  <h3>Uneditable Meeting & Expandable</h3>
  {{control "forms/meeting" uneditableMeeting}}

  <h3>Editable : Passed start date</h3>
  {{control "forms/meeting" editablePassedMeeting}}

  <h3>Uneditable Passed start date</h3>
  {{control "forms/meeting" uneditablePassedMeeting}}

  <h3>Meeting after adding</h3>
  {{control "forms/meeting" justAddedMeeting}}
</div>
