<div class="block">
  <h3>New Todo Form: No Context</h3>
  {{render "forms/todo" newTodo}}

  <h3>Editable Todo</h3>
  {{render "forms/todo" editableTodo}}

  <h3>Uneditable Todo & Expandable</h3>
  {{render "forms/todo" uneditableTodo}}

  <h3>Editable Finished Todo</h3>
  {{render "forms/todo" editableFinishedTodo}}

  <h3>Uneditable Finished Todo</h3>
  {{render "forms/todo" uneditableFinishedTodo}}

  <h3>Todo after adding</h3>
  {{render "forms/todo" justAddedTodo}}
</div>
