<div class="block">
  <h2>Widgets</h2>

  <p>
    Date Picker <span class="muted">(Currently Selected: {{date}})</span></br>
    {{view Radium.DatePicker class="field" dateBinding="date"}}
  </p>

  <p>
    User Picker <span class="muted">(Currently Selected: {{user}})</span></br>
    {{view Radium.UserPicker class="field"}}
  </p>
</div>

<div class="block">
  <h2>Next Task Widgets</h2>

  <p>Todo</br>
  {{render 'next_task' todo}}
  </p>

  <p>Call</br>
  {{render 'next_task' call}}
  </p>

  <p>Meeting</br>
  {{render 'next_task' meeting}}
  </p>

  <p>No Tasks</br>
  {{render 'next_task' nada}}
  </p>
</div>

<div class="block">
  <h2>Related Tasks</h2>

  {{render 'related_tasks' tasks}}
</div>
