{{#with view.reference.meeting}}
  {{#if isLoaded}}
    Invited to meeting: <a {{action expandFeedItem this}}>{{topic}}</a>
    {{#if location}}
      @ {{location}}
    {{/if}}

    ({{formatDate startsAt}})
  {{else}}
    Loading...
  {{/if}}
{{/with}}
