<form class="form">
  {{render 'sidebar/user' model}}

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-navigate"></i> Contact
      </h6>
    </div>
    <div class="sidebar-panel-content">
      <div class="user-avatar pull-left">
        {{#if contact.isLoaded}}
          {{avatar contact size=medium class="img-polaroid"}}
        {{else}}
          {{partial 'is_loading'}}
        {{/if}}
      </div>
      <div class="clearfix">
        {{render 'sidebar/contact_picker' model}}
        <p class="title muted">{{contact.title}}</p>
      </div>
    </div>
  </div>

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-chart"></i> Forecast
      </h6>
    </div>
    <div class="sidebar-panel-content">
      {{view Radium.ProgressBar percentageBinding="percentage"}}
      <div class="checklist-plus">
        <a href="#checklistModal" {{action showChecklist this}} class="btn btn-success">
          <i class="ss-standard ss-plus"></i>
        </a>
      </div>
      <div {{bindAttr class=":total total:white"}}>{{total}}%</div>
    </div>
  </div>

  {{render 'sidebar/amount' model}}


  {{#unless isPublic}}
    <p class="muted">Publish this deal to change its status</p>
  {{/unless}}

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <div class="pull-right upload-file-btn">
        {{view view.fileUploader class="upload-button"}}
      </div>
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-attach"></i> Attachments
      </h6>
    </div>
    {{partial 'shared/attachments'}}
  </div>


  {{partial 'shared/followers'}}

  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      <button class="btn btn-warning btn-block" {{action togglePublished}} {{bindAttr disabled=isSaving}}>
        {{#if isPublic}}
          Unpublish
        {{else}}
          Publish
        {{/if}}
      </button>
      <button class="btn btn-danger btn-block" {{action confirmDeletion}} {{bindAttr disabled=isSaving}}>Delete</button>
    </div>
  </div>
</form>
