<div class="form">
  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      <h2 class="deal-title">
        <i class="ss-standard ss-briefcase"></i>
        {{inline-editor model=model bufferKey="name" notRoutable=true placeholder="Add Name" parent=this isRequired=true}}
      </h2>
    </div>
  </div>
  
  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      <dl class="dl-horizontal">
        <dt><i class="ss-standard ss-target"></i></dt>
        <dd>7 Days in Current Status</dd>
      </dl>

      <dl class="dl-horizontal">
        <dt><i class="ss-standard ss-like"></i></dt>
        <dd>
          {{#if isEditing}}
            <div>
              {{view view.statusSelect class="status-select"}}
            </div>
          {{else}}
            <div class="deal-status">
              <p>{{status}}<i class="ss-standard ss-write pull-right" {{action "toggleEditor" target=view bubbles=false}}></i></p>
            </div>
          {{/if}}
        </dd>
      </dl>

      <dl class="dl-horizontal">
        <dt><i class="ss-standard ss-dollarsign"></i></dt>
        <dd>{{amount}}</dd>
      </dl>
    </div>
  </div>

  {{assign-to model=model users=users user=model.user validator=this}}

  {{#unless isPublic}}
    <div class="sidebar-panel sidebar-panel-warning">
      <div class="sidebar-panel-content">
        <div class="text-center">
          <i class="ss-standard ss-info"></i> Publish this deal to change its status
        </div>
      </div>
    </div>
  {{/unless}}

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        Primary Contact
      </h6>
    </div>
    <div class="sidebar-panel-content">
      <div class="user-avatar pull-left">
        {{#if hasPrimaryContact}}
          {{#if contact.isLoaded}}
            {{avatar contact size=medium class="img-polaroid"}}
            {{else}}
            {{partial 'is_loading'}}
          {{/if}}
        {{else}}
          <span class="no-primary">No Primary Contact</span>
        {{/if}}
      </div>
      <div class="clearfix">
         {{autocomplete-textbox scopes="contact" value=form.contact queryKey="displayName" action="setPrimaryContact" validations=contactValidations validator=controller validationField="contact" placeholder="Add Primary Contact" class="contact-picker"}}
        <p class="title muted">{{contact.title}}</p>
      </div>
    </div>
  </div>

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        Additional Contacts
      </h6>
    </div>
    <div class="sidebar-panel-content">
      <div class="contacts-picker">
        {{add-contacts parent=model contacts=model.contacts }}
      </div>
    </div>
  </div>

  <div class="sidebar-panel sidebar-about">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        About
      </h6>
    </div>
    <div class="sidebar-panel-content">
      {{inline-editor model=model bufferKey="about" notRoutable=true placeholder="Add about text" parent=this class="about-text" multiline=true}}
      <div>
        <i class="ss-standard ss-user"></i> added on {{formatDateTime createdAt format="date"}}
      </div>
    </div>
  </div>

  {{sidebar-attachments files=files model=model}}

  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      <button class="btn btn-danger btn-block" {{action "confirmDeletion"}} {{bind-attr disabled=isSaving}}>Delete</button>
    </div>
  </div>
</div>
