<form class="form">
  {{render 'sidebar/user' model}}
  {{render 'sidebar/deal_status' model}}

  {{#unless isPublic}}
    <div class="sidebar-panel sidebar-panel-warning">
      <div class="sidebar-panel-content">
        <div class="text-center">
          <i class="ss-standard ss-info"></i> Publish this deal to change its status
        </div>
      </div>
    </div>
  {{/unless}}

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-navigate"></i>Primary Contact
      </h6>
    </div>
    <div class="sidebar-panel-content">
      <div class="user-avatar pull-left">
        {{#if contact.isLoaded}}
          {{avatar contact size=medium class="img-polaroid"}}
        {{else}}
          {{partial 'is_loading'}}
        {{/if}}
      </div>
      <div class="clearfix">
        {{render 'sidebar/contact_picker' model}}
        <p class="title muted">{{contact.title}}</p>
      </div>
    </div>
  </div>

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-users"></i>Additional Contacts
      </h6>
    </div>
    <div class="sidebar-panel-content">
      <div class="contacts-picker">
        {{add-contacts parent=model store=controller.store}}
      </div>
    </div>
  </div>

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-chart"></i> Forecast
      </h6>
    </div>
    <div class="sidebar-panel-content">
      {{view Radium.ProgressBar percentageBinding="percentage"}}
      <div class="checklist-plus">
        <a href="#checklistModal" {{action "showChecklist" this}} class="btn btn-success">
          <i class="ss-standard ss-plus"></i>
        </a>
      </div>
      <div {{bind-attr class=":total total:white"}}>{{total}}%</div>
    </div>
  </div>

  {{render 'sidebar/amount' model}}

  {{render 'sidebar/notes' model}}

  {{partial 'shared/attachments'}}

  {{partial 'shared/followers'}}

  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      <button class="btn btn-warning btn-block publish" {{action "togglePublished"}} {{bind-attr disabled=isSaving}}>
        {{#if isPublic}}
          Unpublish
        {{else}}
          Publish
        {{/if}}
      </button>
      <button class="btn btn-danger btn-block" {{action "confirmDeletion"}} {{bind-attr disabled=isSaving}}>Delete</button>
    </div>
  </div>
</form>
