<form class="form">
  <div class="page-header">
    {{render 'sidebar/name' model}}
  </div>

  <div class="meta">
    {{avatar contact size=medium class="img-polaroid"}}
    <p>
      {{render 'sidebar/contact_picker' model}}
      <span class="title muted">{{contact.title}}</span>
    </p>
  </div>

  <div class="forecast">
    <hr />
    <h2>Forecast</h2>
    {{view Radium.ProgressBar percentageBinding="percentage"}}
    <div class="checklist-plus">
      <a href="#checklistModal" class="btn btn-success" data-toggle="modal">
        <i class="icon-plus"></i>
      </a>
    </div>
    <div {{bindAttr class=":total total:white"}}>{{total}}%</div>
    <hr />
  </div>
  <div id="checklistModal" class="modal fade">
    <div class="modal-header">
      <button type="button"  {{action rollback bubbles="false"}} data-dismiss="modal" class="close">×</button>
      <h2>Checklist</h2>
    </div>
    <div class="modal-body">
      {{view Radium.ChecklistView}}
    </div>
    <div class="modal-footer">
      <a href="#"  {{action rollback bubbles="false"}} class="btn" data-dismiss="modal">Cancel</a>
      <a href="#" {{action commit bubbles="false"}} data-dismiss="modal" class="btn btn-primary">Done</a>
    </div>
  </div>

  {{render 'sidebar/description' model}}

  <hr />

  {{render 'sidebar/amount' model}}

  <hr />

  {{#unless isPublic}}
    <p class="muted">Publish this deal to change its status</p>
  {{/unless}}

  {{render 'sidebar/deal_status' model}}

  <hr />

  {{render 'sidebar/user' model}}

  <hr />

  <h2 class="with-button">
    Attachments
    <button class="btn pull-right">Add File</button>
  </h2>

  {{#each attachment in attachments}}
    Foo
  {{/each}}

  {{partial 'shared/followers'}}

  <hr />

  <button class="btn btn-warning btn-block" {{action toggleVisiblity}}>
    {{#if isPublic}}
      Unpublish
    {{else}}
      Publish
    {{/if}}
  </button>
  <button class="btn btn-danger btn-block" {{action confirmDeletion}}>Delete</button>
</form>
