<div class="form">
  {{assign-to model=model users=users user=model.user validator=this}}

  {{#unless isPublic}}
    <div class="sidebar-panel sidebar-panel-warning">
      <div class="sidebar-panel-content">
        <div class="text-center">
          <i class="ss-standard ss-info"></i> Publish this deal to change its status
        </div>
      </div>
    </div>
  {{/unless}}

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-navigate"></i>Primary Contact
      </h6>
    </div>
    <div class="sidebar-panel-content">
      <div class="user-avatar pull-left">
        {{#if hasPrimaryContact}}
          {{#if contact.isLoaded}}
            {{avatar contact size=medium class="img-polaroid"}}
            {{else}}
            {{partial 'is_loading'}}
          {{/if}}
        {{else}}
          <span class="no-primary">No Primary Contact</span>
        {{/if}}
      </div>
      <div class="clearfix">
         {{autocomplete-textbox scopes="contact" value=form.contact queryKey="displayName" action="setPrimaryContact" validations=contactValidations validator=controller validationField="contact" placeholder="Add Primary Contact" class="contact-picker"}}
        <p class="title muted">{{contact.title}}</p>
      </div>
    </div>
  </div>

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-users"></i>Additional Contacts
      </h6>
    </div>
    <div class="sidebar-panel-content">
      <div class="contacts-picker">
        {{add-contacts parent=model contacts=model.contacts }}
      </div>
    </div>
  </div>

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard"></i>Expected Close Date
      </h6>
    </div>
    <div class="sidebar-panel-content">
      {{inline-datepicker model=model key="expectedCloseDate"}}
    </div>
  </div>

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-chart"></i> Forecast
      </h6>
    </div>
    <div class="sidebar-panel-content">
      {{view Radium.ProgressBar percentageBinding="percentage"}}
      <div class="checklist-plus">
        <a href="#checklistModal" {{action "showChecklist" this}} class="btn btn-success">
          <i class="ss-standard ss-plus"></i>
        </a>
      </div>
      <div {{bind-attr class=":total total:white"}}>{{total}}%</div>
    </div>
  </div>

  {{inline-money model=model key="value" class="sidebar-panel" currencySymbol=currencySymbol}}

  <div class="sidebar-panel sidebar-about">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        About
      </h6>
    </div>
    <div class="sidebar-panel-content">
      {{inline-editor model=model bufferKey="about" notRoutable=true placeholder="Add about text" parent=this class="about-text" multiline=true}}
      <div>
        <i class="ss-standard ss-user"></i> added on {{formatDateTime createdAt format="date"}}
      </div>
    </div>
  </div>

  {{sidebar-attachments files=files model=model}}

  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      <button class="btn btn-warning btn-block publish" {{action "togglePublished"}} {{bind-attr disabled=isSaving}}>
        {{#if isPublic}}
          Unpublish
          {{else}}
          Publish
        {{/if}}
      </button>
      <button class="btn btn-danger btn-block" {{action "confirmDeletion"}} {{bind-attr disabled=isSaving}}>Delete</button>
    </div>
  </div>
</div>
