<form class="form">
  <div class="page-header">
    {{render 'sidebar/name' model}}
  </div>

  <div class="meta">
    {{avatar contact size=medium class="img-polaroid"}}
    <p>
      {{render 'sidebar/contact_picker' model}}
      <span class="title muted">{{contact.title}}</span>
    </p>
  </div>

  <div class="forecast">
    <hr />
    <h2>Forecast</h2>
    {{view Radium.ProgressBar percentageBinding="percentage"}}
    <div class="checklist-plus">
      <a href="#checklistModal" {{action showChecklist this}} class="btn btn-success">
        <i class="ss-standard ss-plus"></i>
      </a>
    </div>
    <div {{bindAttr class=":total total:white"}}>{{total}}%</div>
    <hr />
  </div>

  {{render 'sidebar/description' model}}

  <hr />

  {{render 'sidebar/amount' model}}

  <hr />

  {{#unless isPublic}}
    <p class="muted">Publish this deal to change its status</p>
  {{/unless}}

  {{render 'sidebar/deal_status' model}}

 <hr />

  {{render 'sidebar/user' model}}

  <hr />

  <h2 class="with-button">
    Attachments
    {{view view.fileUploader class="upload-button"}}
    <!--<button class="btn pull-right">Add File</button>-->
  </h2>

  {{partial 'shared/attachments'}}

  {{partial 'shared/followers'}}

  <hr />

  <button class="btn btn-warning btn-block" {{action togglePublished}} {{bindAttr disabled=isSaving}}>
    {{#if isPublic}}
      Unpublish
    {{else}}
      Publish
    {{/if}}
  </button>
  <button class="btn btn-danger btn-block" {{action confirmDeletion}} {{bindAttr disabled=isSaving}}>Delete</button>
</form>
