<form class="form">
  <div class="page-header">
    {{#view Radium.InlineEditorView valueBinding=name}}
      {{#if view.isEditing}}
        {{input value=name class="field deal-name"}}
      {{else}}
        <h1>{{name}}<i class="icon-edit pull-right" {{action toggleEditor target=view bubbles=false}}></i></h1>
      {{/if}}
    {{/view}}
  </div>

  <div class="meta">
    {{avatar contact size=medium class="img-polaroid"}}
    <p>
      {{#view view.contactInlineEditor valueBinding=contact.name class="contact"}}
        {{#if view.isEditing}}
          {{view view.contactPicker}}
        {{else}}
          <span class="name">{{contact.name}}<i class="icon-edit pull-right" {{action toggleEditor target=view bubbles=false}}></i></span></br></br>
        {{/if}}
      {{/view}}
      <span class="title muted">{{contact.title}}</span>
    </p>
  </div>

  <div class="forecast">
    <hr />
    <h2>Forecast</h2>
    {{view Radium.ProgressBar percentageBinding="percentage"}}
    <div class="checklist-plus">
      <a href="#checklistModal" class="btn btn-success" data-toggle="modal">
        <i class="icon-plus"></i>
      </a>
    </div>
    <div {{bindAttr class=":total total:white"}}>{{total}}%</div>
    <hr />
  </div>
  <div id="checklistModal" class="modal fade">
    <div class="modal-header">
      <button type="button"  {{action rollback bubbles="false"}} data-dismiss="modal" class="close">×</button>
      <h2>Checklist</h2>
    </div>
    <div class="modal-body">
      {{view Radium.ChecklistView}}
    </div>
    <div class="modal-footer">
      <a href="#"  {{action rollback bubbles="false"}} class="btn" data-dismiss="modal">Cancel</a>
      <a href="#" {{action commit bubbles="false"}} data-dismiss="modal" class="btn btn-primary">Done</a>
    </div>
  </div>
  {{#view Radium.InlineEditorView valueBinding=description}}
    <h2>Description <i class="icon-edit pull-right" {{action toggleEditor target=view bubbles=false}}></i></h2>

    {{#if view.isEditing}}
      {{view view.textArea valueBinding=view.value classNameBindings="view.isValid:is-valid:is-invalid :input-block-level :field"}}
    {{else}}
      <p class="inline-editor-text">
        {{view.value}}
      </p>
    {{/if}}
  {{/view}}

  <hr />

  {{#view Radium.InlineEditorView valueBinding=value class="amount"}}
    <h2>Amount <i class="icon-edit pull-right" {{action toggleEditor target=view bubbles=false}}></i></h2>

    {{#if view.isEditing}}
      <div {{bindAttr class="view.isValid:success:error :control-group"}}>
        <div class="input-prepend">
          <span class="add-on">$</span>
          {{view view.textField valueBinding=view.value class="span2" type="number" min="0"}}
        </div>
      </div>
    {{else}}
      <span class="money inline-editor-text">
        {{currency view.value}}
      </span>
    {{/if}}
  {{/view}}

  <hr />

  {{#unless isPublic}}
    <p class="muted">Publish this deal to change its status</p>
  {{/unless}}

  {{view view.dealStatusInlineEditor class="deal-status"}}

  <hr />

  {{render 'sidebar/user' model}}

  <hr />

  <h2 class="with-button">
    Attachments
    <button class="btn pull-right">Add File</button>
  </h2>

  {{#each attachment in attachments}}
    Foo
  {{/each}}

  {{partial 'shared/followers'}}

  <hr />

  <button class="btn btn-warning btn-block" {{action toggleVisiblity}}>
    {{#if isPublic}}
      Unpublish
    {{else}}
      Publish
    {{/if}}
  </button>
  <button class="btn btn-danger btn-block" {{action confirmDeletion}}>Delete</button>
</form>
