  {{#with controller.user}}
    <div class="page-header">
      <a href="#" class="btn btn-small pull-right" {{action "addUserTodo"}}>Add todo</a>
      <h3>{{name}} Feed</h3>
    </div>
    {{#with feed}}
      {{#each content}}
        {{#if hasVisibleContent}}
          <div class="page-header">
            <h3>{{formatDate date}}</h3>
          </div>
          {{#if sortedOngoing}}
            {{#each sortedOngoing}}
              {{view Radium.FeedView contentBinding="this"}}
            {{/each}}
            <hr>
          {{/if}}
          
          {{#each historical}}
            {{view Radium.HistoricalFeedView contentBinding="this"}}
          {{/each}}
        {{/if}}
      {{/each}}
    {{/with}}
  </div>
  {{/with}}