{{#link-to "calendar.task" item.content.content}}
  <button {{action finishTask bubbles=false}} class="btn btn-link pull-left events-list-item-button">
    {{taskIcon item.content.content}}
  </button>
  <button {{action deleteTask content.content}} class="btn-icon delete close pull-right">
    <i class="ss-block ss-trash"></i>
  </button>
  <div {{bind-attr class="isFinished :events-list-item-description"}}>
    {{item.title}}
  </div>
{{/link-to}}
