<div class="block">
  {{avatar this style="medium"}}
  <h3>{{name}}</h3>
</div>

{{#each day in days}}
  <p>{{formatDateTime day.date format=date}}</p>

  {{#each item in day}}
    <div class="block">{{formatDateTime item.time}} - {{item.title}}</div>
  {{/each}}
{{/each}}
