{{#if controllers.calendar.user}}
  <div class="block events-user-details">
    <div class="user-avatar">
      {{avatar this style="medium"}}
    </div>
    <h3 class="events-user-name">{{controllers.calendar.user.name}}</h3>
  </div>
{{/if}}
{{#if isLoading}}
  {{partial 'is_loading'}}
{{/if}}

<div class="events-list-header">
  Overdue
</div>
{{! TODO: Add overdue items each loop here. Empty class is shown}}
<div class="ember-view events-list-item">
  <i class="ss-symbolicons-block ss-smile"></i> No overdue items
</div>

{{#unless selectedDay.date}}
  {{#each day in days}}
    <div class="events-list-header">
      {{formatDateTime day.date format="calendar"}}
    </div>
    {{each item in day itemController="calendarTaskItem" itemViewClass="Radium.CalendarTaskItemView"}}
  {{/each}}
{{else}}
  <div class="events-list-back-button">
    <button class="btn" {{action selectDay}}>‹ Monthly View</button>
  </div>
  <div class="events-list-header">{{formatDateTime selectedDay.date format=date}}</div>

  {{#if selectedDay.length}}
    {{each item in selectedDay itemController="calendarTaskItem" itemViewClass="Radium.CalendarTaskItemView"}}
  {{else}}
    <div class="events-list-item events-list-empty">No tasks for this day</div>
  {{/if}}
{{/unless}}
