<header>
  {{#link-to "calendar.index" model.time class="btn pull-right"}}
    Back to Calendar
  {{/link-to}}
  <h3>
    {{formatDateTime time format=full}}
  </h3>
</header>

{{#unless isDeleted}}
  {{#if showTodoForm}}
    {{render "forms/todo" model}}
  {{/if}}

  {{#if showCallForm}}
    {{render "forms/call" model}}
  {{/if}}

  {{#if showMeetingForm}}
    {{render "forms/meeting" model}}
  {{/if}}
{{else}}
<div class="alert">
<h4 class="text-center">The task has been deleted.</h4>
</div> 
{{/unless}}
