{{#with view.content}}
<div class="well well-small">
  <div>
      {{#if sender.avatar.small_url}}
        <img class="avatar" {{bindAttr src="sender.avatar.small_url" title="sender.displayName"}}>
      {{else}} <img class="avatar" src="/images/fallback/small_default.png">
      {{/if}}
      <strong>{{unbound sender.displayName}}</strong>
  </div>
  <div class="subject">
    <strong>{{unbound subject}}</strong>
  </div>
</div>
<div class="well well-large body">
  {{{unbound message}}}
  <div class="attachments">
    <ul class="thumbnails">
      {{#each attachments}}
        <li class="span2">
          <a href="#" class="thumbnail">
            <img class="img-polaroid" src="http://placehold.it/170x100" alt="">
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
<div class="well well-small email-actions">
  <div class="btn-toolbar">
    <div class="btn-group">
      <a class="btn">
        <i class="icon-reply"></i> Reply
      </a>
      <a class="btn">
        <i class="icon-forward-2"></i> Forward
      </a>
      <a {{action showActionSection  target="view"}} class="btn">
        Add {{#if view.showActions}}<i class="icon-minus"></i>{{else}}<i class="icon-plus"></i>{{/if}}
      </a>
    </div>
    <div class="btn-group pull-right">
      <a {{action setVisibility this target="controller"}} class="btn">
        {{#if isPublic}}
        <i class="icon-ban-circle"></i> Private
        {{else}}
        <i class="icon-ok-circle"></i> Public
        {{/if}}
      </a>
      <a {{action deleteEmail this target="controller"}} class="btn btn-danger">
        <i class="icon-trash icon-white"></i>
      </a>
    </div>
  </div>
  {{#if view.showActions}}
  <div class='email-alert-area'></div>
  <div class="btn-toolbar">
    <div class="btn-group">
      <a {{action toggleTodoForm target="view"}} class="btn">
        Todo <i class="icon-plus"></i>
      </a>
      <a {{action toggleMeetingForm  target="view"}} class="btn">
        Meeting <i class="icon-plus"></i>
      </a>
      <a {{action toggleFollowCall  target="view"}} class="btn">
        Call <i class="icon-plus"></i>
      </a>
    </div>
  </div>
  <div class="rel">
    {{view view.ActionContainer viewName="actionContainer"}}
  </div>
  {{/if}}
  <div class="comments">
    <h2>Comments {{#if comments.length}}({{comments.length}}){{/if}}</h2>
    <div>
      {{view view.FormContainer viewName="formContainer"}}
    </div>
  </div>
</div>
{{/with}}
