{{#with view.content}}
<div class="well well-small">
  <div>
      {{#if sender.avatar.small_url}}
        <img class="avatar" {{bindAttr src="sender.avatar.small_url" title="sender.displayName"}}>
      {{else}} <img class="avatar" src="/images/fallback/small_default.png">
      {{/if}}
      <strong>{{unbound sender.displayName}}</strong>
  </div>
  <div>
    <strong>{{unbound subject}}</strong>
  </div>
</div>
<div class="well well-large body">
  {{{unbound message}}}

  <div class="attachments">
    <ul class="thumbnails">
      {{#each attachments}}
        <li class="span2">
          <a href="#" class="thumbnail">
            <img class="img-polaroid" src="http://placehold.it/170x100" alt="">
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
<div class="well well-small email-actions">
  <div class="btn-toolbar">
    <div class="btn-group">
      <a class="btn">
        <i class="icon-reply"></i> Reply
      </a>
      <a class="btn">
        <i class="icon-forward-2"></i> Forward
      </a>
      <a {{action showCommentsSection target="view"}} class="btn">
        Add <i class="icon-plus"></i>
      </a>
    </div>
    <div class="btn-group pull-right">
      <a class="btn">
        <i class="icon-ban-circle"></i> Private
      </a>
      <a class="btn btn-danger">
        <i class="icon-trash icon-white"></i>
      </a>
    </div>
  </div>
  {{#if view.showComments}}
    <div>Actions</div>
  {{/if}}
  <div class="comments">
    <h2>Comments</h2>
    <div>
      {{view view.FormContainer viewName="formContainer"}}
    </div>
  </div>
</div>
{{/with}}
