<div class="btn-toolbar">
  <div class="btn-group">
    <a href="#" class="btn btn-success">
      New Message <i class="icon-plus icon-white"></i>
    </a>
  </div>
  {{#if selectedMail.length}}
    <div class="btn-group">
      <a class="btn btn-danger" href="#">
        <i class="icon-trash icon-large icon-white"></i> Delete
      </a>
    </div>
    <div class="btn-group">
      <a {{action toggleTodoForm target="view"}} class="btn btn-primary" href="#">Todo</a>
    </div>
  {{/if}}
</div>
<div class="rel">
{{view view.formContainer}}
</div>
{{collection Radium.SelectedEmailListView contentBinding="selectedMail"}}
{{outlet}}
{{view view.arrow}}
