<div class="btn-toolbar">
  <div class="btn-group">
    <a href="#" class="btn btn-success">
      New Message <i class="icon-plus icon-white"></i>
    </a>
  </div>
  {{#if selectedMail.length}}
    <div class="btn-group">
      <a {{action deleteEmails target="controller"}} class="btn btn-danger delete-emails">
        <i class="icon-trash icon-large icon-white"></i> Delete
      </a>
    </div>
    <div class="btn-group">
      <a {{action toggleTodoForm target="view"}} class="btn btn-primary multiple-todos">Todo</a>
    </div>
    {{#if view.displayMark}}
    <div class="btn-group">
      <a {{action markRead target="controller"}} class="btn btn-primary">{{view.readState}}</a>
    </div>
    {{/if}}
  {{/if}}
</div>
<div class="rel">
{{view view.FormContainer viewName="formContainer"}}
</div>
{{collection Radium.SelectedEmailListView contentBinding="selectedMail"}}
{{outlet}}
{{view view.arrow}}
