{{#with view.content}}
<div {{action showEmail this href="true"}}>
  <div>
    {{!TODO create handlebars helper for this?}}
    {{#if sender.avatar.small_url}}
      <img {{bindAttr src="sender.avatar.small_url" title="sender.displayName"}}>
    {{else}}
      <img src="/images/fallback/small_default.png">
    {{/if}}
    {{view view.checkMailItem}}
  </div>
  <div>
    <div>
      {{#if sender.isContact}}
      <a {{action showContact sender href=true}}>{{unbound sender.displayName}}</a>
      {{else}}
        <a {{action showUser sender href=true}}>{{unbound sender.displayName}}</a>
      {{/if}}
    </div>
    <p>{{subject}}</p>
    <i class='icon-trash icon-large'></i>
  </div>
  <small>11:25</small>
</div>
{{/with}}
