<form class="form">
  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      {{render 'sidebar/user_header' model}}
    </div>
  </div>
  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-navigate"></i> Contact
      </h6>
    </div>
    <div class="sidebar-panel-content">
      {{render 'sidebar/phone' model}}
      {{render 'sidebar/email' model}}
      {{#if model.contactInfo}}
        {{render 'sidebar/social' model.contactInfo}}
      {{/if}}
    </div>
  </div>

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-piechart"></i> Sales
      </h6>
    </div>
    <div class="sidebar-panel-content hide">
      <div id="sales-goal">
        <div id="totals">
          <div class="pull-left">
            {{currentMonth}}
          </div>
          <div class="sales-total pull-right">
            {{#view Radium.InlineEditorView valueBinding="salesGoal"}}
              {{#if isEditing}}
                <div {{bind-attr class="view.isValid:success:error :control-group"}}>
                  <div class="input-prepend">
                    <span class="add-on">$</span>
                    {{input type="number" value=view.value class="field span2" min="0"}}
                  </div>
                </div>
              {{else}}
                <label class="control-label blue money">{{currency salesGoal}} <i class="ss-write pull-right" {{action "toggleEditor" target="view" bubbles=false}}></i></label>
              {{/if}}
            {{/view}}
          </div>
          <div class="clearfix"></div>
          <div class="sales-forecast">
            {{view Radium.ProgressBar percentageBinding="salesGoalPercentage"}}
            <div {{bind-attr class=":total salesGoalPercentage:white"}}>{{salesGoalPercentage}}%</div>
          </div>
        </div>
      </div>
    </div>

    <div class="sidebar-panel-content">
      <table class="table totals">
        <tbody>
          {{#each statuses itemController="userDealTotalsItem"}}
            <tr>
              <td>
                {{#link-to "pipeline.workflow" this.model}}
                  {{this.model}}
                {{/link-to}}
              </td>
              <td>{{dealsTotal}}</td>
              <td>
                {{#link-to "pipeline.workflow" this.model}}
                  {{currency dealsValue}}
                {{/link-to}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="sidebar-panel-content">
      <div class="deal-links">
        {{#link-to "deals.fromUser" this class="btn btn-block btn-large btn-primary"}}
          <i class="ss-standard ss-plus"></i> Deal
        {{/link-to}}
      </div>
    </div>
  </div>

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-users"></i> My Assigned Contacts
      </h6>
    </div>
    <div class="sidebar-panel-content">
      {{#if contacts.length}}
        <div class="assigned-contacts">
          {{#link-to "addressbook.assigned" this}}
            <span {{bind-attr class=":assigned-count :pull-right"}}>{{contacts.length}}</span>
            My Assigned Contacts
          {{/link-to}}
        </div>
      {{else}}
        <p>No contacts have been assigned.</p>
      {{/if}}
    </div>
  </div>

  {{partial 'shared/followers'}}

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-users"></i> Following
      </h6>
    </div>
    <div class="sidebar-panel-content">
      <ul class="unstyled">
        {{#each person in following}}
          <li>
            {{#if person.isLoaded}}
              {{avatar person}}
              {{person.name}}</br>
              {{person.title}}
            {{else}}
              {{partial 'is_loading'}}
            {{/if}}
          </li>
        {{else}}
          <li>Not following anybody yet!</li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      {{#unless userIsCurrentUser}}
        <button class="btn btn-danger btn-large btn-block" {{action "confirmDeletion"}}>Delete</button>
      {{else}}
        <br/>
        {{#link-to "settings.profile" class="btn btn-large btn-block"}}Edit My Profile{{/link-to}}
      {{/unless}}
    </div>
  </div>
  {{!http://jsbin.com/nikit/9/edit}}
  {{#if userIsCurrentUser}}
    <div class="sidebar-panel">
      <div class="sidebar-panel-content">
        {{render "inviteUser"}}
      </div>
    </div>
  {{/if}}
</form>
