<div class="form">
  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      <div class="user-detail">
        <div class="user-avatar pull-left">
          {{avatar-picker person=model}}
        </div>
      </div>
      <div class="user-name">
        <div class="header">
          <h4 class="name">
            {{inline-editor model=model bufferKey="firstName" notRoutable=true placeholder="Add Name" parent=this isRequired=true}}
            {{inline-editor model=model bufferKey="lastName" notRoutable=true placeholder="Add Name" parent=this isRequired=true}}
          </h4>
          {{inline-editor model=model bufferKey="title" notRoutable=true placeholder="Add title" parent=this}}
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      <dl class="dl-horizontal contact-types-list">
        <dt><i class="ss-standard ss-phone muted"></i></dt>
        <dd>
          {{inline-editor model=model bufferKey="phone" notRoutable=true placeholder="Add phone here" parent=this}}
        </dd>
      </dl>
      <dl class="dl-horizontal contact-types-list">
        <dt><i class="ss-standard ss-mail muted"></i></dt>
        <dd>
          {{inline-editor model=model bufferKey="email" notRoutable=true placeholder="Add email here" parent=this validator=Radium.EMAIL_REGEX}}
        </dd>
      </dl>
      {{#if model.contactInfo}}
        {{social-medialist person=model}}
      {{/if}}
    </div>
  </div>

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        Sales
      </h6>
    </div>
    <div class="sidebar-panel-content hide">
      <div id="sales-goal">
        <div id="totals">
          <div class="pull-left">
            {{currentMonth}}
          </div>
          <div class="sales-forecast">
            <!-- FIXME: sales-forecast -->
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-panel-content">
      <table class="table totals">
        <tbody>
          <!-- FIXME: Add new deals totals -->
        </tbody>
      </table>
    </div>
  </div>
  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        Cumulative Statistics
      </h6>
    </div>
    <div class="sidebar-panel-content">
      {{user-statistics statistics=userStatistics}}
    </div>
    <div class="sidebar-panel-content">
      <div class="deal-links">
        {{#link-to "deals.fromUser" this class="btn btn-block btn-large btn-primary"}}
          <i class="ss-standard ss-plus"></i> Deal
        {{/link-to}}
      </div>
    </div>
  </div>

  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      {{#if canDelete}}
        <button class="btn btn-danger btn-large btn-block" {{action "confirmDeletion"}}>Delete</button>
      {{else}}
        {{#if userIsCurrentUser}}
          {{#link-to "settings.profile" class="btn btn-large btn-block"}}Edit My Profile{{/link-to}}
        {{/if}}
      {{/if}}
    </div>
  </div>
  {{#if userIsCurrentUser}}
    <div class="sidebar-panel">
      <div class="sidebar-panel-content">
        {{invite-user users=users emailIsValid=emailIsValid flashSuccess="flashSuccess" flashError="flashError"}}
      </div>
    </div>
  {{/if}}
</div>