<form class="form">
  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      {{render 'sidebar/user_header' model}}
    </div>
  </div>
  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-navigate"></i> Contact
      </h6>
    </div>
    <div class="sidebar-panel-content">
      {{render 'sidebar/phone' model}}
      {{render 'sidebar/email' model}}
    </div>
  </div>

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-piechart"></i> Sales
      </h6>
    </div>
    <div class="sidebar-panel-content">
      <div id="sales-goal">
        <div id="totals">
          <div class="pull-left">
            <label class="control-label">{{currentMonth}}</label>
          </div>
          <div class="sales-total pull-right">
            {{#view Radium.InlineEditorView valueBinding="salesGoal"}}
              {{#if isEditing}}
                <div {{bindAttr class="view.isValid:success:error :control-group"}}>
                  <div class="input-prepend">
                    <span class="add-on">$</span>
                    {{input type="number" value=view.value class="field span2" min="0"}}
                  </div>
                </div>
              {{else}}
                <label class="control-label blue money">{{currency salesGoal}} <i class="ss-write pull-right" {{action toggleEditor target=view bubbles=false}}></i></label>
              {{/if}}
            {{/view}}
          </div>
          <div class="clearfix"></div>
          <div class="sales-forecast">
            {{view Radium.ProgressBar percentageBinding="salesGoalPercentage"}}
            <div {{bindAttr class=":total salesGoalPercentage:white"}}>{{salesGoalPercentage}}%</div>
          </div>
        </div>
      </div>
    </div>

    <div class="sidebar-panel-content">
      <table class="table totals">
        <tbody>
          {{#each statuses itemController="userDealTotalsItem"}}
            <tr>
              <td>{{this.model}}</td>
              <td>{{dealsTotal}}</td>
              <td>{{currency dealsValue}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="sidebar-panel-content">
      <div class="deal-links">
        {{#linkTo "deals.fromUser" this class="btn btn-block btn-primary"}}
          <i class="ss-standard ss-plus"></i> Deal
        {{/linkTo}}
      </div>
    </div>
  </div>

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-users"></i> My Assigned Contacts <span class="mark">{{contacts.length}}</span>
      </h6>
    </div>
    <div class="sidebar-panel-content">
      {{#if contacts.length}}
        <div class="assigned-contacts">
          {{#linkTo "addressbook.assigned" this}}
            <span {{bindAttr class=":assigned-count :badge :pull-right contacts.length:badge-success:badge-important"}}>{{contacts.length}}</span>
            My Assigned Contacts
          {{/linkTo}}
        </div>
      {{else}}
        <p class="text-center">No contacts have been assigned.</p>
      {{/if}}
    </div>
  </div>

  {{partial 'shared/followers'}}

  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        <i class="ss-standard ss-users"></i> Following
      </h6>
    </div>
    <div class="sidebar-panel-content">
      <ul class="unstyled">
        {{#each person in following}}
          <li>
            {{avatar person}}
            {{person.name}}</br>
            {{person.title}}
          </li>
        {{else}}
          <li class="text-center">Not following anybody yet!</li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      <button class="btn btn-danger btn-block" {{action confirmDeletion}}>Delete</button>
    </div>
  </div>
</form>
