{{#if hasStatus}}
  <p>
    {{link contact}} added as a {{meta.newStatus}}
    <br />
    by {{link user}}
  </p>
{{else}}
  <p>
    {{link contact}} added as a contact
    <br />
    by {{link user}}
  </p>
{{/if}}
