{{#unless hideDeals}}
  <div class="sticky-banner company-banner">
    <div class="sticky-banner-collapsed">
      <div>
        <ul class="inline">
          {{#each group in groupedDeals}}
            <li>
              <a href="#">
                {{group.count}} {{group.name}} ({{currency group.value}})
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
{{/unless}}
{{#delete-confirmation deleteAction="deleteCompany" showDeleteConfirmation=showDeleteConfirmation}}
<p>This action cannot be undone! Deleting <strong>{{company.name}}</strong> will be permanent.</p>
{{/delete-confirmation}}
<div class="tasks-content company">
  {{render "form_box" formBox}}
  {{render "task_list" company.currentTasks}}
</div>
{{#unless isUpdating}}
  {{render "feed" company.activities}}
{{/unless}}
