{{#unless isEditing}}
  <div class="custom-field-name">
    <strong>{{field.name}}</strong>
    <i class="ss-standard ss-write pull-right"></i>
  </div>
  <div class="custom-field-value">
    <span>{{displayCustomFieldValue customFieldValue}}</span>
  </div>
{{else}}
  <div class="control-group">
    {{#unless tableCell}}
      <label class="control-label">{{field.name}}</label>
    {{/unless}}
    <div class="controls">
      {{renderCustomField field resource}}
    </div>
  </div>
{{/unless}}