<div class="sidebar-panel-header currency-input">
  <i class="ss-standard ss-write pull-right" {{action "startEditing" bubbles=false}}></i>
  {{#if isEditing}}
    <div {{bind-attr class="isValid:success:error :control-group"}}>
      <div class="control-box">
        {{currency-input value=form.value class="span2" submit="stopEditing"}}
      </div>
    </div>
  {{else}}
    <span class="money inline-editor-text">
      {{currency form.value}}
    </span>
  {{/if}}
</div>
