{{#if isEditing}}
  {{date-picker date=form.value leader="" class="field" submitForm="stopEditing"}}
  <button class="btn btn-primary picker-submit" {{action "stopEditing"}}>
    OK
  </button>
{{else}}
  <div class="deal-status"{{action "startEditing"}}>
    <p class="formatted-close-date">
      {{#if form.value}}
        {{formatDateTime form.value format="calendar"}}
      {{else}}
        <em>None</em>
      {{/if}}
    </p>
    <i class="ss-standard ss-write pull-right" {{action "startEditing"}}></i>
  </div>
{{/if}}
