{{#each listStatus in sortedListStatuses}}
  {{liststatus-editor listStatus=listStatus tagName="li" moveListStatus="moveListStatus" parent=this}}
{{/each}}
<div class="lists-action-selector">
  <span class="action-label">After selecting&nbsp;</span>
  {{liststatus-picker currentStatus=actionListStatus listStatuses=sortedListStatuses changeStatus="setActionListStatus"}}
  {{#if actionListStatus}}
    <div class="btn-group vanilla move-action">
      <a href="#" data-toggle="dropdown" class="btn-text btn-black dropdown-toggle">
        <span class="list-action-text">{{listActionText}}</span>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li>
          <a href="#" {{action "setMoveAction" "move" bubbles=false}}>Move To</a>
        </li>
        <li>
          <a href="#" {{action "setMoveAction" "copy" bubbles=false}}>Copy To</a></li>
          </li>
      </ul>
    </div>
  {{/if}}
  {{#if showListSelector}}
    {{list-autosuggest source=remainingLists destination=listActions addList="setActionList" removeList="removeActionList" placeholder="List to move to"}}
  {{/if}}
  {{#if actionList}}
    <ul class="action-list">
      <li class="">
        <a class="as-close" {{action "removeActionList" selection bubbles=false}}>×</a>
        {{actionList.name}}
      </li>
    </ul>
    {{liststatus-picker currentStatus=initialStatus listStatuses=actionList.listStatuses changeStatus="setInitialStatus" noItemText="Choose initial status"}}
  {{/if}}
</div>
<div class="span5 pipeline-state-create">
  {{#if currentUser.isAdmin}}
    <button class="btn btn-large btn-success" {{action "addNewListStatus" bubbles=false}}>
      Add List Status
    </button>
  {{/if}}
</div>
{{#if showListStatusModal}}
  {{#x-modal close="closeListStatusModal"}}
    <h1>New List Status</h1>
    <div class="form">
      <div class="item">
        {{validation-input type="text" value=newStatus.name placeholder="New List Status" validator=this validations=newStatusNameValidations validationField="name" class="new-list-status-name field" enter="createNewStatus"}}
      </div>
      <div class="item">
        {{toggle-switch class="inline" checked=newStatus.isActive dataOn="active" dataOff="inactive"}}
      </div>
      <div class="actions">
        <button {{action "createNewStatus" bubbles=false}} class="btn btn-primary">Submit</button>
        <button {{action "closeListStatusModal" bubbles=false}} class="btn">Cancel</button>
      </div>
    </div>
  {{/x-modal}}
{{/if}}
{{partial 'modal'}}