<table class="variadic-table">
  <thead>
    <tr>
      {{#if check}}
      <th class="check">
        {{x-check checked=allChecked}}
      </th>
      {{/if}}
      {{#each column in columns}}
        {{#if column.sortOn}}
          <th {{bind-attr class="column.classNames"}}>
            <!-- UPGRADE: NEED A BETTER FIX ONCE WE HAVE PROPER SUB-EXPRESSIONS FROM LATEST EMBER-->
            {{#unless column.dynamicHeading}}
              {{table-sorter heading=column.heading sortOn=column.sortOn sort="sortTable" initialDesc=column.initialDesc}}
            {{else}}
              {{table-sorter heading=dynamicHeading sortOn=column.sortOn sort="sortTable" initialDesc=column.initialDesc}}
            {{/unless}}
          </th>
        {{else}}
          {{#unless column.dynamicHeading}}
            <th {{bind-attr class="column.classNames"}}>{{column.heading}}</th>
          {{else}}
            <th {{bind-attr class="column.classNames"}}>{{dynamicHeading}}</th>
          {{/unless}}
        {{/if}}
      {{/each}}
      {{#if addColumnSelector}}
        {{column-selector columns=columns tagName="th" class="column-selector" columnSelection=columnSelection toggleColumnSelection="toggleColumnSelection"}}
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#with this}}
      {{#each item in list}}
        {{#variadic-row item=item check=check columns=columns customFields=customFields table=this createList="createList"}}
          {{#if check}}
            {{x-check checked=item.isChecked disabled=allChecked tagName="td" classNames="check"}}
          {{/if}}
          {{#each column in columns}}
            <td {{bind-attr class="column.classNames"}}>
              {{#if column.avatar}}
                {{dynamicAvatar item column}}
              {{/if}}

              {{#if column.component}}
                {{renderComponent item column}}
              {{else}}
                {{getProperty item column}}
              {{/if}}
            </td>
          {{/each}}
          {{#if table.addColumnSelector}}
            <td class="column-selector viewed">
            </td>
          {{/if}}
        {{/variadic-row}}
      {{else}}
        {{#unless isLoading}}
          <tr>
            <td {{bind-attr colspan="colSpan"}} class="table-no-results">No Results</td>
          </tr>
        {{/unless}}
      {{/each}}
    {{/with}}
  </tbody>
</table>
{{partial 'modal'}}