<div class="row">
  
  <div id="sidebar" class="span3">
    {{collection Radium.FeedFilterView 
      contentBinding="Radium.dealsDateGroupsController.filterTypes"
      categoryFilterBinding="Radium.dealsDateGroupsController.categoryFilter"
    }}
    
    {{collection usersList 
      id="user-list" 
      class="filters people"
      selectedUserBinding="Radium.dealsDateGroupsController.userFilter"
    }}
  </div>
  
  <div class="span9">
    <div class="row">
      {{view searchView}}
    </div>

    <div id="form-container"></div>

    {{view dealsChart}}
    
    {{view Radium.DateFilterView dateFilterBinding="Radium.dealsDateGroupsController.dateFilter"}}

    <div class="row">
      {{view Radium.OverdueItemsView}}
      {{view Radium.FeedView 
        id="feed" class="span9"
        dateFilterBinding="Radium.dealsDateGroupsController.dateFilter"
        categoryFilterBinding="Radium.dealsDateGroupsController.categoryFilter"
        contentBinding="Radium.dealsDateGroupsController.content"
        templateName="deals_feed_group"
      }}
    </div>

  </div>
</div>