{{#each Radium.dealsDateGroupsController.selectedDateType}}
  <section>
    <div class="page-header">
      <h2>{{formatDate datetime}}</h2>
    </div>
    <div class="row feed-item">
      <div class="span9">
      {{#if pending.length}}
        {{#view Radium.FeedItemBlockView dealBinding="pending"}}
          <div class="span9">
            {{#view Radium.FeedDealHeadlineView}}
              <p><b>{{ totalDeals}}</b> pending worth ${{ dealsTotal }}</p>
            {{/view}}
          </div>
          {{view Radium.FeedItemDealsPendingView class="span9"}}
        {{/view}}
      {{/if}}

      {{#if paid.length}}
        {{#view Radium.FeedItemBlockView dealBinding="paid"}}
          <div class="span9">
            {{#view Radium.FeedDealHeadlineView}}
              <p><b>{{ totalDeals}}</b> pending worth ${{ dealsTotal }}</p>
            {{/view}}
          </div>
          {{view Radium.FeedItemDealsPendingView class="span9"}}
        {{/view}}
      {{/if}}
    </div>
  </section>
{{/each}}