<div class="row">
  
  <div id="sidebar" class="span3">
    {{collection Radium.ActivityFilterList contentBinding="Radium.dealsController.filterTypes"}}
    <h4>Team</h4>
    {{collection usersList id="user-list" class="filters people"}}
  </div>
  
  <div class="span9">
    <div class="row">
        {{view searchView}}
    </div>

    <div id="form-container"></div>
    {{view dealsChart}}

    <div class="row">
      {{view Radium.FeedDateGroupView 
        id="feed" class="span9"
        dateFilterBinding="Radium.dealsController.dateFilter"
        categoryFilterBinding="Radium.dealsController.categoryFilter"
        contentBinding="Radium.dealsController.content"
      }}
    </div>
  </div>
</div>