<div class="row">
  
  <div id="sidebar" class="span3">
    {{view profileView}}
    {{collection Radium.FeedFilterView contentBinding="Radium.dashboardController.filterTypes"}}
    <h4>Team</h4>
    {{collection usersList id="user-list" class="filters people"}}
  </div>
  
  <div class="span9">
    <div class="row">
        {{view searchView}}
    </div>
    {{view Radium.AnnouncementsView}}
    <div id="form-container"></div>
    {{view dashboardChart}}
    {{view Radium.DateFilterView dateFilterBinding="Radium.activityDateGroupsController.dateFilter"}}
    <div class="row">
      {{#view Radium.FeedDateGroupView 
        id="feed" class="span9"
        dateFilterBinding="Radium.dashboardController.dateFilter"
        categoryFilterBinding="Radium.dashboardController.categoryFilter"
        contentBinding="Radium.dashboardController.content"
      }}
        {{#each Radium.activityDateGroupsController.selectedDateType}}
          <section>
            <div class="page-header">
              <h2>{{formatDate datetime}}</h2>
            </div>
            {{#if todos.length}}
              {{#view Radium.FeedItemTodosView todosBinding="todos"}}
                <div class="alert alert-block">
                  <p>Your company finished <b>{{todos.length}} todos</b>.</p>
                </div>
                {{view Radium.FeedItemTodosView}}
              {{/view}}
            {{/if}}

          </section>
        {{/each}}
      {{/view}}
    </div>
  </div>
</div>