<div class="row">
  
  <div id="sidebar" class="span3">
    {{view profileView}}
    {{collection Radium.FeedFilterView contentBinding="Radium.dashboardController.filterTypes"}}
    <h4>Team</h4>
    {{collection usersList id="user-list" class="filters people"}}
  </div>
  
  <div class="span9">
    <div class="row">
        {{view searchView}}
    </div>
    {{view Radium.AnnouncementsView}}
    <div id="form-container"></div>
    {{view dashboardChart}}
    {{view Radium.DateFilterView dateFilterBinding="Radium.activityDateGroupsController.dateFilter"}}
    <div class="row">
      {{view Radium.FeedView 
        id="feed" class="span9"
        dateFilterBinding="Radium.dashboardController.dateFilter"
        categoryFilterBinding="Radium.dashboardController.categoryFilter"
        contentBinding="Radium.dashboardController.content"
        templateName="activity_feed_group"
      }}
    </div>
  </div>
</div>