<div class="row">
  
  <div id="sidebar" class="span3">
    {{view Radium.ProfileView}}

    {{collection Radium.FeedFilterView 
      contentBinding="Radium.activitiesController.filterTypes"
      categoryFilterBinding="Radium.activitiesController.categoryFilter"
    }}

    {{view Radium.UsersListView 
      selectedUserBinding="Radium.dashboardController.selectedUser"
    }}
  </div>
  
  <div class="span9">
    <div class="row">
        {{view Radium.GlobalSearchTextView}}
    </div>
    {{view Radium.AnnouncementsView}}
    <div id="form-container"></div>

    {{view dashboardChart}}
    
    {{view Radium.DateFilterView dateFilterBinding="Radium.activitiesController.dateFilter"}}
    
    <div class="row">
      <div id="feed" class="span9">
        {{#each Radium.activitiesController.selectedDateType}}
          {{#view Radium.FeedDateGroupView 
            tagName="section"
            groupBinding="this" 
            dateFilterBinding="Radium.activitiesController.dateFilter"
            categoryFilterBinding="Radium.activitiesController.categoryFilter"
            contentBinding="Radium.activitiesController.content"
            activityTypesBinding="Radium.activitiesController.activityTypes"
          }}
            <div class="page-header">
              <h2>{{group}}</h2>
            </div>
            
            {{#if Radium.activitiesController.todos.length}}
              {{#view Radium.TestFeedItemView 
                filterType="todo" 
                itemsBinding="groups"
              }}
                {{view Radium.FeedItemHeadlineView}}
              {{/view}}
            {{/if}}

          {{/view}}
        {{/each}}
      </div>
    </div>
  </div>
</div>