<div class="row">
  
  <div id="sidebar" class="span3">
    {{view Radium.ProfileView}}

    {{collection Radium.FeedFilterView 
      contentBinding="Radium.activitiesController.filterTypes"
      categoryFilterBinding="Radium.activitiesController.categoryFilter"
    }}

    {{view Radium.UsersListView 
      selectedUserBinding="Radium.dashboardController.selectedUser"
    }}
  </div>
  
  <div class="span9">
    <div class="row">
        {{view Radium.GlobalSearchTextView}}
    </div>
    {{view Radium.AnnouncementsView}}
    <div id="form-container"></div>

    {{view dashboardChart}}
    
    {{view Radium.DateFilterView dateFilterBinding="Radium.activitiesController.dateFilter"}}
    
    <div class="row">
      <div id="feed" class="span9">
      
      </div>
    </div>
  </div>
</div>