{{#view feedHeaderView class="row"}}
  <div class="span9 feed-header">
    <div class="row">
      <div class="span1">
        {{view expandToggleIconView}}
      </div>
      <div class="span8 feed-description">
        <p>
          {{view iconView}}
          <span class="content">
            {{view Radium.TodoView todoBinding="content"}}
          </span>
          {{#if content.activity.comments.length}}
            <i class="icon-comment comment-toggle-button"></i>
            ({{content.activity.comments.length}})
          {{/if}}
        </p>
      </div> <!-- /.feed-description -->
    </div> <!-- /.row -->
    {{#if isActionsVisible}}
      <p class="feed-actions">
        {{#if content.canEdit}}
          <a href="#" {{action "toggleEditMode" target="parentView"}}><i class="icon-pencil"></i> Edit</a>
        {{/if}}
        <a href="#" {{action "addTodo" target="parentView"}}><i class="icon-check"></i> Add Todo</a>
      </p>
    {{/if}}
  </div> <!-- /.feed-header -->
{{/view}}
{{#if isEditVisible}}
  <div class="row">
    <div class="span9">
      {{view Radium.TodoEditView todoBinding="content"}}
    </div>
  </div>
{{/if}}
<div class="row">
  <div class="span9">
    {{view activityActionsView}}
  </div>
</div>