{{#view feedHeaderView class="row"}}
  <div class="span9 feed-header" {{bindAttr title="content.id"}}>
    <div class="row">
      <div class="span1">
        <i {{bindAttr class=":feed-expand-icon :icon-plus isActionsVisible:icon-minus"}}></i>
      </div>
      <div class="span8 feed-description">
        <p>
          {{view iconView}}
          <span class="content">
            {{view Radium.TodoView contentBinding="content"}}
          </span>
          {{#if content.activity.comments.length}}
            <i class="icon-comments comment-toggle-button"></i>
            ({{content.activity.comments.length}})
          {{/if}}
        </p>
      </div> <!-- /.feed-description -->
    </div> <!-- /.row -->
    {{#if isActionsVisible}}
      <p class="feed-actions">
        {{#if content.canEdit}}
          <a href="#" {{action "toggleEditMode" target="parentView"}}><i class="icon-edit"></i> Edit</a>
        {{/if}}
        <a href="#" {{action "showTodoForm" target="Radium.FormContainerView" context="content"}}><i class="icon-add-todo"></i> Add Todo</a>
      </p>
    {{/if}}
  </div> <!-- /.feed-header -->
{{/view}}
{{#if isEditVisible}}
  <div class="row">
    <div class="span9">
      {{view Radium.TodoEditView todoBinding="content"}}
    </div>
  </div>
{{/if}}
<div class="row">
  <div class="span9">
    {{view activityActionsView}}
  </div>
</div>