{{#with comment}}
  <a href="/users/{{unbound user.id}}" class="user-avatar">
    <img src="http://placehold.it/80x80">
  </a>

  <div class="comment-text">
    <strong>
      <a href="/users/{{unbound user.id}}">{{user.abbrName}}</a>
    </strong><br>
    {{text}}
    <small class="time" {{bindAttr title="dateToISO8601"}}>
      {{formatDate createdAt}}
    </small>
  </div>
{{/with}}