{{profile}}
{{time "timing"}}
<div class="page-header">
  <h3>Today</h3>
</div>
{{#with Radium.todosController}}
  {{#if sortedOverdueTodos.length}}
    <h4>Overdue</h4>
    {{view Ember.ContainerView currentViewBinding="Radium.todosController.view"}}
    <hr>
  {{/if}}

  {{#if dueToday.length}}
    <h4>Due</h4>
    {{#each sortedDueToday}}
      {{view Radium.FeedView contentBinding="this"}}
    {{/each}}
    <hr>
  {{/if}}
  {{#if finishedOverdueTodos.length}}
    <h4>Finished</h4>
    {{#each finishedOverdueTodos}}
      {{view Radium.FeedView contentBinding="this"}}
    {{/each}}
    <hr>
  {{/if}}
{{/with}}
{{view Ember.ContainerView currentViewBinding="Radium.activityFeedController.view"}}
{{timeEnd "timing"}}
{{profileEnd}}

