{{profile}}
{{time "timing"}}
{{collection contentBinding="Radium.activityFeedController.forwardContent.realContent" itemViewClass="Radium.ClusterListItemView"}}
<div class="page-header">
  <h3 class="today">Today</h3>
</div>
  <h4>Overdue</h4>
  {{collection 
    contentBinding="Radium.overdueActivitiesController.content"
    itemViewClass="Radium.FeedActivityView"
    class="feed-item"
  }}
  <hr/>

  <h4>Due</h4>
  {{collection Ember.CollectionView 
    contentBinding="Radium.scheduledActivitiesController.content"
    itemViewClass="Radium.FeedActivityView"
    class="feed-item"
  }}
  <hr/>

{{collection contentBinding="Radium.activityFeedController" itemViewClass="Radium.ClusterListItemView"}}

{{timeEnd "timing"}}
{{profileEnd}}
