{{profile}}
{{time "timing"}}
{{collection contentBinding="Radium.activityFeedController.forwardContent.realContent" itemViewClass="Radium.ClusterListItemView"}}

<div class="page-header">
  {{#if bootstrap.isTodayBootstrapped}}
    <h3 class="today">Today</h3>
  {{else}}
    <h3>{{formatDate bootstrap.bootstrapDate format="%A, %B %D, %Y"}}</h3>
  {{/if}}
</div>

  {{collection Ember.CollectionView
    contentBinding="Radium.datebookSectionController.content"
    itemViewClass="Radium.FeedActivityView"
    class="feed-item"
  }}
  <hr/>

{{collection contentBinding="Radium.activityFeedController" itemViewClass="Radium.ClusterListItemView"}}

{{timeEnd "timing"}}
{{profileEnd}}
