{{time "feeditem"}}
<div class="row">
  <div class="span1">
    <i {{bindAttr class=":feed-expand-icon :icon-plus isActionsVisible:icon-minus"}}></i>
  </div>
  <div class="span8">
    <p>
      {{#with content}}
        <span class="content">{{yield}}</span>
        {{#if comments.length}}
          <i class="icon-comments"></i>
          ({{comments.length}})
        {{/if}}
      {{/with}}
    </p>
  </div> <!-- /.span9 -->
</div> <!-- /.row -->
{{#if isActionsVisible}}
  <p class="feed-actions">
    <a href="#" {{action "showTodoForm" target="parentView"}}><i class="icon-add-todo"></i> Add Todo</a>
  </p>
{{/if}}
{{timeEnd "feeditem"}}