{{#if overdue}}
  <i class="pull-left activity-icon icon-overdue"></i>
{{/if}}

<i class="pull-left activity-icon icon-todo"></i>

{{view view.checkboxView}}

{{#with reference}}
  SMS from <a {{action showUser this href=true}}>{{sender.abbrName}}</a>:
{{/with}}
{{description}}

{{#with user}}
  (<a {{action showUser this href=true}}>{{abbrName}}</a>)
{{/with}}
