{{#if parentView.items.length}}
  {{#with parentView}}
  {{#each items}}
    <div {{bindAttr class="isOverdue:overdue"}}>
      <div class="span2">
        <span class="timestamp">
        {{#if isOverdue}}
          OVERDUE
        {{else}}
          {{formatTime updatedAt}}
        {{/if}}
        </span>
      </div>
      <div class="span6 content">
        <p>
          {{view Radium.Checkbox valueBinding="finished"}}
          <span class="label notice">{{kind}}</span>
          {{description}}
        (<a href="#">{{user.abbrName}}</a>)
        
          <!-- <i class="icon-comment"></i> -->

      </p>
    </div>
  </div>
  {{/each}}
  {{/with}}

{{else}}
  <h4 style="text-align:center;"><span class="label label-important">Error:</span> No todos found</h4>
{{/if}}