<div class="row">
  <div class="span2">
    {{view iconView}}
  {{#with content}}
    <span class="timestamp">{{formatTime timestamp}}</span>
  </div>
  <div class="span7 feed-description">
    <p>
      <span class="content">{{yield}}</span>
  {{/with}}

      {{#if content.comments.length}}
        <i class="icon-comment comment-toggle-button"></i>
        ({{content.comments.length}})
      {{/if}}
    </p>
    {{view toggleActionsView}}
  </div>
</div>