<div id="master-filter" class="reports-filter">
  <div class="option">
    Time Period {{formatDateTime startDate format="date"}} - {{formatDateTime endDate format="date"}}
  </div>
  <div class="option">
    <button class="btn" {{action "filterThisMonth"}}>This month</button>
  </div>
  <div class="option">
    {{report-dropdown 
      options=quarters 
      resetOption=defaultSelectedQuarter
      selected=selectedQuarter
      action="filterByQuarter"}}
  </div>
  <div class="option">
    {{report-dropdown 
      options=users 
      resetOption=defaultSelectedUser
      selected=selectedUser
      action="filterByUser"}}
  </div>
  <div class="option">
    {{report-dropdown 
      options=companies 
      resetOption=defaultSelectedCompany
      selected=selectedCompany
      action="filterByCompany"}}
  </div>
  <div class="option">
    <button class="btn" {{action "reset"}}>Reset</button>
  </div>
</div>
<div class="reports-filter-placeholder"></div>