<div id="master-filter" class="reports-filter">
  <div class="option">
    Time Period <input type="text" name="" id="">
  </div>
  <div class="option">
    <button class="btn" {{action "filterThisMonth"}}>This month</button>
  </div>
  <div class="option">
    <div class="btn-group">
      <button class="btn">Quarterly</button>
      <div class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </div>
      <ul class="dropdown-menu">
        <li><a href="#" {{action "filterByQuarter" "Q1"}}>Q1</a></li>
        <li><a href="#" {{action "filterByQuarter" "Q2"}}>Q2</a></li>
        <li><a href="#" {{action "filterByQuarter" "Q3"}}>Q3</a></li>
        <li><a href="#" {{action "filterByQuarter" "Q4"}}>Q4</a></li>
      </ul>
    </div>
  </div>
  <div class="option">
    <div class="btn-group">
      <button class="btn">Year</button>
      <div class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </div>
      <ul class="dropdown-menu">
        <li><a href="#" {{action "filterByYear" "2013"}}>2013</a></li>
      </ul>
    </div>
  </div>
  <div class="option">
    <div class="btn-group">
      <button class="btn">By Person</button>
      <div class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </div>
      <ul class="dropdown-menu">
        <li><a href="#" {{action "filterByUser" "Michael"}}>Michael</a></li>
        <li><a href="#" {{action "filterByUser" "Paul"}}>Paul</a></li>
        <li><a href="#" {{action "filterByUser" "John"}}>John</a></li>
        <li><a href="#" {{action "filterByUser" "Pete"}}>Pete</a></li>
      </ul>
    </div>
  </div>
  <div class="option">
    <div class="btn-group">
      <button class="btn">By Company</button>
      <div class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </div>
      <ul class="dropdown-menu">
        <li><a href="#" {{action "filterByCompany" "Acme"}}>Acme</a></li>
        <li><a href="#" {{action "filterByCompany" "Billings Corp"}}>Billings Corp</a></li>
        <li><a href="#" {{action "filterByCompany" "Coffees"}}>Coffees</a></li>
        <li><a href="#" {{action "filterByCompany" "Dundler Mifflen"}}>Dundler Mifflen</a></li>
      </ul>
    </div>
  </div>
  <div class="option">
    <button class="btn" {{action "reset"}}>Reset</button>
  </div>
</div>