<div class="members">
  {{#if contacts.length}}
    <h5>
      {{#if isTag}}
        {{#link-to "addressbook.members" this}}{{membersText}}{{/link-to}}
      {{else}}
        {{#link-to "addressbook.employees" this}}{{membersText}}{{/link-to}}
      {{/if}}
    </h5>
    <div class="clearfix">
      {{#each truncatedContacts}}
        <div class="media">
          <div class="invitee-thumb pull-left">
            {{#if isLoaded}}
              {{avatar this size=small class="img-polaroid"}}
            {{else}}
              {{partial 'is_loading'}}
            {{/if}}
          </div>
          <div class="media-body">
            <div class="media-heading">
              {{#link-to 'contact' this}}{{displayName}}{{/link-to}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    {{#if hasMoreContacts}}
      {{#if isTag}}
        {{#link-to "addressbook.members" this}}...{{/link-to}}
      {{else}}
        {{#link-to "addressbook.employees" this}}...{{/link-to}}
      {{/if}}
    {{/if}}
  {{else}}
    <label> No Members</label>
  {{/if}}
</div>
