<div class="members">
  {{#if contacts.length}}
    {{#if isTag}}
      {{#linkTo addressbook.members this}}{{membersText}}{{/linkTo}}
    {{else}}
      {{#linkTo addressbook.employees this}}{{membersText}}{{/linkTo}}
    {{/if}}
    {{#each truncatedContacts}}
      <div class="contact">
        {{avatar this size=small class="img-polaroid"}}
        {{name}}
      </div>
    {{/each}}
    {{#if hasMoreContacts}}
      <strong><a href="#" {{action showMembers this}}>...</a></strong>
    {{/if}}
  {{else}}
    <label> No Members</label>
  {{/if}}
</div>
