<div class="members">
  {{#if contacts.length}}
    <h5>
      {{#if isTag}}
        {{#link-to "addressbook.members" this}}{{membersText}}{{/link-to}}
      {{else}}
        {{#link-to "addressbook.employees" this}}{{membersText}}{{/link-to}}
      {{/if}}
    </h5>
    <div class="clearfix">
      <ul class="inline contact">
        {{#each truncatedContacts}}
          <li class="contact-tooltip" data-toggle="tooltip" {{bind-attr title="name"}}>
            {{#if isLoaded}}
              {{avatar this size=small class="img-polaroid"}}
            {{else}}
              {{partial 'is_loading'}}
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
    {{#if hasMoreContacts}}
      {{#if isTag}}
        {{#link-to "addressbook.members" this}}...{{/link-to}}
      {{else}}
        {{#link-to "addressbook.employees" this}}...{{/link-to}}
      {{/if}}
    {{/if}}
  {{else}}
    <label> No Members</label>
  {{/if}}
</div>
