<div class="members">
  {{#if contacts.length}}
    <h5>
      {{#if isTag}}
        {{#linkTo addressbook.members this}}{{membersText}}{{/linkTo}}
      {{else}}
        {{#linkTo addressbook.employees this}}{{membersText}}{{/linkTo}}
      {{/if}}
    </h5>
    <div class="clearfix">
      <ul class="inline contact">
        {{#each truncatedContacts}}
          <li class="contact-tooltip" data-toggle="tooltip" {{bindAttr title="name"}}>
            {{avatar this size=small class="img-polaroid"}}
          </li>
        {{/each}}
      </ul>
    </div>
    {{#if hasMoreContacts}}
      {{#if isTag}}
        {{#linkTo addressbook.members this}}...{{/linkTo}}
      {{else}}
        {{#linkTo addressbook.employees this}}...{{/linkTo}}
      {{/if}}
    {{/if}}
  {{else}}
    <label> No Members</label>
  {{/if}}
</div>
