<div class="span2 checkers">
  {{check-box checked=isChecked class="checker-block"}}
  <div class="pull-right company-icon">
    <i class="ss-standard ss-buildings muted"></i>
  </div>
</div>
<div class="span2 name">
  <div class="clearfix search-list-item-title">
    <h4 class="title">{{#linkTo "company" this}}{{name}}{{/linkTo}}</h4>
    {{partial 'search/links'}}
    <address>
      {{partial 'shared/address'}}
    </address>
  </div>
</div>
<div class="span2 last-activity">
  {{partial 'search/last_activity'}}
</div>
<div class="span2 next-task">
  {{partial 'search/tasks'}}
</div>
<div class="span3 groups">

</div>