<div {{bindAttr class="isChecked :search-result :company"}}>
  {{partial 'shared/check_button'}}
  <div class="meta">
    <img src="http://placehold.it/74x74" class="img-polaroid" alt="">
    <div class="header">
      <div class="name">
        <span class="name">{{#linkTo company this}}{{name}}{{/linkTo}}</span>
      </div>
      {{partial 'shared/address'}}
    </div>
    {{partial 'search/links'}}
  </div>
  {{partial 'search/tasks'}}
  {{partial 'search/members'}}
  {{partial 'search/delete'}}
</div>
