<div class="span2 checkers">
  {{check-box checked=isChecked class="checker-block"}}
  {{#if isLoaded}}
    {{#if parentController.isThumbnailsVisible}}
      {{avatar this size=medium class="img-polaroid"}}
    {{/if}}
  {{else}}
    {{partial 'is_loading'}}
  {{/if}}
</div>
<div class="span2 name">
  <div class="clearfix search-list-item-title">
    <h4 class="title">
      {{#link-to "contact" this}}
        {{displayName}}
      {{/link-to}}
    </h4>
    {{partial 'search/links'}}
    <div class="title muted">{{title}}</div>
    {{#if company}}
      <div class="company">
        {{#link-to "company" company}}{{company.name}}{{/link-to}}
      </div>
    {{/if}}
  </div>
</div>
<div class="span2 last-activity">
  {{partial 'search/last_activity'}}
</div>
<div class="span3 next-task">
  {{partial 'search/tasks'}}
</div>
<div class="span2 groups">
  {{#each tags}}
    {{name}}
  {{/each}}
</div>
