<div {{bindAttr class="isChecked :search-result"}}>
  {{partial 'shared/check_button'}}
  <div class="meta">
    {{avatar this size=medium class="img-polaroid"}}
    <div class="header">
      <div class="name">
        <span class="name">{{#linkTo contact this}}{{name}}{{/linkTo}}</span>
      </div>
      <div class="company-title">
        <div class="title muted">{{title}}</div>
        {{#if company}}
        <div class="company">
          {{#linkTo company company}}{{company.name}}{{/linkTo}}
        </div>
        {{/if}}
      </div>
    </div>
    {{partial 'search/links'}}
  </div>
  {{partial 'search/tasks'}}
  <div class="members">&nbsp;</div>
  {{partial 'search/delete'}}
</div>
