<div {{bindAttr class="isChecked :search-result"}}>
  <button {{action check this bubbles=false}} {{bindAttr class="isChecked:checked:unchecked :btn-checker"}}>
    <i class="icon-todo"></i>
  </button>
  <div class="meta">
    {{avatar this size=medium class="img-polaroid"}}
    <div class="header">
      <div class="contact-name">
        <span class="name">{{#linkTo contact this}}{{name}}{{/linkTo}}</span>
      </div>
      <div class="company-title">
        <div class="title muted">{{title}}</div>
        {{#if company}}
        <div class="company">
          {{#linkTo company company}}{{company.name}}{{/linkTo}}
        </div>
        {{/if}}
      </div>
    </div>
    <div class="links">
      {{#if openDeals.length}}
      <div class="deals">
        <a href="#">{{openDealsText}}</a>
      </div>
      {{/if}}
      {{#if tags.length}}
      <div class="tags">
        <label>Tags</label>
        {{#each tags}}
          {{#linkTo unimplemented}}{{name}}{{/linkTo}}
        {{/each}}
      </div>
      {{/if}}
    </div>
  </div>
  <div class="tasks">
    <div class="last-activity">
      <label>Last Activity</label>
      <div>
        {{#linkTo unimplemented}}<i class="icon-mail"></i> 5 days ago{{/linkTo}}
      </div>
    </div>
    {{#if hasTasks}}
    <div class="next-task">
      <label>Next Task</label>
      {{render "next_task" nextTask}}
    </div>
    {{/if}}
  </div>
  <div class="delete">
    {{#linkTo unimplemented class="delete btn-link"}}
      <i class="icon-delete"></i>
    {{/linkTo}}
  </div>
</div>
