<form {{bindAttr class=":navbar-search isOpen"}}>
  <div class="main-search-toggles">
    <i class="ss-search"></i>
    <i {{bindAttr class=":ss-standard query:ss-directup:ss-dropdown"}} {{action toggleAdvancedSearch}}></i>
  </div>
  {{view view.searchInput valueBinding="query" class="search-query" tabindex="1" placeholder="Search emails, people..."}}
</form>
{{#if isOpen}}
  <div class="main-search-results">
    {{#if query}}
      <div class="main-search-results-section">
        <h6 class="main-search-results-title">
          Search results for <span class="muted">{{query}}</span>
        </h6>
      </div>
    {{/if}}

    {{partial "search/settings"}}
  </div>
{{/if}}