<div class="span2 checkers">
  {{check-box checked=isChecked class="checker-block"}}
</div>
<div class="span3 name">
  <span class="name">{{#link-to "unimplemented"}}{{name}}{{/link-to}}</span>
</div>
<div class="span2 created-by">
  <label>&nbsp;</label>
</div>
<div class="span2 description">
  {{description}}
  {{#link-to "unimplemented" class="btn btn-block" disabled="disabled"}}Follow{{/link-to}}
</div>
<div class="span2">
  {{partial 'search/members'}}
</div>
<div class="span1">
  {{partial 'search/delete'}}
</div>
