<div class="span2 checkers">
  {{check-box checked=isChecked class="checker-block"}}
</div>
<div class="span2 name">
  <span class="name">{{#linkTo "unimplemented"}}{{name}}{{/linkTo}}</span>
</div>
<div class="span2 created-by">
  <label>Created By</label>
  <!-- FIXME: uncomment when API has user -->
  {{!#linkTo "user" user}}{{!user.name}}{{!/linkTo}}
</div>
<div class="span3 description">
  {{description}}
  {{#linkTo "unimplemented" class="btn btn-block"}}Follow{{/linkTo}}
</div>
<div class="span2">
  {{partial 'search/members'}}
</div>
<div class="span1">
  {{partial 'search/delete'}}
</div>