{{#with view.comment}}
  <a href="/users/{{unbound user.id}}" class="user-avatar">
    {{#if view.user.avatar.small_url}}
    <img {{bindAttr src="user.avatar.small_url"}}>
    {{else}}
    <img src="/images/fallback/small_default.png">
    {{/if}}
  </a>

  <div class="comment-text">
    <strong>
      <a href="/users/{{unbound user.id}}">{{view.user.abbrName}}</a>
    </strong><br>
    {{text}}
    <small class="time" {{bindAttr title="dateToISO8601"}}>
      {{formatDate createdAt}}
    </small>
  </div>
{{/with}}
