<p>
  {{#if email.isLoaded}}
    {{resource-link-to email}}
  {{else}}
    {{partial 'is_loading'}}
  {{/if}}
  <br/>
  from: {{resource-link-to contact}} to: {{resource-link-to user}}
  <br/>
  added to {{resource-link-to reference}}
</p>
