<p>
  {{#if email.isLoaded}}
    {{resource-link-to email}}
    <br/>
    from: {{resource-link-to email.sender}}
  {{else}}
    {{partial 'is_loading'}}
  {{/if}}
  <br/>
  added to {{resource-link-to reference}}
</p>
