Assigned: 
  {{#if isCall}}
    {{#with reference.todo.reference.contact}}
      <i class="icon-call"></i>
      Call <a href="/contacts/{{unbound id}}">{{unbound name}}</a>
    {{/with}}
  {{else}}
     <i class="icon-todo"></i>
    {{unbound reference.todo.description}}
  {{/if}}
   (<a href="/users/{{unbound user.id}}">{{unbound user.abbrName}}</a>)