Assigned: 
   <i class="icon-check"></i>
  {{#if isCall}}
    {{#with reference.todo.reference.contact}}
      Call <a href="/contacts/{{unbound id}}">{{name}}</a>
    {{/with}}
  {{else}}
    {{reference.todo.description}}
  {{/if}}
   (<a href="/users/{{unbound user.id}}">{{user.abbrName}}</a>)