<i class="pull-left activity-icon icon-meeting"></i>

{{view.resource.topic}} @ {{view.resource.location}}, {{formatTime view.resource.startsAt}}
({{#each users}}
<a href="/users/{{unbound id}}">{{abbrName}}</a>
{{/each}})