{{#if overdue}}
  <i class="pull-left activity-icon icon-overdue"></i>
{{/if}}

{{#if isCall}}
  <i class="pull-left activity-icon icon-call"></i>
{{else}}
  <i class="pull-left activity-icon icon-todo"></i>
{{/if}}

{{#if canComplete}}
  {{view view.checkboxView}}
{{/if}}
{{view Radium.LabelView labelBinding="view.contact.status"}}


<a href="/contacts/{{unbound view.contact.id}}">{{view.contact.feedDisplayName}}</a>
{{#if description}}: 
  {{#if canEdit}}
    {{inlineTextField description}}
  {{else}}
    {{description}}
  {{/if}}
{{/if}}
  
(<a href="/users/{{unbound user.id}}">{{user.abbrName}}</a>)