<i class="pull-left activity-icon icon-meeting"></i>

{{topic}} @ {{location}} ({{formatTime startsAt}} - {{formatTime endsAt}})
({{#each users}}
<a href="/users/{{unbound id}}">{{abbrName}}</a>
{{/each}})