{{#if overdue}}
  <i class="pull-left activity-icon icon-overdue"></i>
{{/if}}

<i class="pull-left activity-icon icon-todo"></i>

{{#if canComplete}}
  {{view view.checkboxView}}
{{/if}}

<a href="/deals/{{unbound reference.deal.id}}">{{reference.deal.name}}</a>:
{{#if canEdit}}
  {{inlineTextField description}}
{{else}}
  {{description}}
{{/if}}
  
(<a href="/users/{{unbound user.id}}">{{user.abbrName}}</a>)