<div class="page-header row-fluid">
  <div class="contacts-sidebar">
    <span class="count">
      {{#link-to "addressbook.companies"}}
      <span class="count-companies">{{companiesTotal}} companies ></span>
      {{/link-to}}
      {{#link-to "people.index" "all" (query-params user="" list="" company="" contactimportjob="" hidesidebar=false) currentWhen="people.index"}}
      <span class="count-people">{{contactsTotal}} people</span>
      {{/link-to}}
    </span>
    <div class="contacts-sidebar-list">
      <div class="contacts-sidebar-title">
        <i class="ss-standard ss-list"></i>
        <span>Lists</span>
      </div>
      <ul class="nav nav-pills">
        <li {{bind-attr class="isPersonal:active"}}>
          {{#link-to "people.index" "potential" (query-params user="" list="" company="" contactimportjob="" customquery="" hidesidebar=false)}}
            <div class="nav-pills-left">
              <span>Personal Contacts</span>
            </div>
            <div class="nav-pills-right">
              <span>{{allpersonal}}</span>
            </div>
          {{/link-to}}
          <ul class="nav nav-pills submenu">
            <li {{bind-attr class="isPotential:subactive"}}>
              {{#link-to "people.index" "potential" (query-params user="" list="" company="" contactimportjob="" customquery="" hidesidebar=false) class="submenu-item"}}
                <div class="nav-pills-left">
                  <span>Recent</span>
                </div>
                <div class="nav-pills-right">
                  <span class="submenu-item">{{potential}}</span>
                </div>
              {{/link-to}}
            </li>
            <li {{bind-attr class="isSuggested:subactive"}}>
              {{#link-to "people.index" "filtered" (query-params user="" list="" company="" contactimportjob="" customquery="" hidesidebar=false) class="submenu-item"}}
                <div class="nav-pills-left">
                  <span>Suggested</span>
                </div>
                <div class="nav-pills-right">
                  <span class="submenu-item">{{filtered}}</span>
                </div>
              {{/link-to}}
            </li>
            <li {{bind-attr class="isSpam:subactive"}}>
              {{#link-to "people.index" "spam" (query-params user="" list="" company="" contactimportjob="" customquery="" hidesidebar=false) class="submenu-item"}}
                <div class="nav-pills-left">
                  <span>Spam</span>
                </div>
                <div class="nav-pills-right">
                  <span class="submenu-item">{{spam}}</span>
                </div>
              {{/link-to}}
            </li>
          </ul>
        </li>
        <li {{bind-attr class="isAll:active"}}>
          {{#link-to "people.index" "all" (query-params user="" list="" company="" contactimportjob="" hidesidebar=false)}}
          <div class="nav-pills-left">
            <span class="shared">Shared Contacts</span>
          </div>
          <div class="nav-pills-right">
            <span>{{all}}</span>
          </div>
          {{/link-to}}
        </li>
        <li class="new-list">
          <a href="#" {{action "createList"}} class="btn-text btn-black"><i class="ss-standard ss-plus"></i> New List</a>
        </li>
        {{#each list in lists}}
          {{list-item list=list parent=this tagName="li" class="list-item"}}
        {{/each}}
      </ul>
      <ul class="nav nav-pills more">
        {{#each user in team}}
          {{user-item user=user parent=this tagName="li" class="user"}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="table-container">
    {{partial 'emails/importing'}}
    <div class="subhead">
      <div class="left">
        <div class="nav-wrap">
          <div class="tools">
            {{#link-to "leads.single" class="btn btn-primary btn-icon btn-large"}}
            <i class="ss-standard ss-user"></i>
            <span>Add Contact</span>
            {{/link-to}}
            <a href="#" {{action "executeActions" "compose"}} class="btn-text btn-black"><i class="ss-standard ss-mail"></i> Compose</a>
            <div class="btn-group vanilla">
              <a href="#" data-toggle="dropdown" class="btn-text btn-black dropdown-toggle">
                <i class="ss-standard ss-action"></i> Actions
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="#" {{action "executeActions" "compose"}}>Compose</a></li>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Add to List</a>
                  <ul class="dropdown-menu">
                    {{#each list in lists}}
                      <li>
                        <a href="#" {{action "addList" list}}>{{list.name}}</a>
                      </li>
                    {{else}}
                      <li><a href="#">(none)</a></li>
                    {{/each}}
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Assign To</a>
                  <ul class="dropdown-menu">
                    {{#each user in users}}
                      <li>
                        <a href="#" {{action "assignAll" user}}>{{avatar user style="tiny"}}{{user.displayName}}</a>
                      </li>
                    {{/each}}
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a tabindex="-1" href="#">Contact Status</a>
                  <ul class="dropdown-menu">
                    {{#each status in contactStatuses}}
                      <li>
                        <a href="#" {{action "setStatus" status}}>{{status.name}}</a>
                      </li>
                    {{/each}}
                    <li class="divider"></li>
                    <li>
                      {{#link-to "settings.contactStatuses" class="edit"}}Add/Edit Statuses{{/link-to}}
                    </li>
                  </ul>
                </li>
                {{#unless isPersonal}}
                  <li><a href="#" {{action "makePrivateAll"}}>Make Private</a></li>
                {{else}}
                  <li>
                    <a href="#" {{action "makePublicAll"}}>Share</a>
                  </li>
                {{/unless}}
                <li><a href="#" {{action "confirmDeletion"}}>Delete</a></li>
              </ul>
            </div>
            <a {{action "toggleFilter"}} href="#" class="btn-filter">
              <i class="ss-standard ss-filter"></i>
              <span>Filter</span>
            </a>
            <div class="filter-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="ss-standard ss-dropdown"></i>
              </a>
              <ul class="nav nav-pills dropdown-menu">
                <li {{bind-attr class="isCurrentUser:active"}}>
                  <a href="#" {{action "showUsersContacts" currentUser}}>
                    <div class="nav-pills-left">
                      <i class="ss-standard ss-filter"></i>
                      <span>{{currentDisplay}}</span>
                    </div>
                    <div class="nav-pills-right">
                      <span>{{currentContactsTotal}}</span>
                    </div>
                  </a>
                </li>
                <li {{bind-attr class="isNew:active"}}>
                  {{#link-to "people.index" "new" (query-params user="" list="" hidesidebar=false)}}
                  <div class="nav-pills-left">
                    <i class="ss-standard ss-filter" data-original-title="" title=""></i>
                    <span>New</span>
                  </div>
                  <div class="nav-pills-right">
                    <span>{{new}}</span>
                  </div>
                  {{/link-to}}
                </li>
                <li {{bind-attr class="isNoTasks:active"}}>
                  {{#link-to "people.index" "notasks" (query-params user="" list="" hidesidebar=false)}}
                  <div class="nav-pills-left">
                    <i class="ss-standard ss-filter" data-original-title="" title=""></i>
                    <span>No Tasks</span>
                  </div>
                  <div class="nav-pills-right">
                    <span>{{noTasks}}</span>
                  </div>
                  {{/link-to}}
                </li>
                <li {{bind-attr class="isLosing:active"}}>
                  {{#link-to "people.index" "losing" (query-params user="" list="" hidesidebar=false)}}
                  <div class="nav-pills-left">
                    <i class="ss-standard ss-filter" data-original-title="" title=""></i>
                    <span>Losing Touch</span>
                  </div>
                  <div class="nav-pills-right">
                    <span>{{inactive}}</span>
                  </div>
                  {{/link-to}}
                </li>
                <li {{bind-attr class="isNoList:active"}}>
                  {{#link-to "people.index" "no_list" (query-params user="" list=""  hidesidebar=false)}}
                  <div class="nav-pills-left">
                    <i class="ss-standard ss-filter" data-original-title="" title=""></i>
                    <span>No List</span>
                  </div>
                  <div class="nav-pills-right">
                    <span>{{noList}}</span>
                  </div>
                  {{/link-to}}
                </li>
                {{#each newCustomQuery in newCustomQueries}}
                  {{new-listitem listItem=newCustomQuery tagName="li"  action="saveCustomQuery" newItemPlaceholder="New dynamic list"}}
                {{/each}}
              </ul>
            </div>
            <a {{action "exportToCsv"}} href="#" class="btn-filter">
              <i class="ss-standard ss-download"></i>
              <span>Export to CSV</span>
            </a>
          </div>
        </div>
      </div>
      <div class="working-anim">
        {{#if working}}
          <img src="/images/loading/ajax-loader.gif"/>
        {{/if}}
      </div>
      <div class="col-selector">
        {{email-autosuggest destination=dummy placeholder="search" showAvatar=false class="search" deleteOnBackSpace=false searchOnlyAction="selectContact" queryParameters=searchQueryParameters filterResults=filterSearchResults}}
      </div>
      <div class="filters">
        {{query-builder potentialQueries=potentialQueries actualQueries=actualQueries fields=combinedQueryFields parent=this users=users isSaved=isQuery}}
      </div>
    </div>
    <div class="left-table">
      {{variadic-table list=model columns=fixedColumns checkAllItems="checkAllItems" allChecked=allChecked check=true classNames="fixed-table" sort="sort" classNames="fixed" customFields=customFields toggleColumnVisibility="toggleColumnVisibility" isLoading=content.isLoading}}
    </div>
    <div class="right-table">
      {{variadic-table list=model columns=checkedColumns sort="sort" classNames="variable" addColumnSelector=true columnSelection=combinedColumns toggleColumnSelection="toggleColumnVisibility" isLoading=content.isLoading}}
    </div>
    {{#if content.isLoading}}
      <div class="loading" {{bind-attr colspan="colSpan"}} class="text-center">
        <span class="muted">Loading...</span>
      </div>
    {{/if}}
  </div>
  {{regular-infinitescroller getMore="showMore" allLoaded=false isLoading=false}}
  {{#if displayNoContacts}}
    <div class="no-contacts-message">
      <i class="ss-standard ss-user"></i>
      <h1>Add your first contact</h1>
      <div class="buttons">
        {{#link-to "leads.single" class="btn btn-primary btn-large"}}Single Contact{{/link-to}}
        {{#link-to "leads.import" class="btn btn-primary btn-large"}}Import from CSV{{/link-to}}
      </div>
    </div>
  {{/if}}
</div>
{{#if showDrawer}}
  {{#x-drawer class="contact-drawer" closeDrawer="closeAddressbookDrawer"}}
  {{! UPGRADE: use component helper when we upgrade}}
  {{renderComponent drawerModel drawerParams}}
  {{/x-drawer}}
{{/if}}
{{partial 'modal'}}
{{#delete-confirmation deleteAction="deleteAll" showDeleteConfirmation=showDeleteConfirmation}}
<p>This action cannot be undone! Deleting these <strong>{{checkedTotal}}</strong> item(s) will be permanent.</p>
{{/delete-confirmation}}
