<div class="page-header row-fluid">
  <div class="subhead">
    <div class="left">
      <div class="nav-wrap">
        <span class="count">
          <span class="chosen">0</span>
          <span class="divider">/</span>
          <span class="total">6</span>
          <span class="label">CONTACTS</span>
        </span>
        <div class="tools">
          {{#link-to "leads.new" class="btn-contact"}}
            <i class="ss-standard ss-user"></i>
            <span>Add Contact</span>
          {{/link-to}}
          <div class="btn-group vanilla">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
              <i class="ss-standard ss-cursor"></i> Actions
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><a href="#">Compose</a></li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Add to List</a>
                <ul class="dropdown-menu">
                  {{#each tags}}
                    <li>
                      <a href="#">{{name}}</a>
                    </li>
                  {{else}}
                    <li><a href="#">(none)</a></li>
                  {{/each}}
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Assign To</a>
                <ul class="dropdown-menu">
                  {{#each users}}
                    <li>
                      <a href="#" {{action "assignAll" this}}>{{avatar this style="tiny"}}{{displayName}}</a>
                    </li>
                  {{/each}}
                </ul>
              </li>
              <li><a href="#">Delete</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-selector">
      <button data-toggle="dropdown" class="dropdown-toggle">
        <span>
          <i class="ss-standard ss-columns"></i>
          <i class="ss-standard ss-dropdown"></i>
        </span>
      </button>
      <ul class="col-menu dropdown-menu">
        <li>
          <label>
            <input type="checkbox">
            <span>NAME</span>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox">
            <span>EMAIL</span>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox">
            <span>COMPANY</span>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox">
            <span>EVENTS</span>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox">
            <span>INACTIVE</span>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox">
            <span>NEXT TASK</span>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox">
            <span>ASSIGNED TO</span>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox">
            <span>LAST ACTIVITY</span>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox">
            <span>LOCATION</span>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox">
            <span>PHONE</span>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox">
            <span>TAGS</span>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox">
            <span>DEALS</span>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox">
            <span>TYPE</span>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox">
            <span>SOURCE</span>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox">
            <span>POSITION</span>
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox">
            <span>ADDED</span>
          </label>
        </li>
      </ul>
      <input type="text" class="searchbox" placeholder="Search">
    </div>
  </div>
  <div class="contacts-sidebar span2">
    <ul class="nav nav-pills">
      <li {{bind-attr class="isAll:active"}}>
        {{#link-to "people.index" "all" (query-params user_id="")}}
          <i class="ss-symbolicons ss-lightning" data-original-title="" title=""></i>
          <span>All</span>
          <span>{{all}}</span>
        {{/link-to}}
      </li>
      {{#each users itemController="peopleUserItem"}}
        <li {{bind-attr class="isCurrent:active"}}>
          <a href="#" {{action "showUsersContacts" this}}
            <i class="ss-symbolicons ss-lightning"></i>
            <span>{{display}}</span>
            <span>{{contactsTotal}}</span>
          </a>
        </li>
      {{/each}}
      <li {{bind-attr class="isNew:active"}}>
        {{#link-to "people.index" "new" (query-params user_id="")}}
          <i class="ss-symbolicons ss-lightning" data-original-title="" title=""></i>
          <span>New</span>
          <span>{{new}}</span>
        {{/link-to}}
      </li>
      <li {{bind-attr class="isNoTasks:active"}}>
        {{#link-to "people.index" "notasks" (query-params user_id="")}}
          <i class="ss-symbolicons ss-lightning" data-original-title="" title=""></i>
          <span>No Tasks</span>
          <span>{{noTasks}}</span>
        {{/link-to}}
      </li>
      <li {{bind-attr class="isLosing:active"}}>
        {{#link-to "people.index" "losing" (query-params user_id="")}}
          <i class="ss-symbolicons ss-lightning" data-original-title="" title=""></i>
          <span>Losing Touch</span>
          <span>28</span>
        {{/link-to}}
      </li>
    </ul>
  </div>
  <div class="span9">
    <table class="contacts-table">
      <thead>
        <tr>
          <th class="check">
            <input type="checkbox"/>
          </th>
          <th>Name</th>
          <th>Email</th>
          <th>Company</th>
          <th>Events</th>
          <th>Inactive</th>
          <th>Next Task</th>
          <th>Assigned To</th>
          <th>Last Activity</th>
        </tr>
      </thead>
      <tbody>
        {{#each controller}}
          <tr>
            <td class="check">
              <input type="checkbox"/>
            </td>
            <td class="name">
              {{avatar this style="tiny"}}
              {{resource-link-to this}}
            </td>
            <td>
              {{#if emailAddresses.length}}
                <a href="#">{{primaryEmail.value}}</a>
              {{/if}}
            </td>
            <td>
              {{#if company.name}}
                {{resource-link-to company}}
              {{/if}}
            </td>
            <td>
              {{activityCount}}
            </td>
            <td>
              {{daysInactive}}
            </td>
            <td>
              {{#if taks.length}}
                {{resource-link-to tasks.firstObject}}
              {{/if}}
            </td>
            <td>
              {{avatar user style="tiny"}}
              {{resource-link-to user}}
            </td>
            <td>
              Last Activity
            </td>
          </tr>
        {{/each}}
        {{regular-infinitescroller getMore="showMore" allLoaded=false isLoading=false}}
        {{#if content.isLoading}}
          <tr>
            <td colspan="9" class="text-center">
              <img src="/images/loading/ajax-loader.gif"/> <span class="muted">loading...</span>
            </td>
          </tr>
        {{/if}}
      </tbody>
    </tabl>
  </div>
</div>
