<div class="page-header row-fluid">
  <div class="subhead">
    <div class="left">
      <div class="nav-wrap">
        <span class="count">
          <span class="chosen">0</span>
          <span class="divider">/</span>
          <span class="total">6</span>
          <span class="label">CONTACTS</span>
        </span>
        <div class="tools">
          {{#link-to "leads.new" class="btn-contact"}}
            <i class="ss-standard ss-user"></i>
            <span>Add Contact</span>
          {{/link-to}}
          <div class="btn-group vanilla">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
              <i class="ss-standard ss-cursor"></i> Actions
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><a href="#">Compose</a></li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Add to List</a>
                <ul class="dropdown-menu">
                  {{#each tags}}
                    <li>
                      <a href="#">{{name}}</a>
                    </li>
                  {{else}}
                    <li><a href="#">(none)</a></li>
                  {{/each}}
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Assign To</a>
                <ul class="dropdown-menu">
                  {{#each users}}
                    <li>
                      <a href="#" {{action "assignAll" this}}>{{avatar this style="tiny"}}{{displayName}}</a>
                    </li>
                  {{/each}}
                </ul>
              </li>
              <li><a href="#">Delete</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-selector">
      <button data-toggle="dropdown" class="dropdown-toggle">
        <span>
          <i class="ss-standard ss-columns"></i>
          <i class="ss-standard ss-dropdown"></i>
        </span>
      </button>
      <ul class="col-menu dropdown-menu">
        {{#each columns}}
          <label>
            {{input type="checkbox" checked=checked}}
            <span>{{heading}}</span>
          </label>
        {{/each}}
      </ul>
      {{input type="text" value=searchText class="searchbox" placeholder="search"}}
    </div>
  </div>
  <div class="contacts-sidebar span2">
    <ul class="nav nav-pills">
      <li {{bind-attr class="isAll:active"}}>
        {{#link-to "people.index" "all" (query-params user="")}}
          <i class="ss-symbolicons ss-lightning" data-original-title="" title=""></i>
          <span>All</span>
          <span>{{all}}</span>
        {{/link-to}}
      </li>
      <li {{bind-attr class="isCurrentUser:active"}}>
        <a href="#" {{action "showUsersContacts" currentUser}}>
          <i class="ss-symbolicons ss-lightning"></i>
          <span>{{currentDisplay}}</span>
          <span>{{currentContactsTotal}}</span>
        </a>
      </li>
      <li {{bind-attr class="isNew:active"}}>
        {{#link-to "people.index" "new" (query-params user="" tag="")}}
          <i class="ss-symbolicons ss-lightning" data-original-title="" title=""></i>
          <span>New</span>
          <span>{{new}}</span>
        {{/link-to}}
      </li>
      <li {{bind-attr class="isNoTasks:active"}}>
        {{#link-to "people.index" "notasks" (query-params user="" tag="")}}
          <i class="ss-symbolicons ss-lightning" data-original-title="" title=""></i>
          <span>No Tasks</span>
          <span>{{noTasks}}</span>
        {{/link-to}}
      </li>
      <li {{bind-attr class="isLosing:active"}}>
        {{#link-to "people.index" "losing" (query-params user="" tag="")}}
          <i class="ss-symbolicons ss-lightning" data-original-title="" title=""></i>
          <span>Losing Touch</span>
          <span>{{inactive}}</span>
        {{/link-to}}
      </li>
      <li {{bind-attr class="isNoList:active"}}>
        {{#link-to "people.index" "no_list" (query-params user="" tag="")}}
          <i class="ss-symbolicons ss-lightning" data-original-title="" title=""></i>
          <span>No List</span>
          <span>{{noList}}</span>
        {{/link-to}}
      </li>
      {{#each tags itemController="peopleTagItem"}}
        <li {{bind-attr class="isCurrent:active"}}>
          <a class="tag" href="#" {{action "showTagsContacts" this}}
            <i>&nbsp;</i>
            <span>{{name}}</span>
            <span>{{contactsTotal}}</span>
          </a>
        </li>
      {{/each}}
    </ul>
    {{#if showMoreMenu}}
      <ul class="nav nav-pills more">
        {{#each team itemController="peopleUserItem"}}
          <li {{bind-attr class="isCurrent:active"}}>
            <a href="#" {{action "showUsersContacts" this}} class="user">
              <i class="ss-symbolicons ss-lightning"></i>
              <span>{{display}}</span>
              <span>{{contactsTotal}}</span>
            </a>
          </li>
        {{/each}}
      </ul>
      <a href="#" class="show-more">Show More</a>
    {{/if}}
  </div>
  <div class="table-container">
    <div class="left-table">
      {{varidic-table list=controller columns=fixedColumns showMore="showMore" check=true classNames="fixed-table"}}
    </div>
    <div class="right-table">
      {{varidic-table list=controller columns=checkedColumns showMore="showMore"}}
    </div>
    {{#if content.isLoading}}
      <div class="loading" {{bind-attr colspan="colSpan"}} class="text-center">
        <img src="/images/loading/ajax-loader.gif"/> <span class="muted">loading...</span>
      </div>
    {{/if}}
  </div>
  {{regular-infinitescroller getMore="showMore" allLoaded=false isLoading=false}}
</div>
