{{#with Radium.activitiesController}}}

  {{#if content.length}}
    {{#if selectedDateType}}
      {{#each selectedDateType}}
        <div class="page-header">
          <h2>{{date}}</h2>
        </div>
        {{#if todos.length}}
          {{#view Radium.TestFeedItemView type="todo" todosBinding="todos" idsBinding="todoIds"}}
            <div class="alert">
              There are {{todos.length}} todos.
            </div>
          {{/view}}
        {{/if}}
      {{/each}}

    {{else}}
      
      <div class="page-header">
        <h2>{{dateFilter}}</h2>
      </div>
      {{#with Radium.selectedFeedDateController}}
        {{#if content.length}}
          {{#each activityTypes}}
            {{view Radium.FeedItemView 
              itemTypeBinding="this"
            }}
          {{/each}}
        {{else}}
          <div class="alert alert-error">
            No activities recorded on this date...
          </div>
        {{/if}}
      {{/with}}
    {{/if}}


  {{else}}
    <h2>Loading feed...</h2>
  {{/if}}

{{/with}}