{{#with Radium.activitiesController}}}

  {{#if content.length}}
    {{#if selectedDateType}}
      {{#each selectedDateType}}
        {{#view Radium.FeedDateGroupView 
          contentBinding="this"
          activityTypesBinding="Radium.activitiesController.activityTypes"
          categoryFilterBinding="Radium.activitiesController.categoryFilter"
        }}
          <div class="page-header">
            <h2>{{content.date}}</h2>
          </div>
          {{#if content.todos.length}}
            {{view Radium.FeedClusterView 
              contentBinding="content"
              filterType="todo" 
              model="Todo"
              todosBinding="content.todos" 
              idsBinding="content.todoIds"
            }}
          {{/if}}
          {{#if content.contacts.length}}
              There are {{content.contacts.length}} contacts.
          {{/if}}
          {{#if content.deals.length}}
            There are {{content.deals.length}} deals.
          {{/if}}
          {{#if content.meetings.length}}
            There are {{content.meetings.length}} meetings
          {{/if}}
          {{#if content.calllists.length}}
            There are {{content.calllists.length}} call lists.
          {{/if}}
        {{/view}}
      {{/each}}

    {{else}}
      
      <div class="page-header">
        <h2>{{dateFilter}}</h2>
      </div>
      {{#with Radium.selectedFeedDateController}}
        {{#if content.length}}
          {{#each activityTypes}}
            {{view Radium.FeedItemView 
              itemTypeBinding="this"
            }}
          {{/each}}
        {{else}}
          <div class="alert alert-error">
            No activities recorded on this date...
          </div>
        {{/if}}
      {{/with}}
    {{/if}}


  {{else}}
    <h2>Loading feed...</h2>
  {{/if}}

{{/with}}