{{#with Radium.activitiesController}}}

  {{#if content.length}}
    {{#if selectedDateType}}
      {{#each selectedDateType}}
        {{#view Radium.FeedDateGroupView 
          contentBinding="this"
          activityTypesBinding="Radium.activitiesController.activityTypes"
          categoryFilterBinding="Radium.activitiesController.categoryFilter"
        }}
          <div class="page-header">
            <h2>{{content.date}}</h2>
          </div>
          {{#if content.todos.length}}
            {{#view Radium.FeedClusterView 
              contentBinding="content"
              filterType="todo" 
              model="Todo"
              todosBinding="content.todos" 
              idsBinding="content.todoIds"
            }}
              {{#view Radium.FeedItemHeadlineView 
                todosBinding="parentView.content.createdTodos"
              }}
                <b>{{todos.length}} todos</b> created.
              {{/view}}
              <hr>
              {{view Radium.FeedItemTodosView itemsBinding="parentView.content.createdTodos.reference.todo"}}
            {{/view}}

            {{#view Radium.FeedClusterView 
              contentBinding="content"
              filterType="todo" 
              model="Todo"
              todosBinding="content.todos" 
              idsBinding="content.todoIds"
            }}
              {{#view Radium.FeedItemHeadlineView 
                todosBinding="parentView.content.assignedTodos"
              }}
                <b>{{todos.length}} todos</b> assigned to you.
              {{/view}}
              <hr>
              {{view Radium.FeedItemTodosView itemsBinding="parentView.content.assignedTodos.reference.todo"}}
            {{/view}}

            {{#view Radium.FeedClusterView 
              contentBinding="content"
              filterType="todo" 
              model="Todo"
              todosBinding="content.todos" 
              idsBinding="content.todoIds"
            }}
              {{#view Radium.FeedItemHeadlineView 
                todosBinding="parentView.content.finishedTodos"
              }}
                You finished <b>{{todos.length}} todos</b>.
              {{/view}}
              <hr>
              {{view Radium.FeedItemTodosView itemsBinding="parentView.content.finishedTodos.reference.todo"}}
            {{/view}}

          {{/if}}
        {{/view}}
      {{/each}}

    {{else}}
      
      <div class="page-header">
        <h2>{{dateFilter}}</h2>
      </div>
      {{#with Radium.selectedFeedDateController}}
        {{#if content.length}}
          {{#each activityTypes}}
            {{view Radium.FeedItemView 
              itemTypeBinding="this"
            }}
          {{/each}}
        {{else}}
          <div class="alert alert-error">
            No activities recorded on this date...
          </div>
        {{/if}}
      {{/with}}
    {{/if}}


  {{else}}
    <h2>Loading feed...</h2>
  {{/if}}

{{/with}}