{{#each parentView.todos}}
  {{#with reference.todo}}
    <div {{bindAttr class="isOverdue:overdue"}}>
      <div class="span2">
        <span class="timestamp">
        {{#if isOverdue}}
          OVERDUE
        {{else}}
          {{time updatedAt}}
        {{/if}}
        </span>
      </div>
      <div class="span6 content">
        <p>
          {{view Radium.Checkbox valueBinding="finished"}}
          <span class="label notice">{{kind}}</span>
          {{description}}
    {{/with}}
        (<a href="#">{{owner.user.abbrName}}</a>)
      {{#if reference.todo.comments.length}}
        <i class="icon-comment"></i>
      {{/if}}
      </p>
    </div>
  </div>
{{/each}}