<div class="sidebar-wrap">
  {{render 'sidebar/name' model}}

  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      {{render "sidebar/company_website" model}}
      {{multiple-addresses model=model parent=this hasEmail=true}}
    </div>
  </div>


  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <div class="pull-right company-members-link">
        {{#link-to "people.index" "all" (query-params company=id user="" tag="" contactimportjob="" customquery="" hidesidebar=false)}}{{membersText}}{{/link-to}}
      </div>
      <h6 class="sidebar-panel-title">
        Contacts
      </h6>
    </div>
    <div class="sidebar-panel-content">
      {{partial 'search/members'}}
    </div>
    <div class="sidebar-panel-content">
      {{#link-to "leads.fromCompany" model classNames="btn btn-block btn-main btn-primary add-contact"}}<i class="add icon-plus"></i>Add Contact{{/link-to}}
    </div>
  </div>

  {{render 'sidebar/user' model}}

  <div class="sidebar-panel sidebar-about">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        About
      </h6>
    </div>
    <div class="sidebar-panel-content">
      {{inline-editor model=model bufferKey="about" notRoutable=true placeholder="Add about text" parent=this class="about-text" multiline=true}}
      <div>
        <i class="ss-standard ss-earth"></i> from {{source}} <i class="ss-standard ss-write pull-right"></i>
      </div>
      <div>
        <i class="ss-standard ss-user"></i> added on {{formatDateTime createdAt format="date"}}
      </div>
    </div>
  </div>


  <div class="sidebar-panel">
    <div class="sidebar-panel-header">
      <h6 class="sidebar-panel-title">
        Lists
      </h6>
    </div>
    <div class="sidebar-panel-content">
      <div class="tag-picker">
        {{tag-autosuggest source=tags destination=model.tagNames addTag="addTag" removeTag="removeTag" placeholder="add to lists"}}
      </div>
    </div>
  </div>

  {{partial 'shared/attachments'}}

  {{partial 'shared/followers'}}

  <div class="sidebar-panel">
    <div class="sidebar-panel-content">
      <button class="btn btn-danger btn-block" {{action "confirmDeletion"}}>Delete</button>
    </div>
  </div>

</div>