<form class="form">
  <div class="meta">
    {{avatar this size=medium class="img-polaroid"}}
    {{#view view.companyInlineEditor valueBinding=name class="company"}}
      {{#if view.isEditing}}
        {{input value=name class="field company-name"}}
      {{else}}
        <h1>{{name}}<i class="icon-edit pull-right" {{action toggleEditor target=view bubbles=false}}></i></h1>
      {{/if}}
    {{/view}}
    {{view view.websiteInlineEditor class="website"}}
  </div>
  <hr class="first"/>
  <div class="tag-picker">
    <div class="tag-label">
      <h2 class="blue">Tags</h2>
    </div>
    {{view view.tags placeholder="Add" viewName="tags"}}
  </div>
  <hr/>
  <div class="about">
    {{view view.aboutInlineEditor valueBinding=about}}
  </div>
  <hr/>

  {{view view.userInlineEditor valueBinding=user}}

  <hr />

  {{partial 'shared/add_files'}}

  <hr/>

  <div class="address">
    {{view view.addressInlineEditor}}
  </div>

  <hr/>

  {{partial 'shared/followers'}}
  <hr/>

  <button class="btn btn-danger btn-block" {{action confirmDeletion}}>Delete</button>

</form>
