<form class="form">
  <div class="meta">
    <img src="http://placehold.it/74x74" class="img-polaroid" alt="">
    {{render 'sidebar/company_name' model}}

    {{render "sidebar/company_website" model}}
  </div>
  <hr class="first"/>
  {{#linkTo leads.fromCompany this classNames="btn btn-block add-contact"}}<i class="add icon-plus"></i>Add Contact{{/linkTo}}
  {{#if contacts.length}}
    <hr />
    <div class="company-type">
      <h2>{{maxContactsStatus}}</h2>
    </div> 
    <hr />
  {{/if}}
  <div class="tag-picker">
    <div class="tag-label">
      <h2 class="blue">Tags</h2>
    </div>
    {{render 'sidebar/tags' model}}
  </div>
  <hr/>
  <div class="about">
    {{render 'sidebar/about' model}}
  </div>

  <hr/>

  {{render 'sidebar/user' model}}

  <hr />

  {{partial 'shared/add_files'}}

  <hr/>

  <div class="address">
    {{render "sidebar/addresses" model}}
  </div>

  <hr/>

  {{partial 'shared/followers'}}
  <hr/>

  <button class="btn btn-danger btn-block" {{action confirmDeletion}}>Delete</button>
</form>
