<div class="sidebar-panel" id="sidebar-about">
  <div class="sidebar-panel-header">
    <h6 class="sidebar-panel-title">
      About <i class="ss-standard ss-write"></i>
    </h6>
  </div>
  <div class="sidebar-panel-content">
    {{#if isEditing}}
    <div class="about">
      <div>
        {{view view.textArea class="field" valueBinding="form.about" placeholder="About"}}
      </div>
      <div>
        <i class="ss-standard ss-globe"></i> from {{source}}
      </div>
      <div>
        <i class="ss-standard ss-user"></i> added on {{formatDateTime createdAt format="date"}}
      </div>
    </div>
    {{else}}
      {{view view.textArea class="field" valueBinding="form.about" placeholder="About"}}
      <div>
        <i class="ss-standard ss-globe"></i> from {{source}}
      </div>
      <div>
        <i class="ss-standard ss-user"></i> added on {{formatDateTime createdAt format="date"}}
      </div>
    {{/if}}
  </div>
</div>
