<div class="sidebar-panel">
  <div class="sidebar-panel-header">
    <i class="ss-standard ss-write pull-right" {{action toggleEditor target=view bubbles=false}}></i>
    <h6 class="sidebar-panel-title">
      <i class="ss-standard ss-dollarsign"></i> {{amount}} Amount
    </h6>
  </div>
  <div class="sidebar-panel-content">
    {{#if isEditing}}
      <div {{bind-attr class="isValid:success:error :control-group"}}>
        <div class="input-prepend">
          <span class="add-on">$</span>
          {{input value=form.value class="span2" type="number" min="0"}}
        </div>
      </div>
    {{else}}
      <span class="money inline-editor-text">
        {{currency value}}
      </span>
    {{/if}}
  </div>
</div>
