<div class="sidebar-panel">
  <div class="sidebar-panel-header">
    <i class="ss-standard ss-write pull-right" {{action toggleEditor target=view bubbles=false}}></i>
    <h6 class="sidebar-panel-title">
      <i class="ss-standard ss-view"></i> Assigned To
    </h6>
  </div>
  <div class="sidebar-panel-content">
    <div class="assigned-to control-group">
      {{#if isEditing}}
        <div>
          {{view view.userPicker}}
        </div>
        <div class="source">
          <label class="control-label">Source</label>
          {{view view.leadSources}}
        </div>
      {{else}}
        {{#linkTo "user" user}}
          {{#if user.isLoaded}}
            {{avatar user class="img-polaroid"}}
          {{else}}
            {{partial 'is_loading'}}
          {{/if}}
        {{/linkTo}}
        <p>
          {{#linkTo "user" user}}{{user.name}}{{/linkTo}}<br/>
          <span class="title muted">{{title}}</span>
        </p>
      {{/if}}
      <div class="createdAt">
        <dl class="dl-horizontal">
          <dt>Source</dt>
          <dd>{{source}}</dd>
          <dt>Client Since</dt>
          <dd>{{formatDateTime createdAt format="date"}}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
