<div class="sidebar-panel" id="sidebar-assigned">
  <div class="sidebar-panel-header">
    <h6 class="sidebar-panel-title">
      Assigned To
    </h6>
  </div>
  <div class="sidebar-panel-content">
    <div class="assigned-to control-group">
      {{#if isEditing}}
        <div>
          {{autocomplete-textbox source=users value=controller.form.user queryKey="displayName" validations=userValidations validator=controller validationField="user" action="stopEditing"}}
        </div>
      {{else}}
        {{#link-to "user" user}}
          {{#if user.isLoaded}}
            {{avatar user class="img-polaroid"}}
          {{else}}
            {{partial 'is_loading'}}
          {{/if}}
        {{/link-to}}
        <p>
          {{#link-to "user" user}}{{user.name}}{{/link-to}}<i class="ss-standard ss-write pull-right"></i><br/>
          <span class="title muted">{{title}}</span>
        </p>
      {{/if}}
    </div>
  </div>
</div>
