{{#if model}}
  {{#if isEditing}}
    <div>
      <i class="ss-standard ss-cloud"></i>{{input type="text" value=form.website class="field" placeholder="Add company website"}}
    </div>
  {{else}}
    <div class="not-editing">
      {{#if company.website}}
        <a href="{{unbound company.website}}" target="_blank"><i class="ss-standard ss-cloud"></i>{{company.website}}</a>
      {{else}}
        <i class="ss-standard ss-cloud"></i><span class="empty">Add company website</span>
      {{/if}}
    </div>
    <div>
      <i class="ss-standard ss-write" {{action toggleEditor target=view bubbles=false}}></i>
    </div>
  {{/if}}
{{else}}
  <i class="ss-standard ss-cloud"></i><span class="empty">Please assign a company.</span>
{{/if}}

