<dl class="dl-horizontal contact-types-list">
  <dt><i class="ss-standard ss-cloud muted"></i> Website</dt>
  <dd>
    {{#if model}}
      {{#if isEditing}}
        <div>
          {{input type="text" value=form.website class="field" placeholder="Add company website"}}
        </div>
      {{else}}
        <div class="pull-right">
          <i class="ss-standard ss-write" {{action toggleEditor target=view bubbles=false}}></i>
        </div>
        <div class="not-editing">
          {{#if company.website}}
            <a href="{{unbound company.website}}" target="_blank">{{company.website}}</a>
          {{else}}
            <span class="empty">Add company website</span>
          {{/if}}
        </div>
      {{/if}}
    {{else}}
      <span class="empty">Please assign a company.</span>
    {{/if}}

  </dd>
</dl>