{{#if isEditing}}
  <div class="contact-detail">
    <div class="control-group">
      {{upload-avatar model=model finishedUpload='stopEditing'}}
    </div>
{{else}}
    {{#if isLoaded}}
      {{avatar model style="sidebar"}}
    {{else}}
      {{partial 'is_loading'}}
    {{/if}}
  </div>
  <div>
    <label class="switch">
      <input type="checkbox" class="switch-input" checked>
      <span class="switch-label" data-on="Shared" data-off="Private"></span>
      <span class="switch-handle"></span>
    </label>
  </div>
  <div class="clearfix">
    <div class="not-editing">
      {{#if name}}
        <h4 class="name" placeholder="Add name">
          <i class="ss-write pull-right" {{action "toggleEditor" target=view bubbles=false}}></i>
          {{name}}
        </h4>
      {{else}}
        <span class="empty empty-name">Add name</span>
      {{/if}}
    </div>
  </div>
{{/if}}
