<dl class="dl-horizontal contact-types-list contact-company-list">
  <dd>
    {{#if isEditing}}
      <div>
        {{autocomplete-textbox scopes="company" value=controller.form.company queryKey="displayName" validations=companyValidations validator=controller validationField="company" isValid=isValid writeableValue=true saveModel="createCompany" action="modelChanged" disabled=isDisabled}}
      </div>
    {{else}}
      <div class="not-editing">
        {{#if company}}
          <p class="company-link">
            {{#link-to 'company' company}}
              {{company.displayName}}
            {{/link-to}}
            <i class="ss-standard ss-write pull-right" {{action "toggleEditor" target=view bubbles=false}}></i>
          </p>
        {{else}}
          <span class="empty">Add company</span>
        {{/if}}
      </div>
    {{/if}}
  </dd>
</dl>
