<dl class="dl-horizontal contact-types-list contact-company-list">
  <dt><i class="ss-standard ss-buildings muted"></i></dt>
  <dd>
    {{#if isEditing}}
      <div>
        {{view view.companyPicker}}
      </div>
    {{else}}
      <div class="pull-right">
        <i class="ss-standard ss-write" {{action toggleEditor target=view bubbles=false}}></i>
      </div>
      <div class="not-editing">
        {{#if company}}
          <p class="company-link">
            {{#link-to 'company' company}}
              {{company.displayName}}
            {{/link-to}}
          </p>
        {{else}}
          <span class="empty">Add company</span>
        {{/if}}
      </div>
    {{/if}}
  </dd>
</dl>
