{{#if isEditing}}
  <div class="contact-detail">
    <div class="control-group">
      {{upload-avatar model=model finishedUpload='stopEditing'}}
    </div>
    <div class="control-group">
      <label class="control-label">Name</label>
      <div class="controls">
        {{view view.contactName valueBinding="form.name" classNameBindings=":field controller.isValid::is-invalid :detail" placeholder="Name" viewName="name"}}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Title</label>
      <div class="controls">
        {{view view.contactTitle valueBinding="form.title" class="field detail" placeholder="Title" viewName="title"}}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Company</label>
      <div class="controls">
        {{view view.companyPicker class="field" viewName="company"}}
      </div>
    </div>
  </div>
{{else}}
  <div class="user-avatar pull-left">
    {{#if isLoaded}}
      {{avatar this size=medium}}
    {{else}}
      {{partial 'is_loading'}}
    {{/if}}
  </div>
  <div class="clearfix">
    <h4 class="name">
      <i class="ss-write pull-right" {{action toggleEditor target=view bubbles=false}}></i>
      {{name}}
    </h4>
    <div class="company-title">
      <span class="title muted">{{title}}</span>
      <span class="company">
        {{#if company}}
          {{#link-to "company" company}}{{company.name}}{{/link-to}}
        {{else}}
          {{companyName}}
        {{/if}}
      </span>
    </div>
  </div>
{{/if}}
