{{#if view.isEditing}}
  <div>
    {{render 'multiple/email_address' form.emailAddresses}}
  </div>
{{else}}
  <div class="control-group">
    </id><label class="control-label primary-item"><i class="icon-edit pull-right" {{action toggleEditor target=view bubbles=false}}></i></label>
    {{#if primaryEmail.value}}
      {{#linkTo emails.mailTo this}}<i class="icon-mail"></i>{{primaryEmail.value}}{{/linkTo}}
    {{else}}
      <span class="empty">Add email here</span>
    {{/if}}
  </div>
{{/if}}
