<div class="sidebar-panel">
  <div class="sidebar-panel-header">
    <h6 class="sidebar-panel-title">
      <i class="ss-standard ss-write"></i> Notes
    </h6>
  </div>
  <div class="sidebar-panel-content">
    {{#if isEditing}}
    <div class="notes">
      <div>
        {{view view.textArea class="field" valueBinding="form.notes" placeholder="Notes"}}
      </div>
    </div>
    {{else}}
    <div class="notes">
      <div>
        {{#if notes}}
        <span>{{{markedUpNotes}}}</span>
        {{else}}
        <span>&nbsp;</span>
        {{/if}}
      </div>
    </div>
    <div class="clearfix">
      <div class="pull-right">
        <button class="btn btn-primary" {{action "toggleEditor" target=view bubbles="false"}}>
          <i class="ss-standard ss-plus"></i> Add Note
        </button>
      </div>
    </div>
    {{/if}} 
  </div>
</div>
