{{#if isEditing}}
  {{view Radium.PhoneInput valueBinding=form.phone viewName="phone" isInvalid=false}}
{{else}}
  <div class="control-group">
    <label class="control-label"><i class="ss-standard ss-write pull-right" {{action toggleEditor target=view bubbles=false}}></i></label>
    {{#if phone}}
        <a href="tel:{{unbound phone}}"><i class="ss-standard ss-phone"></i>{{phone}}</a>
    {{else}}
      <i class="ss-standard ss-phone"></i> <span class="empty">Add phone here</span>
    {{/if}}
  </div>
{{/if}}
