<dl class="dl-horizontal contact-types-list">
  <dt><i class="ss-standard ss-phone muted"></i></dt>
  <dd>
    {{#if isEditing}}
      {{view Radium.PhoneInput valueBinding=form.phone viewName="phone" isInvalid=false}}
    {{else}}
      <i class="ss-standard ss-write pull-right" {{action "toggleEditor" target=view bubbles=false}}></i>
      {{#if phone}}
          <a href="tel:{{unbound phone}}">{{phone}}</a>
      {{else}}
        <span class="empty">Add phone here</span>
      {{/if}}
    {{/if}}
  </dd>
</dl>
