{{#if isEditing}}
  <div>
    {{render 'multiple/phone_number' form.phoneNumbers}}
  </div>
{{else}}
  <div class="control-group">
    </id><label class="control-label primary-item"><i class="icon-edit pull-right" {{action toggleEditor target=view bubbles=false}}></i></label>
    {{#if primaryPhone.value}}
      <a href="tel:{{unbound primaryPhone.value}}"><i class="icon-call"></i>{{primaryPhone.value}}</a>
    {{else}}
      <span class="empty">Add Phone Number here</span>
    {{/if}}
  </div>
{{/if}}
