<dl class="dl-horizontal contact-types-list">
  <dt><i class="ss-standard ss-phone muted"></i></dt>
  <dd>
    {{#if isEditing}}
      {{render 'multiple/phone_number' form.phoneNumbers}}
    {{else}}
      <i class="ss-standard ss-write pull-right" {{action toggleEditor target=view bubbles=false}}></i>
      {{#if primaryPhone.value}}
        <a href="tel:{{unbound primaryPhone.value}}">
          <strong>{{primaryPhone.name}}</strong> {{primaryPhone.value}}
        </a>
      {{else}}
        <span class="empty">Add Phone Number here</span>
      {{/if}}
    {{/if}}
  </dd>
</dl>