<h2>Assigned To</h2>

<div class="assigned-to">
  {{#if view.isEditing}}
    {{#linkTo user this}}
      {{avatar this class="img-polaroid"}}
    {{/linkTo}}
    {{view view.userPicker class="field"}}
  {{else}}
    <i class="icon-edit pull-right" {{action toggleEditor target=view bubbles=false}}></i>
    {{#linkTo user this}}
      {{avatar this class="img-polaroid"}}
    {{/linkTo}}

    <p>
      {{#linkTo user this}}{{user.name}}{{/linkTo}}<br/>
      <span class="title muted">{{user.title}}</span>
    </p>
  {{/if}}
</div>
