<div class="sidebar-panel">
  <div class="sidebar-panel-header">
    <h6 class="sidebar-panel-title">
      <i class="ss-standard ss-view"></i> Assigned To
    </h6>
  </div>
  <div class="sidebar-panel-content sidebar-user-panel">
    {{#if isEditing}}
      {{#link-to "user" user}}
      {{#if isLoaded}}
          {{avatar user class="img-polaroid"}}
        {{else}}
          {{partial 'is_loading'}}
        {{/if}}
      {{/link-to}}
      {{view view.userPicker class="field"}}
    {{else}}
      <i class="ss-standard ss-write pull-right" {{action "toggleEditor" target="view" bubbles=false}}></i>
      {{#link-to "user" user}}
      {{#if isLoaded}}
          {{avatar user class="img-polaroid"}}
        {{else}}
          {{partial 'is_loading'}}
        {{/if}}
      {{/link-to}}
      <p>
        {{#link-to "user" user}}{{user.name}}{{/link-to}}<br/>
        <span class="title muted">{{user.title}}</span>
      </p>
    {{/if}}
  </div>
</div>
