<h4>
  {{#if reference.isLoaded}}
    {{resource-link-to reference}}
    {{#if unsubscribed}}
      has unsubscribed from {{source}}
    {{/if}}
    {{thirdpartyIcon this}}
  {{else}}
    {{partial 'is_loading'}}
  {{/if}}
</h4>