<div class="hud">
  <div class="block context">
    <div class="contact-info">
      {{avatar contact style="medium" class="img-polaroid"}}
      <p>
        <span class="name">
          {{#if contact.name}}
            {{contact.name}}
          {{else}}
            <span class="muted">No Name</span>
          {{/if}}
        </span></br>
        <span class="title">
          {{#if contact.title}}
            {{contact.title}}
          {{else}}
            <span class="muted">No Title</span>
          {{/if}}
        </span>
      </p>
    </div>

    <div class="deal-info">
      <h2 class="upcase">Current Deal</h2>

      <table>
        <tbody>
          {{#if activeDeal}}
            <tr>
              <td>
                <strong>
                  {{#linkTo deal activeDeal}}{{activeDeal.name}}{{/linkTo}}
                </strong>
              </td>
              <td class="capitalize">{{activeDeal.status}}</td>
              <td class="money">{{currency activeDeal.value}}</td>
            </tr>
          {{else}}
            <tr colspan="3">
              <td class="muted">No deals yet</td>
            </tr>
          {{/if}}
        </tbody>
      </table>
    </div>

    <div class="task-info">
      <h2 class="upcase">Next Task</h2>

      <table>
        <tbody>
          <tr colspan="3">
            <td>
              {{render "next_task" nextTask}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
