<!-- columns must add up to 8 -->
<div {{bind-attr class=":clearfix :email-hud contact.isLead:is-lead-contact:is-private"}}>
  <div class="pull-right email-hud-actions">
    {{#unless isSaving}}
      {{#if contact.isPersonal}}
        <div class="btn-group btn-add-to-radium">
          <button class="btn btn-main btn-primary" {{action changeStatus model "pipeline"}}>Add to Radium</button>
          <button class="btn btn-primary dropdown-toggle needsclick" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="#" {{action changeStatus model "pipeline"}}>As Lead</a>
            </li>
            <li>
              <a href="#" {{action changeStatus model "exclude"}}>Exclude from Pipeline</a>
            </li>
          </ul>
        </div>
      {{else}}
        {{#if contact.nextTask}}
          {{render "next_task" contact.nextTask}}
        {{/if}}
      {{/if}}
    {{else}}
      {{partial 'saving'}}
    {{/unless}}
  </div>

  <div class="pull-left">
    {{#if contact.isLoaded}}
      {{avatar contact size="medium"}}
    {{else}}
      {{partial 'is_loading'}}
    {{/if}}
  </div>
  <div class="email-hud-content">
    <h4 class="email-hud-title">
      {{#link-to 'contact' contact}}{{contact.displayName}}{{/link-to}}
    </h4>
    {{#unless contact.isPersonal}}
      <span class='badge badge-info'>Radium Contact</span>
      <p>
        {{#link-to "emails.mailTo" "inbox" contact class="btn btn-link"}}
          <i class="ss-standard ss-mail"></i> {{contact.primaryEmail.value}}
        {{/link-to}}
        <br>
        {{#if contact.title}}
          {{contact.title}}
        {{/if}}
        {{#if contact.company}}
          {{#link-to "company" contact.company}}{{contact.company.name}}{{/link-to}}
        {{/if}}
        <table class="contact-deals-table">
          <tbody>
            {{#each contact.openDeals}}
              <tr>
                <td>{{status}}</td>
                <td>{{#link-to "deal" this}}{{name}}{{/link-to}}
                <td>
                  <strong>{{currency value}}</strong>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </p>
    {{/unless}}
  </div>
</div>
{{#if hasNewPipelineDeal}}
<div class="alert">
  {{resource-link model=contact}} has been added to the {{#link-to "deal" newPipelineDeal}}pipeline{{/link-to}}.
</div>
{{/if}}
