<!-- columns must add up to 8 -->
<div class="clearfix email-item-header">
  <div class="pull-left block email-item-card">
    <div class="pull-left">
      {{avatar contact size="large"}}
    </div>
    <div class="email-item-card-content">
      <h3 class="email-item-card-title">
        {{#if contact.name}}
          {{contact.name}}
        {{else}}
          <span class="muted">No Name</span>
        {{/if}}
      </h3>
      <p>
        {{#if contact.title}}
          {{contact.title}}
        {{else}}
          <span class="muted">No Title</span>
        {{/if}}
      </p>
      <p class="source">From <a href="#" class="ss-icon ss-social">LinkedIn</a></p>
    </div>
  </div>

  <div class="pull-right block email-item-card email-item-next-task">
    <h6>Next task:</h6>
    {{#if activeDeal}}
      {{#linkTo "deal" activeDeal}}{{activeDeal.name}}{{/linkTo}}
    {{else}}
      <p>No deals yet</p>
    {{/if}}
  </div>
</div>