<!-- columns must add up to 8 -->
<div class="clearfix email-hud">
  <div class="pull-right email-hud-actions">
    {{#unless isSaving}}
      {{#if contact.isPersonal}}
        <div class="btn-group">
          <button class="btn btn-primary" {{action changeStatus "pipeline"}}>Add to Radium</button>
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="#" {{action changeStatus "pipeline"}}>As Lead</a>
            </li>
            <li>
              <a href="#" {{action changeStatus "exclude"}}>Exclude from Pipeline</a>
            </li>
          </ul>
        </div>
      {{else}}
        <h4><span class='badge badge-info'>Radium Contact</span></h4>
      {{/if}}
    {{else}}
      {{partial 'saving'}}
    {{/unless}}
  </div>

  <div class="pull-left">
    {{avatar contact size="medium"}}
  </div>
  <div class="email-hud-content">
    <h4 class="email-hud-title">
      {{#linkTo 'contact' contact}}{{contact.displayName}}{{/linkTo}}
    </h4>
    <p>
      {{contact.primaryEmail.value}}
      <br>
      {{#if contact.title}}
        {{contact.company.displayName}}
      {{/if}}
    </p>
  </div>
</div>
