<!-- columns must add up to 8 -->
<div class="clearfix email-hud">
  <div class="pull-right email-hud-actions">
    {{#if contact.isPersonal}}
      <button class="btn">
        Not a Radium Contact. Make Private?
      </button>
    {{/if}}
    <div class="btn-group">
      <button class="btn btn-primary">Add to Radium</button>
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#" {{action changeStatus "pipeline"}}>As Lead</a>
        </li>
        <li>
          <a href="#" {{action changeStatus "exclude"}}>Exclude from Pipeline</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="pull-left">
    {{avatar contact size="medium"}}
  </div>
  <div class="email-hud-content">
    <h4 class="email-hud-title">
      {{#if contact.name}}
        {{contact.name}}
      {{else}}
        No Name
      {{/if}}
    </h4>
    <p>
      {{contact.primaryEmail.value}}
      <br>
      {{#if contact.title}}
        {{contact.company.name}}
      {{/if}}
    </p>
  </div>
</div>
