{{control 'forms/bulk_form_widget' model}}

<div class="block">
  <div class="page-header">
    <h3>{{length}} Email(s) Selected</h3>
  </div>

  <table class="table table-striped table-bordered table-hover">
  {{#each controller}}
    <tr {{bindAttr class="isDisabled:muted"}}>
      <td>{{iconFor this}}</td>
      <td><strong>{{person.name}}</strong></td>
      <td>{{truncate summary}}</td>
      <td>{{time timestamp}}</td>
      <td>
        {{#if hasAttachments}}
        <i class="icon-paperclip"></i>
        {{/if}}
      </td>
    </tr>
  {{/each}}
  </table>
</div>
