<div id="messages-bulk-actions-panel">
  <div class="page-header upcase">
    <button class="btn pull-right" {{action cancel}}>Cancel</button>

    <h3>Create Tasks from Selected Emails</h3>
  </div>

  <div class="block block-blue block-arrow-bottom">
    {{control 'form_box' formBox}}
  </div>

  <div class="block block-connected">
    <table class="table table-list">
      {{#each controller}}
        <tr>
          <td>{{iconFor this}}</td>
          <td><strong>{{person.name}}</strong></td>
          <td>{{truncate summary}}</td>
          <td>
            {{#if hasAttachments}}
            <i class="icon-paperclip"></i>
            {{/if}}
          </td>
          <td>{{time timestamp}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>
