<div id="bulk-actions">
  <div class="page-header upcase">
    <button class="btn pull-right" {{action cancel}}>
      Cancel
    </button>

    <h3>Create Tasks from Selected Emails</h3>
  </div>

  <div class="block block-blue block-arrow-bottom">
    {{control 'form_box' formBox}}
  </div>

  <div class="block block-connected">
    <table class="table table-list">
      {{#each controller}}
        <tr class="secondary-selection">
          <td>
            {{#if isEmail}}
              <i class="icon-mail"></i>
            {{else}}
              <i class="icon-discussion"></i>
            {{/if}}
          </td>
          <td><strong>{{person.name}}</strong></td>
          <td>{{truncate summary}}</td>
          <td class="muted">{{time timestamp}}</td>
          <td>
            {{#if hasAttachments}}
              <i class="icon-attachments"></i>
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>
