<div id="bulk-actions">
  <div class="page-header">
    <h5>Create Tasks from Selected Emails</h5>
  </div>

  {{render 'form_box' formBox}}

  <ul class="unstyled bulk-actions-list">
    {{#each email in controller}}
      <li>
        <div class="pull-right">
          {{formatDateTime email.timestamp}}
        </div>
        {{x-check checked=email.model.isChecked disabled=disabled action='checkMessageItem'}}
        <div class="bulk-actions-list-content">
          <div class="message-item-avatar pull-left">
            {{#if email.sender.isLoaded}}
              {{avatar email.sender style="medium"}}
            {{else}}
              {{partial 'is_loading'}}
            {{/if}}
          </div>
          <div class="clearfix">
            <h5 class="message-item-title">{{resource-link-to email.sender}}</h5>
            <p class="message-item-subject">
              {{email.subject}}
              {{#unless email.subject}}&nbsp;{{/unless}}
            </p>
            {{#if email.hasAttachments}}
              <i class="ss-standard ss-attach"></i>
            {{/if}}
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
  <div class="clearfix">
    <div class="pull-right">
      <div class="btn-toolbar">
        <button class="btn" {{action "cancel"}}>Cancel</button>
        {{#if canArchive}}
          <button class="btn btn-primary" {{action "archiveEmails"}}>Archive</button>
        {{/if}}
        <button class="btn btn-danger" {{action "confirmDeletion"}}>Delete</button>
      </div>
    </div>
  </div>
</div>
