<div id="bulk-actions">
  <div class="page-header">
    <h5>Create Tasks from Selected Emails</h5>
  </div>

  {{render 'form_box' formBox}}

  {{! THIS SHOULD PROXY TO MODEL, WHY??}}
  <ul class="unstyled bulk-actions-list">
    {{#each controller.model}}
      <li>
        <div class="pull-right">
          {{formatDateTime timestamp}}
        </div>
        {{check-box checked=isChecked disabled=disabled sendCheck='checkMessageItem'}}
        <div class="bulk-actions-list-content">
          <div class="message-item-avatar pull-left">
            {{#if sender.isLoaded}}
              {{avatar sender style="medium"}}
            {{else}}
              {{partial 'is_loading'}}
            {{/if}}
          </div>
          <div class="clearfix">
            <h5 class="message-item-title">{{resource-link-to sender}}</h5>
            <p class="message-item-subject">
              {{subject}}
              {{#unless subject}}&nbsp;{{/unless}}
            </p>
            {{#if hasAttachments}}
              <i class="ss-standard ss-attach"></i>
            {{/if}}
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
  <div class="clearfix">
    <div class="pull-right">
      <div class="btn-toolbar">
        <button class="btn" {{action "cancel"}}>Cancel</button>
        <button class="btn btn-primary" {{action "confirmDeletion"}}>Delete</button>
      </div>
    </div>
  </div>
</div>
