<div id="bulk-actions">
  <div class="page-header">
    <div class="pull-right">
      <div class="btn-toolbar">
        <button class="btn" {{action cancel}}>Cancel</button>
        <button class="btn btn-primary" {{action confirmDeletion}}>Delete</button>
      </div>
    </div>
    <h3>Create Tasks from Selected Emails</h3>
  </div>

  <div class="block block-blue block-arrow-bottom">
    {{render 'form_box' formBox}}
  </div>

  <div class="block block-connected">
    <table class="table table-list">
      {{#each controller}}
        <tr class="secondary-selection">
          <td>
            {{#if isEmail}}
              <i class="ss-standard ss-mail"></i>
            {{else}}
              <i class="ss-symbolicons-block ss-chat"></i>
            {{/if}}
          </td>
          <td><strong>{{person.name}}</strong></td>
          <td>{{truncate summary}}</td>
          <td class="muted">{{formatDateTime timestamp}}</td>
          <td>
            {{#if hasAttachments}}
              <i class="ss-standard ss-attach"></i>
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>
