{{partial 'messages/hud'}}

<div>
  <div class="block discussion-card message-card">
    <div class="header">
      {{formatDateTime createdAt format="full" class="muted pull-right"}}

      <i class="ss-symbolicons ss-chat"></i>

      <p><big><strong>
        {{#if aboutDeal}}
          Discussion about the {{#linkTo "deal" reference}}{{reference.name}}{{/linkTo}} deal
        {{/if}}

        {{#if aboutContact}}
          Discussion about {{#linkTo "contact" reference}}{{reference.name}}{{/linkTo}} ({{reference.title}})
        {{/if}}
        </strong></big>
      </p>

      <div class="users">
        With

        {{list users}}
      </div>
    </div>
    <hr/>

    <div class="content">
      <div class="text">
        {{topic}}
      </div>

      {{partial "shared/attachments"}}

      <hr/>

      {{render 'related_tasks' tasks}}

      <div class="actions text-right">
        <a class="btn btn-link" {{action delete this}}>
          <i class="ss-symbolicons-block ss-trash"></i>
        </a>
      </div>
    </div>
  </div>

  {{render 'comments' model}}
</div>
