<div class="block email">
  <div class="adder">
    <div class="arrow"></div>
    {{#if showFormBox}}
      <i class="icon-minus" {{action toggleFormBox}}></i>
    {{else}}
      <i class="icon-plus" {{action toggleFormBox}}></i>
    {{/if}}
  </div>

  <div class="header">
    {{view view.trackedToggleSwitch class="pull-right"}}

    <p>
      <big class="sender">{{#linkToPerson sender}}{{sender.name}}{{/linkToPerson}}</big> writes <big class="subject"><strong>{{subject}}</strong></big>
      <a href="#" class="more muted pull-right" {{action toggleEmailInfo}}><small>More</small></a>
    </p>
  </div>

  <hr/>

  <div class="message">
    <div class="body-text">
      <p>
        {{unbound message}}
      </p>
    </div>

    {{template "shared/attachments"}}

    <hr />

    <div class="email-actions text-right">
      <!--<small>{{time sentAt format="full" class="muted pull-right"}}</small>-->

      <a {{action showReplySection}} class="btn btn-link">
        <i class="icon-reply"></i>Reply
      </a>

      <a class="btn btn-link">
        <i class="icon-forward"></i>Forward
      </a>

      <a class="btn btn-link" {{action delete this}}>
        <i class="icon-delete"></i>
      </a>
    </div>
  </div>
</div>

{{#if showFormBox}}
  <div class="block block-connected block-blue">
    {{control "form_box" formBox}}
  </div>
{{/if}}

<div class="block block-gray">
  {{control 'comments' model}}
</div>
