<div class="block email">
  <div class="adder">
    <div class="arrow"></div>
    {{#if showFormBox}}
      <i class="icon-minus" {{action toggleFormBox}}></i>
    {{else}}
      <i class="icon-plus" {{action toggleFormBox}}></i>
    {{/if}}
  </div>

  <div class="header">
    <div class="subject page-header">
      <h1>{{subject}} <small>{{time sentAt format="full" class="pull-right"}}</small></h1>
    </div>

    <hr/>
  </div>

  <div class="message">
    <div class="body-text">
      <p>
        {{unbound message}}
      </p>
    </div>

    <div class="attachments">
      <ul class="thumbnails">
        {{#each attachments}}
          <li class="span2">
            <a href="#" class="thumbnail">
              <img  src="http://placehold.it/170x100" alt="">
            </a>
          </li>
        {{/each}}
      </ul>
    </div>

    <hr />

    <div class="email-actions text-right">
      <a {{action showReplySection}} class="btn btn-link">
        <i class="icon-reply"></i>Reply
      </a>

      <a class="btn btn-link">
        <i class="icon-forward"></i>Forward
      </a>

      <a class="btn btn-link">
        <i class="icon-private"></i>Make Private
      </a>

      <a class="btn btn-link"><i class="icon-delete"></i></a>
    </div>
  </div>
</div>

{{#if showFormBox}}
  <div class="block block-connected block-blue">
    {{control "form_box" formBox}}
  </div>
{{/if}}

<div class="block block-gray">
  {{control 'comments' model}}
</div>
