<div class="block email-card message-card">
  <div class="adder">
    <div class="arrow"></div>
    {{#if showFormBox}}
      <i class="icon-minus" {{action toggleFormBox}}></i>
    {{else}}
      <i class="icon-plus" {{action toggleFormBox}}></i>
    {{/if}}
  </div>

  <div class="header">
    {{view view.trackedToggleSwitch class="pull-right"}}

    <p>
      <big class="sender">{{#linkToPerson sender}}{{sender.name}}{{/linkToPerson}}</big> writes <big class="subject"><strong>{{subject}}</strong></big>
      <a href="#" class="more muted pull-right" {{action toggleMeta}}><small>
          {{#if showMeta}}
            Less
          {{else}}
            More
          {{/if}}
      </small></a>
    </p>

    {{#if showMeta}}
      <div class="meta">
        <dl>
          <dt>To</dt>
          <dd>
            <span class="sentence">
              {{#each to}}
                <span>{{#linkToPerson this}}{{name}}{{/linkToPerson}}</span>
              {{/each}}
            </span>
          </dd>
          <dt>CC</dt>
          <dd>
            <span class="sentence">
              {{#each cc}}
                <span>{{#linkToPerson this}}{{name}}{{/linkToPerson}}</span>
              {{/each}}
            </span>
          </dd>
          <dt>Time</dt>
          <dd>{{time sentAt format="full"}}</dd>
        </dl>
      </div>
    {{/if}}
  </div>

  <hr/>

  <div class="content">
    <div class="text">
      <p>
        {{unbound message}}
      </p>
    </div>

    {{template "shared/attachments"}}

    <hr />

    {{template 'shared/related_tasks'}}

    <div class="email-actions text-right">

      <a {{action showReplySection}} class="btn btn-link">
        <i class="icon-reply"></i>Reply
      </a>

      <a class="btn btn-link">
        <i class="icon-forward"></i>Forward
      </a>

      <a class="btn btn-link" {{action delete this}}>
        <i class="icon-delete"></i>
      </a>
    </div>
  </div>
</div>

{{#if showFormBox}}
  <div class="block block-connected block-blue">
    {{control "form_box" formBox}}
  </div>
{{/if}}

<div class="block block-gray">
  {{control 'comments' model}}
</div>
