<div class="message-item-avatar pull-left">
  {{#if threadIsLoading}}
    <img src="/images/default_avatars/large.png">
  {{else}}
    {{#if sender.isLoaded}}
      {{avatar sender style="medium"}}
    {{else}}
      {{avatar sender style="medium"}}
    {{/if}}
  {{/if}}
</div>
<div class="clearfix message-item-details">
  <h5 class="message-item-title">
    <a href="#">{{sender.displayName}}</a>
  </h5>
  {{log controller}}
  {{log showSubject}}
  {{#if showSubject}}
    <p class="message-item-subject">
      {{subject}}
    </p>
  {{/if}}
  {{#if contact.isPersonal}}
    <span class="label">
      Not a Radium Contact
    </span>
  {{/if}}
  {{partial "messages/message_item_actions"}}
</div>
