<div class="message-item-avatar pull-left">
  {{#if sender.isLoaded}}
    {{avatar sender style="medium"}}
  {{else}}
    {{partial 'is_loading'}}
  {{/if}}
</div>
<div class="clearfix">
  <h5 class="message-item-title">{{link sender}}</h5>
  <p class="message-item-subject">
    {{subject}}
    {{#unless subject}}&nbsp;{{/unless}}
  </p>
  {{#if contact.isPersonal}}
    <span class="label">
      Not a Radium Contact
    </span>
  {{/if}}
  {{partial "messages/message_item_actions"}}
</div>
