<ul class="unstyled folders-list">
  <li class="folders-list-title">
    {{partial "shared/close_drawer"}}
    <p>
      <i class="ss-standard ss-send"></i> <strong>Stacks</strong> – {{folder}}
    </p>
  </li>
  {{#each folders itemController="messagesFolder"}}
    <li class="folders-list-item">
      <a {{bindAttr class="isSelected"}} {{action selectFolder name href=true }}>
        <i class="ss-standard ss-{{unbound icon}}"></i>
        <span class="folder-label">{{title}}</span>
      </a>
    </li>
  {{/each}}
</ul>
