{{partial "messages/new_email_btn"}}
{{#if isTestUser}}
  {{#unless cannotRefresh}}
    <div class="clearfix new-message-btn">
      <a href="#" {{action refresh}} class="btn btn-block btn-large btn-danger">
        <strong>Refresh</strong>
      </a>
    </div>
  {{/unless}}
{{/if}}
{{#if isSyncing}}
  <div class="text-center">
    {{view Radium.ProgressBar percentageBinding="currentUser.emailsImported"}}
    <p><img src="/images/ajax-loader.gif"/> {{currentUser.emailsImported}}% emails imported&hellip;</p>
    <p><strong>Status</strong> {{currentUser.syncState}}&hellip;</p>
  </div>
{{/if}}
<ul class="unstyled selectable messages-list">
  {{#if content}}
    {{each content itemViewClass="Radium.MessagesSidebarItemView" itemController="messagesSidebarItem"}}
    {{infinite-scroller isAtBottom=view.isAtBottom getMore='showMore' allLoaded=allPagesLoaded isLoading=isLoading}}
  {{else}}
    <li class="messages-list-item text-center messages-list-empty">
      <p><i class="ss-standard ss-inbox muted"></i> This folder is empty</p>
    </li>
  {{/if}}
</ul>
