<div {{bindAttr class=":message-item-content isSelectable :content"}} {{action selectItem this}}>
  <button {{bindAttr class=":btn-read-status isRead:btn-read:btn-unread"}}></button>
  {{check-box checked=isChecked disabled=disabled}}

  <small class="muted pull-right">
    {{formatDateTime timestamp}}
  </small>

  {{yield}}
</div>
