<div class="messages-list-controls">
  <ul class="nav nav-tabs messages-tabs">
    <li {{bindAttr class="inboxIsActive:active"}}>
      {{#linkTo "messages" "inbox"}}
        {{#if inboxIsActive}}
          {{folder}} {{#if totalRecords}}({{totalRecords}}){{/if}}
        {{/if}}
      {{/linkTo}}
    </li>
    <li {{bindAttr class="radiumIsActive:active"}}>
      {{#linkTo "messages" "radium"}}
        Only Radium
      {{/linkTo}}
    </li>
    <li {{bindAttr class=":messages-search-tab searchIsActive:active"}}>
      <a href="#" {{action selectSearchTab}}>
        <i class="ss-symbolicons-block ss-search"></i>
      </a>
    </li>
  </ul>
  {{outlet messages-sidebar-content}}
</div>
