<div class="messages-list-controls">
  <ul class="nav nav-tabs messages-tabs">
    <li {{bindAttr class="view.folderTabSelected:active"}}>
      <a href="#" {{action selectTab "folderTabView" target="view"}}>
        {{folder}} {{#if content.length}}({{content.length}}){{/if}}
      </a>
    </li>
    <li {{bindAttr class="view.radiumTabSelected:active"}}>
      <a href="#" {{action selectTab "radiumTabView" target="view"}}>
        Only Radium
      </a>
    </li>
    <li {{bindAttr class=":messages-search-tab view.searchTabSelected:active"}}>
      <a href="#" {{action selectTab "searchTabView" target="view"}}>
        <i class="ss-symbolicons-block ss-search"></i>
      </a>
    </li>
  </ul>
  {{view Ember.ContainerView viewName="tabContentView"}}
</div>