<div class="messages-list-controls">
  <ul class="nav nav-tabs messages-tabs">
    <li {{bindAttr class="inboxIsActive:active"}}>
      <a href="#" {{action selectTab "inbox"}}>
        {{folder}} {{#if totalRecords}}({{totalRecords}}){{/if}}
      </a>
    </li>
    <li {{bindAttr class="radiumIsActive:active"}}>
      <a href="#" {{action selectTab "radium"}}>
        Only Radium
      </a>
    </li>
    <li {{bindAttr class=":messages-search-tab searchIsActive:active"}}>
      <a href="#" {{action selectTab "search"}}>
        <i class="ss-symbolicons-block ss-search"></i>
      </a>
    </li>
  </ul>
  {{outlet messages-sidebar-content}}
</div>
