<button {{action check this bubbles=false}} {{bindAttr class="isChecked:checked:unchecked :btn-checker"}}>
  <i class="icon-todo"></i>
</button>

<div class="content" {{action selectItem this}}>
  {{yield}}

  <div class="footer">
    {{#if hasAttachments}}
      <i class="icon-attachments"></i>
    {{/if}}

    {{#if hasComments}}
      <i class="icon-comment"></i>
    {{/if}}

    <a {{action delete this bubbles=false}} href="#" class="btn-icon delete">
      <i class='icon-delete'></i>
    </a>

    {{formatDateTime timestamp class="muted upcase pull-right"}}
  </div>
</div>
