<div class="row">
  <div id="sidebar" class="span3">
    {{!collection Radium.FeedFilterView 
      controllerBinding="Radium.contactsController"
      contentBinding="Radium.contactsController.filterTypes"
    }}

    {{#view contactsFilterView contentBinding="Radium.contactsController.filterTypes"}}
      <li {{bindAttr class="parentView.noSelectedFilter:active"}}>
        <a href="#" {{action "allContacts"}}>Everything</a>
      </li>
      {{#each content}}
        {{#view Radium.ContactFilterListView itemBinding="this"}}
          <a href="#" {{action "filterContacts"}}>
            {{#if item.hasForm}}
              {{view newResourceButton}}
            {{/if}}
            {{item.title}}
          </a>
        {{/view}}
      {{/each}}
    {{/view}}

    {{#view campaignsFilterView contentBinding="Radium.campaignsController"}}
      {{#if content.length}}
        <li {{bindAttr class="parentView.noSelectedCampaigns:active"}}>
          <a href="#" {{action "allCampaigns"}}>All Campaigns</a>
        </li>
        {{#each content}}
          {{#view Radium.CampaignListView itemBinding="this"}}
            <a href="#" {{action "filterCampaigns"}}>
              {{item.name}}
            </a>
          {{/view}}
        {{/each}}
      {{else}}
        <li>Loading Campaigns...</li>
      {{/if}}
    {{/view}}
  </div> <!-- /#sidebar -->

  <div id="content" class="span9">
    {{view Radium.GlobalSearchTextView class="pull-right"}}
    {{view Radium.AnnouncementsView}}
    
    {{#view Radium.ContactsToolbarView}}
      <div id="alpha" class="btn-toolbar" style="margin-bottom: 9px">
        {{#view lettersFilter}}
        <div class="btn-group">
          <button class="btn">A</button>
          <button class="btn">B</button>
          <button class="btn">C</button>
          <button class="btn">D</button>
          <button class="btn">E</button>
          <button class="btn">F</button>
          <button class="btn">G</button>
          <button class="btn">H</button>
          <button class="btn">I</button>
          <button class="btn">J</button>
          <button class="btn">K</button>
          <button class="btn">L</button>
          <button class="btn">M</button>
          <button class="btn">N</button>
          <button class="btn">O</button>
          <button class="btn">P</button>
          <button class="btn">Q</button>
          <button class="btn">R</button>
          <button class="btn">S</button>
          <button class="btn">T</button>
          <button class="btn">U</button>
          <button class="btn">V</button>
          <button class="btn">W</button>
          <button class="btn">X</button>
          <button class="btn">Y</button>
          <button class="btn">Z</button>
        </div>
        {{/view}}
      </div> <!-- /#alpha -->
      <div id="contacts-bulk-toolbar" class="btn-toolbar" style="margin-bottom: 9px">
        <div class="btn-group">
          {{#view emailButton class="btn btn-small"}}Send Email{{/view}}
          {{#view smsButton class="btn btn-small"}}Send SMS{{/view}}
        </div>
        <div class="btn-group">
          {{#view todoButton class="btn btn-small"}}Add Todo{{/view}}
          {{#view callListButton class="btn btn-small"}}Add to Call List{{/view}}
          {{#view addCampaignButton class="btn btn-small"}}Add to Campaign{{/view}}
          {{#view removeCampaignButton class="btn btn-small"}}Remove from Campaign{{/view}}
        </div>
        <div class="btn-group">
          {{view statusButton title="Change Status" selectionBinding="Radium.contactsController.selectedContacts"}}
          <ul class="dropdown-menu">
            <li><a href="#" {{action "assignStatus"}} data-status="lead">Lead</a></li>
            <li><a href="#" {{action "assignStatus"}} data-status="prospect">Prospect</a></li>
            <li><a href="#" {{action "assignStatus"}} data-status="opportunity">Opportunity</a></li>
            <li><a href="#" {{action "assignStatus"}} data-status="customer">Customer</a></li>
            <li><a href="#" {{action "assignStatus"}} data-status="dead_end">Dead End</a></li>
          </ul>
        </div>
      </div> <!-- /#contacts-bulk-toolbar -->

      <div class="btn-toolbar">
        <div class="btn-group">
          {{#view selectAllButton class="btn btn-mini"}}
            <i class="icon-ok-circle"></i> All
          {{/view}}
          {{#view selectNoneButton class="btn btn-mini"}}
           <i class="icon-remove-circle"></i> None
          {{/view}}
        </div>
        {{#view totalSelected class="pull-right"}}
          <h5>{{totalSelectedString}} selected.</h5>
        {{/view}}
      </div>

    {{/view}}
    <div id="form-container"></div>

    <div id="contacts" class="row">
      {{#with Radium.selectedContactsController}}
        {{#if selectedCampaign}}
          <div class="span9">
            <div class="page-header">
              <h3>{{selectedCampaign.name}}'s Contacts</h3>
            </div>
          </div>
        {{/if}}
        {{#if content.length}}
          {{#each content}}
            {{view Radium.ContactCardView contentBinding="this"}}
          {{/each}}
        {{else}}
          <div class="span9">
            <h4>Loading contacts...</h4>
          </div>
        {{/if}}
      {{/with}}
    </div>
  </div> <!-- /#content -->
</div> <!-- /.row -->
