<div class="row">
  <div id="sidebar" class="span3">
    {{collection Radium.FeedFilterView 
      controllerBinding="Radium.contactsController"
      contentBinding="Radium.contactsController.filterTypes"
    }}

    <ul class="ember-view nav nav-tabs nav-stacked">
      {{#with Radium.campaignsController}}
        {{#if content.length}}
          
          <li><a href="#">All Campaigns</a></li>
          {{#each this}}
          <li>
            <a href="#">
              {{unbound name}}
            </a>
          </li>
          {{/each}}
        {{else}}
          <li>Loading...</li>
        {{/if}}
      {{/with}}
    </ul>
  </div> <!-- /#sidebar -->

  <div id="content" class="span9">
    {{view Radium.GlobalSearchTextView class="pull-right"}}
    {{view Radium.AnnouncementsView}}
    <div id="alpha" class="btn-toolbar" style="margin-bottom: 9px">
      <div class="btn-group">
        <button class="btn" href="#">A</button>
        <button class="btn" href="#">B</button>
        <button class="btn" href="#">C</button>
        <button class="btn" href="#">D</button>
        <button class="btn" href="#">E</button>
        <button class="btn" href="#">F</button>
        <button class="btn" href="#">G</button>
        <button class="btn" href="#">H</button>
        <button class="btn" href="#">I</button>
        <button class="btn" href="#">J</button>
        <button class="btn" href="#">K</button>
        <button class="btn" href="#">L</button>
        <button class="btn" href="#">M</button>
        <button class="btn" href="#">N</button>
        <button class="btn" href="#">O</button>
        <button class="btn" href="#">P</button>
        <button class="btn" href="#">Q</button>
        <button class="btn" href="#">R</button>
        <button class="btn" href="#">S</button>
        <button class="btn" href="#">T</button>
        <button class="btn" href="#">U</button>
        <button class="btn" href="#">V</button>
        <button class="btn" href="#">W</button>
        <button class="btn" href="#">X</button>
        <button class="btn" href="#">Y</button>
        <button class="btn" href="#">Z</button>
      </div>
    </div> <!-- /#alpha -->
    {{#view Radium.ContactsToolbarView}}
      <div class="btn-toolbar" style="margin-bottom: 9px">
        <div class="btn-group">
          {{#view emailButton class="btn btn-small"}}Send Email{{/view}}
          {{#view smsButton class="btn btn-small"}}Send SMS{{/view}}
        </div>
        <div class="btn-group">
          {{#view todoButton class="btn btn-small"}}Add Todo{{/view}}
          {{#view callListButton class="btn btn-small"}}Add to Call List{{/view}}
          {{#view addCampaignButton class="btn btn-small"}}Add to Campaign{{/view}}
          {{#view removeCampaignButton class="btn btn-small"}}Remove from Campaign{{/view}}
        </div>
        <div class="btn-group">
          {{view statusButton title="Change Status" selectionBinding="Radium.contactsController.selectedContacts"}}
          <ul class="dropdown-menu">
            <li><a href="#" {{action "assignStatus"}}>Dead End</a></li>
            <li><a href="#" {{action "assignStatus"}}>Opportunity</a></li>
            <li><a href="#" {{action "assignStatus"}}>Prospect</a></li>
            <li><a href="#" {{action "assignStatus"}}>Client</a></li>
            <li><a href="#" {{action "assignStatus"}}>Lead</a></li>
          </ul>
        </div>
      </div>
    {{/view}}
    <div id="form-container"></div>

    <div id="contacts" class="row">
      {{#each Radium.contactsController}}
        {{view Radium.ContactCardView contentBinding="this"}}
      {{/each}}
    </div>
  </div> <!-- /#content -->
</div> <!-- /.row -->
