<div class="row">
  <div id="sidebar" class="span3">
    {{view Radium.PersistentContainerView currentViewBinding="Radium.appController.sideBarView"}}
  </div>
  
  <div class="span9 offset3">
    {{view Radium.AnnouncementsView}}
    <div id="form-container"></div>
        
    <div class="row" style="display:none">
      <div class="span9">
       {{#view Ember.View tagName="ul" class="nav nav-tabs"}}
          <li class="active"><a href="#" {{bindAttr data-feed-group="today"}}>Daily</a></li>
          <li><a href="#" {{bindAttr data-feed-group="week"}}>This Week</a></li>
          <li><a href="#" {{bindAttr data-feed-group="month"}}>This Month</a></li>
          <li><a href="#" {{bindAttr data-feed-group="quarter"}}>This Quarter</a></li>
        {{/view}}
      </div>
    </div>

    <div class="row">
      <div class="span9">
        {{view Radium.PersistentContainerView currentViewBinding="Radium.appController.feedView"}}
      </div>
    </div>  
  </div>
</div>

