<div class="alert-message block-message info" id="notifications">
  {{#collection notificationsCollectionView tagName="ul" class="unstyled"}}
    <span class="time">9:30AM</span>
    <a href="/{{content.user.id}}" {{action "viewUser"}}>{{content.user.firstName}}</a> {{content.message}}
    <span class="options">
      (<a href="#" {{action "dismiss"}}>Dismiss</a>)
    </span>
  {{/collection}}
</div>