{{#if todo.canEdit}}
  {{view checkboxView}}
{{/if}}
{{#if todo.reference.contact}}
 {{view Radium.LabelView labelBinding="todo.reference.contact.status"}}
{{/if}}
<span class="content">
  {{#unless todo.isCall}}
    {{#if todo.canEdit}}
      {{inlineTextField todo.description}}
    {{else}}
      {{todo.description}}
    {{/if}}
  {{/unless}}


  {{#if todo.isCall}}
    {{#if todo.description}}
      Call <a href="/contacts/{{unbound todo.reference.contact.id}}">{{todo.reference.contact.name}}</a> for {{todo.description}}
    {{else}}
      Call <a href="/contacts/{{unbound todo.reference.contact.id}}">{{unbound todo.reference.contact.name}}</a> 
    {{/if}}
  {{/if}}
  
  (<a href="/users/{{unbound todo.user.id}}">{{todo.user.abbrName}}</a>)
</span>