<div class="row">
  <div class="span2"><span class="timestamp">{{inlineDatePicker content.finishBy}}</span></div>
  <div class="span7">
    <p>
      {{view checkboxView}}
      <span class="label">{{content.kind}}</span>
      <span class="content">{{inlineTextField content.description}}</span>
      ({{content.user.abbrName}})
      <i class="icon-comment" {{action "toggleComments"}}></i>
      {{#if content.comments.length}}
        ({{content.comments.length}})
      {{/if}}
    </p>
  </div>
</div>
{{view Radium.InlineCommentsView}}
