{{#if content.canEdit}}
  {{view checkboxView}}
{{/if}}
{{#if content.reference.contact}}
 {{view Radium.LabelView labelBinding="content.reference.contact.status"}}
{{/if}}
<span class="content">

  {{#if content.isCall}}
    {{#if content.description}}
      Call <a href="/contacts/{{unbound content.reference.contact.id}}">{{content.reference.contact.name}}</a> for {{content.description}}
    {{else}}
      Call <a href="/contacts/{{unbound content.reference.contact.id}}">{{unbound content.reference.contact.name}}</a> 
    {{/if}}
  {{else}}
    {{#if content.canEdit}}
      {{inlineTextField content.description}}
    {{else}}
      {{content.description}}
    {{/if}}
  {{/if}}
  
  (<a href="/users/{{unbound content.user.id}}">{{content.user.abbrName}}</a>)
</span>