<div id="header" class="page-header">
  <div id="title">
    <h1>{{title}}</h1>
  </div>
  <div id="controls">
    <div id="search-filter" class="field control-box date-filter">
      <span class="muted">{{view.selectedFilterText}}</span>
      <div class="pull-right dropdown-toggle" data-toggle="dropdown">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <i class="icon-arrow-down"></i>
        </button>
        <ul class="dropdown-menu">
          <li>
          {{#each filters}}
            <li><a {{action changeFilter name}} href="#">{{text}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="field control-box">
      <div class="btn-group">
        <a class="btn btn-link" href="#">
          <i class="icon-search"></i>
        </a>
        {{input value=model.searchText type="text" class="field search-text"}}
      </div>
    </div>
    <div class="field control-box actions">
      <span {{bindAttr class="controller.hasCheckedContent::muted"}}>Actions</span>
      <div class="pull-right dropdown-toggle" data-toggle="dropdown">
        <button class="btn">
          {{#if hasCheckedContent}}
            <i class="icon-arrow-down"></i>
          {{else}}
            <i class="icon-arrow-up"></i>
          {{/if}}
        </button>
      </div>
      {{#if hasCheckedContent}}
        <ul class="dropdown-menu">
          {{#if hasContacts}}
            <li>
              <a href="#" {{action showForm 'assign'}}>Assign</a>
            </li>
          {{/if}}
          <li>
            <a href="#" {{action showForm 'todo'}}>Assign A Todo</a>
          </li>
          <li>
            <a href="#" {{action showForm 'call'}}>Call</a>
          </li>
          {{#if hasContacts}}
            <li>
              <a href="#" {{action showEmail}}>Email</a>
            </li>
          {{/if}}
          {{#if assignableContent}}
            <li>
              <a href="#" {{action showForm 'addTags'}}>Add Tags</a>
            </li>
          {{/if}}
          <li>
            <a href="#" {{action confirmDeletion}}>Delete</a>
          </li>
        </ul>
      {{/if}}
    </div>
  </div>
</div>
{{outlet confirmation}}
{{#if showFormArea}}
  <div class="block block-blue block-arrow-bottom action-forms">
    <div class="upcase">{{view.bulkLeader}}</div>
    {{partial 'bulk_actions/reassign'}}
    {{#if showEmailForm}}
      {{render "forms/email" newEmail}}
    {{/if}}

    {{#if showTodoForm}}
      {{render "forms/todo" todoForm}}
    {{/if}}

    {{#if showCallForm}}
      {{render "forms/call" callForm}}
    {{/if}}

    {{#if showAddTags}}
      {{view view.tags viewName="tagAutocomplete"}}
      <button id="add-tags" class="btn" {{action addTags}}>Add Tags</button>
    {{/if}}
  </div>
{{/if}}
{{#if visibleContent.length}}
  <a href="#" {{action checkAll}}>Select All</a>
{{/if}}
<div id="results">
  {{each visibleContent itemController="addressBookResultItem" itemViewClass="Radium.SearchResultItemView" emptyViewClass="Radium.EmptySearchResultView"}}
  {{partial 'shared/show_more'}}
</div>
