<div class="page-header">
  <div class="address-book-controls">
    <div class="pull-right">
      {{#linkTo "leads.new" class="btn btn-primary"}}
        <i class="ss-standard ss-plus"></i> New Contact
      {{/linkTo}}
      {{#if hasCheckedContent}}
        <div class="btn-group">
          <button {{bindAttr class=":btn :dropdown-toggle controller.hasCheckedContent::muted"}} data-toggle="dropdown">
            Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            {{#if hasContacts}}
              <li>
                <a href="#" {{action showForm 'assign'}}>Assign</a>
              </li>
            {{/if}}
            <li>
              <a href="#" {{action showForm 'todo'}}>Assign A Todo</a>
            </li>
            <li>
              <a href="#" {{action showForm 'call'}}>Call</a>
            </li>
            {{#if hasContacts}}
              <li>
                <a href="#" {{action showEmail}}>Email</a>
              </li>
            {{/if}}
            {{#if assignableContent}}
              <li>
                <a href="#" {{action showForm 'addTags'}}>Add Tags</a>
              </li>
            {{/if}}
            <li>
              <a href="#" {{action confirmDeletion}}>Delete</a>
            </li>
          </ul>
        </div>
      {{/if}}
    </div>

    <div>
      <div class="btn-group">
        <button class="btn">{{view.selectedFilterText}}</button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          {{#each filters}}
            <li>{{#linkTo "addressbook.filter" name}}{{text}}{{/linkTo}}</li>
          {{/each}}
        </ul>
      </div>
      <form class="form-search pipeline-search">
        <i class="ss-symbolicons-block ss-search"></i>
        {{input value=model.searchText type="text" class="field search-text"}}
      </form>
    </div>

  </div>
</div>
{{outlet confirmation}}
{{#if showFormArea}}
  <div class="block block-gray action-forms">
    <h5>{{view.bulkLeader}}</h5>
    {{partial 'bulk_actions/reassign'}}
    {{#if showEmailForm}}
      {{render "forms/email" newEmail}}
    {{/if}}

    {{#if showTodoForm}}
      {{render "forms/todo" todoForm}}
    {{/if}}

    {{#if showCallForm}}
      {{render "forms/call" callForm}}
    {{/if}}

    {{#if showAddTags}}
      {{view view.tags viewName="tagAutocomplete"}}
      <button id="add-tags" class="btn" {{action addTags}}>Add Tags</button>
    {{/if}}
  </div>
{{/if}}

<div class="search-result-list">
  {{#if visibleContent.length}}
    <div class="search-results-header row-fluid">
      <div class="span1 checkers">
        <a href="#" {{action checkAll}}>
          {{#if checkedContent}}
            None
          {{else}}
            All
          {{/if}}
        </a>
      </div>
      <div class="span4 name">
        Name
      </div>
      <div class="span2 last-activity">
        Last Activity
      </div>
      <div class="span2 next-task">
        Next Task
      </div>
      <div class="span3 groups">
        Groups
      </div>
    </div>
  {{/if}}
  {{each visibleContent itemController="addressBookResultItem" itemViewClass="Radium.SearchResultItemView" emptyViewClass="Radium.EmptySearchResultView"}}
  <div class="clearfix">
    {{partial 'shared/show_more'}}
  </div>
</div>
