{{outlet topbar}}

<div id="main">
  <div class="row main-row">
    <div id="sidebar">
      {{outlet drawerPanel}}
      {{outlet sidebar}}
    </div>
    <div id="main-panel" class="offset3 span9">
      <div class="row">
        <div class="span9">
          <div id="alerts"></div>
          {{outlet form}}

          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
