{{view Radium.NavbarView}}
<div id="drawer-buttons">
  <a {{bind-attr class=":notifications-link isNotificationsOpen:active"}} {{action toggleNotifications}} href="#">
    <i class="ss-standard ss-clock"></i>
    {{#if notificationCount}}
      {{badge notificationCount style=important}}
    {{/if}}
  </a>

  {{outlet buttons}}

  <a href="#" {{bind-attr class=":hidden-desktop isTwoColumn::hidden"}} {{action "toggleSidebar"}} title="Show/hide sidebar">
    <i {{bind-attr class=":ss-standard isSidebarVisible:ss-delete:ss-layout"}}></i>
  </a>

  {{#link-to "settings" class="settings"}}
    <i class="ss-standard ss-settings"></i>
  {{/link-to}}
</div>

{{outlet drawer}}

{{outlet modal}}

<div id="alerts">
  {{outlet flash}}
</div>

{{outlet}}
