{{nav-bar currentUser=currentUser configurableTags=configurableTags transitionToTag="transitionToTag" today=today toggleNotifications="toggleNotifications" logOut="logOut" notificationCount=notificationCount}}

{{outlet drawer}}

{{outlet modal}}

<div id="alerts">
  {{outlet flash}}
</div>

{{outlet}}
