<div id="main" class="container">
  {{outlet topbar}}
  {{view Radium.FormContainerView}}

  <div class="row">
    {{view Radium.NotificationsView}}
    <div id="sidebar" class="span3">
      {{outlet sidebar}}
    </div>

    <div id="main-feed" class="span9 offset3">
      <div class="row">
        <div class="span9">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
