{{partial navbar}}
<div id="drawer-buttons">
  <a {{action toggleNotifications}} href="#">
    <i class="icon-notifications"></i>
  </a>

  <a {{action back}} href="#">
    <i class="icon-back"></i>
  </a>

  {{outlet buttons}}

  {{#linkTo development}}
    <i class="icon-menu"></i>
  {{/linkTo}}

  {{#linkTo settings class="settings"}}
    <i class="icon-menu"></i>
  {{/linkTo}}
</div>

{{outlet drawer}}

{{outlet modal}}

{{outlet}}
