{{outlet topbar}}

<div id="main">
  <div class="row main-row">
    <div id="sidebar">
      {{outlet drawerPanel}}
      {{outlet sidebar}}
    </div>
    <div id="main-panel" class="offset4 span8">
      <div id="alerts"></div>
      {{outlet form}}

      {{outlet}}
    </div>
  </div>
</div>
