{{partial navbar}}
<div id="drawer-buttons">
  <a {{action toggleNotifications}} href="#">
    <i class="ss-standard ss-clock"></i>
  </a>

  <a {{action back}} href="#">
    <i class="ss-standard ss-left"></i>
  </a>

  {{outlet buttons}}

  {{#linkTo "settings" class="settings"}}
    <i class="ss-standard ss-settings"></i>
  {{/linkTo}}
</div>

{{outlet drawer}}

{{outlet modal}}

<div id="alerts">
  {{outlet flash}}
</div>

{{outlet}}
