<div id="main" class="container">
  {{outlet topbar}}

  <div class="row">
    {{outlet notifications}}
    <div id="sidebar" class="span3">
      <div class="viewport">
        <div class="overview">
          {{outlet sidebar}}
        </div>
      </div>
    </div>

    <div id="main-feed" class="span9 offset3">
      {{view Radium.FormContainerView}}
      <div class="row">
        <div class="span9">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
