{{view Radium.NavbarView}}
<div id="drawer-buttons">
  <a {{bindAttr class=":notifications-link isNotificationsOpen:active"}} {{action toggleNotifications}} href="#">
    <i class="ss-standard ss-clock"></i>
    {{#if notificationCount}}
      {{badge notificationCount style=important}}
    {{/if}}
  </a>

  {{outlet buttons}}

  <a href="#" class="hidden-desktop" {{action "toggleSidebar"}} title="Show/hide sidebar">
    <i {{bindAttr class=":ss-standard isSidebarVisible:ss-delete:ss-layout"}}></i>
  </a>

  {{#linkTo "settings" class="settings"}}
    <i class="ss-standard ss-settings"></i>
  {{/linkTo}}
</div>

{{outlet drawer}}

{{outlet modal}}

<div id="alerts">
  {{outlet flash}}
</div>

{{outlet}}
