<div class="calendar-navigation">
  {{#linkTo calendar lastMonth}}Last Month{{/linkTo}}
  <h3>{{format date format="%B %Y"}}</h3>
  {{#linkTo calendar nextMonth}}Next Month{{/linkTo}}
</div>

<table class="calendar">
  <colgroup class="weekdays">
    <col class="monday" />
    <col class="tuesday" />
    <col class="wednesday" />
    <col class="thrusday" />
    <col class="friday" />
  </colgroup>
  <colgroup class="weekend">
    <col class="saturday" />
    <col class="sunday" />
  </colgroup>

  <thead>
    {{#each dayNames tagName="tr"}}
      <th>{{this}}</th>
    {{/each}}
  </thead>

  {{#each weeks tagName="tbody"}}
    {{#each calendarDay in this tagName="tr"}}
      <td {{bindAttr class="calendarDay.isDifferentMonth calendarDay.isToday :day"}}>
        <div class="wrapper">
          <span class="date">
            {{calendarDay.day}}
          </span>

          {{#each calendarDay.visibleContent tagName="ul" class="unstyled"}}
            <li>{{time time}} - {{truncate label length="15"}}</li>
          {{/each}}
        </div>
        {{#if calendarDay.hiddenContent}}
          <a class="btn-slab" {{action showMore target="calendarDay"}}>. . .</a>
        {{/if}}
      </td>
    {{/each}}
  {{/each}}
</table>
