<div class="sidebar">
  {{outlet sidebar}}
</div>

<div class="calendar-container">
  <div class="calendar-toolbar">
    <div class="pull-right">
      {{#linkTo calendar lastMonth class="btn calendar-month-btn"}}
        <i class="ss-standard ss-left"></i> Last Month
      {{/linkTo}}

      {{#linkTo calendar nextMonth class="btn calendar-month-btn"}}
        Next Month <i class="ss-standard ss-right"></i>
      {{/linkTo}}
    </div>
    <h3>
      {{formatDateTime date format="monthYear"}}
    </h3>
  </div>
  <div>
    {{render "form_box" formBox}}
  </div>

  {{#if isLoading}}
    {{partial 'is_loading'}}
  {{/if}}

  <table class="calendar">
    <colgroup class="weekdays">
      <col class="monday" />
      <col class="tuesday" />
      <col class="wednesday" />
      <col class="thrusday" />
      <col class="friday" />
    </colgroup>
    <colgroup class="weekend">
      <col class="saturday" />
      <col class="sunday" />
    </colgroup>

    <thead>
      <tr>
        {{#each dayNames}}
          <th>{{this}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each weeks}}
        <tr>
          {{#each calendarDay in this itemController="calendarDayItem"}}
            <td {{action selectDay this bubbles=false}} {{bindAttr class="calendarDay.isDifferentMonth calendarDay.isSelectedDate :day"}}>
              <div class="wrapper">
                <span class="date">
                  {{calendarDay.day}}
                </span>

                <ul>
                  {{#each calendarDay.visibleContent class="unstyled" itemController="calendarTaskItem" }}
                  <li {{bindAttr class=":day-event-item controller.isSelected:is-selected"}}>
                    <a href="#" {{action selectCalendarTask this target="calendarDay"}}>
                      {{formatDateTime time}}
                      <span class="day-event-item-description">{{title}}</span>
                    </a>
                  </i>
                  {{/each}}
                </ul>
              </div>
              {{#if calendarDay.hiddenContent}}
                <a class="btn-slab" {{action showMore target="calendarDay"}}>▪▪▪</a>
              {{/if}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
