{{#with view.comment}}
  {{#with user}}
    <a {{action showUser this href=true}} class="user-avatar">
      {{#if avatar.small_url}}
        <img {{bindAttr src="avatar.small_url"}}>
      {{else}}
        <img src="/images/fallback/small_default.png">
      {{/if}}
    </a>
  {{/with}}

  <div class="comment-text">
    <strong>
      {{#with user}}
        <a {{action showUser this href=true}}>{{abbrName}}</a>
      {{/with}}
    </strong><br>
    {{text}}
    <small class="time" {{bindAttr title="dateToISO8601"}}>
      {{formatDate createdAt}}
    </small>
  </div>
{{/with}}
