<div class="sticky-banner company-banner">
  <div class="sticky-banner-content">
    <div class="pull-left company-icon">
      <i class="ss-standard ss-buildings"></i>
    </div>
    <div class="clearfix company-banner-details">
      <div class="company-banner-actions">
        <div class="btn-toolbar">
          <button class="btn btn-link" {{action displayDeals}}>All Deals</button>
          {{#link-to "deals.fromCompany" model class="btn btn-wide btn-primary pull-right"}}
            <i class="ss-standard ss-plus"></i> Deal
          {{/link-to}}
        </div>
      </div>
      <div class="page-header">
        <div class="pull-right">
          <button class="btn" disabled="disabled">Follow</button>
        </div>
        <div class="deal-banner-details">
          {{render 'sidebar/name' model}}
        </div>
      </div>
      <div class="pull-left company-banner-address">
        <p>
          <strong>
            <a href="#">Existing Customer</a>
          </strong>
        </p>
      </div>
      <div class="pull-left company-banner-stats">
        <dl class="dl-horizontal">
          {{#each groupedDeals}}
            <dt>{{count}} {{name}}</dt>
            <dd>({{currency value}})</dd>
          {{/each}}
          <dd>&nbsp;</dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="sticky-banner-collapsed">
    <div>
      <div class="pull-left sticky-banner-collapsed-aside">
        <h4 class="sticky-banner-small-title">
          <i class="ss-standard ss-buildings"></i> {{name}}
        </h4>
      </div>
      <div class="pull-right">
        <button class="btn btn-primary">
          <i class="ss-standard ss-plus"></i> Add Deal
        </button>
      </div>
      <ul class="inline">
        <li><a href="#">3 Open ($0000)</a></li>
        <li><a href="#">3 Lost ($0000)</a></li>
        <li><a href="#">3 Closed ($0000)</a></li>
        <li><a href="#">See all Deals</a></li>
      </ul>
    </div>
  </div>

</div>
<div class="tasks-content">
  {{!TODO Add form/tasks list}}
</div>
{{render "feed" activities}}
