{{#if isPersonal}}
  <div class="alert alert-info">
    This contact is a personal contact.  Would you like to add this contact to Radium?
  </div>
  <div>
    <button {{action "makeContactPublic" this}} {{bind-attr disabled=isSaving}} class="btn btn-block btn-large btn-info">ADD CONTACT TO RADIUM</button>
  </div>
{{else}}
  <div class="tasks-content contacts">
    {{render "form_box" formBox}}
    {{#if isUpdating}}
      <div class="well">
        <h4>Updating details....</h4>
      </div>
    {{else}}
      {{render "task_list" currentTasks}}
    {{/if}}
  </div>

  {{#unless isUpdating}}
    {{render "feed" activities}}
  {{/unless}}
{{/if}}
