{{#view Radium.ContactsToolbarView}}
  <div id="contacts-bulk-toolbar" class="btn-toolbar" style="margin-bottom: 9px">
    <div class="pull-left">
      {{#with Radium.contactsController}}
        {{#if selectedContacts.length}}
          <div class="btn-group">
            <button {{action "showEmailForm"
              target="Radium.FormContainerView"
              context="Radium.contactsController"
            }} class="btn btn-small">Send Email</button>
            <button {{action
                "showTodoForm"
                target="Radium.FormContainerView"
                context="Radium.contactsController"
              }} class="btn btn-small">
              Add Todo
            </button>
            <button {{action "showAddToGroupForm"
                      target="Radium.FormContainerView"
                      context="selectedContacts"
                    }} class="btn btn-small">Add to Group</button>
          </div>
        {{/if}}
      {{/with}}
    </div>
  </div>
  <div class="btn-toolbar pull-right">
    {{#view view.totalSelectedView}}
      <h5>{{view.totalSelectedString}} selected.</h5>
    {{/view}}
  </div>
{{/view}}

<div id="contacts" class="row">
  {{! TODO: remove absolute paths}}
  {{#with Radium.router.contactsController}}
    {{#if selectedCampaign}}
      <div class="span9">
        <div class="page-header">
          <h3>{{selectedCampaign.name}}'s Contacts</h3>
        </div>
      </div>
    {{/if}}
  {{/with}}

  {{collection contentBinding="controller" itemViewClass="Radium.ContactCardContainerView"}}
</div>
