{{#if isPersonal}}
  <div class="alert alert-info">
    This contact is a personal conact.  Would you like to add this contact to Radium?
  </div>
  <div>
    <button {{action makeContactPublic this}} {{bind-attr disabled=isSaving}} class="btn btn-block btn-large btn-info">ADD CONTACT TO RADIUM</button>
  </div>
{{else}}
  <div class="tasks-content">
    {{render "form_box" formBox}}
    {{render "task_list" currentTasks}}
  </div>

  {{render "feed" activities}}
{{/if}}
