<div class="conversations-container row-fluid">
  <div class="conversations-sidebar span2">

    <div id="totals" class="group">
      <p>My Inbox</p>
      {{#link-to "conversations" "incoming" class="item"}}
        Incoming
        {{#if totalsLoading}}
          <span class="badge"><img src="/images/loading/ajax-loader.gif"/></span>
        {{else}}
          <span class="badge">{{incoming}}</span>
        {{/if}}
      {{/link-to}}

      {{#link-to "conversations" "waiting" class="item"}}
        Waiting for Reply
        {{#if totalsLoading}}
          <span class="badge"><img src="/images/loading/ajax-loader.gif"/></span>
        {{else}}
          <span class="badge">{{waiting}}</span>
        {{/if}}
      {{/link-to}}

      {{#link-to "conversations" "later" class="item"}}
        Send Later
        {{#if totalsLoading}}
          <span class="badge"><img src="/images/loading/ajax-loader.gif"/></span>
        {{else}}
          <span class="badge">{{later}}</span>
        {{/if}}
      {{/link-to}}

      {{#link-to "conversations" "replied" class="item"}}Replied To{{/link-to}}

      {{#link-to "conversations" "archived" class="item"}}Archived{{/link-to}}

      {{#link-to "conversations" "ignored" class="item"}}Ignored{{/link-to}}
    </div>
  </div>
  <div class="conversations-table span10">
    <div class="toolbar span12">
      <div class="left">
        <a href="#" class="btn" {{action "emailAll"}}/>Compose</a>
        <div class="btn-group">
          <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Actions <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="#" {{action "emailAll"}}>Compose</a></li>
            <li class="divider"></li>
            {{#unless isIgnored}}
              <li>
                <a href="#" {{action "trackAll"}}>Track</a>
              </li>
            {{/unless}}
            {{#unless isArchived}}
              <li>
                <a href="#" {{action "archiveAll"}}>Archive</a>
              </li>
            {{else}}
              <li>
                <a href="#" {{action "archiveAll"}}>Remove from archive</a>
              </li>
            {{/unless}}
            {{#unless isIgnored}}
              <li><a href="#" {{action "ignoreAll"}}>Ignore</a></li>
            {{else}}
              <li><a href="#" {{action "ignoreAll"}}>Stop Ignoring</a></li>
            {{/unless}}
            <li class="divider"></li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Assign To</a>
              <ul class="dropdown-menu">
                {{#each users}}
                  <li>
                    <a href="#" {{action "assignAll" this}}>{{avatar this style="tiny"}}{{displayName}}</a>
                  </li>
                {{/each}}
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="right">
        <a href="#" class="list"><i class="ss-standard ss-list"></i></a>
        {{#link-to "messages" "inbox" class="chat"}}<i class="ss-standard ss-chat"></i>{{/link-to}}
      </div>
    </div>
    <div class="table-container companies">
      <div class="left-table">
        {{variadic-table list=controller columns=fixedColumns checkAllItems="checkAllItems" allChecked=allChecked check=true classNames="fixed-table convo" sort="sort" classNames="fixed"}}
      </div>
      <div class="right-table">
        {{variadic-table list=controller columns=columns sort="sort" classNames="variable"}}
      </div>
      {{#if content.isLoading}}
        <div class="loading" class="text-center">
          <img src="/images/loading/ajax-loader.gif"/> <span class="muted">loading...</span>
        </div>
      {{/if}}
    </div>
    {{regular-infinitescroller getMore="showMore" allLoaded=false isLoading=false}}
  </div>
</div>
