<div class="conversations-container row-fluid">
  <div class="conversations-sidebar span2">
    <div id="totals" class="group">
      <p>My Inbox</p>
      <div {{bind-attr class=":item isIncoming:active"}}>
        <span class="lbl">{{#link-to "conversations" "incoming"}}Incoming{{/link-to}}</span>
        {{#if totalsLoading}}
          <span class="badge"><img src="/images/loading/ajax-loader.gif"/></span>
        {{else}}
          <span class="badge">{{incoming}}</span>
        {{/if}}
      </div>
      <div {{bind-attr class=":item isWaiting:active"}}>
        <span class="lbl">{{#link-to "conversations" "waiting"}}Waiting for Reply{{/link-to}}</span>
        {{#if totalsLoading}}
          <span class="badge"><img src="/images/loading/ajax-loader.gif"/></span>
        {{else}}
          <span class="badge">{{waiting}}</span>
        {{/if}}
      </div>
      <div {{bind-attr class=":item isLater:active"}}>
        <span class="lbl">{{#link-to "conversations" "later"}}Send Later{{/link-to}}</span>
        {{#if totalsLoading}}
          <span class="badge"><img src="/images/loading/ajax-loader.gif"/></span>
        {{else}}
          <span class="badge">{{later}}</span>
        {{/if}}
      </div>
      <div {{bind-attr class=":item isReplied:active"}}>
        <span class="lbl">{{#link-to "conversations" "replied"}}Replied To{{/link-to}}</span>
      </div>
      <div id="archived" {{bind-attr class=":item isArchived:active"}}>
        <span class="lbl">{{#link-to "conversations" "archived"}}Archived{{/link-to}}</span>
      </div>
      <div id="ignored" {{bind-attr class=":item isIgnored:active"}}>
        <span class="lbl">{{#link-to "conversations" "ignored"}}Ignored{{/link-to}}</span>
      </div>
    </div>
  </div>
  <div class="conversations-table span9">
    <div class="toolbar span10">
      <div class="left">
        {{#link-to "emails.new" "inbox" class="btn"}}Compose{{/link-to}}
        <div class="btn-group">
          <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Actions <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="#" {{action "emailAll"}}>Compose</a></li>
            <li class="divider"></li>
            {{#unless isIgnored}}
              <li><a href="#" {{action "trackAll"}}>Track</a></li>
            {{/unless}}
            {{#unless isArchived}}
              {{#unless isIgnored}}
                <li><a href="#" {{action "archiveAll"}}>Archive</a></li>
              {{/unless}}
            {{/unless}}
            {{#unless isIgnored}}
              <li><a href="#" {{action ignoreAll}}>Ignore</a></li>
            {{else}}
              <li><a href="#" {{action ignoreAll}}>Stop Ignoring</a></li>
            {{/unless}}
            <li><a href="#" {{action "deleteAll"}}>Delete</a></li>
            <li class="divider"></li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Assign To</a>
              <ul class="dropdown-menu">
                {{#each users}}
                <li>
                  <a href="#" {{action "assignAll" this}}>{{avatar this style="tiny"}}{{displayName}}</a>
                </li>
                {{/each}}
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="right">
        <a href="#" class="list"><i class="ss-standard ss-list"></i></a>
        {{#link-to "messages" "inbox" class="chat"}}<i class="ss-standard ss-chat"></i>{{/link-to}}
        <!--<input type="text" placeholder="Search">-->
      </div>
    </div>
    <table class="convo">
      <thead>
        <tr>
          <th class="check">
            {{partial 'forms/check_all'}}
          </th>
          <th>Contact</th>
          <th>Assigned To</th>
          <th>Follow-up</th>
          <th>Subject</th>
          <th>Received</th>
        </tr>
      </thead>
      <tbody>
        {{#if isLoading}}
          <tr>
            <td colspan="9" class="text-center">
              <img src="/images/loading/ajax-loader.gif"/> <span class="muted">loading...</span>
            </td>
          </tr>
        {{else}}
          {{#each controller}}
          <tr data-model="Radium.Email" {{bind-attr data-id=id class=isChecked}}>
            <td class="check">
              {{input type="checkbox" checked=isChecked class="checker-block"}}
            </td>
            <td class="contact">
              <i class="ss-standard ss-user"></i>
              {{#if contact}}
                {{#resource-link-to contact}}{{truncate contact.displayName length="20"}}{{/resource-link-to}}
              {{else}}
                  Loading.....
              {{/if}}
            </td>
            <td class="assign">
              <div class="btn-group">
                <a href="#" data-toggle="dropdown" class="assignto">
                  {{avatar assignedTo style="tiny"}}
                  <span class="to">{{assignedTo.displayName}}</span>
                  {{#if assignees.length}}
                    <span class="caret"></span>
                  {{/if}}
                </a>
                {{#if assignees.length}}
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  {{#each assignees}}
                  <li>
                    <a href="#" {{action "assignContact" controller.contact this}}>
                      {{avatar this style="tiny"}}{{displayName}}
                    </a>
                  </li>
                  {{/each}}
                </ul>
                {{/if}}
              </div>
            </td>
            <td>
              <span class="follow-yes"></span>
            </td>
            <td class="subject">{{#link-to "emails.show" "inbox" this}}{{truncate subject length="20"}}{{/link-to}}</td>
            <td>{{ageInWords time}}</td>
            <td class="choose text-center">
              {{#unless isIgnored}}
                {{#unless contact.isPublic}}
                <a {{action "track" contact}} href="#">Track</a>
                <span> | </span>
                {{/unless}}
              {{/unless}}
              {{#unless isIgnored}}
                <a href="#" {{action "ignore" controller.contact}}>Ignore</a>
              {{else}}
                <a href="#" {{action "ignore" controller.contact}}>Stop Ignoring</a>
              {{/unless}}
            </td>
            <td class="delete">
              <a href="#" {{action "delete" this}} class="btn btn-link btn-remove-field">
                <i class="ss-symbolicons-block ss-trash"></i>
              </a>
            </td>
          </tr>
          {{else}}
            <tr>
              <td colspan="9" class="text-center">No Results</td>
            </tr>
          {{/each}}
        {{/if}}
      </tbody>
    </table>
  </div>
</div>
