<div class="tabbar">
  <div class="tabbar-inner">
    <ul class="nav nav-tabs">
      {{#each categories}}
        <li>
          {{#link-to "addressbook.filter" name}}
            {{#if isPrivate}}<i class="ss-standard ss-lock"></i> {{/if}}
            {{text}}
          {{/link-to}}
        </li>
      {{/each}}
      <li>
        {{#link-to "externalcontacts"}}
          <i class="ss-standard ss-lock"></i>
          Google Contacts
        {{/link-to}}
      </li>
    </ul>
  </div>
</div>
<div class="page-header">
  <h1>Address Book</h1>
  <div class="address-book-controls">
    <div class="btn-group">
      <button {{action "confirmDeletion"}} {{bind-attr class=":btn :btn-main :dropdown-toggle controller.hasCheckedContent::muted"}}>
        Delete All
      </button>
    </div>
    <div class="pull-right">
      <form class="form-search pipeline-search">
        <i class="ss-symbolicons-block ss-search"></i>
        {{input value=searchText type="text" class="field search-text"}}
      </form>
      {{#link-to "leads.new" class="btn btn-main btn-primary"}}
        <i class="ss-standard ss-plus"></i> Contact
      {{/link-to}}
    </div>
  </div>
</div>

<div class="search-result-list">
  {{#unless model.length}}
    {{#if isLoading}}
      {{partial 'is_loading'}}
    {{else}}
    <div class="text-center">
      <h3>No results.</h3>
    </div>
    {{/if}}
  {{else}}
    {{#if hasNewPipelineDeal}}
    <div class="alert">
      {{resource-link model=newPipelineDeal.contact}} has been added to the {{#link-to "deal" newPipelineDeal}}pipeline{{/link-to}}.
    </div>
    {{/if}}
    <div class="search-results-header row-fluid">
      <div class="span2 checkers">
        <a href="#" {{action checkAll}}>
          {{#if checkedContent}}
            Select None
          {{else}}
            Select All
          {{/if}}
        </a>
        <div class="pull-right">
          <a href="#" {{action toggleThumbnails}}>
            {{#if isThumbnailsVisible}}
              Hide
            {{else}}
              Show avatars
            {{/if}}
          </a>
        </div>
      </div>
      <div class="span4 name">
        Name
      </div>
    </div>
    {{#if isLoading}}
      {{partial 'is_loading'}}
    {{/if}}
    {{each controller itemController="extenalContactsItem" itemViewClass="Radium.ExternalContactItemView"}}
  {{/unless}}
  {{regular-infinitescroller getMore='showMore' allLoaded=allPagesLoaded isLoading=isLoading}}
</div>
