<div class="tabbar">
  <div class="tabbar-inner">
    <ul class="nav nav-tabs">
      {{#each categories}}
        <li>
          {{#link-to "addressbook.filter" name}}
            {{#if isRadium}}<i class="custom-icon-radium"></i> {{/if}}
            {{text}}
          {{/link-to}}
        </li>
      {{/each}}
      <li>
        {{#link-to "externalcontacts"}}
          <i class="custom-icon-google"></i> Untracked Contacts
        {{/link-to}}
      </li>
    </ul>
  </div>
</div>
<div class="page-header">
  <div class="address-book-controls">
    <div class="btn-group">
      <button {{action "confirmDeletion"}} {{bind-attr class=":btn :btn-main :dropdown-toggle controller.hasCheckedContent::muted"}}>
        Delete All
      </button>
    </div>
    <div class="pull-right">
      <form class="form-search pipeline-search">
        <i class="ss-symbolicons-block ss-search"></i>
        {{input value=searchText type="text" class="field search-text"}}
      </form>
      {{#link-to "leads.new" class="btn btn-main btn-primary"}}
        <i class="ss-standard ss-plus"></i> Contact
      {{/link-to}}
    </div>
  </div>
</div>

{{#rd-lazy-each content=model endInSight="loadMoreContacts" height="400" rowHeight="50"}}
  <div class="row-fluid">
    <div class="span2 row-fluid">
      <div class="span6 select">{{input type="checkbox"}}</div>
      <div class="span6 avatar">
        {{avatar this size=small class="img-polaroid"}}
      </div>
    </div>
    <div class="span6 row-fluid">
      <div class="span6 name">
        {{#link-to "contact" this}}{{displayName}}{{/link-to}}
      </div>
      <div class="span6 company">
        {{#if company}}
          {{#link-to "company" company}}{{company.name}}{{/link-to}}
        {{/if}}
      </div>
    </div>
    <div class="span3">
      <div class="btn-group btn-add-to-radium">
        <button class="btn btn-mini btn-main btn-primary" {{action "promote" this "pipeline"}}>Track with Radium</button>
      </div>
    </div>
    <div class="span1">
      <div class="btn-group">
        <a href="#" {{action "deleteExternalContact" this bubbles="false"}} class="btn btn-link btn-remove-field">
          <i class="ss-symbolicons-block ss-trash"></i>
        </a>
      </div>
    </div>
  </div>
{{/rd-lazy-each}}
