<div class="page-header">
<<<<<<< HEAD
=======

  <div class="block">
    <!-- FIXME: Move with other forms-->
    <h1>Meeting Forms</h1>
    <h3>New Meeting Form</h3>
    {{control "forms/meeting" newMeeting}}

    <h3>Editable Meeting</h3>
    {{control "forms/meeting" editableMeeting}}

    <h3>Uneditable Meeting & Expandable</h3>
    {{control "forms/meeting" uneditableMeeting}}

    <h3>Editable : Passed start date</h3>
    {{control "forms/meeting" editablePassedMeeting}}

    <h3>Uneditable Passed start date</h3>
    {{control "forms/meeting" uneditablePassedMeeting}}

    <h3>Meeting after adding</h3>
    {{!control "forms/meeting" justAddedMeeting}}
  </div>
</div>

<div class="page-header">
>>>>>>> add bootstrap timepicker
  <h1>Form Inputs</h1>
</div>

<div class="block">
  {{view Radium.ComboboxView classNames="field" sourceBinding="source"}}

  <form class="form-horizontal">
    <h2>Text Boxes</h2>
    <div class="control-group">
      <label class="control-label">&nbsp;</label>
      <div class="controls">
        <input type="text" id="inputEmail" class="field" placeholder="Empty">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">&nbsp;</label>
      <div class="controls">
        <input type="text" id="inputEmail" class="field" value="With text already" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">&nbsp;</label>
      <div class="controls">
        <input type="text" id="inputEmail" class="field is-valid" placeholder="when valid">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">&nbsp;</label>
      <div class="controls">
        <input type="text" id="inputEmail" class="field is-invalid" placeholder="when invalid">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">&nbsp;</label>
      <div class="controls">
        <input type="text" id="inputEmail" class="field" value="Disabled" disabled />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">&nbsp;</label>
      <div class="controls">
        <input type="text" id="inputEmail" class="field" value="Readonly" readonly />
      </div>
    </div>

    <h2>Text Boxes that blend in</h2>
    <div class="control-group">
      <label class="control-label">&nbsp;</label>
      <div class="controls">
        <input type="text" id="inputEmail" class="field field-blend-in" placeholder="Empty">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">&nbsp;</label>
      <div class="controls">
        <input type="text" id="inputEmail" class="field field-blend-in" value="With text already" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">&nbsp;</label>
      <div class="controls">
        <input type="text" id="inputEmail" class="field field-blend-in is-valid" placeholder="when valid">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">&nbsp;</label>
      <div class="controls">
        <input type="text" id="inputEmail" class="field field-blend-in is-invalid" placeholder="when invalid">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">&nbsp;</label>
      <div class="controls">
        <input type="text" id="inputEmail" class="field field-blend-in" value="Disabled" disabled />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">&nbsp;</label>
      <div class="controls">
        <input type="text" id="inputEmail" class="field field-blend-in" value="Readonly" readonly />
      </div>
    </div>

    <h2>Control Boxes</h2>
    <p>Basic control box</p>
    <div class="control-box field">
      <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <i class="icon-calendar"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a {{action setDate 'today' target=view}}>Today</a></li>
          <li><a {{action setDate 'tomorrow' target=view}}>Tomorrow</a></li>
          <li><a {{action setDate 'this_week' target=view}}>Later This Week</a></li>
          <li><a {{action setDate 'next_week' target=view}}>Next Week</a></li>
          <li><a {{action setDate 'next_month' target=view}}>In a Month</a></li>
          <li>
            <a class="datepicker-link" data-date="{{unbound view.defaultDate}}" href="#">
              <i class="icon-calendar"></i>Pick a Date
            </a>
          </li>
        </ul>
      </div>
      <span class="text">Due</span>
      <input type="text" value="2010-05-05" />
    </div>

    <p>Valid control box</p>
    <div class="control-box field is-valid">
      <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <i class="icon-calendar"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a {{action setDate 'today' target=view}}>Today</a></li>
          <li><a {{action setDate 'tomorrow' target=view}}>Tomorrow</a></li>
          <li><a {{action setDate 'this_week' target=view}}>Later This Week</a></li>
          <li><a {{action setDate 'next_week' target=view}}>Next Week</a></li>
          <li><a {{action setDate 'next_month' target=view}}>In a Month</a></li>
          <li>
            <a class="datepicker-link" data-date="{{unbound view.defaultDate}}" href="#">
              <i class="icon-calendar"></i>Pick a Date
            </a>
          </li>
        </ul>
      </div>
      <span class="text">Due</span>
      <input type="text" value="2010-05-05" />
    </div>

    <p>Invalid control box</p>
    <div class="control-box field is-invalid">
      <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <i class="icon-calendar"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a {{action setDate 'today' target=view}}>Today</a></li>
          <li><a {{action setDate 'tomorrow' target=view}}>Tomorrow</a></li>
          <li><a {{action setDate 'this_week' target=view}}>Later This Week</a></li>
          <li><a {{action setDate 'next_week' target=view}}>Next Week</a></li>
          <li><a {{action setDate 'next_month' target=view}}>In a Month</a></li>
          <li>
            <a class="datepicker-link" data-date="{{unbound view.defaultDate}}" href="#">
              <i class="icon-calendar"></i>Pick a Date
            </a>
          </li>
        </ul>
      </div>
      <span class="text">Due</span>
      <input type="text" value="2010-05-05" />
    </div>

    <p>Disabled control box</p>
    <div class="control-box field is-disabled">
      <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <i class="icon-calendar"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a {{action setDate 'today' target=view}}>Today</a></li>
          <li><a {{action setDate 'tomorrow' target=view}}>Tomorrow</a></li>
          <li><a {{action setDate 'this_week' target=view}}>Later This Week</a></li>
          <li><a {{action setDate 'next_week' target=view}}>Next Week</a></li>
          <li><a {{action setDate 'next_month' target=view}}>In a Month</a></li>
          <li>
            <a class="datepicker-link" data-date="{{unbound view.defaultDate}}" href="#">
              <i class="icon-calendar"></i>Pick a Date
            </a>
          </li>
        </ul>
      </div>
      <span class="text">Due</span>
      <input type="text" value="2010-05-05" />
    </div>

    <p>Readonly control box</p>
    <div class="control-box field is-readonly">
      <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <i class="icon-calendar"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a {{action setDate 'today' target=view}}>Today</a></li>
          <li><a {{action setDate 'tomorrow' target=view}}>Tomorrow</a></li>
          <li><a {{action setDate 'this_week' target=view}}>Later This Week</a></li>
          <li><a {{action setDate 'next_week' target=view}}>Next Week</a></li>
          <li><a {{action setDate 'next_month' target=view}}>In a Month</a></li>
          <li>
            <a class="datepicker-link" data-date="{{unbound view.defaultDate}}" href="#">
              <i class="icon-calendar"></i>Pick a Date
            </a>
          </li>
        </ul>
      </div>
      <span class="text">Due</span>
      <input type="text" value="2010-05-05" />
    </div>

    <h2>Mentions</h2>
    <div class="control-group">
      <label class="control-label">Normal</label>
      <div class="controls">
        {{view Radium.MentionFieldView palceholder="Mentions" classNames="field"}}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Blend in</label>
      <div class="controls">
        {{view Radium.MentionFieldView palceholder="Mentions" classNames="field field-blend-in"}}
      </div>
    </div>
  </form>
</div>

>>>>>>> add top level meeting form
<div class="block">
  <h3>New Todo Form: No Context</h3>
  {{control "forms/todo" newTodo}}

  <h3>Editable Todo</h3>
  {{control "forms/todo" editableTodo}}

  <h3>Uneditable Todo & Expandable</h3>
  {{control "forms/todo" uneditableTodo}}


  <h3>Editable Finished Todo</h3>
  {{control "forms/todo" editableFinishedTodo}}

  <h3>Uneditable Finished Todo</h3>
  {{control "forms/todo" uneditableFinishedTodo}}

  <h3>Todo after adding</h3>
  {{control "forms/todo" justAddedTodo}}
</div>

<div class="block">
  <h3>New call Form: No Contact</h3>
  {{control "forms/call" newCall}}

  <h3>Editable call</h3>
  {{control "forms/call" editableCall}}

  <h3>Uneditable call & Expandable</h3>
  {{control "forms/call" uneditableCall}}

  <h3>Editable Finished call</h3>
  {{control "forms/call" editableFinishedCall}}

  <h3>Uneditable Finished call</h3>
  {{control "forms/call" uneditableFinishedCall}}

  <h3>call after adding</h3>
  {{control "forms/call" justAddedCall}}
</div>

<div class="block">
  <h3>Discussion</h3>

  <h3>New Discussion</h3>
  {{control "forms/discussion" discussion}}

  <h3>Discussion after adding</h3>
  {{control "forms/discussion" justAddedDiscussion}}
</div>

<div class="page-header">
  <!-- FIXME: Move with other forms-->
  <h1>Meeting Forms</h1>
  <h3>New Meeting Form: No Context</h3>
  {{control "forms/meeting" newMeeting}}
</div>

<div class="block">
  <h3>Form Widget</h3>
  {{control "form_box" formBox}}
</div>


