<div class="form-box">
  <div class="form-box-controls">
    {{#if todoForm}}
      <a {{action "showForm" "todo"}} href="#" {{bind-attr class="showTodoForm:active"}}>
        <i class="ss-standard ss-check"></i>Task
      </a>
    {{/if}}
    {{#if meetingForm}}
      <a {{action "showForm" "meeting"}} href="#" {{bind-attr class="showMeetingForm:active"}}>
        <i class="ss-standard ss-checkcalendar"></i>Meeting
      </a>
    {{/if}}
    {{#if noteForm}}
      <a {{action "showForm" "note"}} href="#" {{bind-attr class="showNoteForm:active"}}>
        <i class="ss-standard ss-notebook"></i>Note
      </a>
    {{/if}}
    {{#if emailForm}}
      <a {{action "showForm" "email"}} href="#" {{bind-attr class="showEmailForm:active"}}>
        <i class="ss-standard ss-mail"></i>Email
      </a>
    {{/if}}
  </div>
  <div class="form-container">

    {{#if showTodoForm}}
      {{render "forms/todo" todoForm}}
    {{/if}}
    {{#if showMeetingForm}}
      {{render "forms/meeting" meetingForm}}
    {{/if}}
    {{#if showNoteForm}}
      {{render "forms/note" noteForm}}
    {{/if}}
    {{#if showEmailForm}}
      {{email-form form=emailForm parent=this signature=signature addSignature="addSignature" mode="form" saveEmail="saveEmail" saveTemplate="saveTemplate"}}
    {{/if}}

    <div class="form-box-controls">
      <button {{action "submitForm"}} class="btn btn-primary btn-large">
        {{#if showTodoForm}}
          Add Task
        {{/if}}
        {{#if showMeetingForm}}
          Add Task
        {{/if}}
        {{#if showNoteForm}}
          Add Note
        {{/if}}
        {{#if showEmailForm}}
          Add Email
        {{/if}}
      </button>
    </div>
  </div>
</div>

