<div class="block">
  <h3>New Todo Form: No Context</h3>
  {{control "forms/todo" newTodo}}

  <h3>Editable Todo</h3>
  {{control "forms/todo" editableTodo}}

  <h3>Uneditable Todo & Expandable</h3>
  {{control "forms/todo" uneditableTodo}}

  <h3>Editable Finished Todo</h3>
  {{control "forms/todo" editableFinishedTodo}}

  <h3>Uneditable Finished Todo</h3>
  {{control "forms/todo" uneditableFinishedTodo}}

  <h3>Todo after adding</h3>
  {{control "forms/todo" justAddedTodo}}
</div>

<div class="block">
  <h3>New call Form: No Contact</h3>
  {{control "forms/call" newCall}}

  <h3>Editable call</h3>
  {{control "forms/call" editableCall}}

  <h3>Uneditable call & Expandable</h3>
  {{control "forms/call" uneditableCall}}

  <h3>Editable Finished call</h3>
  {{control "forms/call" editableFinishedCall}}

  <h3>Uneditable Finished call</h3>
  {{control "forms/call" uneditableFinishedCall}}

  <h3>call after adding</h3>
  {{control "forms/call" justAddedCall}}
</div>

<div class="block">
  <h3>Discussion</h3>

  <h3>New Discussion</h3>
  {{control "forms/discussion" discussion}}

  <h3>Discussion after adding</h3>
  {{control "forms/discussion" justAddedDiscussion}}
</div>
