<div class="block">
  <h3>New Todo Form: No Context</h3>
  {{control "forms/todo" newTodo}}

  <h3>Existing todo/w Context</h3>
  {{control "forms/todo" existingTodo}}

  <h3>Uneditable Todo</h3>
  {{control "forms/todo" uneditableTodo}}

</div>

<div class="block">
  <h3>New Call w/o Context</h3>
  {{control "forms/todo" callTodo}}

  <h3>New Call w/ Context</h3>
  {{control "forms/todo" callTodoWithContext}}

  <h3>Existing call</h3>
  {{control "forms/todo" existingCall}}
</div>
