<div class="form-box">
  <div class="form-container">
    {{#if showTodoForm}}
      {{render "forms/todo" todoForm}}
    {{/if}}

    {{#if showCallForm}}
      {{render "forms/call" callForm}}
    {{/if}}

    {{#if showDiscussionForm}}
      {{render "forms/discussion" discussionForm}}
    {{/if}}

    {{#if showMeetingForm}}
      {{render "forms/meeting" meetingForm}}
    {{/if}}
  </div>
  <div class="form-box-controls">
    {{#if compactFormButtons}}
      <div class="btn-group form-switcher-small">
        <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
          <i class="ss-standard ss-plus"></i> New
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          {{#if todoForm}}
          <li>
            <a href="#" {{action showForm "todo"}}><i class="ss-standard ss-check"></i> Todo</a>
          </li>
          {{/if}}
          {{#if callForm}}
          <li>
            <a href="#" {{action showForm "call"}}><i class="ss-standard ss-phone"></i> Call</a>
          </li>
          {{/if}}
          {{#if discussionForm}}
          <li>
            <a href="#" {{action showForm "discussion"}}><i class="ss-standard ss-chat"></i> Discussion</a>
          </li>
          {{/if}}
          {{#if meetingForm}}
          <li>
            <a href="#" {{action showForm "meeting"}}><i class="ss-standard ss-calendar"></i> Meeting</a>
          </li>
          {{/if}}
        </ul>
      </div>
    {{else}}
      <div class="form-switcher">
        {{#if todoForm}}
          <button {{action showForm "todo"}} {{bindAttr class=":btn :btn-action showTodoForm:active"}}>
            <i class="ss-standard ss-check"></i>
          </button>
        {{/if}}

        {{#if callForm}}
          <button {{action showForm "call"}} {{bindAttr class=":btn :btn-action showCallForm:active"}}>
            <i class="ss-standard ss-phone"></i>
          </button>
        {{/if}}

        {{#if discussionForm}}
          <button {{action showForm "discussion"}} {{bindAttr class=":btn :btn-action showDiscussionForm:active"}}>
            <i class="ss-symbolicons-block ss-chat"></i>
          </button>
        {{/if}}

        {{#if meetingForm}}
          <button {{action showForm "meeting"}} {{bindAttr class=":btn :btn-action showMeetingForm:active"}}>
            <i class="ss-standard ss-calendar"></i>
          </button>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>