<div class="form-box">
  <div class="form-container">
    {{#if showTodoForm}}
      {{render "forms/todo" todoForm}}
    {{/if}}

    {{#if showCallForm}}
      {{render "forms/call" callForm}}
    {{/if}}

    {{#if showDiscussionForm}}
      {{render "forms/discussion" discussionForm}}
    {{/if}}

    {{#if showMeetingForm}}
      {{render "forms/meeting" meetingForm}}
    {{/if}}
    {{#if showNoteForm}}
      {{render "forms/note" noteForm}}
    {{/if}}
  </div>
  <div class="form-box-controls">
    {{#if compactFormButtons}}
      <div class="btn-group form-switcher-small">
        <button {{action "submitForm"}} class="btn btn-large">
          {{#if showTodoForm}}
            <i class="ss-standard ss-check green"></i> Add Task
          {{/if}}
          {{#if showCallForm}}
            <i class="ss-standard ss-phone green"></i> Add Task
          {{/if}}
          {{#if showMeetingForm}}
            <i class="ss-standard ss-calendar green"></i> Add Task
          {{/if}}
          {{#if showNoteForm}}
            <i class="ss-standard ss-notebook green"></i> Add Note
          {{/if}}
        </button>
        <button class="btn btn-large dropdown-toggle needsclick" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          {{#if todoForm}}
          <li>
            <a href="#" {{action "showForm" "todo"}}><i class="ss-standard ss-check"></i> Todo</a>
          </li>
          {{/if}}
          {{#if callForm}}
          <li>
            <a href="#" {{action "showForm" "call"}}><i class="ss-standard ss-phone"></i> Call</a>
          </li>
          {{/if}}
          {{#if discussionForm}}
          <li>
            <a href="#" {{action "showForm" "discussion"}}><i class="ss-standard ss-chat"></i> Discussion</a>
          </li>
          {{/if}}
          {{#if meetingForm}}
          <li>
            <a href="#" {{action "showForm" "meeting"}}><i class="ss-standard ss-calendar"></i> Meeting</a>
          </li>
          {{/if}}
          {{#if noteForm}}
          <li>
            <a href="#" {{action "showForm" "note"}}><i class="ss-standard ss-notebook"></i> Note</a>
          </li>
          {{/if}}
        </ul>
      </div>
    {{else}}
      <div class="form-switcher">
        {{#if todoForm}}
          <button {{action "showForm" "todo"}} {{bind-attr class=":btn :btn-action showTodoForm:active"}}>
            <i class="ss-standard ss-check"></i>
          </button>
        {{/if}}

        {{#if callForm}}
          <button {{action "showForm" "call"}} {{bind-attr class=":btn :btn-action showCallForm:active"}}>
            <i class="ss-standard ss-phone"></i>
          </button>
        {{/if}}

        {{#if discussionForm}}
          <button {{action "showForm" "discussion"}} {{bind-attr class=":btn :btn-action showDiscussionForm:active"}}>
            <i class="ss-symbolicons-block ss-chat"></i>
          </button>
        {{/if}}

        {{#if meetingForm}}
          <button {{action "showForm" "meeting"}} {{bind-attr class=":btn :btn-action showMeetingForm:active"}}>
            <i class="ss-standard ss-calendar"></i>
          </button>
        {{/if}}
        {{#if noteForm}}
          <button {{action "showForm" "note"}} {{bind-attr class=":btn :btn-action showNoteForm:active"}}>
            <i class="ss-standard ss-note"></i>
          </button>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>
