<div class="form-box">
  <div class="icon-switcher">
    {{#if todoForm}}
      <a {{action showForm "todo"}} {{bindAttr class="showTodoForm:active :todo"}} href="#">
        <i class="icon-todo"></i>
      </a>
    {{/if}}

    {{#if callForm}}
      <a {{action showForm "call"}} {{bindAttr class="showCallForm:active :call"}} href="#">
        <i class="icon-call"></i>
      </a>
    {{/if}}

    {{#if discussionForm}}
      <a {{action showForm "discussion"}} {{bindAttr class="showDiscussionForm:active :discussion"}} href="#">
        <i class="icon-discussion"></i>
      </a>
    {{/if}}

    {{#if meetingForm}}
      <a {{action showForm "meeting"}} {{bindAttr class="showMeetingForm:active :meeting"}} href="#">
        <i class="icon-calendar">
      </a>
    {{/if}}
  </div>

  <div class="form-container">
    {{#if showTodoForm}}
      {{control "forms/todo" todoForm}}
    {{/if}}

    {{#if showCallForm}}
      {{control "forms/call" callForm}}
    {{/if}}

    {{#if showDiscussionForm}}
      {{control "forms/discussion" discussionForm}}
    {{/if}}

    {{#if showMeetingForm}}
      {{control "forms/meeting" meetingForm}}
    {{/if}}
  </div>
</div>
