<a class="btn next-task-widget">
  {{#if content}}
    {{#if isTodo}}
      <i class="ss-standard ss-check green"></i>
    {{/if}}

    {{#if isCall}}
      <i class="ss-standard ss-phone green"></i>
    {{/if}}

    {{#if isMeeting}}
      <i class="ss-standard ss-calendar"></i>
    {{/if}}

    <span>
      {{#if isTodo}}
        {{formatDateTime finishBy format=date}}
      {{/if}}

      {{#if isCall}}
        {{formatDateTime finishBy format=date}}
      {{/if}}

      {{#if isMeeting}}
        {{formatDateTime startsAt format=date}}
      {{/if}}
    </span>

    <span class="text">
      {{#if isTodo}}
        {{truncate description}}
      {{/if}}

      {{#if isCall}}
        Call {{reference.name}}
      {{/if}}

      {{#if isMeeting}}
        {{truncate topic}}
      {{/if}}
    </span>
  {{else}}
    <span>
      No Tasks Yet!
    </span>
  {{/if}}
</a>
