<div class="drawer span3">
  <div class="content">
    {{#if view.reminders.length}}
      <h3>
        Reminders
        <a class="dismiss" {{action dismissAll view.reminders target="controller"}}>
          <i class="icon-remove-sign icon-white"></i>
        </a>
      </h3>
      {{collection view.remindersListView}}
    {{/if}}

    {{#each group in controller}}
      <h3>
        {{group.humanName}}
        <a class="dismiss" {{action dismissAll group.content target="controller"}}>
          <i class="icon-remove-sign icon-white"></i>
        </a>
      </h3>
      {{collection view.notificationsListView contentBinding="group.content"}}
    {{/each}}
  </div>
</div>
