<div id="notifications">
  {{#if view.reminders.length}}
    <div class="page-header">
      <h3>
        Reminders
        <a class="dismiss pull-right" {{action dismissAll view.reminders target="controller"}}>
          <i class="icon-remove-sign icon-white"></i>
        </a>
      </h3>
    </div>
    {{collection view.remindersListView}}
  {{/if}}

  {{#each group in controller}}
    <div class="page-header">
      <h3>
        {{group.humanName}}
        <a class="dismiss pull-right" {{action dismissAll group.content target="controller"}}>
          <i class="icon-remove-sign icon-white"></i>
        </a>
      </h3>
    </div>
    {{collection view.notificationsListView contentBinding="group.content"}}
  {{/each}}
</div>
