<ul class="unstyled notifications-list">
  <li class="notification-item notification-item-top">
    <div class="notification-item-content">
      <div class="notifications-list-close-btn">
        <a href="#" class="btn btn-round" {{action close target="view"}}>&times;</a>
      </div>
      <div class="notification-item-header">
        <div>
          <h3>Notifications</h3>
        </div>
      </div>

      <div class="notification-item-footer">
        <div class="clearfix pull-right">
          <button class="btn">Snooze All</button>
          <button class="btn btn-primary">Mark All as Done</button>
        </div>
      </div>
    </div>
  </li>

  <li class="notification-item">
    <a href="#" class="notification-item-content">
      <div class="notification-item-header">
        <div>
          <h4>Buy milk for the office kitchen</h4>
        </div>
      </div>

      <div class="notification-item-footer">
        {{partial "notifications/notification_actions"}}
        <div class="clearfix">
          <small class="notification-item-meta notification-task-overdue">
            <strong>Overdue today at 9 AM</strong>
          </small>
        </div>
      </div>
    </a>
  </li>

  <li class="notification-item">
    <a href="#" class="notification-item-content">
      <div class="notification-item-header">
        <div>
          <h4><strong>Call</strong> with <strong>Tim Cook</strong></h4>
        </div>
      </div>

      <div class="notification-item-footer">
        {{partial "notifications/notification_actions"}}
        <div class="clearfix">
          <small class="notification-item-meta notification-task-overdue">
            <strong>Overdue today at 9 AM</strong>
          </small>
        </div>
      </div>
    </a>
  </li>

  <li class="notification-item">
    <a href="#" class="notification-item-content">
      <div class="notification-item-header">
        <div>
          <h4>Budget review with <strong>Tim Cook</strong> CEO Apple</h4>
          <small class="notification-item-meta">In <strong>15 minutes</strong> at <strong>Apple</strong></small>
        </div>
      </div>

      <div class="notification-item-footer">
        {{partial "notifications/notification_actions"}}
        <div class="clearfix">
          <ul class="inline">
            <li>{{avatar this style="small"}}</li>
            <li>{{avatar this style="small"}}</li>
            <li>+ 2 others</li>
          </ul>
        </div>
      </div>
    </a>
  </li>

  <li class="notification-item">
    <a href="#" class="notification-item-content">
      <div class="notification-item-header">
        <div>
          <h4>Steve commented on a todo <strong>"write a memo to Sally"</strong></h4>
          <small class="notification-item-meta">Maybe it should b better if we took...</small>
        </div>
      </div>

      <div class="notification-item-footer">
        {{partial "notifications/notification_actions"}}
        <div class="clearfix">
          <small class="notification-item-meta">
            <i class="ss-symbolicons-block ss-chat notification-item-icon"></i>
            <strong>3 hours ago</strong>
          </small>
        </div>
      </div>
    </a>
  </li>

  <li class="notification-item">
    <a href="#" class="notification-item-content">
      <div class="notification-item-header">
        <div>
          <h4>Steve sent you an email</h4>
          <small class="notification-item-meta">It's a great idea...</small>
        </div>
      </div>

      <div class="notification-item-footer">
        {{partial "notifications/notification_actions"}}
        <div class="clearfix">
          <small class="notification-item-meta">
            <i class="ss-standard ss-mail notification-item-icon"></i>
            <strong>3 hours ago</strong>
          </small>
        </div>
      </div>
    </a>
  </li>

  <li class="notification-item">
    <a href="#" class="notification-item-content">
      <div class="notification-item-header">
        <div>
          <h4>Rachael Adams assigned to you</h4>
          <small class="notification-item-meta">Write a memo to Bob about targets this month</small>
        </div>
      </div>

      <div class="notification-item-footer">
        {{partial "notifications/notification_actions"}}
        <div class="clearfix">
          <small class="notification-item-meta">
            <i class="ss-symbolicons-block ss-chat notification-item-icon"></i>
            <strong>Today</strong>
          </small>
        </div>
      </div>
    </a>
  </li>

  <li class="notification-item">
    <a href="#" class="notification-item-content">
      <div class="notification-item-header">
        <div>
          <h4>You have <strong>1 missed call</strong> from <strong>Laura Waters Apple</strong></h4>
        </div>
      </div>

      <div class="notification-item-footer">
        {{partial "notifications/notification_actions"}}
        <div class="clearfix">
          <small class="notification-item-meta">
            <i class="ss-standard ss-phone notification-item-icon"></i>
            <strong>Today at 2PM</strong>
          </small>
        </div>
      </div>
    </a>
  </li>

  <li class="notification-item">
    <a href="#" class="notification-item-content">
      <div class="notification-item-header">
        <div>
          <h4><strong>Call</strong> with <strong>Bob Smith Apple</strong></h4>
        </div>
      </div>

      <div class="notification-item-footer">
        {{partial "notifications/notification_actions"}}
        <div class="clearfix">
          <small class="notification-item-meta">
            <i class="ss-standard ss-phone notification-item-icon"></i>
            <strong>In 1 hour</strong>
          </small>
        </div>
      </div>
    </a>
  </li>

  <li class="notification-item">
    <a href="#" class="notification-item-content">
      <div class="notification-item-header">
        <div>
          <h4><strong>Sam Asikainen</strong> assigned you a deal with <strong>Viveka Smith Apple</strong></h4>
        </div>
      </div>

      <div class="notification-item-footer">
        {{partial "notifications/notification_actions"}}
        <div class="clearfix">
          <small class="notification-item-meta">
            <span class="label label-info">Deal</span>
            <strong>Yesterday</strong>
          </small>
        </div>
      </div>
    </a>
  </li>

  <li class="notification-item">
    <a href="#" class="notification-item-content">
      <div class="notification-item-header">
        <div>
          <h4>No reply from <strong>Tim Cook email</strong> sent</h4>
        </div>
      </div>

      <div class="notification-item-footer">
        {{partial "notifications/notification_actions"}}
        <div class="clearfix">
          <small class="notification-item-meta">
            <i class="ss-standard ss-mail notification-item-icon"></i>
            <strong>Yesterday</strong>
          </small>
        </div>
      </div>
    </a>
  </li>

  <li class="notification-item">
    <a href="#" class="notification-item-content">
      <div class="notification-item-header">
        <div>
          <h4>You have <strong>1 new lead</strong> from <strong>website</strong></h4>
        </div>
      </div>

      <div class="notification-item-footer">
        {{partial "notifications/notification_actions"}}
        <div class="clearfix">
          <small class="notification-item-meta">
            <span class="label label-success">Lead</span>
            <strong>Yesterday</strong>
          </small>
        </div>
      </div>
    </a>
  </li>

  <li class="notification-item">
    <a href="#" class="notification-item-content">
      <div class="notification-item-header">
        <div>
          <h4><strong>Sami Asikainen</strong> assigned you a <strong>Call</strong> with <strong>Viveka Smith Apple</strong></h4>
        </div>
      </div>

      <div class="notification-item-footer">
        {{partial "notifications/notification_actions"}}
        <div class="clearfix">
          <small class="notification-item-meta">
            <i class="ss-standard ss-phone notification-item-icon"></i>
            <strong>Yesterday</strong>
          </small>
        </div>
      </div>
    </a>
  </li>

  <li class="notification-item">
    <a href="#" class="notification-item-content">
      <div class="notification-item-header">
        <div>
          <h4><strong>Sami Asikainen</strong> assigned you a <strong>Company – Apple</strong></h4>
        </div>
      </div>

      <div class="notification-item-footer">
        {{partial "notifications/notification_actions"}}
        <div class="clearfix">
          <small class="notification-item-meta">
            <i class="ss-standard ss-buildings notification-item-icon"></i>
            <strong>Yesterday</strong>
          </small>
        </div>
      </div>
    </a>
  </li>

  <li class="notification-item">
    <a href="#" class="notification-item-content">
      <div class="notification-item-header">
        <div>
          <h4><strong>Sami Asikainen</strong> assigned you a <strong>Contact</strong> with <strong>Viveka Smith Apple</strong></h4>
        </div>
      </div>

      <div class="notification-item-footer">
        {{partial "notifications/notification_actions"}}
        <div class="clearfix">
          <small class="notification-item-meta">
            <i class="ss-standard ss-user notification-item-icon"></i>
            <strong>Yesterday</strong>
          </small>
        </div>
      </div>
    </a>
  </li>
</ul>