<ul class="unstyled notifications-list">
  <li class="notification-item notification-item-top">
    <div class="notification-item-content">
      <div class="notification-item-header">
        <button class="btn btn-link btn-close pull-right" {{action "toggleNotifications"}}>
          <i class="ss-standard ss-delete"></i>
        </button>
        <div>
          <h5>Notifications</h5>
        </div>
      </div>
      {{#if length}}
        <div class="notification-item-footer">
          <div class="clearfix pull-right">
            <!--<button class="btn">Snooze All</button>-->
            {{#if isDeleting}}
              {{partial "is_deleting"}}
            {{/if}}
            <button class="btn btn-small" {{action "deleteAllNotifications"}}>Dismiss All</button>
          </div>
        </div>
      {{/if}}
    </div>
  </li>
  {{#each notification in controller}}
    {{#if notification.isLoaded}}
      {{renderNotification "notification"}}
    {{else}}
      {{partial 'is_loading'}}
    {{/if}}
  {{else}}
    <div class="text-center">
      No notifications
    </div>
  {{/each}}
</ul>
