<li class="notification-item">
  <!-- UNCOMMENT THIS IF YOU WANT TO SEE SOME CRAZYNESS -->
  <!--<a href="#" class="notification-item-content"> -->
  <div class="notification-item-header">
    <div>
      {{yield}}
      <!--<small class="notification-item-meta">Write a memo to Bob about targets this month</small>-->
    </div>
  </div>

  <div class="notification-item-footer">
    {{partial "notifications/notification_actions"}}
    <div class="clearfix">
      <small {{bindAttr class=":notification-item-meta isOverdue:notification-task-overdue"}}>
        <i class="ss-symbolicons-block ss-chat notification-item-icon"></i>
        {{#unless isOverdue}}
          {{timeInHumanFormat}}
        {{else}}
          <strong>Overdue at {{timeInHumanFormat}}</strong>
        {{/unless}}
      </small>
    </div>
  </div>
  <!-- </a> -->
</li>
