<div class="tabbar">
  <div class="tabbar-inner">
    <ul class="nav nav-tabs">
      <li>
        {{#linkTo "pipeline"}}All Pipelines{{/linkTo}}
      </li>
      {{#each workflowGroups itemController="workflowGroupItem"}}
        <li>
          {{#if isWorkflow}}
            {{#linkTo "pipeline.workflow" content.title}}
              {{content.title}} {{currency total}}
            {{/linkTo}}
          {{/if}}
          {{#if isClosed}}
            {{#linkTo "pipeline.closed"}}
              {{content.title}} {{currency total}}
            {{/linkTo}}
          {{/if}}
          {{#if isLost}}
            {{#linkTo "pipeline.lost"}}
              {{content.title}} {{currency total}}
            {{/linkTo}}
          {{/if}}
        </li>
      {{/each}}
      <li>
        {{#linkTo "pipeline.unpublished"}}
          Unpublished {{unpublished.length}}
        {{/linkTo}}
      </li>
    </ul>
  </div>
</div>

<div id="pipeline-results" class="">
  {{outlet confirmation}}
  {{outlet}}
</div>
