<div id="widget-block" class="block">
  <ul class="breadcrumb" id="pipeline-widget">
    <li class="unpublished">
      {{#linkTo pipeline.unpublished}}Unpublished{{/linkTo}} {{badge unpublished.length style="info"}}
      <span class="divider">&gt;</span>
    </li>
    {{#each workflowGroups}}
      <li class="negotiating">
        <a {{action selectGroup this}} href="#">{{title}}</a> {{badge length style="warning"}}
        <span class="divider">&gt;</span>
      </li>
    {{/each}}
    <li class="closed">
      {{#linkTo pipeline.closed}}Closed{{/linkTo}} {{badge closed.length style="success"}}
      <span class="divider">&gt;</span>
    </li>
    <li class="lost">
      {{#linkTo pipeline.lost}}Lost{{/linkTo}} {{badge lost.length style="important"}}
    </li>
  </ul>
</div>

<div id="pipeline-results" class="block">
  {{outlet confirmation}}
  {{outlet}}
</div>
