<div class="tabbar">
  <div class="tabbar-inner">
    {{#if isLargeWorkflow}}
      <div class="btn-group pipelines-list">
        <button class="btn btn-main">Pipelines</button>
        <button class="btn dropdown-toggle needsclick" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          {{partial "pipeline/tabs"}}
        </ul>
      </div>
    {{else}}
      <button type="button" class="btn btn-toggle-pipelines visible-tablet visible-phone pull-right" data-toggle="collapse" data-target=".pipeline-tabs">
        Pipeline states
      </button>
      <div class="nav-collapse collapse pipeline-tabs">
        <ul class="nav nav-tabs">
          {{partial "pipeline/tabs"}}
        </ul>
      </div>
    {{/if}}
  </div>
</div>

<div id="pipeline-results" class="">
  {{outlet confirmation}}
  {{outlet}}
</div>
