<div id="pipeline">
  <div>
    <ul id="status">
      <li class="leads">
        {{#linkTo pipeline.leads}}Leads ({{leads.length}}){{/linkTo}}
      </li>
      <li class="divider">&nbsp;</li>
      {{#each customStatuses}}
        <li class="{{statusItemClass index}}">
          <a {{action showCustomStatus this}} href="#">{{status}} ({{deals.length}})</a>
        </li>
      {{/each}}
      <li class="divider">&nbsp;</li>
      <li class="closed">
        {{#linkTo pipeline.closed}}Closed ({{closed.length}}){{/linkTo}}
      </li>
      <li class="lost">
        {{#linkTo pipeline.lost}}Lost ({{lost.length}}){{/linkTo}}
      </li>
    </ul>
  </div>
</div>

<div id="pipeline-results">
  {{outlet}}
</div>
