<div class="pipeline-breadcrumb">
  <ol class="pipeline-breadcrumb-list">
    {{#each workflowGroups itemController="workflowGroupItem"}}
      <li class="pipeline-breadcrumb-item">
        {{#if isWorkflow}}
          {{#linkTo "pipeline.workflow" content.title class="pipeline-breadcrumb-button"}}
            <div class="vert-center">
              <h4 class="pipeline-state-title">
                {{capitalize content.title}}
                <div class="pipeline-badge">
                  {{pipelineBadge content.title}} new
                </div>
              </h4>
              <p class="pipeline-state-numbers">{{total}} / {{currency total}}</p>
            </div>
          {{/linkTo}}
        {{/if}}
        {{#if isClosed}}
          {{#linkTo "pipeline.closed" class="pipeline-breadcrumb-button"}}
            <div class="vert-center">
              <h4 class="pipeline-state-title">
                {{capitalize content.title}}
                <div class="pipeline-badge">
                  {{pipelineBadge content.title}}
                </div>
              </h4>
              <p class="pipeline-state-numbers">{{total}} / {{currency total}}</p>
            </div>
          {{/linkTo}}
        {{/if}}
        {{#if isLost}}
          {{#linkTo "pipeline.lost" class="pipeline-breadcrumb-button"}}
            <div class="vert-center">
              <h4 class="pipeline-state-title pipeline-state-lost">
                {{capitalize content.title}}
                <div class="pipeline-badge">
                  {{pipelineBadge content.title}}
                </div>
              </h4>
              <p class="pipeline-state-numbers">{{total}} / {{currency total}}</p>
            </div>
          {{/linkTo}}
        {{/if}}
      </li>
    {{/each}}
    <li class="pipeline-breadcrumb-item">
      {{#linkTo "pipeline.unpublished" class="pipeline-breadcrumb-button"}}
        <div class="vert-center">
          <h5 class="pipeline-state-title pipeline-state-empty">Unpublished</h5>
          <p class="pipeline-state-numbers">{{unpublished.length}}</p>
        </div>
      {{/linkTo}}
    </li>
  </ol>
</div>

<div id="pipeline-results" class="">
  {{outlet confirmation}}
  {{outlet}}
</div>
