<div id="pipeline">
  <div>
    <ul id="status">
      <li class="leads">
        {{#linkTo pipeline.leads}}Leads ({{leads}}){{/linkTo}}
      </li>
      <li class="negotiating">
        {{#linkTo pipeline.negotiating}}Negotiating ({{negotiating}}){{/linkTo}}
      </li>
      <li class="closed">
        {{#linkTo pipeline.closed}}Closed ({{closed}}){{/linkTo}}
      </li>
      <li class="lost">
        {{#linkTo pipeline.lost}}Lost ({{lost}}){{/linkTo}}
      </li>
    </ul>
  </div>
</div>

<div id="pipeline-results">
  {{outlet}}
</div>
