<div id="widget-block" class="block">
  <ul class="breadcrumb" id="pipeline-widget">
    {{#each workflowGroups itemController="workflowGroupItem"}}
      <li class="workflow">
        {{#if isWorkflow}}
          {{#linkTo pipeline.workflow content.title}}{{capitalize content.title}} {{pipelineBadge content.title}}{{/linkTo}}
        {{/if}}
        {{#if isClosed}}
          {{#linkTo pipeline.closed}}{{capitalize content.title}} {{pipelineBadge content.title}}{{/linkTo}}
        {{/if}}
        {{#if isLost}}
          {{#linkTo pipeline.lost}}{{capitalize content.title}} {{pipelineBadge content.title}}{{/linkTo}}
        {{/if}}
        <span class="divider">&gt;</span>
      </li>
    {{/each}}
    <li class="unpublished">
      {{#linkTo pipeline.unpublished}}Unpublished{{/linkTo}} {{badge unpublished.length style="info"}}
    </li>
  </ul>
</div>

<div id="pipeline-results" class="block">
  {{outlet confirmation}}
  {{outlet}}
</div>
