{{#if model.length}}
  <ol class="related-tasks unstyled">
    {{#each group in sortedGroups}}
      {{#each task in group itemController="relatedTaskItem"}}
        {{#with task}}
          {{#if isSaving}}
            <strong>Saving.....</strong>
          {{else}}
            {{#if isTodo}}
              <li {{bindAttr class="isFinished isOverdue"}}>
                <span class="time">
                  Due
                  {{#linkTo "unimplemented"}}
                    {{formatDateTime time format="date"}}
                  {{/linkTo}}
                </span>
                <i class="ss-standard ss-check"></i>
                {{#linkTo "unimplemented" class="related-task-title"}}{{description}}{{/linkTo}}
              </li>
            {{/if}}

            {{#if isCall}}
              <li {{bindAttr class="isFinished isOverdue"}}>
                <span class="time">
                  on
                  {{#linkTo "unimplemented"}}
                    {{formatDateTime time format="date"}}
                  {{/linkTo}}
                  at
                  {{#linkTo "unimplemented"}}
                    {{formatDateTime time format="short"}}
                  {{/linkTo}}
                </span>
                <i class="ss-standard ss-phone"></i>
                <span class="related-task-title">
                {{#linkTo "unimplemented"}}Call{{/linkTo}}
                with
                {{#linkTo "user" user}}{{user.name}}{{/linkTo}}
                and
                {{#linkTo "contact" contact}}{{contact.displayName}}{{/linkTo}}
                </span>
              </li>
            {{/if}}

            {{#if isMeeting}}
              <li>
                <span class="time">
                  on
                  {{#linkTo "unimplemented"}}
                    {{formatDateTime time format="date"}}
                  {{/linkTo}}
                  at
                  {{#linkTo "unimplemented"}}
                    {{formatDateTime time format="short"}}
                  {{/linkTo}}
                </span>
                <i class="ss-standard ss-calendar"></i>
                <span class="related-task-title">
                {{#linkTo "unimplemented"}}Meeting {{topic}}{{/linkTo}}
                with
                {{list participants}}
                </span>
              </li>
            {{/if}}
          {{/if}}
        {{/with}}
      </li>
      {{/each}}
    {{/each}}
  </ol>
{{/if}}
