{{#if model.length}}
  <ol class="related-tasks unstyled">
    {{#each group in sortedGroups}}
      {{#each task in group itemController="relatedTaskItem"}}
        {{#with task}}
          {{#if isSaving}}
            <strong>Saving.....</strong>
          {{else}}
            {{#if isTodo}}
              <li {{bind-attr class="isFinished overdue"}}>
                <span class="time">
                  Due
                  {{#link-to "calendar.task" this}}
                    {{formatDateTime time format="date"}}
                  {{/link-to}}
                </span>
                <i class="ss-standard ss-check"></i>
                {{#link-to "calendar.task" this class="related-task-title"}}{{description}}{{/link-to}}
              </li>
            {{/if}}

            {{#if isCall}}
              <li {{bind-attr class="isFinished overdue"}}>
                <span class="time">
                  on
                  {{#link-to "calendar.task" this}}
                    {{formatDateTime time format="date"}}
                  {{/link-to}}
                  at
                  {{#link-to "calendar.task" this}}
                    {{formatDateTime time format="short"}}
                  {{/link-to}}
                </span>
                <i class="ss-standard ss-phone"></i>
                <span class="related-task-title">
                {{#link-to "calendar.task" this}}Call{{/link-to}}
                with
                {{#link-to "user" user}}{{user.name}}{{/link-to}}
                and
                {{#link-to "contact" contact}}{{contact.name}}{{/link-to}}
                </span>
              </li>
            {{/if}}

            {{#if isMeeting}}
              <li>
                <span class="time">
                  on
                  {{#link-to "calendar.task" this}}
                    {{formatDateTime time format="date"}}
                  {{/link-to}}
                  at
                  {{#link-to "calendar.task" this}}
                    {{formatDateTime time format="short"}}
                  {{/link-to}}
                </span>
                <i class="ss-standard ss-calendar"></i>
                <span class="related-task-title">
                {{#link-to "calendar.task" this}}Meeting {{topic}}{{/link-to}}
                with
                {{list "participants"}}
                </span>
              </li>
            {{/if}}
          {{/if}}
        {{/with}}
      </li>
      {{/each}}
    {{/each}}
  </ol>
{{/if}}
