<div class="page-header">
  <div class="pull-right hidden">
    <form class="form-search pipeline-search">
      <i class="ss-symbolicons-block ss-search"></i>
      {{input value=model.searchText type="text" class="field search-text"}}
    </form>
    <div class="btn-group">
      <button class="btn btn-main address-book-button" >Actions</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
          <li>
            <a href="#">Report Action</a>
          </li>
      </ul>
    </div>
  </div>
  <h1>{{account.name}} Reports – {{currentYear}}</h1>
</div>

{{partial "reports/_filter"}}

<div class="report-section report-overview">
  <div class="page-header">
    <h4>Overview</h4>
  </div>
  <div class="report-content">
    <div class="summary">
      <div class="infographic">
        {{report-icons 
          total=status_lead_total
          icon="ss-user"
          fontFamily="ss-symbolicons"}}
      </div>
      <div class="text-center summary-details">
        <h2>{{status_lead_total}} Leads</h2>
        <h4>
          {{currency total_lead}}<br>
          <small>Total in pending deals</small>
        </h4>
        <h4 class="hidden">
          <i class="ss-symbolicons ss-user green"></i> Up 5%<br>
          <small>Compared to last month</small>
        </h4>
      </div>
    </div>
    <div class="summary">
      <div class="infographic">
        {{report-icons 
          total=status_negotiating_total
          icon="ss-briefcase"
          fontFamily="ss-standard"}}
      </div>
      <div class="text-center summary-details">
        <h2>{{status_negotiating_total}} Negotiating</h2>
        <h4>
          {{currency total_negotiating}}<br>
          <small>Total in Negotiation at this time period</small>
        </h4>
        <h4 class="hidden">
          <i class="ss-standard ss-briefcase text-error"></i> Down 5%<br>
          <small>Compared to last month</small>
        </h4>
      </div>
    </div>
    <div class="summary">
      <div class="infographic">
        {{report-icons 
          total=status_closed_total
          icon="ss-bill"
          fontFamily="ss-symbolicons"}}
      </div>
      <div class="text-center summary-details">
        <h2>{{status_closed_total}} Closed</h2>
        <h4>
          {{currency total_closed}}<br>
          <small>Total in closed deals{{#if total_closed}}. Nice work!{{/if}}</small>
        </h4>
        <h4 class="hidden">
          <i class="ss-standard ss-up green"></i> Up 5%<br>
          <small>from last year</small>
        </h4>
      </div>
    </div>
    <div class="summary">
      <div class="infographic">
        {{report-icons 
          total=status_lost_total
          icon="ss-deletefile"
          fontFamily="ss-symbolicons"}}
      </div>
      <div {{bind-attr class=":text-center :summary-details total_lost:text-error"}}>
        <h2>{{status_lost_total}} Lost</h2>
        <h4>
          {{currency total_lost}}<br>
          <small>Total in lost deals</small>
        </h4>
        <h4 class="hidden">
          <i class="ss-standard ss-up text-error"></i> Up 5%<br>
          <small>Average number of lost deals a month</small>
        </h4>
      </div>
    </div>
  </div>
</div>
<section id="report-sales-section" class="report-section">
  <div class="page-header">
    <div class="pull-right report-section-total">
      {{currency controller.total_closed}}
    </div>
    <h4>Sales</h4>
  </div>
  <div class="charts">
    {{pie-chart 
      dimension=user 
      group=users
      action="filterByUser"
      radius="120"
      title="Sales By Person"
      titleFormat="money"}}

    {{pie-chart 
      dimension=company 
      group=companies
      action="filterByCompany"
      radius="120"
      title="Sales By Company"
      titleFormat="money"}}
  </div>
</section>
<section class="report-section">
  <div class="page-header">
    <h4>Deal Reports</h4>
  </div>

  <div class="bar-charts">
    <div class="col">
      <h4>{{status_lead_total}} Leads</h4>
      {{bar-chart 
        dimension=deal 
        group=deals
        domain=domain
        action="filterByDate"
        valueAccessor="leads"
        height="250"}}
    </div>
    <div class="col">
      <h4>{{status_negotiating_total}} deals</h4>
      {{bar-chart 
        dimension=deal 
        group=deals
        domain=domain
        action="filterByDate"
        valueAccessor="deals"
        height="250"}}
    </div>
    <div class="col">
      <h4>{{status_closed_total}} closed deals</h4>
      {{bar-chart 
        dimension=deal 
        group=deals
        domain=domain
        action="filterByDate"
        valueAccessor="closed"
        height="250"}}
    </div>
    <div class="col">
      <h4>{{status_lost_total}} lost deals</h4>
      {{bar-chart 
        dimension=deal
        group=deals
        domain=domain
        action="filterByDate"
        valueAccessor="lost"
        height="250"}}
    </div>
  </div>
</section>