<div class="task-list">
  {{#if model.isLoading}}
    {{partial 'is_loading'}}
  {{else}}
    {{#each group in arrangedGroups}}
      <h3>{{group.displayName}}</h3>

      {{#each task in group itemController="taskListItem"}}
        {{#if showTodoForm}}
          {{render "forms/todo" task.model}}
        {{/if}}

        {{#if showCallForm}}
          {{render "forms/call" task.model}}
        {{/if}}

        {{#if showMeetingForm}}
          {{render "forms/meeting" task.model}}
        {{/if}}
      {{/each}}
    {{/each}}
    {{partial "shared/show_more"}}
  {{/if}}
</div>
