<div class="task-list">
  {{#if model.isLoading}}
    {{partial 'is_loading'}}
  {{else}}
    {{#each group in arrangedGroups}}
      <h3>{{group.displayName}}</h3>

      {{#each task in group itemController="taskListItem"}}
        {{#with task}}
          {{#if showTodoForm}}
            {{render "forms/todo" model}}
          {{/if}}

          {{#if showCallForm}}
            {{render "forms/call" model}}
          {{/if}}

          {{#if showMeetingForm}}
            {{render "forms/meeting" model}}
          {{/if}}
        {{/with}}
      {{/each}}
    {{/each}}
    {{partial "shared/show_more"}}
  {{/if}}
</div>
