<div class="task-list">
  {{#if model.isLoading}}
    {{partial 'is_loading'}}
  {{else}}
    {{#each group in arrangedGroups itemController="taskListGroupItem"}}
      <h3>{{group.title}}</h3>

      {{#each task in group}}
        {{#if showTodoForm}}
          {{render "forms/todo" task}}
        {{/if}}

        {{#if showCallForm}}
          {{render "forms/call" task}}
        {{/if}}

        {{#if showMeetingForm}}
          {{render "forms/meeting" task}}
        {{/if}}
      {{/each}}
    {{/each}}
    {{partial "shared/show_more"}}
  {{/if}}
</div>
