<div id="topbar" role="header" class="navbar navbar-inverse navbar-fixed-top">
  <div class="fill">
    <div class="navbar-inner">
      <div id="navbar-container" class="container">
        <a class="brand" {{action showDashboard href=true}}><img src="/images/logo.png" alt="::radium"></a>
        {{view Radium.NotificationsLinkView}}
        <ul id="main-nav" class="nav">
          <li id="btn-dashboard"><a {{action showDashboard href=true}}>Dashboard</a></li>
          <li id="btn-inbox" class="dropdown">
            <a {{action showInbox href=true}} class="dropdown-toggle" title="Inbox">Inbox</a>
          </li>
          <li id="btn-support">
            <a href="https://radium.flowdock.com/invitations/6d70fab64e2ff9222f15f60adb2e8d875ed72c61-support" title="Support">Support</a>
          </li>

          {{#if development}}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Development Options<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a {{action showTodoForm}}>Todo Form</a></li>
              </ul>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</div>
